[2015-05-06 06:30] DamianEdwards opened #1 "Add unit tests"

[2015-05-06 18:02] DamianEdwards opened #2 "Add support for setting culture based on a cookie"
Need to implement the logic for `CookieRequestCultureStrategy`.

There should be an API to set the cookie as well.

[2015-05-07 01:26] DamianEdwards opened #3 "Add localized resources to the sample"
When the DNX changes are in to support loading embedded localized resources, we should add some resources (resx files) to the sample.

[2015-05-07 23:26] hishamco opened #5 "LocalizationSample Error"
I'm getting this error message "No service for type 'Microsoft.Framework.Runtime.IApplicationEnvironment' has been registered" when i'm trying to run LocalizationSample

[2015-05-08 01:12] DamianEdwards commented on #2
944c84bc5d4d5551d328673ebafbc5374bab76af

[2015-05-08 01:12] #2 closed

[2015-05-08 01:13] DamianEdwards commented on #5
Most likely caused by today's build breaks. Working from source can be unreliable some days. Seems to be working fine for me now and on CI.

[2015-05-08 01:13] #5 closed

[2015-05-08 11:56] hishamco commented on #5
@DamianEdwards still facing the same issue :(

[2015-05-08 17:43] DamianEdwards commented on #5
@hishamco OK this is likely caused by you not having a beta5-* version of the DNX on your system. Unfortunately we shipped a bad setup in Visual Studio 2015 RC that puts the incorrect DNVM on your system path pointing to the wrong myget feed, so updating your DNX is much harder than it should be.

Try the following:
  1. Remove the DNVM paths from your system-level PATH environment variable (one w

[2015-05-08 19:02] hishamco commented on #5
@DamianEdwards I didn't install VS 2015 RC, I had VS 2015 CTP 6, but i'm using Visual Studio Code for running the sample. FYI I already have 1.0.0-beta5-11502 clr x86 installed, also it's set as default one

[2015-05-08 19:03] DamianEdwards commented on #5
Can you try upgrading your DNX and trying again please?

On Fri, May 8, 2015 at 12:02 PM, Hisham Abdullah Bin Ateya <
notifications@github.com> wrote:

--
Cheers,
Damian

[2015-05-08 19:04] hishamco commented on #5
Sure

[2015-05-08 19:42] hishamco commented on #5
@DamianEdwards I update dnvm to 1.0.0-beta5-11739 and I got an DirectoryNotfoundException 'wwwroot', I removed webroot property from project.json and it works fine :)

Thanks Damian

[2015-05-09 00:16] DamianEdwards opened #6 "Need to rethink CultureInfo caching"
The `CultureInfoCache` right now is unbound based on user input, which isn't a great idea. It does drastically improve performance however (160 RPS no caching vs. 6,300 RPS caching) so we definitely need some kind of cache here.

We could restrict the middleware from creating any `CultureInfo` objects that aren't explicitly allowed by the `RequestLocalizationMiddlewareOptions.SupportedCultures` pr

[2015-05-11 19:27] henkmollema commented on #5
@hishamco adding an empty `wwwroot` folder in the root of your application will fix that too.

[2015-05-11 19:58] #6 closed

[2015-05-12 04:35] hishamco commented on #5
@henkmollema thanks, but i already removed the ```webroot``` property from project.json, because there's no files needed to be in ```wwwroot```

[2015-05-14 22:18] hishamco opened #12 "Support localized resources formats"
Is there possibility to store the localized resources - key / value pairs - in other formats like json instead of rely on the old resx files

/cc @DamianEdwards

[2015-05-14 22:35] DamianEdwards commented on #12
Yes absolutely. That is the intent of creating the new `IStringLocalizer` abstraction. An implementation can store them wherever it wants. We will only be shipping the `ResourceManager` implementation for now though.

[2015-05-14 22:47] #12 closed

[2015-05-14 22:50] hishamco commented on #12
So is the issue #3 can be fixed used an implementation of ```IStringLocalizer``` such as ```ResourceManagerStringLocalizer ```?

[2015-05-14 23:20] DamianEdwards commented on #12
@hishamco correct. You can write your own class that implements `IStringLocalizer` that retrieves the strings from whatever location you want. Then you would register that in the DI container (i.e. in your `ConfigureServices` method) so that anything asking for an `IStringLocalizer` will get your implementation.

[2015-05-14 23:35] hishamco commented on #12
Thanks @DamianEdwards

[2015-05-15 19:31] DamianEdwards opened #13 "ResourceManagerStringLocalizer should support throwing if name not found"
Add the ability to configure the `ResourceManagerStringLocalizer` so that if a given resource name is not found it throws, rather than returning the key itself. This effectively makes it behave like the underlying `ResourceManager` API itself.

e.g.

[code]

[2015-05-15 19:41] DamianEdwards opened #15 "ResourceManagerStringLocalizer should cache GetEnumerator result"
Every call to `ResourceManagerStringLocalizer.GetEnumerator` walks the specified `CultureInfo` hierarchy to build out a full set of resource names, before calling `ResourceManager.GetString` for every resource name. Given that resources are only loaded once by `ResourceManager` we should cache at least the culture walk, and probably the entire enumeration result, per culture.

[2015-05-16 12:01] hishamco opened #16 "Text Direction"
Indeed getting text direction is tiny feature but very useful in almost localization frameworks, also it is helpful for the front-end developers to control the direction or flow of the markup.

The implementation will be something like:
[code]

[2015-05-16 22:42] hishamco opened #17 "Pluralization"
Pluralization is a complex problem, as different languages have a variety of complex rules for pluralization. You may easily manage this in your language files using many techniques such as

`Notification => You have [one message | many messages] in your inbox`

`Notification => You have one message in your inbox | You have many messages  in your inbox`

this can be done by introducing an optional

[2015-05-17 12:27] hishamco commented on #17
/cc @DamianEdwards

[2015-05-17 12:27] hishamco commented on #16
/cc @DamianEdwards

[2015-05-18 16:56] DamianEdwards commented on #16
What are you proposing this would be added to? We expose the current culture information as standard `CultureInfo` objects so the text direction is easily determined via the `IsRightToLeft` property. We don't intend on adding new API around what defines a culture itself.

[2015-05-18 17:31] hishamco commented on #16
@DamianEdwards I am agree that we expose the current culture information as ```CultureInfo``` object, IMHO this tiny wrapper is very helpful while working with multilingual websites instead of checking ```cultureInfo.TextInfo.IsRightToLeft``` ourselves.
FYI I saw many wrappers in aspnet repos such as https://github.com/aspnet/Hosting/blob/c390d47317c8d0bdac35b1a22d4c180ea79791bb/src/Microsoft.AspN

[2015-05-18 21:36] Eilon commented on #17
There is no such general concept of pluralization across languages. For example, in US English, "1" is singular, and all other numbers are plural (0, fractions, etc.). But other languages have rules where "1, 2, and 3" each have distinct rules, and all other numbers are "plural."

I'm not sure there's any general purpose concept of "plural" that could be used here. You might as well just have N st

[2015-05-18 22:17] hishamco commented on #17
@Eilon I know that every language has it's own rules for pluralization. Assume we have the following resource
```Comment => Posted by {0} {1} [day | days] ago.``` calling the following function ```GetString("Notification","Elion",1, isPlural: false)``` should return the singular part from the resource and we will get <b>Posted by Elion 1 day ago.</b>, but calling ```GetString("Notification","Elion

[2015-05-18 22:29] Eilon commented on #17
But what if a language has more than 2 cases? For example, in Hebrew many words have a special spelling when it's two of that item. So the cases are "1 day" (singular), "2 dayX" (special double plural), and "N days" (regular plural). It's not the case of plural=true/false.

[2015-05-19 02:00] hishamco commented on #17
@Eilon Hebrew like my language Arabic which has three forms: singular, dual and plural. If i'm not wrong we have 6 plural forms which may the largest number of plural forms in the languages world wide and perhaps the complicated one :)
Let us have a look to the following:

1 day <=> يوم
2 days <=> يومين
3 days <=> أيام 3
11 days <=> 11 يوما
100 days <=> 100 يوم

if you look at bing or google trans

[2015-05-19 19:33] DamianEdwards opened #18 "IStringLocalizer should have a method to get string list rather than implement IEnumerable itself"
'Cos it's just weird right now.

[2015-05-19 19:47] DamianEdwards opened #19 "Rename IRequestCultureStrategy to IRequestCultureProvider"
'Cos it's more "us"

[2015-05-19 20:33] hishamco commented on #19
This implies to rename the following classes as well ```RequestCultureStrategy```, ```AcceptLanguageHeaderRequestCultureStrategy```, ```QueryStringRequestCultureStrategy```, ```CookieRequestCultureStrategy``` and ```CustomRequestCultureStrategy```

[2015-05-20 04:29] DamianEdwards commented on #19
:+1:

[2015-05-20 21:44] #15 closed

[2015-05-20 21:45] #19 closed

[2015-05-20 23:44] DamianEdwards opened #23 "IStringLocalizer.GetAllStrings should support an arg to specify culture walk behavior"
Depends on #18

Currently, `IStringLocalizer.GetAllStrings` will return the union of all strings for the current culture and all ancestors of the current culture. E.g. if the current culture is "en-US" and it contains a single string "Hello", and the culture "en" contains a single string "Goodbyte", the call to `IStringLocalizer.GetAllStrings` for "en-US" will return both the "Hello" and "Goodbye"

[2015-05-20 23:45] DamianEdwards commented on #23
Interested in your thoughts @davidfowl @muratg @Eilon @lodejard

[2015-05-21 00:18] muratg commented on #23
I like it.

[2015-05-21 00:25] hishamco commented on #5
@DamianEdwards the issue still exist, by adding an empty ```wwwroot``` folder it will get fix

[2015-05-25 12:02] glen-84 commented on #17
@hishamco, @Eilon,

See my feedback [here](https://github.com/aspnet/Mvc/issues/1928#issuecomment-75064988) and [here](https://github.com/DamianEdwards/i18nStarterWeb/issues/8).

I created a proof of concept [here](https://github.com/glen-84/i18nStarterWeb/tree/ApexStringLocalizer), and the usage is seen [here](https://github.com/glen-84/i18nStarterWeb/blob/ApexStringLocalizer/src/Internationalize

[2015-05-25 12:15] glen-84 commented on #23
So if you have "colour" in "en", and nothing in "en-US", the translation for "en-US" would be "colour", which is not correct until such time as you "override" it as "color" in "en-US"? Perhaps it should be off by default to avoid unexpected behaviour?

(sorry, I know my feedback was not requested :fearful:)

[2015-05-27 22:54] hishamco commented on #17
Thanks @glen-84 for your feedback .. I appreciate it

[2015-05-28 03:39] TelWang opened #26 "appEnvironment is null in the Program ctor."
When I run the CultureInfoGenerator directly , exception is thrown, appEnvironment is null.
maybe, the tool  will be integrated into vs, but shall we give a default value when appEnvironment is null?
code change to :
       _appName = appEnvironment != null ? "CultureInfoGenerator" : appEnvironment.ApplicationName;
       _appPath = appEnvironment != null ? "" : appEnvironment.ApplicationBasePath;

[2015-05-28 09:56] hishamco commented on #26
@TelWang the CultureInfoGenerator works fine if we change the ```outputFilePath``` as you mentioned above, I don't face an issues with ```appEnvironment```

@DamianEdwards we need to change the ```outputFilePath``` because it causes a ```DirectoryNotFoundException```

[2015-05-28 19:33] #23 closed

[2015-05-28 19:34] DamianEdwards commented on #23
@glen-84 this behavior is in line with the existing `ResourceManager.GetString` behavior, that walks the culture graph until it finds a string. We're simply adding that same behavior to the `GetAllStrings` scenario. People can call the overload with the behavior they desire.

[2015-05-28 19:35] #18 closed

[2015-05-28 19:46] #26 closed

[2015-05-28 19:48] DamianEdwards commented on #16
In this case I'm not really convinced an existing simple boolean property requires an extension method for the reverse case. We'd be adding a *lot* of extension methods if that's the case.

[2015-05-28 19:48] #16 closed

[2015-05-29 02:50] hishamco commented on #16
I think there's no need to introduce an extension method anymore, we can make the property like this:
[code]

[2015-05-29 08:27] glen-84 commented on #23
Okay, fair enough. I guess.

[2015-06-05 13:19] glen-84 commented on #13
This could be used by other implementations of `IStringLocalizer`, so you might consider making it more generic (f.e. `LookupBehavior` / `StringLookupBehavior` / `LocalizedStringLookupBehavior`).

[2015-06-05 17:49] dougbu opened #30 "`IApplicationBuilderExtensions` has incorrect name"
This class should be named `ApplicationBuilderExtensions` according to [guidelines](https://github.com/aspnet/Home/wiki/Engineering-guidelines#extension-method-patterns):

[2015-06-05 18:02] glen-84 opened #31 "Questions about localizing model metadata and validation messages"
I'm interested to know how the new `IStringLocalizer` interface will tie into metadata and validation localization.

I'll get straight to the point: I have a prototype for an `IStringLocalizer` that allows you to swap out both the provider (of localized strings) as well as the formatter (used to format the localized string given zero or more arguments). What I'd like to know is, how easy or diffic

[2015-06-17 01:21] hishamco commented on #30
@dougbu Nice catch :+1:

[2015-06-17 03:41] dougbu commented on #30
113fa6d

[2015-06-17 03:41] #30 closed

[2015-06-18 02:23] hishamco opened #36 "Make DefaultCookieName a static readonly field instead of a property"
If we have look to this line of code https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNet.Localization/CookieRequestCultureProvider.cs#L47, It will be nice if declare ```DefaultCookieName``` as constant rather than read only property, because the value will never change.
[code]

[2015-06-18 02:54] hishamco commented on #36
\cc @dougbu

[2015-06-18 04:15] dougbu commented on #36
I'll leave this to triage to make a call.

[2015-06-19 21:20] ChengTian opened #38 "Fallback to wrong language preference when the top preference is unavailable"
I have the following configuration in my `Startup.cs`
[code]
Then I set my language preference in IE with the following priorities (from highest to lowest):
1. ja (Japanese)
2. zh-Hans (Simplified Chinese)
3. en-US (English, United States)

However, the page fallback to en-US even when zh-Hans is available and has higher priority:

![capture](https://cloud.githubusercontent.com/assets/1383883/8263

[2015-06-20 00:24] hishamco commented on #38
This is happen because if the requested culture is not available in the supported cultures that you already define then the current implementation is looking for the ```DefaultRequestCulture``` which is the ```CultureInfo.CurrentCulture```, BTW i'm trying to get a fix for this issue ASAP

[2015-06-20 01:11] hishamco commented on #38
@ChengTian can you try the fix that I made in my fork https://github.com/hishamco/Localization and let me know if it's solve the issue

[2015-06-22 10:08] YZahringer opened #39 "ResX support in vNext assembly"
Hello,

How to manage the translations in a vNext project? There is not "ResX Item Template" when adding files to project... The ResX files are no longer supported? There is a replacement?

Thank you,
Best regards,
Yann

[2015-06-23 03:07] hishamco commented on #39
@YZahringer it's in progress, you can have a look to @DamianEdwards repo https://github.com/DamianEdwards/i18nStarterWeb

[2015-06-23 03:08] hishamco commented on #36
\cc @DamianEdwards

[2015-06-23 03:11] DamianEdwards commented on #39
Yep, in progress. RESX will be supported, we're building out the support now.

[2015-06-23 03:50] hishamco commented on #31
What if we call localizer["key"] in the data annotation attributes to localize the display name, error messages .. etc or creating localized ```DataAnnotationsModelMetadataProvider``` and  intercept ASP.NET MVC to analyzes the model metadata and retrieve the error messages from the subclass that supposed before

@DamianEdwards can you please share your thoughts about this

[2015-06-24 18:31] hishamco opened #40 "Localization & Output Caching"
I'm wondering if the **Output Caching** will block the localization APIs from retrieving the right values for the current culture, or shall we need sort of `VaryByCustom` to update the correct values based on the current culture

/cc @DamianEdwards

[2015-06-24 23:35] hishamco opened #41 "Localize TagHelper"
I was wondering to post the issue here or **Mvc** repo, but while its related to the localization I post it here. This helper will be something like the old **Localize Web Server Control** in **WebForm**

[2015-06-25 21:05] hishamco commented on #36
@DamianEdwards can you have a look to this if you don't mind

[2015-06-25 21:16] hishamco opened #42 "Localization in Html Strings"
@DamianEdwards is there a plan to localize HTML strings in the following
`HtmlString,
MvcHtmlString,
HttpServerUtility.HtmlEncode,
HttpUtility.HtmlEncode` and **<%: %>**  Code Nugget Syntax

[2015-06-25 21:21] DamianEdwards commented on #42
We're working on that right now over in the MVC repo

[2015-06-25 21:21] #42 closed

[2015-06-25 21:25] hishamco commented on #42
Thanks ..

[2015-06-25 21:26] hishamco commented on #39
@DamianEdwards i think issue should be closed

[2015-06-25 21:54] #39 closed

[2015-06-26 00:00] hishamco opened #43 "DomainRequestCultureProvider"
It's quite often to detect the localization culture based on domain or sub domain, this provider may support various formats such as:

en.domain.com
domain.com.en
domain.com.au
domain.com/en-au/default.aspx

[2015-06-26 01:54] hishamco commented on #36
Please let me know if a PR is needed for this change (if it's accepted)

[2015-06-26 20:33] hishamco opened #48 "Sugesstion for AssemblyWrapper"
While I'm digging into the **Localization** repo, I notice that ```AssemblyWrapper``` is hosted into **Microsoft.Framework.Localization.Internal** namespace. My suggestion as the following:

1- If ```AssemblyWrapper``` intend to be used internally, so why it's used here https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Framework.Localization/ResourceManagerStringLocalizer.cs#L51 i.e. w

[2015-06-26 21:16] Eilon commented on #48
The `.Internal` namespace is for types that are for internal use only, but are left as `public` because often other people want to call them but they are "use at your own risk."

[2015-06-26 21:16] #48 closed

[2015-06-26 21:21] hishamco commented on #48
Thanks for clarification

[2015-07-07 00:42] hishamco commented on #38
@ChengTian I'm asking if the issue got fixed or not

[2015-07-07 00:51] ChengTian commented on #38
@hishamco , if you already test your changes, please send a PR. The owner of this repo will do some verification before merging your PR.

[2015-07-07 00:52] hishamco commented on #38
Ok @ChengTian, I will send it ASAP

[2015-07-07 01:00] hishamco commented on #38
I made this PR #50 to solve this issue

[2015-07-07 07:56] justinvp opened #52 "Investigate adding back ResourceCulture caching (without the allocations)"
I see commit d22adcbef022291fd87eff4d28179e952ea480c4 removed ResourceCulture caching because "perf testing shows it has no benefit".

@DamianEdwards, do you still have the perf tests?

I see a lot of unnecessary heap allocations in the old caching code that may have skewed the perf results (e.g. it was more expensive caching with all the extra allocations than not doing caching):

 - `CacheKey` i

[2015-07-14 19:22] kirthik opened #53 "Rename ResourceNotFound property in LocalizedString"
One of the comments in this PR - https://github.com/aspnet/Mvc/pull/2701 was that `ResourceNotFound` name is confusing and negative naming should we avoided. LocalizedHtmlString class in MVC localization follows the same pattern. We should re-name both properties to something more appropriate

[2015-07-14 20:19] dougbu commented on #53
[Comments](https://github.com/aspnet/Mvc/pull/2701#discussion_r33599530) also suggested the property may not be necessary at all. In a similar [vein](https://github.com/aspnet/Mvc/pull/2701/files#r33599401), should revisit whether `LocalizedString.Key` and `LocalizedHtmlString.Key` are needed.

[2015-07-20 10:36] marcuslindblom opened #54 "How can I get the DefaultRequestCulture from my CustomRequestCultureProvider?"
My `RequestLocalizationOptions` are configured like this:

[code]
Then in my custom `IRouter` I need to know the `DefaultRequestCulture`.

If I use
[code]

then `requestCultureFeature.Provider.Options` is null for my `CustomRequestCultureProvider`?

[2015-07-20 23:28] hishamco commented on #54
@marcuslindblom why you need ```DefaultRequestCulture``` in the your custom ```RequestCultureProvider``` while its responsibility to provide a way to determine the culture information. Second thing i'm not sure where you put your code, because the base class ```RequestCultureProvider``` gives us one method to override ```DetermineRequestCulture``` where the requested culture should provider here,

[2015-07-21 05:01] marcuslindblom commented on #54
@hishamco I determine the current culture based on the url e.g. `/en/a-page`, `/sv/en-sida` and this is how I have set things up.
[code]
Now, if a visitor types in the url `/en/a-page` I need to create a proper redirect to `/a-page` to avoid duplicate content and therefore, in this case I need to know if `en-US` is the `DefaultRequestCulture` because it's only then I'll make the redirect.

So, bas

[2015-07-21 08:07] hishamco commented on #54
Seems you are working on one of my old suggestions ```DomainRequestCultureProvider``` #43 :smile:
Your code looks good and there's no need to get ```DefaultRequestCulture``` from the ```CustomRequestCultureProvider```, what you are missing is couple lines of code inside ```app.Use```
[code]

[2015-07-21 10:44] marcuslindblom commented on #54
@hishamco Of course, that is a more appropriate place to put the redirect :)

Thanks!

[2015-07-22 19:31] hishamco opened #55 "Remove 'CustomRequestCultureProvider'"
While we can create a custom culture provider by subclass the ```RequestCultureProvider```, so I think there's no need to have the ```CustomRequestCultureProvider``` implementation out of the box anymore

[2015-07-23 06:46] Muchiachio opened #57 "Route localization"
I was trying to write a culture change middleware which loaded culture from the route data
[code]
[code]
But I looked through ```HttpContext``` class properties and I could not found any way to reach ```RouteData``` from within ```HttpContext```. Will this localization scenario will be supported in initial release?

[2015-07-23 16:17] hishamco commented on #57
You can get the segment from ```Request``` property, also you can have a look to the issue #54, which I solve something like what you are looking for ..

[2015-07-23 16:29] Muchiachio commented on #57
Sorry, but I couldn't understand how are you getting culture from just the request path in that issue :disappointed:
Because even ```/en/home/index``` could be mapped to ```{language=fr}/{area}/{controller}/{action}``` and would result in incorrect results then parsed by hand.

[2015-07-23 17:12] hishamco commented on #57
If you notice he built an extension method names ```DetectCultureSegment``` that uses ```context.Request.Path``` to get the culture segment

[2015-07-29 20:44] kirthik commented on #36
cc @Eilon, @danroth27 for triaging.

[2015-07-29 21:49] Eilon commented on #36
This should remain a `static readonly` because it is not a universal truth, and it certainly *could* change.

[2015-07-29 21:55] hishamco commented on #36
Oops!!
@Eilon that's why I did, have a look https://github.com/aspnet/Localization/pull/51/files#diff-fbf4e39686d45658872d8ef10043d143L47

[2015-07-29 22:19] Eilon commented on #36
Oh sorry, the bug and PR say `const` but the change is to make it `static readonly`.

[2015-07-29 22:27] hishamco commented on #36
No problem, but the tiltle is **Make DefaultCookieName a static readonly field instead of a property** perhaps the commit title :smile:

[2015-07-29 23:05] Eilon commented on #36
I just edited the title :smile:

[2015-07-29 23:08] hishamco commented on #36
lol BTW I meant be ```static readonly``` as constant :smile:

[2015-07-29 23:36] Eilon commented on #36
Ok, but just to be clear, `static readonly` is completely different from `const`.

[2015-07-29 23:42] hishamco commented on #36
Yep, but while the value will never change ```const``` will be equivalent with ```static readonly``` while the intend will never change the ```DefaultCookieName``` in the constructor

[2015-07-30 04:48] Eilon commented on #36
There is no guarantee that the cookie name won't change at some point in the future. We use `const` only for universal truths because the laws of the universe don't change (I hope!).

A `const` value gets baked into every usage, which means that if you later change the value of the `const` any already-compiled code will continue to use the old value. A `static readonly` is always established at fi

[2015-07-30 05:00] hishamco commented on #36
As you mentioned before (I hope!), regarding the ```static readonly``` i know it will established at first usage, but why already-compiled code will use the old value in case of ```const``` while there's a new build?!!

[2015-07-30 05:16] Eilon commented on #36
@hishamco that's how .NET compilers work. A `const` is a `const`, so its value can (and often *must*) be embedded at the callsite.

[2015-07-30 05:20] hishamco commented on #36
Thanks for clarification

[2015-07-30 16:21] DamianEdwards commented on #36
I purposely made it *not* readonly so that the app could change it if it really wanted to.

[2015-07-30 16:43] Eilon commented on #36
@DamianEdwards it is currently a read-only property, so it can't be changed to begin with...

[2015-07-30 16:51] DamianEdwards commented on #36
Doh, right you are. Back in my box. We should make consistent with whatever we do in other places then.

[2015-07-30 17:09] Eilon commented on #36
@DamianEdwards consistent with what?

[2015-07-30 17:55] hishamco commented on #36
@DamianEdwards it was originally static string that assigned to read only property, so it will be handy to make it ```static readonly``` field

[2015-07-30 18:20] Muchiachio commented on #57
Closing per aspnet/mvc#2884.

[2015-07-30 18:20] #57 closed

[2015-07-30 18:29] hishamco commented on #57
@Muchiachio why the above the solution doesn't fix you need?

[2015-07-30 18:30] hishamco commented on #54
Need to be closed
/cc @Eilon @kirthik

[2015-07-30 18:36] Muchiachio commented on #57
I can access http context from middleware's invoke method too
[code]
but I didn't find how to reach route data from that. And rynowak said it's not possible now.
Or am I missing something?

[2015-07-30 18:47] kirthik commented on #36
merged c228b65d478561869daa9161fc97a89ff02cad2e

[2015-07-30 18:47] #36 closed

[2015-07-30 18:52] hishamco commented on #57
I told you please have a look to issue #54, or you can use ```QueryStringRequestCulture``` or wait until localization APIs fully integrated with MVC, because you can do a cool stuff such as localize views

[2015-07-30 22:04] hishamco opened #60 "[bug] I can't run the unit tests"
While i'm writing a unit tests for ```RequestCultureProvider``` implementations, I faced an issue when i run **dnx . test** i'm not sure if this happen after react to Dnx renames, nothing but everything still the same after i upgrade the dnvm to the beta7

/cc @DamianEdwards  @kirthik

[2015-07-30 22:06] kirthik commented on #60
What error are you seeing?

[2015-07-30 22:20] hishamco commented on #60
I got ```NullReferenceException``` at ```Xunit.Runner.Dnx.Program.Main```

[2015-07-30 22:21] kirthik commented on #60
Have you tried cleaning up your project? `git clean -xdf` and tried again?

[2015-07-30 22:30] hishamco commented on #60
Same thing!!

[2015-07-31 01:55] Eilon commented on #60
Show the stack trace. I think this is a known issue right now because the latest xUnit is incompatible with the latest DNX. I think we have a workaround but we're not yet using it everywhere.

[2015-07-31 02:10] hishamco commented on #60
I'm facing an issue to discover the unit test in VS 2015 RTM, I just run the tests from the command line, i will try to summarize the error message

[2015-07-31 02:18] hishamco commented on #60
System.NullReferenceException: Object reference not set to an instance of an object.
   at Xunit.Runner.Dnx.Program.Main(String[] args)
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at Microsoft.Framework.Runtime.Common.EntryPointExecutor.Execute(Assembly assembly, String[] args, IServiceProvider

[2015-07-31 05:27] Eilon commented on #60
@kirthik can you repro this?

[2015-07-31 16:27] kirthik commented on #60
Which feed are you using? I saw this error with aspnetvolatile feed but aspnetvnext feed has the right xunit private packages.

[2015-07-31 19:35] hishamco commented on #60
I already run the same command **dnx . test** before and everything was fine, but now it causes an error even after updating the dnvm version

[2015-07-31 20:26] kirthik commented on #60
What feed are you using? Can you check you NuGet.Config?

[2015-07-31 20:38] hishamco commented on #60
This is the feed **https://www.myget.org/F/xunit/api/v2**

[2015-07-31 22:50] kirthik commented on #60
Could you try this and see if you are still getting the error.
- Clone localization repository
- Add this `<add key="aspnetvnext" value="https://www.myget.org/F/aspnetvnext/api/v2" />` to your
  `NuGet.config` if you don't have it already
- Run build.cmd.

[2015-08-01 01:17] hishamco commented on #60
I can't clone the repo, because there's a PR already requested, any other idea?

[2015-08-01 01:38] hishamco commented on #60
BTW I notice this behavior in almost the repos that I clone (if i'm it's not all)

[2015-08-04 15:42] hishamco commented on #60
@kirthik it is still blocking me from running unit tests, any workaround for this without clone the repo?

[2015-08-04 15:45] DamianEdwards commented on #60
Just clone it into a different folder. Or do it in another branch.

[2015-08-04 15:49] hishamco commented on #60
Ok @DamianEdwards but this is the case in almost the local aspnet repos, I thought there's an issue in xUnit

[2015-08-04 17:08] kirthik commented on #60
Please try to clean your packages folder -`%userprofile%/.dnx/packages` and your cache - `%localappdata%/dnu/cache` and do a build again

[2015-08-04 19:47] hishamco commented on #60
Same thing?!!

[2015-08-04 21:10] Eilon commented on #60
Did you also run `git clean -xdf` in the cloned repo?

No one else seems to be hitting this so we're trying to figure out what the differences are between your machine and other peoples' machines.

[2015-08-04 21:29] hishamco commented on #60
Yes I already, I notice this after latest dnx changes in the repo, the problem is affect all the unit tests in aspnet repos

[2015-08-04 21:33] kirthik commented on #60
What version of `xunit.runner.dnx` do you have in your packages folder and what version of `dnx` are you using?

[2015-08-04 21:40] hishamco commented on #60
I'm using the same version that localization repo use, regarding the dnx I upgrade it to 1.0.0-beta7-12274 clr x86

[2015-08-04 22:03] kichalla commented on #60
Looks like you have an older version of DNX...after DNX rename breaking changes, you need to have version `1.0.0-beta7-12290` or higher..try again and let us know (also your xunit.runner.dnx should be `2.1.0-beta5-aspnet-2`)

[2015-08-04 22:06] hishamco commented on #60
Is that mean I should modify the ```project.json```

[2015-08-04 22:12] hishamco commented on #60
@kichalla I upgrade dnx to ```1.0.0-beta7-12302``` also I modify the xunit.runner.dnx in ```project.json``` without luck :(

[2015-08-04 22:19] hishamco commented on #60
@kichalla seems xunit runner works after persist and activate the above version, but new exception shows up, let me dig into it and come back to you soon .. thanks @kichalla

[2015-08-04 22:26] hishamco commented on #60
Finally It got fixed after I run ```dnu restore``` for all source projects. BTW no need to change the xunit.runner version, upgrading the dnx is enough

Thanks all :smile:

[2015-08-04 22:26] #60 closed

[2015-08-04 22:32] hishamco commented on #54
@kirthik can you close this if you don't mind

[2015-08-04 23:40] #54 closed

[2015-08-05 17:08] hishamco opened #62 "[Bug] QueryStringRequestCultureProvider Issue"
While i'm writing unit tests for ```RequestCultureProvider``` implementations,  I notice that ```QueryStringRequestCultureProvider```returns ```DefaultRequestCulture``` for the ```RequestLocalizationOptions``` instead of returning a ```RequestCulture``` based on ```UIQueryStringKey``` property.
I will create a PR soon to fix this bug, also I wrote a unit test to validate the scenario. I'm struggli

[2015-08-05 18:15] Eilon commented on #62
@DamianEdwards thoughts? Is this a correct fallback behavior? I would think that defaulting the culture when it wasn't explicitly set seems wrong, but maybe not...

[2015-08-05 18:24] hishamco commented on #62
@Eilon according what i know from ASP.NET WebForms, the default ```Culture``` is **en-US** and ```UICulture``` is **en-GB**, nothing but what I have seen in ```QueryStringRequestCultureProvider``` that whenever the ```UIQueryStringKey``` is missing, it assigned the ```QueryStringKey``` value, so I think the same if ```QueryStringKey``` is missing while it doesn't follow the fallback of ASP.NET

[2015-08-11 21:26] hishamco commented on #1
I made this PR #64 to contribute in unit tests task

[2015-08-19 16:29] danroth27 commented on #55
@DamianEdwards

The `CustomRequestCultureProvider` is intended to be a light weight option without requiring derivation. We could also consider adding an extension method that allows you to specify a delegate so you don't have to instantiate it directly.

[2015-08-19 16:29] #55 closed

[2015-08-19 16:59] hishamco commented on #55
You are right @danroth27, but my intend to remove the heavy lifting from ```Startup.cs``` and isolate it on it's own class such as ``` CookieRequestCultureProvider``` or ```QueryStringRequestCultureProvider``` ... etc

[2015-08-19 18:14] DamianEdwards commented on #52
@justinvp I tested by generating load on the sample app in the solution and looking at the throughput rate. I used WCAT to generate the load but any load gen tool would be fine. We welcome any investigation you might do! Please share the results here and/or send a PR if there are tangible gains.

[2015-09-02 18:06] Eilon commented on #38
@kirthik can you re-verify the fix in https://github.com/aspnet/Localization/pull/50, merge it, and add any extra tests that we need?

[2015-09-02 18:06] Eilon commented on #1
@kirthik please review https://github.com/aspnet/Localization/pull/64 and merge.

[2015-09-03 19:57] DamianEdwards commented on #38
I actually think this should be fixed in `AcceptLanguageHeaderRequestCultureProvider`. Essentially, after it validates a culture, it should compare the result and if it's not using the culture that was passed in, it should move on to the next culture in the list (it already loops through the cultures, it just isn't doing the check).

https://github.com/aspnet/Localization/blob/dev/src/Microsoft.As

[2015-09-07 13:30] Bartmax opened #65 "Localize DataAnnotations"
I'm playing around with IStringLocalizer and, being honest, I still don't get all the inner workings but I was able to create a DbStringLocalizer (and a DbStringLocalizerFactory) that get the strings from my app Db.

What I am failing to see is how can I make my custom string localizer for Data Annotations.
Since strings comes from the db I don't have/want a concrete type to use as a ResourceType.

[2015-09-07 13:37] Bartmax opened #66 "custom IStringLocalizer requires custom StringLocalizerFactory for DI."
I were wondering if this is the intended behavior, some misconfiguration on my side or a bug so I decided to create an issue.

As of right now (beta7), If I plug my custom StringLocalizer into de DI container like this:
[code]
it's not used. (I tried placing it before and after `services.AddLocalization();` in case order matters.

For the framework to actually use my own StringLocalizer I had to i

[2015-09-07 14:48] hishamco commented on #65
Data Annotation is already mentioned in the issue #31

[2015-09-07 14:53] hishamco commented on #66
If i'm not getting you wrong, you can use ```CustomRequestCultureProvider``` to get the localized string from Database. Have a look to issue #54, perhaps it give you a glimpse to what you wanna do

[2015-09-07 16:00] Bartmax commented on #66
I don't see how the `CustomRequestCultureProvider` can be used to get localized strings from the DB. Isn't that for custom ways to detecting the culture? (like via domain or some other mechanisms) ?

[2015-09-07 18:12] Bartmax opened #67 "Partials not picking up correctly when using ViewLocalization."
With this simple html:
[code]
Culture set to "es" for sample purposes.

Having this folder structure:
[code]

The partial call will pick up Slider.cshtml, not Slider.es.cshtml. (aka the generic version, even we have a special localized one)

If we move the slider.cshtml to the Shared folder, it works as expected. (picking Slider.es.cshtml)
If we move both to Shared folder, same problem again, Slid

[2015-09-07 18:17] Bartmax commented on #67
wrong repo :( Should I close this and reopen on mvc?

[2015-09-07 20:38] hishamco commented on #66
Exactly .. Let me know if you need a help

[2015-09-07 20:40] hishamco commented on #67
If this related to MCV I advice to close this and open it again

[2015-09-07 21:16] #67 closed

[2015-09-07 21:20] Bartmax commented on #66
Well, actually what I'm trying to do is load my String from a database instead of resources. The culture 'detector' is fine using header, cookie, query, etc.

Do you think that I should use another approach? using `CustomRequestCultureProvider` ? I don't see how.

This is my current *wip* implementation of StringLocalizer:

[code]

[2015-09-08 00:06] hishamco commented on #66
Oops, may I miss understood :( , ```CustomRequestCultureProvider``` is used to provide the culture from custom source such a database, domain .. etc.
Regarding loading the values themselves i'm not quite sure that's available out of the box right now, what I now is Resources is still in progress, @DamianEdwards correct me if I'm wrong

[2015-09-08 00:15] DamianEdwards commented on #66
Yes, you need to provide an `IStringLocalizerFactory` into DI, that produces `IStringLocalizer`. The factory pattern is common throughout ASP.NET as it allows a singleton to be registered in DI.

As for the overloads, you can have your custom `IStringLocalizer` simply implement the overload that takes `Type` by calling into your implementation that takes `string baseName, string location` by passi

[2015-09-08 00:15] #66 closed

[2015-09-08 00:26] DamianEdwards commented on #62
I think my original thoughts were that using the format culture as the UI culture was somehow more OK than using the UI culture as the format culture... maybe. That said, I can't think of any science to back that up. In this case, I don't think I really expected the `QueryStringRequestCultureProvider` to be used in production much; I found it useful to enable during development for easy switching

[2015-09-08 00:29] #62 closed

[2015-09-08 00:29] DamianEdwards commented on #62
Fixed in c065c90337bf8364abd2e46815e17ba0d31af7c9

[2015-09-08 01:02] Bartmax commented on #66
:+1: thank you.

[2015-09-08 03:16] xatabhk opened #68 "In beta8 localize resource cannot be loaded"
In latest beta 8 15585, localized resources (*.resx) are not embedded in a single assembly any more; instead they are put in sub-folders as in normal desktop applications, for an example: \en-AUS\xapp.xtype.resources.dll. But ResourceManagerStringLocalizer still assumes all resources are in one assembly (xapp.dll) currently like in beta 7 or eariler.

[2015-09-08 03:20] davidfowl commented on #68
/cc @kirthik

[2015-09-08 16:50] #65 closed

[2015-09-08 16:52] danroth27 commented on #52
@justinvp Any update on this investigation?

[2015-09-08 16:54] danroth27 commented on #41
See https://github.com/aspnet/Mvc/issues/1928.

[2015-09-08 16:54] #41 closed

[2015-09-09 04:36] HaoK opened #69 "Consider using IOptions for LocalizationOptions"
Consider adopting the same pattern that Cookie middleware uses for UseXyz:

- Switch the middleware ctor to take `IOptions`
- UseXyz() would no longer new up options and use the instance from DI (which would be a new one if none were configured)
- Have LocalizationOptions implement `IOptions<LocalizationOptions>` so UseXyz(options) would continue to work as it does today

[2015-09-09 22:13] HaoK commented on #69
We decided to go the other way and standardize on no IOptions in any middlewares for now

[2015-09-09 22:13] #69 closed

[2015-09-10 17:07] Bartmax opened #70 "RequestCultureProvider sets an unsupported culture when the request is not supported and the default is not defined or not supported."
Helping someone with an issue on Jabbr about localization, I found this strange (at least for me) behavior.

[code]
**note the commented line**

With this cshtml (in layout or index):
[code]

According to the documentation here: https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNet.Localization/RequestLocalizationOptions.cs#L38-L54

This is not expected behavior. Those cultures are

[2015-09-10 17:33] Bartmax commented on #70
This is related to https://github.com/aspnet/Localization/issues/38

[2015-09-10 20:41] hishamco commented on #70
I already did a fix for issue #38 in my repo, so let me dig into that

[2015-09-11 21:45] kirthik commented on #68
@xatabhk : Locale specific resources get embedded to locale specific satellite assemblies. That is the right way. ResourceManagerStringLocalizer just calls `ResourceManager.GetString`. `ResourceManager` understands satellite assemblies.

Could you please tell me what issue you are seeing and please provide a repro too if possible.

[2015-09-11 23:40] xatabhk commented on #68
I assumed ResourceManager understanding satellite assemblies too; but it did and does not. It seems no actual *.resx files have been tested before as no *.resx file use in the sample.

My test results:
1. Locale specific resources do not get embedded to locale specific satellite assemblies before beta7 WebTools installed.
Before that, all Locale specific resources are put in one single DLL.

2.Res

[2015-09-12 00:02] kirthik commented on #68
Your statement "Before that, all Locale specific resources are put in one single DLL." is not true.

In beta7 and earlier, `ResourceManagerStringLocalizer` loaded default resource always since underlying dnx did not understand resources or locale satellite assemblies. Dnx did not embed locale specific resources in the main assembly. It just ignored them which is why default resource got loaded alw

[2015-09-12 01:29] xatabhk commented on #68
I say putting in one single DLL because that was what I found when I used Reflector to figure out resource names in main DLL a while ago – after I noticed no satellite DLLs generated. So at least for a time, all locale specific resources did get put in main DLL.
From: Kirthi Krishnamraju
Sent: Saturday, September 12, 2015 8:02 AM
To: aspnet/Localization
Cc: xatabhk
Subject: Re: [Localization] In b

[2015-09-12 05:08] hishamco commented on #70
@Bartmax let me know if the following code fix the issue
[code]

[2015-09-13 23:52] hishamco commented on #70
@Bartmax can you try this
[code]

[2015-09-14 17:42] kirthik commented on #1
merged efcbb2a664edc45c3d70d2bdcc5d535e8d551718

[2015-09-14 17:42] #1 closed

[2015-09-14 18:17] Bartmax commented on #70
Looks good, not sure what will works as expected if we have:

[code]

because we return earlier on Culture without even checking at UICulture. I guess best way to tell is to have some unit test.

[2015-09-14 19:12] kirthik commented on #38
merged 7b53bdd43e2e605a8eb686f22ceb558f46a1c4f5

[2015-09-14 19:12] #38 closed

[2015-09-14 20:05] Eilon commented on #38
@kirthik mark as 3 - Done?

[2015-09-14 20:06] kirthik commented on #38
Changed it.

[2015-09-14 23:12] kirthik commented on #68
Closing this since the change was intentional and by design. Please open a new bug if you run into an issue with this design.

[2015-09-14 23:12] #68 closed

[2015-09-15 00:01] hishamco commented on #70
You are right @Bartmax, let me revise the code snippet and come back to you

[2015-09-15 00:02] hishamco commented on #70
@kirthik can you look into this if you don't mind, seems it's a critical issue

[2015-09-15 03:16] #3 closed

[2015-09-15 15:23] c1rus commented on #66
Im also trying to get strings from database. Is it safe to store instance of `DbContext` in singleton (`StringLocalizerFactory`)? How can i pass instance of DbContext to `IStringLocalizer`?

[2015-09-15 23:13] hishamco opened #76 "[Bug] Unable to run Localization Sample"
When I run the localization sample I got the following exception **Could not resolve a service of type 'Microsoft.Framework.Localization.IStringLocalizer`1[[LocalizationSample.Startup, LocalizationSample, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]' for the parameter 'SR' of method 'Configure' on type 'LocalizationSample.Startup'.**

[2015-09-15 23:13] hishamco commented on #76
/cc @DamianEdwards @kirthik

[2015-09-15 23:17] kirthik commented on #76
PR https://github.com/aspnet/Localization/pull/77 should fix that issue

[2015-09-15 23:19] hishamco commented on #76
Thanks @kirthik

[2015-09-15 23:47] hishamco commented on #43
@kirthik can I start to make a PR to support ```DomainRequestCultureProvider```?

[2015-09-16 01:24] hishamco commented on #40
@kirthik please your thoughts about this

[2015-09-16 06:55] Martijn-Sharp opened #78 "Json formatters do not respect the RequestLocalization middleware's culture"
When using the RequestLocalization middleware one would expect that the JsonInputFormatter will use the culture as it's defined in the options.
To give you an example, I have the following options defined:

[code]

When HTTP POSTing to a controller action with JSON it might bind a datetimestring of '10-05-2015' as the 5th day of the 10th month of 2015. While actually with the Dutch dateformat (dd-

[2015-09-17 18:14] kirthik commented on #76
merged 06aa241

[2015-09-17 18:14] #76 closed

[2015-09-17 23:32] Eilon commented on #40
There are no features currently planned for directly solving this. The correct approach at this time is to set the appropriate VaryBy headers on the response.

[2015-09-17 23:33] Eilon commented on #52
We're not aware of any changes required here. If new info arises, we can reconsider.

[2015-09-17 23:33] #52 closed

[2015-09-17 23:47] hishamco opened #84 "Make 'reset link' reset both Cookie & QueryString"
Reset button should reset both cookie & query string instead of cookie only, the code snippet will be something like
[code]
and call both ```clearCookie``` and ```clearQueryString``` in the reset link

[2015-09-17 23:48] hishamco opened #85 "Sets 'en-US' as default culture in cultures list"
The "-- select --" option enforce the culture to be invalid, it will be nice if we make the default culture en-US

[2015-09-17 23:49] hishamco commented on #40
Thanks @Eilon, is there a plan to support such thing

[2015-09-18 03:29] Eilon commented on #40
It needs to be done by the user manually.

[2015-09-18 03:32] Eilon commented on #85
If this is just for the sample, there's not much incentive to improve it. It's just to show how some features are used, the UI itself is not a concern.

[2015-09-18 03:32] #85 closed

[2015-09-18 03:32] Eilon commented on #84
If this is just for the sample, there's not much incentive to improve it. It's just to show how some features are used, the UI itself is not a concern.

[2015-09-18 03:32] #84 closed

[2015-09-18 09:54] xatabhk opened #86 "Still local resource is loaded incorrectly"
When runtime  beta8 15598 is used:
![resx_not_work](https://cloud.githubusercontent.com/assets/6814395/9956818/2da80b7e-5e2e-11e5-9432-6f4cb5d7d04a.png)

When runtime beta8 15618 is used:
![resx_not_work_15618](https://cloud.githubusercontent.com/assets/6814395/9956888/abfd851c-5e2e-11e5-8919-675ba09a667e.png)

Exception thrown: 'System.InvalidOperationException' in Microsoft.Dnx.ApplicationHost.d

[2015-09-18 10:18] hishamco commented on #86
@xatabhk it works fine in my end. Are you sure you running the latest bits?

[2015-09-18 10:37] xatabhk commented on #86
It worked on beta 7 or earlier where resources were all in one DLL, but not on latest builds from https://www.myget.org/F/aspnetlitedev/.
From: Hisham Bin Ateya
Sent: Friday, September 18, 2015 6:19 PM
To: aspnet/Localization
Cc: xatabhk
Subject: Re: [Localization] Still local resource is loaded incorrectly (#86)

@xatabhk it works fine in my end. Are you sure you running the latest bits?

—
Reply

[2015-09-18 13:00] miroslavsiska opened #87 "Create .resx files runtime + add strings to it"
I cant found any possibility to create translations via app code. Its important to have in localization some possibilities to add new languages and strings on runtime.
I mean with it:
Create .resx dynamically via C# code and add localized strings to this .resx file. It is important for each translated modular app.

[2015-09-22 00:35] hishamco commented on #87
Have a look to this https://msdn.microsoft.com/en-us/library/gg418542%28v=vs.110%29.aspx

[2015-09-22 00:35] hishamco commented on #86
@xatabhk can you let me the steps to reproduce it?

[2015-09-22 01:54] hishamco opened #88 "[Bug] Omit the DefaultRequestCulture should not throw NullReferenceException"
While I'm trying to fix the issue #70 I come up with the case that throws ```NullReferenceException``` when ```DefaultRequestCulture``` is not defined. The exception occurs from this line of code https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNet.Localization/AcceptLanguageHeaderRequestCultureProvider.cs#L60

[2015-09-22 03:48] Eilon commented on #88
@kirthik if the PR looks good to you, please resolve this issue.

[2015-09-22 17:14] Eilon commented on #86
@kirthik can you help investigate?

[2015-09-22 17:42] kirthik commented on #86
@xatabhk : Are you running this from VS? We don't have the support yet for loading resources from VS (https://github.com/aspnet/dnx/issues/2727). Can you please try running it from command line? - Run `dnx web` and access the website. You should see the correct locale text displayed for "Hello". Please let me know if that is not the case.

[2015-09-23 00:04] xatabhk commented on #86
Yes. I am running the sample from VS IDE. I will try it from command line soon.

[2015-09-25 20:39] kirthik opened #90 "ResourceStringLocalizerFactory creates string localizer based on resourcetype's name instead of full name"
https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs#L53

We should use resourceName.FullName so that if same class exists under different namespaces, we can have different `.resx` for each type.

[2015-09-25 21:35] hishamco opened #92 "Make 'ResourceManagerStringLocalizer' overload internal"
After the PR #91 and while we have InternalsVisibleTo in this line of https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Framework.Localization/Properties/AssemblyInfo.cs#L8, it will be nice to modify the access modifier for ResourceManagerStringLocalizer in https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Framework.Localization/ResourceManagerStringLocalizer.cs#L49 to inte

[2015-09-25 23:45] kirthik commented on #88
How can `DefaultRequestCulture` be `null`? By default it is  set to current culture.

[2015-09-26 01:52] Eilon commented on #88
`ValidateRequestCulture` might return `null`?

[2015-09-26 01:55] hishamco commented on #88
In fact support both SupportedCultures & SupportedUICultures while omit the ```DefaultRequestCulture``` cause the error, I tested in my end. Please verify by running the test

[2015-09-26 17:19] Eilon commented on #90
@DamianEdwards thoughts?

[2015-09-26 17:20] Eilon commented on #92
It could be useful for other people testing outside of this assembly. This is probably fine as-is.

[2015-09-26 17:20] #92 closed

[2015-09-26 17:32] Eilon commented on #87
If you need support *at runtime* then RESX is probably not a good solution. RESX is a compile-time resource definition.

With the new localization features in ASP.NET / DNX, I recommend writing a custom resource provider that works with whatever storage medium you have - perhaps a TXT file, a PO file, a database, or something else.

Have a look at how the default implementation in https://github.c

[2015-09-26 17:32] #87 closed

[2015-09-26 17:52] hishamco commented on #92
I'm still wondering why it should be ```public```, while ```internal``` is a proper access specifier?!!

[2015-09-26 18:03] Eilon commented on #92
Because if it's internal then other assemblies that don't have an InternalsVisibleTo relationship with it won't be able to use it.

[2015-09-26 18:09] hishamco commented on #92
Of course @Eilon, but while the intend is for testing purpose, the ```InternalsVisibleTo``` is already there for the testing project that use it. Am I right?

[2015-09-26 18:11] hishamco commented on #92
@DamianEdwards thoughts?

[2015-09-27 17:49] Eilon commented on #92
IVT is only useful for the target assembly. If a random person with a random assembly wants to call the method, it must be public.

[2015-09-27 18:35] hishamco commented on #92
Yep, but while it located in ```Microsoft.Framework.Localization``` and almost the cases the dev deal with ```Microsoft.AspNet.Localization``` so ```internal``` still a valid option. I hope to hear opinions from other guys.
thanks @Eilon

[2015-09-28 06:42] Eilon commented on #92
This is the pattern we use almost everywhere in ASP.NET 5 and EF 7. If our own framework needs this, then we assume that others will need this.

[2015-09-28 06:46] hishamco commented on #92
Thanks for this clarification @Eilon

[2015-09-28 07:51] kirthik commented on #88
merged 61106d36a17239d60ccd4cb6e0257a267d9f32ba

[2015-09-28 07:51] #88 closed

[2015-09-28 08:05] hishamco commented on #86
@xatabhk did you get the expected result when you run it from command line, it's fine at my end

[2015-09-29 01:35] xatabhk commented on #86
I tested the sample from command line; it did work fine. I hope it can work in IIS Express and IIS soon.

From: Hisham Bin Ateya
Sent: Monday, September 28, 2015 4:05 PM
To: aspnet/Localization
Cc: xatabhk
Subject: Re: [Localization] Still local resource is loaded incorrectly (#86)

@xatabhk did you get the expected result when you run it from command line, it's fine at my end

—
Reply to this ema

[2015-09-29 01:50] Eilon commented on #86
Closing for now. You can follow the status of https://github.com/aspnet/dnx/issues/2727 to see when this works from non-command-line scenarios. Thanks!

[2015-09-29 01:50] #86 closed

[2015-09-29 03:03] hishamco commented on #86
Thanks @Eilon

[2015-09-30 06:17] Eilon opened #93 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-09-30 06:27] hishamco commented on #93
@Eilon is there a proper reason for this change?

[2015-09-30 15:29] Eilon commented on #93
We didn't like the old name.

[2015-09-30 19:47] hishamco commented on #93
Nothing but localization is framework specific, one more thing is this implies to change the name in other repos suck as Logging and so on?!!

[2015-09-30 19:58] Eilon commented on #93
All `Microsoft.Framework.*` is getting renamed to `Microsoft.Extensions.*`.

[2015-10-03 00:56] ajaybhargavb opened #95 "CultureInfoCache.GetCultureInfo makes a case sensitive comparison"
For example, when using query string to set culture
1. `http://localhost:5000/Loc/?culture=fr&ui-culture=fr`
2. `http://localhost:5000/Loc/?culture=FR&ui-culture=FR`

I would expect both the cases to work. But currently the 2nd case doesn't work.

cc' @DamianEdwards @kirthik

[2015-10-03 01:24] hishamco commented on #95
Sure because ```CultureInfoCache.GetCultureInfo``` behind the scene looking for the supplied culture into ```CultureInfoCache.KnownCultureNames``` HashSet

[2015-10-03 01:34] hishamco commented on #95
This can be solved by using the overload
[code]
in line https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Framework.Globalization.CultureInfoCache/CultureInfoList.cs#L22

[2015-10-03 12:08] hishamco commented on #95
Your thoughts @DamianEdwards?

[2015-10-03 23:03] hishamco opened #97 "[Bug] Unable to run Localization Sample & Unit Tests"
After that latest commit by @pranavkm the sample can't locate few packages
![capture](https://cloud.githubusercontent.com/assets/3237266/10265498/c28a6408-6a3b-11e5-86c0-d6038cabfff3.JPG)

BTW I upgrade the dnvm before I run ```dnu restore``` command
/cc @kirthik

[2015-10-04 14:25] pranavkm commented on #93
f782d8845ccd9cea54158d86ddc9a570c91828c0

[2015-10-04 14:25] #93 closed

[2015-10-05 16:16] Eilon commented on #97
The build hadn't yet gone through so the packages were temporarily missing. Once the build goes through the packages will be available.

[2015-10-05 16:16] #97 closed

[2015-10-05 17:58] DamianEdwards commented on #90
It used to be `FullName` but was changed in eefe518ac2f58832413efe2ba6deeae7b692952e. If we use `FullName` again, then the resource name would become `ApplicationName + _resourcesBasePath + type.FullName`, yes?

[2015-10-05 18:05] kirthik commented on #90
Yes. That is correct.

[2015-10-05 18:16] DamianEdwards commented on #90
OK.

[2015-10-05 18:17] hishamco commented on #97
The sample running fine now, but still there's an issue while running the unit tests?!!

[2015-10-05 21:13] hishamco commented on #95
@kirthik can you have a look to the bug and the fix that I made

[2015-10-05 21:29] kirthik commented on #95
Please address @Eilon's comment - https://github.com/aspnet/Localization/pull/96/files#r41166078. The cultures that got added should be removed.

[2015-10-05 21:36] hishamco commented on #95
Oops I didn't notice the @Eilon comment, these cultures have been added after i ran ```CultureInfoGenerator``` command, now I will remove them
thanks

[2015-10-05 22:25] kirthik commented on #95
merged 722fbc4ef5b7231b2bbb171dbb1a2d9794cf8eb3

[2015-10-05 22:25] #95 closed

[2015-10-05 23:08] Eilon commented on #95
@hishamco but where did they come from? Which OS are you running? I talked to @DamianEdwards and we were a bit surprised that there are hundreds of new cultures listed.

[2015-10-06 06:07] hishamco commented on #95
@Eilon i'm running Windows 10, if you want me to dig about this, let me know and i will debug the ```CultureInfoGenerator```

[2015-10-06 19:15] Eilon commented on #95
@kirthik @DamianEdwards can one of you run the generator on your own Win10 machine to see if you get similar results? We may very well need to update the list of cultures...

[2015-10-06 19:17] Eilon opened #98 "Update list of cultures to be current with a recent Win10 installation"
Need to rerun the culture generator on a recent Win10 machine to ensure we have all the latest cultures.

[2015-10-06 19:17] Eilon commented on #95
Actually, I opened https://github.com/aspnet/Localization/issues/98 to track the potential update.

[2015-10-06 20:06] hishamco commented on #95
Thanks @Eilon, I will dig into that too

[2015-10-06 20:15] Eilon opened #99 "Move CultureInfoGenerator to Common repo and share the output source to DNX, Localization"
Move the CultureInfoGenerator tool and its generated output to the Common repo and produce a `***.Sources` package with the output. Then consume the shared source package from the DNX and Localization repos.

[2015-10-06 20:23] Eilon commented on #31
Kind of related: http://haacked.com/archive/2011/07/14/model-metadata-and-validation-localization-using-conventions.aspx/

[2015-10-06 20:32] hishamco commented on #98
I'm running Windows 10 Enterprise, the .NET release key **393295** there are **809** cultures, I think we should consider the newly added culture that have been remove based on @Eilon comment in  https://github.com/aspnet/Localization/pull/96/files#r41166078

[2015-10-07 04:21] DamianEdwards commented on #98
OK yep, I confirmed it. I just ran it here on Windows 10 Pro RTM and it updates to over 800 cultures.

@hishamco, feel free to send a PR that just includes the culture list update, assuming you are running Windows 10 **RTM** (build 10240).

[2015-10-07 04:32] hishamco commented on #98
@DamianEdwards I'm running the same version, I will send a PR soon
thanks

[2015-10-08 22:45] Kagamine opened #105 "Localized string storage, Culture set, Front-end supports."
/cc @hishamco @DamianEdwards @kirthik

- To make a ILocalizedStringProvider and allow different ways to storage the string, such as .json like i18n did, or store these in EF. It should be writable by using the provider instance. Resx is so heavy and has a bad readability, it is hard to edit by using vs code or other editors.
- Make a culture set, to describe a set of localized strings, and these s

[2015-10-09 02:26] Kagamine commented on #98
@Eilon It seems that something missed by using the tool. #104

[2015-10-09 04:15] hishamco commented on #98
Nope, this is auto generated by the ```CultureInfoGenerator``` command which is fetch all the cultures from the OS

[2015-10-09 13:38] hishamco commented on #105
@Kagamine If i'm not wrong I saw an issue related to what you said before. The guy using the localization repo to store the key/value in database instead of resx file.
I will look for that issue and get back to you

[2015-10-09 13:58] hishamco commented on #97
@Eilon currently when I run both sample and test project I got this exception The type ```IApplicationBuilder``` couldn't be found, furthermore the sample run but when i hit the url I got internal server error, any idea about this
/cc @kirthik

[2015-10-09 18:05] kirthik opened #108 "Add functional tests for localization"

[2015-10-09 19:57] kirthik commented on #98
Based on the discussion in this PR - https://github.com/aspnet/Localization/pull/104 it looks like other OSes have valid cultures which we need to add to our list or come up with a smarter way to identifying known cultures.

[2015-10-09 21:22] Eilon commented on #97
That sounds like a version mismatch on the machine.

[2015-10-09 23:31] hishamco commented on #97
Let me upgrade to the latest ```dnmv``` version

[2015-10-13 10:08] hishamco commented on #97
Got fixed :smile:

[2015-10-13 15:54] hishamco opened #110 "[Investigation] AppVeyor & Travis are failed"

[2015-10-13 17:00] danroth27 commented on #105
We should look at providing some more samples that shows how to use alternative localized resource providers, like a DB.

[2015-10-13 21:16] hishamco commented on #105
@danroth27 should this will be included in the docs or just in the sample?
If there's a possibility to send a PR for this I will do ..

[2015-10-13 23:01] kirthik commented on #108
merged 7ea6435338b606115d576b8ef91b1b6b76d34c66

[2015-10-13 23:01] #108 closed

[2015-10-14 01:08] Eilon opened #111 "Design changes to known/allowed culture list and cache"
1. Have default allowed culture list be empty
 * Make setting the default culture mandatory when using AddLocalization
 * If you want to support a specific set of cultures, pass in a default culture and also a set of allowed cultures
2. The loc middleware upon seeing the request’s desired cultures will compare it against the list of SupportedXyz cultures for an exact match (case insensitive). If i

[2015-10-14 01:09] Eilon commented on #99
@kirthik closing this because it's not needed anymore. You can close out the PRs.

[2015-10-14 01:09] #99 closed

[2015-10-14 01:15] Eilon opened #112 "Fall back to parent cultures from the supported list when the desired culture is not available or known"
Have loc selectors fall back to parent cultures from the supported list when the desired culture is not available or known. E.g. if the request culture is “en-Damian” and the supported cultures has “en”, then fall back to that.

[2015-10-14 04:48] danroth27 commented on #105
@Eilon is going to look at putting a sample together first and then we can look at documenting the recommended patterns.

[2015-10-14 04:52] Kagamine commented on #105
What's your view about the other lines in this issue such as frontend support? @danroth27

[2015-10-14 06:12] hishamco commented on #112
What if the supported cultures have "en-US" should fallback to that or return ```null```?

[2015-10-14 06:14] hishamco commented on #105
I was thinking to send a PR for this, but if @Eilon will create the sample, this is fine

[2015-10-14 17:01] Eilon commented on #112
@hishamco that depends on what the supported cultures are *and* on what the *requested* culture is. Can you give a more complete example?

BTW, either way we don't plan on doing this work item now - it's on the Backlog.

[2015-10-15 16:43] Eilon commented on #98
No longer needed due to https://github.com/aspnet/Localization/issues/111

[2015-10-15 16:43] #98 closed

[2015-10-18 00:51] kirthik commented on #70
With this design change - https://github.com/aspnet/Localization/issues/111, passing in default culture will be required when adding localization. We will scan request's culture through supported culture list and fall back to default if exact match is not found. So scenario where default culture is not defined or supported does not arise. Hence closing this issue.

[2015-10-18 00:51] #70 closed

[2015-10-18 13:27] damienbod opened #115 "Localization not working in Controller (VS)"
I'm trying to use localization inside a controller of a MVC 6 controller. The localization always returns the default value, no matter what culture is sent.

http://localhost:13572/api/about

Accept: text/html, application/xhtml+xml, */*
Accept-Language: de-CH;
Host: localhost:13572

Code: https://github.com/damienbod/AspNet5Localization

Any ideas what's going wrong?

Greetings Damien

[2015-10-18 13:53] hishamco commented on #115
@damienbod can you try to pass the culture in QueryString, probably it's the default culture in your browser languages options

[2015-10-18 15:45] damienbod commented on #115
Hi hishamco
Thanks for your answer.
I test with fiddler, IE, and Firefox with different default cultures. The Accept-Language header is set to de-CH; which is the header used for this.

Greetings Damien

[2015-10-18 17:24] BenjiZombie commented on #115
Try with ?culture=de-CH at the end of your URL
On Oct 18, 2015 11:45 AM, "damienbod" <notifications@github.com> wrote:

[2015-10-18 17:28] hishamco commented on #115
You can change it from Internet Options, anyhow try what I told you before (which the same that @BenjiZombie mentioned before), or run the Sample that included in the localization repo, I'm sure it will work as expected :smile:

[2015-10-18 17:53] damienbod commented on #115
@BenjiZombie
Thanks for your answer, doesn't work
GET http://localhost:5000/api/about/?culture=de-CH HTTP/1.1
User-Agent: Fiddler
Host: localhost:5000
Accept-Language: de-CH;q=0.9,de;

-------
HTTP/1.1 200 OK
Date: Sun, 18 Oct 2015 17:50:41 GMT
Content-Type: text/plain; charset=utf-8
Server: Kestrel
Transfer-Encoding: chunked

Name en-GB

-----------

Greetings Damien

[2015-10-18 17:54] damienbod commented on #115
@hishamco I tried it, and it doesn't work

The example does not use the localization in the controller.

Greetings Damien

[2015-10-18 18:00] hishamco commented on #115
No no, change the QueryString to another culture, for example  http://localhost:5000/api/about/?culture=fr-FR

[2015-10-18 18:11] damienbod commented on #115
http://localhost:13572/api/about/?culture=fr-FR

Still the same result

Greetings Damien

[2015-10-18 18:28] hishamco commented on #115
Strange!! let me dig into your code

[2015-10-18 18:34] damienbod commented on #115
Thanks

[2015-10-18 18:34] kirthik commented on #115
@damienbod - are you running from VS or command line?

[2015-10-18 18:34] damienbod commented on #115
Hi @kirthik

both

Greetings Damien

[2015-10-18 18:44] hishamco commented on #115
@damienbod **en-US** show up in my end

[2015-10-18 19:55] damienbod commented on #115
Hi @hishamco
Thanks for your feedback.

Stills not working at my side, my default culture is en-US, if I set the query string nothing changes, maybe I need to installed something, or the something is missing from my packages.

You tested with my code and everything runs on your computer?

Greetings Damien

[2015-10-18 20:27] damienbod commented on #115
Hi @hishamco @kirthik

I did a dnu restore (console) and ran from the console, not using Visual studio and everything works fine. Inside Visual Studio using IIS Express or web, it does not work.

Is this a bug with Visual Studio and localization?

Greetings Damien

[2015-10-18 21:50] hishamco commented on #115
So that's why @kirthik asked you before :smile: , seems there's an issue with VS tooling

[2015-10-19 02:07] jerriep opened #116 "Inconsistent behaviour of CookieRequestCultureProvider compared to QueryStringRequestCultureProvider"
I have noticed that there is inconsistent behaviour between the Cookie provider and the Query String provider in terms of how they handle the situation when a user specifies either a culture or a UI culture, but not both.

In the case of the Cookie provider it requires the user to specify both otherwise it does nothing (see https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNet.Local

[2015-10-19 04:23] damienbod commented on #115
Yes, didn't read @kirthik correctly

Thanks for your help

Greetings Damien

[2015-10-19 06:14] hishamco commented on #116
You are right @jerriep I made PR #63 to allow the user to specify either (or both) cultures in ```QueryStringProvider``` while the ```CookieProvider``` allows to specify both. I was supposed to do that before but I miss it :(
your thoughts @Eilon @kirthik

[2015-10-19 06:38] damienbod opened #117 "Cannot add a resource file in Visual Studio"
A resource file cannot be created in Visual Studio in a MVC6 application. It's missing from the menu

Greetings Damien

[2015-10-19 06:38] damienbod opened #118 "AcceptLanguageHeaderRequestCultureProvider not working in a MVC 6"
If I set the Header: Accept-Language: de-CH, it is not used, the default resource from the browser is used instead

-------

GET http://localhost:5000/api/about/ HTTP/1.1
User-Agent: Fiddler
Host: localhost:5000
Accept-Language: de-CH;q=0.9,de;

---------

Greetings Damien

[2015-10-19 06:39] damienbod opened #119 "Custom CultureProvider not working in a MVC 6 application"
If I set the culture in the URL, this is not used

example http://localhost:5000/api/de-CH/about

[code]

------

Greetings Damien

[2015-10-19 06:57] hishamco commented on #119
@damienbod ```CustomCultureProvider``` needs you to write the code to provide the culture, have a look to what I come up with here https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNet.Localization.Tests/CustomRequestCultureProviderTest.cs#L27

[2015-10-19 07:00] hishamco commented on #117
Which version of VS are you running?

[2015-10-19 07:01] hishamco commented on #118
Yes you should set it from the browser, I'm not sure what's the issue exactly?!!

[2015-10-19 07:21] damienbod commented on #118
If I set the ?culture=de-CH in the URL everything works fine from the console.
If I use the Accept-Language HTML request Header, the localization does not work.

Greetings Damien

[2015-10-19 07:23] damienbod commented on #119
OK, I have a look at this

Greetings Damien

[2015-10-19 07:24] damienbod commented on #117
VS 2015
Version 14.0.23107.0 D14REL

[2015-10-19 07:27] hishamco commented on #119
Did you implement a custom culture provider in your code? if it's yes post the code snippet

[2015-10-19 07:29] hishamco commented on #118
Did you set the culture from the browser or control panel - internet options?

[2015-10-19 07:35] damienbod commented on #118
both my language in the control panel is en-IE
IE : en-IE
Firefox: en-US

[2015-10-19 07:39] hishamco commented on #117
I think the VS Tooling for Localization in not fully support
@kirthik your comment please

[2015-10-19 07:44] hishamco commented on #118
I added Italian/Switzerland (it-CH) and I move it up to become the 1st language in firefox, your code recognize it :smile:
I don't think there's an issue at all

[2015-10-19 07:56] damienbod commented on #118
I checked it again running from the console and it works with it-CH Accept-Headers.

Sorry, this is my mistake,

Thanks for your help

Greetings Damien

[2015-10-19 07:56] #118 closed

[2015-10-19 08:03] hishamco commented on #118
All the best :smile:

[2015-10-19 14:25] joeaudette commented on #117
I'm facing the same problem, I thought this would be possible with the new beta8 tooling but there is no option to add .resx files either in a web project or a class library package project

[2015-10-19 17:23] kirthik commented on #117
We don't have support in VS to add `.resx` files to ASP.NET 5 applications yet. @rustd can tell you more details.

[2015-10-19 17:42] #90 closed

[2015-10-19 19:56] joeaudette commented on #117
I notice that if  I add an existing resx file into a project file tree, ie I created a folder AppResources in a web app project and put a .resx file there that I made previously in VS 2013. VS 2015 automatically adds a .designer.cs file and it makes all the access "internal". Based on the very limited sample in this repo I thought maybe I could just package .resx files as content and use them dire

[2015-10-19 20:04] hishamco commented on #115
@damienbod please close this if you got the answer

[2015-10-19 21:38] damienbod commented on #115
I got my answer, but the VS tooling is not working. ASP.NET localization is working fine. Should I close this, maybe this is the wrong place for this problem.

What's your opinion? For me , everything is clear.

Thanks

Greetings Damien

[2015-10-19 21:40] damienbod commented on #119
Not yet, busy at present, won't have time till Friday
Greetings Damien

[2015-10-19 22:09] TomArcher commented on #116
@jerriep I'm currently working on the Localization article. Let me know if you'd like to review the first draft and I'll let you know when it's ready.

[2015-10-19 23:37] kirthik commented on #117
VS adds auto-generated `.designer.cs` for `.resx` files that don't have locale info in them. Example - VS generates `test.designer.cs` for `test.resx` but it does not auto generate for `test.fr-Fr.resx`.

[2015-10-19 23:39] kirthik commented on #115
Yes, please file an issue here - https://github.com/aspnet/Tooling

[2015-10-19 23:55] jerriep commented on #116
Sure @TomArcher . I am also publishing a series of blog posts on Localization, starting with this one tomorrow:
http://www.jerriepelser.com/blog/how-aspnet5-determines-culture-info-for-localization

[2015-10-20 04:47] hishamco commented on #119
So that mean there's no issue with ```CustomCultureProvider``` :smile: while you didn't implement it yet

[2015-10-20 05:04] #115 closed

[2015-10-20 05:06] Eilon commented on #119
Indeed, you need to actually set the culture on the request using the Localization middleware, or something else similar.

[2015-10-20 05:06] #119 closed

[2015-10-20 05:10] Eilon commented on #116
@kirthik can you sync with @DamianEdwards and/or @lodejard to decide the right behavior for these?

[2015-10-20 06:06] c1rus commented on #31
In beta8 is ```AddDataAnnotationsLocalization```, but it seems its only for custom error messages. Would it be possible to localize the default validation messages?
And would it be possible to localize DisplayName?

[2015-10-20 06:30] jln1989 opened #121 "Resource file is not being picked up & displayed in MVC View"
Hi,

Am trying to understand MVC6 localization using RESX files as given in the two sample projects in github and i noticed that the labels stay in default language (system's language) only and does not change according to the request.

https://github.com/aspnet/Localization/tree/master/samples/LocalizationSample

The above sample has everything happening at the startup itself and only the label's

[2015-10-20 07:13] jln1989 commented on #115
Hi,

Can anyone tell me as to how to run this application using console? Please point to me in the direction where any docs are available.

Am using Visual Studio 2015, Windows 10 OS and beta8 updated in my machine.

@damienbod @hishamco

[2015-10-20 07:33] hishamco commented on #115
@jln1989 you can go to the root of your app, where project.json is located and open the command line and run the following commands:
```dnu restore```
```dnx web```

[2015-10-20 07:36] jln1989 commented on #121
Please close this issue as duplicate of  #115 as this is related to VS tooling and not with ASP.NET localization

[2015-10-20 07:36] #121 closed

[2015-10-20 08:59] Codenator81 commented on #119
I have same code for reference https://github.com/WeebDo/WeebDo.CMF/blob/master/src/WeebDoCMF/Startup.cs#L188

[2015-10-20 09:07] hishamco commented on #119
Also this may related to issue #54 #57

[2015-10-20 11:45] Codenator81 opened #122 "Get segment from mapped route for CustomRequestCultureProvider"
I tested after
[code]
in startup class app.UseRequestLocalization not work.
For example user want culture segment been in:
[code]

So how I can get ```{culture}``` segment to find route match?

This is all way not processed:
[code]

Thanks Alex

[2015-10-20 12:13] BenjiZombie commented on #122
What I did was create a `RouteRequestCultureProvider` instead.

	namespace Microsoft.AspNet.Localization
	{
		/// <summary>
		/// Determines the culture information for a request via values in the route.
		/// </summary>
		public class RouteRequestCultureProvider : RequestCultureProvider
		{
			#region Overrides of RequestCultureProvider

			public override Task<RequestCulture> DetermineRequestCul

[2015-10-20 12:23] Codenator81 commented on #122
@BenjiZombie thanks for good example.
I do similar in my code https://github.com/WeebDo/WeebDo.CMF/blob/master/src/WeebDoCMF/Startup.cs#L190
I think there no way to get segment {culture} from route for now before
[code]

[2015-10-20 12:27] hishamco commented on #122
You can have a look to issue #54 #57 as well as https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNet.Localization.Tests/CustomRequestCultureProviderTest.cs#L46

[2015-10-20 12:40] Codenator81 commented on #122
@hishamco Thanks I implement my code based on your links :+1:
Here cuestion more about how get culture as I do in MVC 5 from Controller
[code]

[2015-10-20 13:01] joeaudette commented on #117
Thank you @kirthik that opened my eyes and now I see, it makes perfect sense. I just need to rename my .resx files as .en-US.resx and then I can use the approach shown in the sample and won't have any .designer.cs files.

[2015-10-20 13:02] luchen1021 opened #123 "Beta 8 Load Resource Assembly Cause Exception System.IO.FileNotFoundException"
Beta 8 load resource assembly cause exception System.IO.FileNotFoundException.  The resource assembly is defined in legacy .NET class library, not DNX class library.  The same solution works for Beta 7 but fails when using Beta 8.
Beta 8 Solution
https://github.com/luchen1021/AspNet5Beta8Resource.git
https://github.com/luchen1021/AspNet5Beta8Resource
Beta 7 Solution
https://github.com/luchen1021/A

[2015-10-20 13:36] Muchiachio commented on #119
I'm actually going down the old route of overriding `OnActionExecuting` and taking language from the route values
[code]
hopefully it works later on. I can't trust parsing the query string, because this kind of routing breaks instantly
[code]

[2015-10-20 14:11] hishamco commented on #122
@Codenator81 you can inject ```IHtmlLocalizer``` in your controller constructor, have a look to @damienbod source here https://github.com/damienbod/AspNet5Localization/blob/master/AspNet5Localization/src/AspNet5Localization/Controllers/AboutController.cs#L16

[2015-10-20 14:20] hishamco commented on #123
@luchen1021 you need to build the LegacyLibrary to produce the assembly which will be located in **AspNet5Beta8Resource\AspNet5Beta8Resource.LegacyLibrary\bin\Debug**, after that you can run using ```dnx web```
It works fine in my end, problem solved :smile:

[2015-10-20 14:51] joeaudette opened #124 "better samples?"
The current sample does not provide a lot of guidance. I wish there were samples showing how to:

* localize strings in Views
* localize strings in a controller
* localize data annotations, error messages, displayname etc for viewmodels

[2015-10-20 14:58] hishamco commented on #124
@joeaudette the sample is shows how to use the localization APIs and how to use Culture Providers, IMHO what you ask for is cool, but it's MVC specific
your thoughts @Eilon @kirthik

[2015-10-20 15:01] joeaudette commented on #124
ok, so maybe better samples need to be added to mvc repo, though it seems more obvious to look for them here.

In any case we need more real world examples.

[2015-10-20 15:20] luchen1021 commented on #123
Thank you for your help.  I got this error when using Visual Studio 2015 IDE to debug the solution.  I used both IIS Express and web as host option.  Both had the same exception.  Can you give some more detailed steps on using command dnx web, can I debug the solution using command dnx web?  Thanks again.

[2015-10-20 15:30] Codenator81 commented on #122
@hishamco I do it in HomeController all ready)
https://github.com/WeebDo/WeebDo.CMF/blob/master/src/WeebDoCMF/Controllers/HomeController.cs#L19

[2015-10-20 15:36] Codenator81 commented on #119
@Muchiachio you need do
[code]
at the same time.
You do only for CoreUI

[2015-10-20 15:38] hishamco commented on #122
What is the value of ``` ViewBag.Trans``` when you print it out, because I don't know what is the issue in your sample

[2015-10-20 15:43] Codenator81 commented on #122
@hishamco  There everything work great. My issue is how get route segment from route template before UseMVC middleware. But I think it is not possible. I will try different approach.

[2015-10-20 15:46] hishamco commented on #123
@luchen1021 Also you will get it when you run the application from command line, but whenever you build the class library your sample will work fine.
To run your app using command line do the following steps:
1- Open your web folder which **DnxWebHost** in your case
2- Right click the mouse while holding the shift key and choose open command window here
3- Run ```dnu restore``` command to restore

[2015-10-20 15:49] hishamco commented on #124
The samples in almost the repos give the audience a quick glance to how use the APIs, sure it will not shows all the scenarios :smile:
But you can post an issue with your needs, and i'm sure the folks will help you a lot

[2015-10-20 15:52] hishamco commented on #122
Why you need it before MVC middleware?!! if that's the case i will try to look in your sample

[2015-10-20 15:55] Codenator81 commented on #122
@hishamco You are right :+1:
 I will write own middleware which going to work after UseMVC and set needed culture thread

[2015-10-20 15:58] hishamco commented on #122
All the best @Codenator81 , be free to ask if you have an issue again

[2015-10-20 16:29] Eilon commented on #124
There's an MVC localization sample here: https://github.com/aspnet/Mvc/tree/9342cb0ab78add8c527edcbc4c0988edc96f01e3/test/WebSites/LocalizationWebSite

It includes controller localization, view localization, and model localization.

[2015-10-20 16:29] #124 closed

[2015-10-20 16:30] danroth27 commented on #122
@kirthik @DamianEdwards We should look at what our guidance is for using path segments for determining the culture and maybe provide a sample on how to do it.

[2015-10-20 16:32] rustd commented on #117
https://github.com/aspnet/Templates/issues/199 is tracking this.

[2015-10-20 16:34] #117 closed

[2015-10-20 16:35] joeaudette commented on #124
Thank you so much! That sample looks like just what I was looking for. I had not looked under the test folder for samples.

[2015-10-20 16:57] hishamco commented on #122
@danroth27 i provide a simple unit test in https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNet.Localization.Tests/CustomRequestCultureProviderTest.cs#L46, also I already suggest #43, if this will help i will make a PR for that

[2015-10-20 17:55] Codenator81 commented on #122
No one middleware work after UseMVC middleware

[2015-10-20 18:04] hishamco commented on #122
@Codenator81 if what you are looking for is in culture segment in "{controller=Home}/{culture=en-US}/{action=Index}/{id?}", I will try to look to into your sample or i will write a code snippet to display the culture segment

[2015-10-20 18:07] Codenator81 commented on #122
@hishamco Yes I looking for that.

[2015-10-20 18:13] damienbod commented on #122
I think this should be an extra  default Provider like the others as this is a common use case. What do you think?

Greetings Damien

[2015-10-20 18:53] hishamco commented on #122
Ok @Codenator81 I will dig into that
@damienbod as I said before, I already suggest that in #43

[2015-10-20 19:17] hishamco commented on #122
@Codenator81 for saving time do you have a repo with the latest changes that you did?

[2015-10-20 19:32] damienbod commented on #122
@hishamco

Thanks for your answer, your PR sounds great, I was thinking more of a MVC 6 extension which would allow me to define my culture in the MVC attribute routing.

Greetings Damien

[2015-10-20 19:38] hishamco commented on #122
@damienbod IMHO while there's ```RequestCultureProvider``` is out-of-the-box it will be nice to be provider than extension

[2015-10-20 19:53] luchen1021 commented on #123
Based on sample code https://github.com/aspnet/dnx/blob/dev/misc/ResourcesTestProjects/ReadFromResources/src/ReadFromResources/Program.cs, I have to change the following line of code in generated Resources.Designer.cs by Visual Studio from

	global::System.Resources.ResourceManager temp = new global::System.Resources.ResourceManager("AspNet5Beta8LegacyLibrary.LegacyLibrary.Ext.Properties.Resources

[2015-10-20 22:25] Codenator81 commented on #122
So I do it in controller old way from MVC 5:
https://github.com/WeebDo/WeebDo.CMF/blob/master/src/WeebDoCMF/WDCore/Controllers/WDTranslationController.cs
and using
https://github.com/WeebDo/WeebDo.CMF/blob/master/src/WeebDoCMF/Controllers/HomeController.cs#L14

[2015-10-21 11:15] YZahringer commented on #39
The support of code generation for ResX is not expected?

With PublicResXFileCodeGenerator resources were named and it allowed to view errors (eg. missing resource) at compile time.

[2015-10-21 11:42] damienbod commented on #115
Ref issue now:
https://github.com/aspnet/Tooling/issues/236

[2015-10-21 13:50] leak opened #125 "How to force a certain localization?"
Tried it like suggested here: http://www.jerriepelser.com/blog/setting-thread-culture-aspnet5

Doesn't seem to be working. In my WebApi controller the CultureInfo.CurrentCulture is still set to my systems setting rather than what I configured (see below).

[code]

[2015-10-21 13:58] leak commented on #123
Same exception here. I added a non-DNX 3rd party DLL to a DNX class lib.

I cannot really follow the workaround above because I neither have any Designer files in my solution nor resources of my own (only the 3rd party lib is using resources for localization)

[2015-10-21 15:02] hishamco commented on #125
Do you have the sample in online repo?

[2015-10-21 19:54] hishamco commented on #97
@Eilon after I removed the changes for the PR #101, fetch the latest changes and upgrade dnvm to 1.0.0-beta8-15604 clr I got **Could not load type 'Microsoft.Dnx.Runtime.PlateformServices'** exception when I run the localization sample. Any idea?!!

[2015-10-22 12:02] leak commented on #125
After a bit of testing I think I solved my problem.

Turns out that I had `app.UseRequestLocalization()` and `app.UseMvc()` in the wrong order basically rendering all localization efforts useless.

While it now totally makes sense to me, I think it wouldn't be all wrong if there would be a small hint about this in any future documentation at docs.asp.net

[2015-10-22 12:02] #125 closed

[2015-10-22 14:31] joeaudette commented on #124
unfortunately when I make a copy of that sample and change it to use beta8 it does not seem to work. It does correctly select a view for a culture like Home/Index.fr.cshtml
If I set my browser language preference to fr I see the correct view but it does not seem to localize anything using the .resx files in the Resources folder. The Locpage just appears as blank which made me think it was possibly

[2015-10-22 17:50] hishamco commented on #124
What I have seen in the localization sample before if there's something wrong in the culture the ```RequestProvider``` will return ```null``` which makes the page blank. So if you have a repo for the latest modification that you made, write down the link and i will dig into that

[2015-10-22 17:56] kirthik commented on #123
Thank you for reporting this issue. This seems like something we need to look at but the issue is filed in wrong repo. I filed a new bug in DNX repo - https://github.com/aspnet/dnx/issues/3047. Closing this one.

[2015-10-22 17:56] #123 closed

[2015-10-22 17:59] joeaudette commented on #124
Thanks that would be great if you could take a look. I've just added it to a public repo here: https://github.com/joeaudette/experiments

[2015-10-23 00:04] kirthik commented on #124
Are you running your website from VS or from command line? Please run it frmo command line. Pulling localized content from resources is not supported yet from VS - https://github.com/aspnet/dnx/issues/2727

[2015-10-23 07:50] #111 closed

[2015-10-23 12:51] hishamco opened #126 "[Bug] Unable to locate Microsoft.Extensions.PlatformAbstractions"
While i'm running ```dnu restore``` I got this exception **Unable to locate Microsoft.Extensions.PlatformAbstractions**, probably this happen after this commit https://github.com/aspnet/Localization/commit/d25ad6607e0abca395a7a1fca45d5afbee5356c9
/cc @pakrym @kirthik @Eilon

[2015-10-23 13:31] joeaudette commented on #124
Thank you @kirthik! I was running it from VS 2015. I just tried running it from the command line and I see you are right it works there.
That is very helpful, I can work with that until the next tooling update.

I wonder does that issue also exist if I install the platform handler in IIS and publish/deploy it to IIS?
ie is it really VS that is the problem or is it the platform handler/IIS Express

[2015-10-23 15:28] hishamco commented on #124
@joeaudette I thought you already see the issue #117 #115, for the reason that @kirthik mentioned before. So I think there's no need to dig into your repo, problem solved :smile:

[2015-10-23 17:49] rynowak opened #127 "Add a builder API for configuring UseRequestLocalization"
This would be more inline with what we do in other places in the framework. The use the current experience you need to add 2 usings that you may not likely have in your startup code.

**Suggested**

[code]

**Current**

[code]

[2015-10-23 20:00] hishamco commented on #127
Great, that is what i wanna suggest but with little modification
[code]
IMHO Fluent API in such case is a proper option

[2015-10-23 22:20] kirthik commented on #116
Fixed with merge 636459a6f7d1753f06ddb77898f2d747c5a8af73

[2015-10-23 22:20] #116 closed

[2015-10-23 23:21] hishamco commented on #126
After I run **build.cmd** all the packages has been restored successfully, nothing but this exception is show up
![capture](https://cloud.githubusercontent.com/assets/3237266/10707039/eb03f92a-79f5-11e5-8e1f-d5e232f7dd94.JPG)
/cc @kirthik

[2015-10-23 23:30] kirthik commented on #126
You need to upgrade `dnx`

[2015-10-23 23:32] hishamco commented on #126
I already did that yesterday it's **1.0.0-beta8-15604**

[2015-10-23 23:33] hishamco commented on #126
New version show up in the list today **1.0.0-rc1-15838** i will upgrade and check now

[2015-10-23 23:36] hishamco commented on #126
@kirthik I upgrade and run ```dnu restore --no-cache``` with no luck :(, any idea

[2015-10-26 21:03] hishamco commented on #126
Still I'm stuck with this bug, any idea
/cc @Eilon

[2015-10-27 13:36] hishamco opened #133 "[Discussion] LocalizationOptions"
I'm still wondering if we really need ```ResourcesPath``` in ```LocalizationOptions```, because ```ResourcesPath``` is resx specific, although localized values can come from resx or database, json .. etc.
IMHO ```LocalizationOptions``` should provide general configurations for Localization such as DefaultCulture, SupportedCulture and so on. I find issue #127 which is may express what i mean

/cc @

[2015-10-27 16:41] danroth27 commented on #133
The `ResourcesPath` isn't intended to be resx specific - it is a path to your localized content which could be in whatever format you want. You are not required to set a `ResourcesPath` and `IStringLocalizerFactory` implementations are free to ignore it.

[2015-10-27 16:47] danroth27 commented on #126
Could you please provide:
- The output of `dnx --version`
- The output of `dnu feeds list`
- Your web command from project.json

Also, could you please try clearing out your `.dnx/packages` folder and run restore again?

[2015-10-27 16:48] hishamco commented on #133
@danroth27 I know it's not required, but seems a file-based specific, anyhow, what about the second part of ```LocalizationOptions```

[2015-10-27 16:52] hishamco commented on #126
1.0.0-rc1-15838

Feeds in use:
    https://www.nuget.org/api/v2/
      Origin: C:\Users\Hisham\AppData\Roaming\NuGet\nuget.config
    https://api.nuget.org/v3/index.json [Disabled]
      Offical NuGet Source, enabled by default

NuGet Config files in use:
    C:\Users\Hisham\AppData\Roaming\NuGet\nuget.config

Web Command "Microsoft.AspNet.Hosting --server Microsoft.AspNet.Server.WebListener --ser

[2015-10-27 17:01] hishamco commented on #126
Still I got the exception :(

[2015-10-27 17:14] Eilon commented on #126
None of those feeds have RC1 on them - where are you getting RC1 builds from?

[2015-10-27 17:17] hishamco commented on #126
@Eilon I just upgrade dnvm couple days ago, how can i fix it

[2015-10-28 07:03] hishamco commented on #122
@Codenator81 have you look to this sample https://github.com/aspnet/Mvc/tree/9342cb0ab78add8c527edcbc4c0988edc96f01e3/test/WebSites/LocalizationWebSite if you didn't get your answer, I will add a sample demo for that

[2015-10-28 08:28] Codenator81 commented on #122
@hishamco I see that example long time ago. For now it is outdated? For example app.UseCultureReplacer(); I don`t find (may be removed from code)?
I think there is good example for starters or people who moving from < MVC5.

As I wrote one comment before I looking for segment in Controller. Same people do simelar approach in filter. But for now it is not possible get segment from middleware. I thi

[2015-10-28 08:36] hishamco commented on #122
I see, but as I mentioned before issue #54 and https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNet.Localization.Tests/CustomRequestCultureProviderTest.cs#L57 do such thing without using routes, I used segments instead, probably the idea is same. I'm not sure such sample should be in localization repo or mvc?!!
/cc @Eilon

[2015-10-28 08:42] Codenator81 commented on #122
@hishamco I see all that examples. All of them great :+1:   My issue different.
I wrote before:
[code]
So I wont detect culture segment if it is at end route or at middle without rewrite code and just get that segment as I do in code there:
[code]

[2015-10-28 08:49] hishamco commented on #122
Could you please add a repo summarize your scenario without any other stuff  (MiniMVC), i already saw **WeebDoCMF** but I don't wanna miss on any other stuff :smile:

[2015-10-28 08:51] Codenator81 commented on #122
Ok I will do it. May be today evening.

[2015-10-28 11:22] jln1989 commented on #115
@damienbod @hishamco : Does any of you face the issue where we need to make the resource file designer class name as "Public" once we add a new key every time? Is this a known issue which is being tracked somewhere or am missing something from my end?

[2015-10-28 11:44] hishamco commented on #115
@jln1989 almost the time I work on Visual Code, because still there's an issue with tooling in Visual Studio

[2015-10-28 13:05] damienbod commented on #115
@jln1989
Hi yes, always, everything the resource is recreated

Greetings Damien

[2015-10-28 17:08] danroth27 commented on #133
Options like SupportedCultures are specified when you setup the localization middleware.

[2015-10-28 17:08] #133 closed

[2015-10-29 09:35] YZahringer opened #134 "DisplayAttribute not works with ResX ResourceType"
Hello,

Using the DisplayAttribute with ResourceType property does not work. ValidationAttribute types works (Required, EmailAdress, ...).

The problem is the generated code in .Designer.cs of ResX as the internal properties, the Display attribute does not accept.

[2015-10-29 10:09] hishamco commented on #134
IMHO you should make the access specifier ```public``` because the ```Designer.cs``` will make it ```internal``` whenever you change it

[2015-10-29 10:11] hishamco commented on #134
@YZahringer you can check the latest posts in this issue #115

[2015-10-29 10:22] YZahringer commented on #134
@hishamco yes, but Designer.cs is generated at each modification of ResX, I can not edit it.

The internal properties works with RequiredAttribute, this should also work with the DisplayAttribute in my opinion.

[2015-10-29 11:16] hishamco commented on #134
@YZahringer i think this a common issue have a look to the last post in issue #31, @kirthik is already assigned to that issue

[2015-10-29 11:22] YZahringer commented on #134
@hishamco Yes sorry for duplication

[2015-10-29 11:22] #134 closed

[2015-10-29 11:54] jln1989 commented on #115
@damienbod @hishamco : Thank you for the reply.

I have a question regarding how to add a new language dynamically. Assume my application currently supports en-US (which is the default resource file with designer) and fr-CH so I have two resx files now. When I build my solution I could see in the output folder has a folder fr-ch and a DLL inside it.

Let me assume that I have a solution which is r

[2015-10-29 11:56] hishamco commented on #115
@jln1989 I prefer to create a new issue while you got the answer for this issue

[2015-10-29 12:31] jln1989 opened #135 "Localization Query regarding adding a new language without compiling the solution"
I have a question regarding how to add a new language dynamically. Assume my application currently supports en-US (which is the default resource file with designer) and fr-CH so I have two resx files now. When I build my solution I could see in the output folder has a folder fr-ch and a DLL inside it.

Let me assume that I have a solution which is running now and I need to add a new language to it

[2015-10-29 12:58] hishamco commented on #135
After the new design change in #111, you should provide the list of supported cultures in localization middleware. Regarding the localization values it depends, in your case adding a new resx is required, but if you have different store such as json, database .. etc you should do something else based on your needs.
Of course you need to restart the app to initialize the middleware after newly addi

[2015-10-30 03:35] Eilon commented on #127
The builder APIs need to have verbs in them, so `AddSupportedCultures` works, but not just `SupportedCultures`.

[2015-10-30 03:36] Eilon commented on #126
@NTaylorMullen can you take a look at this? I still think this is just a DNX or package mismatch. Note that there's a linked bug https://github.com/aspnet/Mvc/issues/3407 where another person saw something similar.

[2015-10-30 07:53] jerriep opened #136 "Where in the middleware should app.UseRequestLocalization() be called?"
I have an application which uses the localization middleware. Previously I would call `app.UseRequestLocalization()` very early in the `Configure` method:

[code]

But I have written a custom `RequestCultureProvider` which read the culture from the user info. Well actually it reads it from a claim on the ClaimsPrincipal (i.e. HttpContext.User property).

Thing is however that if put the call to `a

[2015-10-30 08:08] c1rus commented on #136
I was solving same problem and i ended with this:
[code]

[2015-10-30 08:41] jerriep commented on #136
Aah yes, that should work, thanks :)

[2015-10-30 08:53] jerriep commented on #136
@c1rus It works, but there is one slight modification. You need to ensure that you set the DefaultRequestCulture to null, otherwise it will reset the culture to the whatever the culture of the current thread is that IIS Express is running under, which will override the culture that was set before, in my case by the Accept-Language HTTP header

[code]

This is the behaviour in Beta 8.

It seems tha

[2015-10-30 10:05] hishamco commented on #126
@Eilon I did whatever I can, upgrading dnvm to rc, remove .dnx entries .. ect, no way, the sample and test units won't run

[2015-10-30 10:07] c1rus commented on #136
Actually, i dont want to override the default providers with user provider. My provider priority list is this in the end:

1. QueryStringRequestCultureProvider
2. CookieRequestCultureProvider
3. AcceptLanguageHeaderRequestCultureProvider
4. UserCultureProvider

So maybe this will work better for you:
[code]

[2015-10-30 10:08] hishamco commented on #127
So something like this will be fine
[code]

[2015-10-30 10:12] hishamco commented on #136
No need @jerriep you can do something like this
[code]

[2015-10-30 10:20] jerriep commented on #136
@hishamco Yeah, that is what I am doing. Here is my startup.cs:

https://github.com/jerriep/LocalizationByUser/blob/master/src/LocalizationByUser/Startup.cs

It is working 100%. My question is however about whether the fact that the Localization middleware executes so late (i.e. **after** the call to `app.UseIdentity()`) whether that will cause strange side effects. Usually it is configured to exe

[2015-10-30 10:31] hishamco commented on #136
I'm not quite sure if there's side effect, IMHO you should use ```UseRequestLocalization``` before the middlewares that may need localization such as ```UseMvcWithDefaultRoute```

[2015-10-30 10:37] jerriep commented on #136
Yeah, the only effect now is that my error pages won't be localized. Although I am not sure whether they even support localization.

My thought was also that as long as it executes before the MVC middleware I should be OK.

[2015-10-30 10:46] hishamco commented on #136
That's what I think too :smile:

[2015-10-30 16:26] Eilon commented on #126
@hishamco everything on all the machines here is working fine, so clearly there's some difference in what feeds or configuration people are using.

[2015-10-30 16:31] danroth27 commented on #136
The only side effect is when the culture gets established. So for example if something throws an exception early in the pipeline before the culture gets established then you might get an unlocalized content in the error page depending on how you've set up your error handling logic.

[2015-10-30 16:31] #136 closed

[2015-10-30 16:32] Eilon commented on #127
@kirthik @rynowak I'd like to spend a few minutes designing this next week so we agree on the pattern.

[2015-10-30 16:40] jerriep commented on #136
Thank you for confirming the very limited possible side-effects @danroth27. I can live with that and will explain this clearly in my blog post.

[2015-10-30 16:43] hishamco commented on #126
Really I stuck @Eilon, I notice whenever I pull the latest changes from the **upstream** something should go wrong in my machine, so any idea how can I avoid this.
BTW when you mentioned issue #3407 I thought it's a common issue

[2015-10-30 17:09] NTaylorMullen commented on #126
Hey @hishamco I was able to `dnu restore` successfully.

**DNX:**
[code]

**Feeds:**
[code]

I'm not entirely sure why things are failing on your end, something may have put your machine in a bad state. Do the following and then try dnu restoring again:
- Delete your `%UserProfile%/.dnx/packages` folder
- Delete your `%LocalAppData%/dnu/cache` folder
- Remove all `project.lock.json` files in your

[2015-10-30 17:15] hishamco commented on #126
@NTaylorMullen I'm using **1.0.0-rc1-15838**, whenever i upgrade the dnvm **1.0.0-rc2-16071** doesn't show up on the list

[2015-10-30 17:26] NTaylorMullen commented on #126
@hishamco You must have an odd `dnvm` feed setup. To upgrade your DNX to development bits do the following in powershell:

[code]

The problem here is that `dnvm` uses a different feed than the ones specified in your `NuGet.config`.

[2015-10-30 17:42] hishamco commented on #126
@NTaylorMullen i upgraded the dnvm to the same version but i got this exception in sample project
![capture1](https://cloud.githubusercontent.com/assets/3237266/10853311/7f3a3b90-7f46-11e5-85ac-28cfe75b1ee4.JPG)
and this in unit test project
![capture2](https://cloud.githubusercontent.com/assets/3237266/10853320/8c5368ce-7f46-11e5-80d5-402672fb665e.JPG)

[2015-10-30 18:01] NTaylorMullen commented on #126
Did you `dnu restore`?

[2015-10-30 20:09] hishamco commented on #126
Of course

[2015-10-30 22:13] NTaylorMullen commented on #126
That's indeed odd. Could you do `$env:DNX_TRACE="1"` and then clean everything like I suggested and re-run then post the output?

[2015-10-30 23:04] hishamco commented on #126
Finally, after one week it works fine :smile: ,removing an old **KRE_HOME** key and  following the steps of @NTaylorMullen in Localization folder, it works like a charm :smile:

[2015-10-30 23:04] #126 closed

[2015-10-30 23:30] NTaylorMullen commented on #126
Awesome, glad I could help :smile:

[2015-11-02 00:41] miloush commented on #112
@hishamco `null` would be the current behavior in .NET resources fallback and there might be sensitive cases where you don't want to mix it up. I agree that fallback to the parent culture is an important feature, though, and probably provider specific (if you set the cookie, set something you don't need fallback for).

[2015-11-02 01:07] miloush commented on #43
Even most of the Microsoft's web sites use path segment for localization and I would expect it to be one of the built-in providers. It is also easier to provide links to specific localizations in that case.

On the other side I don't think the host names - especially the TLD - are good idea, as you would basically need a lookup table for most of them (.at) and there are tricky cases too (.in) ...

[2015-11-02 04:57] DamianEdwards opened #138 "Resource name is incorrect when not setting Options.ResourcesPath"
See the line at https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs#L68

If `RequestLocalizationOptions.ResourcesPath` is **not** set (the default) then this will effectively cause the application name to be appended to the beginning of the full type name, thus making it impossible to actually resolve that resource.

This m

[2015-11-02 08:38] hishamco commented on #43
@miloush the basic idea that I mentioned before is all about segements :smile: , regarding the .it, .in .. etc they are parent cultures so no need to lookup table

[2015-11-02 08:40] hishamco commented on #138
Nice catch @DamianEdwards

[2015-11-02 08:57] miloush commented on #43
@hishamco No these are not parent cultures. .it is, but you have en-IN, ta-IN, sa-IN where parent cultures are en, ta resp. sa. The same with China (parent is zh) and Arabic cultures (parent is ar) and pretty much all others where the culture neutral name differs from the culture specifier (.at .nz .cz ...). And don't forget there are cultures that differ by script (like sr-Cyrl-RS vs sr-Latn-RS).

[2015-11-02 08:59] hishamco commented on #43
anyway it's in a Backlog, and may it need a good design
thanks @miloush

[2015-11-02 13:14] XplMarcel opened #139 "Unable to use localized resources from different classlibrary"
I don't know if this is the correct approach, but i'm struggling to get resources from existing classlibraries (win) localized. My project setup is like this:

- Solution
  - Applications
   - Asp.net 5 application
    - References
      - DNX 4.6
        - MyClassLibrary.Resources.DNX
- DNX classlibraries
  - MyClassLibrary.Resources.DNX
    - project.json
[code]
- Win classlibraries
  - MyClassL

[2015-11-02 13:41] hishamco commented on #139
Can you check if the resources are ```internal```?

[2015-11-02 13:48] XplMarcel commented on #139
@hishamco they are public in the .Designer.cs
public class ExceptionStrings {
 public static global::System.Resources.ResourceManager ResourceManager {
 }
}

[2015-11-02 13:50] hishamco commented on #139
Ok, but why you need to access the ```ResourceManager``` while you can use DI and ```IStringLocalizer``` to fetch the resources?!!

[2015-11-02 14:32] XplMarcel commented on #139
Ok, I have Domain classes which are shared between a win classlibrary and dnx classlibrary.
These domain classes use FluentValidation and strongly typed resources for validation failure messages since i don't have DI available in the win classlibrary.
This (ofcourse) worked perfectly fine in MVC 5, because the resources were build to sattelite assemblies.
If i can't use strongly typed resources mi

[2015-11-02 16:11] hishamco commented on #139
I'm not sure if this belong to this repo or shall you post it in Tooling repo
your thoughts @Eilon

[2015-11-02 23:39] csunali commented on #135
@hishamco Hi, are you aware of any sample code for storing localization resource data in database? Or just any simple custom resource store, so I can figure out how to implement one for myself.

[2015-11-03 06:09] jln1989 commented on #135
Closing this as dupliicate #87

[2015-11-03 06:09] #135 closed

[2015-11-03 06:23] hishamco commented on #87
@Eilon can you check the links, seems something wrong

[2015-11-03 06:38] Eilon commented on #87
Fixed links, thanks.

[2015-11-03 07:10] hishamco commented on #105
@Eilon I created a sample that uses EF as data source can I make a PR for that or you have another strategy to do it?

[2015-11-03 07:43] hishamco commented on #105
@Kagamine regrading your points:
1- The current implementation is open, simply you can implement ```IStringLocalizer``` and ```IStringLocalizerFactory``` so the storage could be database, json .. name it
2- CultureList.cs is not there anymore after the design change in issue #111
3- Implement such a resource monitor may has side effect
4- According ```RouteRequestCultureProvider``` I already sugge

[2015-11-03 11:24] XplMarcel commented on #139
@hishamco
I think i know what the problem is.
I was looking through other issues and saw this one https://github.com/aspnet/Localization/issues/115, which is very similair to my issue.
So i did the same and ran the application in powershell (dnx web) and it worked.
So this is indeed a tooling issue where running from VS doesn't load sattelite assemblies.
Strongly typed resources are working, excep

[2015-11-03 12:13] hishamco commented on #139
Yep this is a common issue :(

[2015-11-09 07:29] Anderman opened #142 "Why is _missingManifestCache in ResourceManagerStringLocalizer"
Why is _missingManifestCache in ResourceManagerStringLocalizer. Because ResourceManagerStringLocalizer is Transient. Now it is not likely to cache anything

[code]

[2015-11-09 07:56] hishamco commented on #142
IMHO ```missingManifestCache ``` is a ```ConcurrentDictionary``` to cache the missing requested keys instead of going back and forth to the disk, asking the ```ResourceManager``` each time for a missing resources is expensive while there are nt exist at all. I think this a clear solution and that's why it's there

[2015-11-09 21:48] Anderman commented on #142
No, Now you get a new empty cache object for every request. With 2 request the disk is accessed 2 times.
This will only work If the cache was placed in the factory or the IStringLocalizer was a singleton

Maybe I use this object wrong

I used this in my home controller

[code]

[2015-11-10 01:44] Anderman opened #143 "GetAllStrings give System.ArgumentNullException"
GetAllStrings give `System.ArgumentNullException`.because `cultureResourceStream` is null

The problem seems to be in `private IList<string> GetResourceNamesForCulture(CultureInfo culture)` in `ResourceManagerStringLocalizer.cs`

[code]

If have 3 files but only Invariant can be read (`HomeController.nl-NL.resx`,`HomeController.nl.resx`, `HomeController.resx`)
The files are ok and can be read by `

[2015-11-10 05:53] hishamco commented on #143
If I'm not wrong, this is a duplicate to what @DamianEdwards is catch in issue #138

[2015-11-10 08:39] Anderman commented on #143
Hmm could be, but I think that's is not the case.

I think that .resx will be compiled to .cs files and that's why you can't have .cs file with the same name as .resx files.

I seems that rosline or DNX only compile `HomeController.resx' to HomeController.cs.

The Assembly.GetManifestResourceStream(name) will only look to the compiled version
and the ResourceManager..GetString(name) will first try

[2015-11-10 09:06] hishamco commented on #143
There's a bug, so you can't have both class and resource files with the same name

[2015-11-10 09:12] hishamco opened #144 "Issue while restoring the packages"
Two days back I faced a strange issue when I use ```dnu restore``` it takes around hour to restore the packages, many warnings and errors show up in the console, i'm not sure if there's something wrong with the feeds, I attach the final message:

Restore failed
A task was canceled.

NuGet Config files used:
    C:\Users\Hisham\AppData\Roaming\NuGet\nuget.config
    C:\Users\Hisham\Source\Repos\Loc

[2015-11-10 10:41] Anderman commented on #143
I Used GetManifestResourceNames. to lookup the .resource files. In my program I got only `DBC.My.Resources.HomeController.resources` So  I think there are two problems.

* rosline/dnx problem to generate a DBC.My.Resources.HomeController.resources.nl-NL file
* ArgumentNullException if resource file is not available

The Try Catch can be removed because `MissingManifestResourceException` isn't an e

[2015-11-10 11:02] hishamco commented on #143
Your thought @kirthik

[2015-11-11 05:55] hishamco commented on #110
Travis seems got fixed after @troydai commit https://github.com/aspnet/Localization/commit/e40f89174edada331a80cc71f9c9d5d7306aa2ee

[2015-11-11 06:12] hishamco commented on #144
I think there was a failure in the feeds after pulling the latest commits and rebase everything work as expected :)

[2015-11-11 06:12] #144 closed

[2015-11-11 06:18] troydai commented on #110
@hishamco thanks for the validation. I'll close this bug now.

[2015-11-11 06:27] hishamco commented on #110
@troydai but the AppVoyer is still :smile:

[2015-11-11 06:53] hishamco opened #147 "[Bug] Unable to locate Microsoft.Extensions.PlateformAbstractions"
I'm facing an issue after I pull the latest updates, here a screen shoot
![capture](https://cloud.githubusercontent.com/assets/3237266/11085635/bca69926-8859-11e5-9df4-854e92a5084e.JPG)
i'm not sure if it's related to #126 or it's a signing issue, I already did the usual stuff that @NTaylorMullen is suggest
/cc @Eilon @cesarbs

[2015-11-11 15:26] NTaylorMullen commented on #147
@hishamco in newer bits the DNX and its corresponding packages are strong named. Based on your error it looks like you have a mismatch between the DNX you're running and the packages you're pulling in.

Therefore, `dnvm upgrade` from the `aspnetcidev` feed and ensure that there's no `NuGet.config` conflicting with the one in this repo. If all works well you should be getting your `dnx` and your ru

[2015-11-11 15:35] hishamco commented on #147
@NTaylorMullen i have 1.0.0-rc2-16071, regarding the Localization repo, i didn't change anything in NuGet.config, just i follow the steps that you suggest before in #126. BTW how can I upgrade from ```aspnetcidev``` feed and how can I know if there's a conflict with ```NuGet.config```

[2015-11-11 15:47] NTaylorMullen commented on #147
Do `dnu feeds list`. Ensure there's just the `aspnetcidev` feed. Next you can inspect the `.lock.json` file to ensure there's no rc1 or prior packages being installed.

[2015-11-11 17:03] hishamco commented on #147
I got this
C:\Users\Hisham\Source\Repos\Localization>dnu feeds list
Feeds in use:
    https://www.nuget.org/api/v2/
      Origin: C:\Users\Hisham\AppData\Roaming\NuGet\nuget.config
    https://www.myget.org/F/aspnetcidev/api/v3/index.json
      Origin: C:\Users\Hisham\Source\Repos\Localization\.\nuget.config
    https://api.nuget.org/v3/index.json
      Origin: C:\Users\Hisham\Source\Repos\Localiz

[2015-11-11 17:27] NTaylorMullen commented on #147
Those look good. Did you look at the `project.lock.json` file?

[2015-11-11 17:38] troydai commented on #110
Hum? I passed when I made the fix. I reopen this anyway.

[2015-11-11 17:52] hishamco commented on #110
it's fifty fifty :smile:

[2015-11-11 17:57] hishamco commented on #147
There's no rc1 package in the ```project.lock.json``` for the project that I restore it

[2015-11-11 18:31] NTaylorMullen commented on #147
I'd repeat the steps I mention [here](https://github.com/aspnet/Localization/issues/126#issuecomment-152589028). I know you stated that you did but it's the only thing that could be causing your issue.

[2015-11-11 18:46] hishamco commented on #147
I already did that before, but i will do it again, but i'm not sure why such thing happen at my end?!!

[2015-11-11 23:25] kirthik commented on #110
AppVeyor build is passing - https://ci.appveyor.com/project/aspnetci/localization-r5928
@hishamco - where did you see the build fail?

[2015-11-11 23:39] Eilon opened #148 "Add functional test that runs the sample site and verifies it works"

[2015-11-12 05:43] hishamco commented on #110
Have a look to this https://ci.appveyor.com/project/aspnetci/Localization/branch/dev

[2015-11-12 05:48] hishamco commented on #147
When I restore a lot of warnings show up in  https://www.myget.org/F/aspnetcidev/api/v3/flatcontainer feed .. any idea
/cc @kirthik

[2015-11-12 06:12] NTaylorMullen commented on #147
What warnings?

[2015-11-12 06:17] hishamco commented on #147
HTTP request timed out. Retrying... which make the restoring take more time, and implies to fail
FYI the internet is very good in my side

[2015-11-12 06:21] NTaylorMullen commented on #147
It could just be myget flakeyness. I'd wait a bit and give it another go

[2015-11-12 06:22] hishamco commented on #147
thanks @NTaylorMullen for your support, i'm waiting for restoring process, it takes around hour, which is made me crazy :smile:

[2015-11-12 07:02] hishamco commented on #147
Have a look

server.kestrel/1.0.0-rc2-16011/microsoft.aspnet.server.kestrel.1.0.0-rc2-16011.nupkg
Warning: DownloadPackageAsync: https://www.nuget.org/api/v2/package/System.Reflection/4.0.10
  Error while copying content to a stream.
  GET https://www.nuget.org/api/v2/package/System.Reflection/4.0.10
Warning: DownloadPackageAsync: https://www.nuget.org/api/v2/package/System.Reflection.Primitives/4

[2015-11-12 07:03] hishamco commented on #147
Is there any issue on the feed?

[2015-11-12 19:21] kirthik commented on #110
@hishamco - the link you sent has a check in from 6 months ago. Closing this bug since AppVeyor build passes against latest check in.

[2015-11-12 19:21] #110 closed

[2015-11-12 20:43] hishamco commented on #110
Ya I know, but i'm not sure why AppVoyer build is failing in Localization repo?

[2015-11-13 12:06] hishamco commented on #147
I removed everything, even dnx runtimes expect rc2, now i'm getting the following exception
![capture](https://cloud.githubusercontent.com/assets/3237266/11145617/24a1d634-8a18-11e5-80e2-068f84654e10.JPG)

[2015-11-13 15:20] hishamco commented on #147
The restore done successfully, but still i got the same exception

[2015-11-13 18:29] Eilon commented on #147
We haven't see anyone else have this problem. Can you try reproducing this on a clean machine/VM?

[2015-11-13 19:36] hishamco commented on #147
@Eilon I don't have a clean machine/VM yet, but I will try, furthermore you mentioned a related bug before here https://github.com/aspnet/Mvc/issues/3407

[2015-11-13 20:06] Eilon commented on #147
Yes but that was 3 weeks ago due to a rename.

[2015-11-13 21:19] hishamco commented on #147
really strange even after I remove all the runtimes except the rc2 and remove everything that @NTaylorMullen suggest

[2015-11-13 21:54] hishamco commented on #147
@Eilon I used another clean machine, I install the latest bits, but i got this exception
![capture](https://cloud.githubusercontent.com/assets/3237266/11158550/fe63118e-8a69-11e5-9409-a735aee848d4.PNG)
BTW I saw the same exception after I delete all the runtimes, but it the first exception show up after i upgrade the ```dnvm```

[2015-11-15 23:08] NTaylorMullen commented on #147
@hishamco Can you provide an application that reproduces this?

[2015-11-16 07:32] hishamco commented on #147
I push the latest code in my repo https://github.com/hishamco/Localization
thanks @NTaylorMullen

[2015-11-16 21:01] hishamco commented on #147
Thanks @Anderman

[2015-11-16 21:07] hishamco commented on #105
@Kagamine I made a PR #149 to use EntityFramework as localization source, hopefully you will get the idea how to use  ```IStringLocalizer``` & ```IStringLocalizerFactory``` without changing the core APIs

[2015-11-16 21:13] hishamco commented on #66
@Bartmax  @c1rus this PR #149 may let you interest

[2015-11-16 23:23] Kagamine commented on #105
@hishamco Please do not at me anymore, I just want to listen to the official replies. Thanks.

[2015-11-16 23:28] hishamco commented on #105
Sorry, but the latest two posts answers what you asking for?!!

[2015-11-16 23:35] Kagamine commented on #105
I don't care about this anymore. I have not used the Localization package which released by Microsoft.

[2015-11-16 23:38] hishamco commented on #105
Strange if you don't care why you the post the issue

[2015-11-18 19:19] damienbod opened #150 "Localization no longer works after updating to rc1"
https://github.com/damienbod/AspNet5Localization

Greetings Damien

[2015-11-18 19:39] hishamco commented on #150
It works fine .. what's the issue you are facing?

[2015-11-18 19:58] damienbod commented on #150
Does not localize the string anymore, console, or in VS

Result is Name (key) instead of for example name it-CH

Greetings Damien

[2015-11-18 20:27] hishamco commented on #150
I'll check your source later

[2015-11-18 20:27] damienbod commented on #150
Thanks

[2015-11-18 20:29] hishamco commented on #150
Can you let me know which dnx version you are using?

[2015-11-18 20:52] damienbod commented on #150
1.0.0-rc1-final clr x86 win

Greetings Damien

[2015-11-18 22:16] hishamco commented on #150
Why you didn't switch to rc2, because I faced another issue in previous versions have a look #147

[2015-11-19 07:40] damienbod commented on #150
Hi @hishamco
Thanks for your reply.

I used rc1 because it was released yesterday. Are you saying rc1 has a problem?

Greetings Damien

[2015-11-19 16:45] hishamco commented on #150
@damienbod I run the localization sample, and it works fine, are you sure there's no missing piece in your app?

[2015-11-19 17:12] danroth27 commented on #150
@ryanbrandenburg Can you please take a look?

[2015-11-19 19:56] damienbod commented on #150
@hishamco, not that I know of.

The following URL is no longer localized since the update to rc1

http://localhost:5000/api/about?culture=it-CH

DataAnnotations localization still works.

All I did was update the project.json, changed the Startup.cs with the breaking changes. You can see this in the history. If I downgrade to beta8, it works.

I also tried upgrading to rc2 with no success. Tested

[2015-11-19 20:30] hishamco commented on #150
Now I will clone the repo and test it

[2015-11-20 04:14] hishamco commented on #150
Seems it doesn't work as expected, can you let me know the latest dnx version where you got the right result?

[2015-11-20 05:33] damienbod commented on #150
Hi @hishamco

Version 1.0.0-beta8 works as expected. Got it from NuGet (released version)

Greetings Damien

[2015-11-20 13:22] hishamco commented on #150
I'm not sure if the issue is cause by #138, but seems @ryanbrandenburg will investigate into this

[2015-11-21 09:01] Muchiachio opened #151 "Localization through resources (.resx)"
It's already rc1, and after a year I'm still unable to get .resx files working :disappointed:
Something simple like this
[code]
[code]
I'm not using any localization packages, because I don't think they are necessary especially in console applications. I even tried
[code]
which still doesn't work, I don't get it :confused:

[2015-11-21 11:23] hishamco commented on #151
Do you have the example in a repo?

[2015-11-21 11:33] Muchiachio commented on #151
[Here's a repo](https://github.com/Muchiachio/LocalKonkole).
I'm using rc1-final dnx.

[2015-11-21 11:42] hishamco commented on #151
Let me have a quick look ..

[2015-11-21 11:45] hishamco commented on #151
It works fine, it shows **Présent**

[2015-11-21 11:47] Muchiachio commented on #151
Interesting, does that mean that my installation is bad? I did updates from beta5 to rc1.

[2015-11-21 11:49] hishamco commented on #151
![capture](https://cloud.githubusercontent.com/assets/3237266/11318334/fce54d9a-905e-11e5-93ed-95f0d1ce22f1.JPG)

[2015-11-21 11:52] Muchiachio commented on #151
Hehe, you are cheating I run from VS.
It works from command line for me too :o

[2015-11-21 11:58] Muchiachio commented on #151
This seems to be tracked in a tooling repo already, back to the cave until rc2 hype ;x

[2015-11-21 11:58] #151 closed

[2015-11-21 15:32] Thetyne commented on #150
Reproduce in rc1 with https://github.com/damienbod/AspNet5Localization, my own test and https://github.com/aspnet/Localization/tree/dev/samples/LocalizationSample.
i test later with a IStringLocalizerFactory.

[2015-11-21 15:33] hishamco commented on #151
I'm not cheating :smile: , if you mentioned before you are ran it in VS, I will tell you, that you should follow the repo tooling

[2015-11-21 15:37] hishamco commented on #150
Even I it doesn't localize anything, but localization sample works fine, i'm not sure if this related to #138 as I mentioned before or there's a bug in mvc localization

[2015-11-21 15:45] Thetyne commented on #150
in beta8, culture and uiculture is correct
- when i debug in vs 2015 it's don't change resx file with culture.
- when i use dnx web command, it's ok.

In rc1 no resx found when i use IStringLocalizer and HtmlLocalizer.
you can see this problem inside my web stream : https://www.livecoding.tv/video/frbodibuilding-report-website-mobile-app-2/

[2015-11-21 16:47] hishamco commented on #148
@Eilon the functional test is ready shall I make a PR? but I have one doubt, comparing response result looks weird because the previous functional test that done by @kirthik doesn't have much html content.
Any idea
/cc @kirthik

[2015-11-24 00:01] ryanbrandenburg commented on #150
There are a couple things happening here. One is that the convention you're using doesn’t work well with IHtmlLocalizer. Check out https://github.com/aspnet/Mvc/tree/dev/test/WebSites/LocalizationWebSite for an example of the new way. Basically now instead of having "IHtmlLocalizer<AmazingResource>" You want to do "IHtmlLocalizer<AboutController>" and have your resource as "AspNet5Localization.Con

[2015-11-24 06:19] hishamco commented on #150
@ryanbrandenburg you are right that's the pattern that we should follow, but if the resource file resident with that same place of the controller issue #138 will happen

[2015-11-24 07:34] damienbod commented on #150
Hi @ryanbrandenburg

Thanks for your answers.

So you’re saying if you want to use the new localization, you have to name the resource like the controller with this magic string.

Not very nice, or developer friendly.

I then need to have one resx per controller. So for an application with a 100 controllers and 3 languages I would have 300 resource files.

This would be a nightmare.

Your recommen

[2015-11-24 08:32] c1rus commented on #66
Hmm, but you are not using DI to inject ```DbContext```... And you store instance of ```DbContext``` in singleton, should it not be disposed?

I solved it by changing ```IStringLocalizerFactory``` to be scoped instead of singleton.

[2015-11-24 08:43] hishamco commented on #66
I inject it before i made the PR, but to make the sample simplistic i used ```IStringLocalizerFactory``` as singleton

[2015-11-24 15:01] joeaudette commented on #150
@damienbod wrote "I then need to have one resx per controller. So for an application with a 100 controllers and 3 languages I would have 300 resource files."

I have found that I can create an empty class in my web app, say I name it LocalizationWebSite.Components.SharedResources.cs
This class has no properties or methods.
Then take a dependency of

    IHtmlLocalizer<SharedResources>

in my contr

[2015-11-24 17:15] joeaudette opened #152 "How To Localize Controller that lives in a class library?"
I have this modified version of LocalizationWebSite

https://github.com/joeaudette/experiments

I can localize the HomeController with

    IHtmlLocalizer<HomeController> localizer

because it lives in the main webapp and the resx file is

     /Resources/LocalizationWebSite.Controllers.HomeController.fr.resx

The example solution also has a class library with a FooController.cs

I use

    IHtmlL

[2015-11-24 20:49] ryanbrandenburg commented on #150
@damienbod, @joeaudette 's suggestion should work for re-using the resource.

As for using the default value as the key, you should be able to use the old style of key selection, just know that if it doesn't find a resource for the given key and culture it will default to using the key given. So if your key was "greeting" and you didn't have that set for fr-CH your page would show "greeting".

@jo

[2015-11-24 20:49] #150 closed

[2015-11-24 21:15] damienbod commented on #150
Hi @ryanbrandenburg

Thanks for your answer. It should be possible to use a Shared resource without having to create an empty class. Hopefully this is not the recommended way to use shared resources.

This is not a good solution, but as least it works. So if I create ten shared resources, I need ten emtpy classes in the project to use the resx.

@joeaudette Thanks for the workaround.

As a develop

[2015-11-24 23:05] ryanbrandenburg commented on #150
It is also an option to implement your own IStringLocalizerFactory and/or IStringLocalizer with your expected behavior.

[2015-11-25 13:50] joeaudette commented on #150
I've opened a [new issue here about the problem localizing controllers that live in a classlibrary](https://github.com/aspnet/Localization/issues/152)

[2015-11-26 03:48] JoeOM opened #153 "Decouple StringLocalizer / HtmlLocalizer from types to make Shared Resources possible"
Hi

I had localization working perfectly with beta8 but in RC1 it is not working.

I have two resource files under Resources folder:

1. Example.Resources.Example.Startup.en-AU.resx
2. Example.Resources.Example.Startup.zh-CHS.resx

I also have the following resource related configured in Startup:

[code]

I only use `IStringLocalizer<Startup>` injected into my views / controllers but it just show

[2015-11-26 05:12] damienbod commented on #153
I agree with Joe.

This should be fixed. A good solution for shared resources is required.

Greetings Damien

[2015-11-26 18:19] Thetyne commented on #150
@ryanbrandenburg thanks for reply.

I have implement IStringLocalizerFactory and IStringLocalizer for read json file and it's work perfectly.

[2015-11-26 20:32] joeaudette commented on #152
I managed to determine the cause and a solution to this problem, but I'm reluctant to propose it as a fix  or make a pull request because I don't fully understand the design goals and no-one has commented so far to indicate if this is considered a bug or whether this is expected behavior and some other solution should be used for localizing controllers that live in a class library.

I've updated m

[2015-11-28 22:46] boyarincev commented on #153
I encountered this problem too in my application.
I've tried to check [LocalizationWebSite](https://github.com/aspnet/Mvc/tree/dev/test/WebSites/LocalizationWebSite) and getting localized string from Resource Manager don't work too there.

As JoeOM noticed if use resources without specifying culture in the name, then all work fine.

[2015-11-29 16:39] jmurkoth commented on #150
@joeaudette  @damienbod  .. Ran into the same issue as you did and the work around of using an empty class doesn't seem to work when you are using Data annotation to drive model validation in the view
I took @damienbod 's example and added a view to illustrate the problem. Code is available here
https://github.com/jmurkoth/LocalizationIssue .
Get the following error
System.InvalidOperationExceptio

[2015-11-30 23:44] ryanbrandenburg commented on #153
@JoeOM and @boyarincev, it sounds like you may be running into [DNX 3047](https://github.com/aspnet/dnx/issues/3047), whereby Resources aren't available if you launch your app from VS. Could you try running your sites from the command line with "dnx web" and let me know if you still have trouble?

[2015-12-01 00:04] ryanbrandenburg commented on #150
@jmurkoth it looks like you're using the "Old" style of Resource selection [with 'ErrorMessageResourceType'](https://github.com/jmurkoth/LocalizationIssue/blob/master/src/AspNet5Localization/Model/Box.cs#L14). You're perfectly welcome to do that, but it won't go through the new system which all the Empty class stuff above is intended to work with. If you want to use "ErrorMessageResourceType" you'

[2015-12-01 03:03] JoeOM commented on #153
Hi Ryan

It is correct, I am starting the app from within Visual Studio which is how most people in development would start their site. It is therefore crucial for it to work, so this is a bug and need to be fixed. It seems to be due to DNX 3047 which was raised before RC1, so why RC1 has gone out without this working is another question.

To be honest, localization does not work well. It is in di

[2015-12-01 03:21] noeljiangcc opened #154 "How to get the resource from the satellite assembly of class library"
I have an ASP.NET 5 class library:

[code]

Then create an ASPNET5App which use the ASPNET5ClassLibrary nupkg as the dependency.
Set the Culture and UI Culture to ja by adding below code in Startup.Configure:
app.UseRequestLocalization(new RequestCulture("ja", "ja"));
Then get the Test.Msg in the View. The Msg always returns the resource from Resource.resx, not the ja one.

How can I get the resou

[2015-12-01 07:34] boyarincev commented on #153
By launching from command line, all works fine

[2015-12-01 07:45] damienbod commented on #153
@JoeOM @ryanbrandenburg @boyarincev  I just can a global issue for this, my you could give your views here

https://github.com/aspnet/Home/issues/1142

Greetings Damien

[2015-12-01 07:47] damienbod commented on #150
@joeaudette @hishamco @danroth27 @Thetyne @jmurkoth  I've just created a global issue for this, my you could give your views here

https://github.com/aspnet/Home/issues/1142

Greetings Damien

[2015-12-01 23:40] Eilon commented on #154
You generally don't access the resources of one project from another project. The class library project needs to expose some functionality that uses its own resources (e.g. for exceptions, data annotations, etc.).

[2015-12-01 23:43] Eilon commented on #153
This is indeed the issue that @ryanbrandenburg pointed out. It is in the process of being fixed, but the fix is complex and involves rewriting large parts of DNX.

[2015-12-01 23:48] Eilon commented on #152
You generally don't access the resources of one project from another project. String resources and localization are an implementation detail of a library. Only libraries that build in a notion of getting resources from other locations would support such behavior, but that is very rare. BTW this is how localization of apps in .NET has always worked.

One example of a library that supports localizin

[2015-12-01 23:48] #152 closed

[2015-12-01 23:54] Eilon commented on #143
@ryanbrandenburg can you try to reproduce this issue?

@Anderman if you can upload your app to GitHub to show this issue that would also be helpful. Thanks!

[2015-12-01 23:55] JoeOM commented on #153
Eilon, does it mean that the issue around shared resources not being possible without funny magic is also in the process of being fixed?

[2015-12-02 00:09] Eilon commented on #139
Yup, sorry about that, this is a known issue that is being fixed in DNX.

[2015-12-02 00:09] #139 closed

[2015-12-02 00:45] joeaudette commented on #152
Thanks @Eilon that seems reasonable that ResourceManagerStringLocalizerFactory will not pass in the assembly of the web app to ResourceManager therefore ResourceManager will not look for the resx file for a class library type in the resource folder configured for the web app.

But then if my controller FooController lives in a class library and it takes a dependency on

    IHtmlLocalizer<FooContr

[2015-12-02 01:12] noeljiangcc commented on #154
@Eilon Sorry. My description was wrong. And I have updated.

[2015-12-02 02:19] Eilon opened #156 "Change ConcurrentDictionary in ResourceManagerStringLocalizer to a regular dictionary"
See: https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.cs#L21-L22

This code uses a `ConcurrentDictionary` even though the code is run on a single thread. It was once part of some static caching system, but that is long since gone, so it can safely be changed to a regular dictionary.

This was found while looking at https://github.

[2015-12-02 02:19] Eilon commented on #142
@Anderman we took a look at this issue and we believe there's no bug here because the code is always run on a single thread anyway. But this did reveal that there's no need to use a ConcurrentDictionary at all here, so we'll change that to a regular dictionary in https://github.com/aspnet/Localization/issues/156.

Thanks!

[2015-12-02 02:19] #142 closed

[2015-12-02 07:31] Eilon commented on #154
@noeljiangcc sorry I can't see what was changed. Can you clarify what the scenario is?

[2015-12-02 07:34] Eilon commented on #152
For a class library the resx files are "source files" - they are used only at compile time and never at runtime. The data in the resx files will be embedded into satellite DLLs and then ResourceManager is used to load the resources from there. The ResourceManagerStringLocalizer can pull resources from these DLLs and use them in the app.

@DamianEdwards is working on updating his sample app to use

[2015-12-02 07:39] Eilon commented on #153
Sorry I'm not sure exactly what "shared resources across files types" means. In general common resources would be in their own resource set, which is identifiable via some name. And they can be shared amongst many components. And then each component would likely have its own resource set as well.

Can you share more info about what you tried, what the expectations were, and what didn't work?

[2015-12-02 08:46] noeljiangcc commented on #154
Here is detail steps:
1. Define a Test class in an asp.net 5 class library, its implementation is:
Public Test Class{
public string Msg{ get{ return Resource.ResourceManager.GetString("Msg"); } }
}
And there are also files of the resources:
--Resource.resx
--Resource.Designer.cs
--Resource.ja.resx

2.Then add the class library as the dependencies of an asp.net 5 web app.

3. Create a Test instance

[2015-12-02 11:41] martinba1 opened #157 "Append ApplicationName and RelativePath doesn't make sense for types from class library in ResourceManagerStringLocalizerFactory"
See:
https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs#L72

It is useful to append _applicationEnvironment.ApplicationName, _resourcesRelativePath to baseName only for types from the main application assembly. It makes impossible to use this factory for resources shared in class library assemblies.

[2015-12-02 15:40] Anderman commented on #143
Ok I found 3 different issue's with the localizer. Should I create 2 other issue?
This one is the has the problem with the
Get
`var cultureResourceStream = _resourceAssemblyWrapper.GetManifestResourceStream(resourceStreamName)`

The `resourceStreamName` has the name of something like
`localize.Resources.localize.Controllers.HomeController.nl-NL.resources`

But if I check with `Assembly.GetManifest

[2015-12-02 15:49] joeaudette commented on #152
Ok, that is how I thought it should work but it does not work and I think https://github.com/aspnet/Localization/issues/157 is why it doesn't work. I was going to point that out but @martinba1 beat me to it.

[2015-12-02 15:54] Anderman commented on #143
I added bug 4 to the example about a wrong exception the is swallowed in `GetResourceNamesFromCultureHierarchy`

[2015-12-02 23:19] dougbu opened #158 "Remove unused `Name` and `ResourceNotFound` from `LocalizedString`"
Suggest we do this instead of #53.

See similar aspnet/Mvc#3681 issue.

[2015-12-03 01:50] JoeOM commented on #153
Hi Eilon

I was writing in context of above comments. I was referring to the issue of having to declare or use a class type to use resources. What you were describing as shared resources would be nice if it was possible by default currently in ASP.Net 5 Localization. It unfortunately is not since there is no way of passing the base name (name without culture specific details) of the resx file to t

[2015-12-03 02:52] dougbu opened #159 "Perf: Reduce number of `AssemblyName`s allocated in even minimal scenarios"
In a conversation in aspnet/Mvc#3661, we discussed 2.8 ~~GB~~ MB of `AssemblyName`s allocated over 3000 requests with a small view containing just two uses of a `ViewLocalizer`. Need to dive deeper into this.

[Details](https://github.com/aspnet/Mvc/pull/3661#issuecomment-161429284):
Most of the allocations are internal to `ResourceManager` and trace back through `Microsoft.Extensions.Localization

[2015-12-03 04:34] rynowak commented on #159
That would be **mb** not **gb**

[2015-12-03 04:34] rynowak commented on #159
IIRC in the context of the site being tested the `AssemblyName`s were still above 1% of the allocations right?

[2015-12-03 04:52] dougbu commented on #159
Just a touch over 1.5% of the total allocations in the scenario.

[2015-12-03 23:00] Eilon commented on #154
Re-opening so the team can review in the next bug review meeting (next week).

[2015-12-03 23:00] Eilon commented on #153
Re-opening so the team can review in the next bug review meeting (next week).

[2015-12-03 23:17] JoeOM commented on #153
:-)

[2015-12-07 07:33] hishamco commented on #148
Your thoughts @Eilon?

[2015-12-07 23:16] DamianEdwards commented on #156
So it turns out that this member **really** needs to be on the factory, as the performance once a page is localized right now is absolutely terrible (like, >6s to load the page). Making this cache global returns it to sane numbers after the initial render (<20ms).

[2015-12-08 01:06] ryanbrandenburg commented on #156
So @DamianEdwards you're saying that part of making that cache a singleton will be that this has to stay a ConcurrentDictionary and therefore this bug is obsolete?

[2015-12-08 01:17] Eilon commented on #156
@ryanbrandenburg I'm guessing the cache is just in the wrong place, maybe? As in, instead of being on the localizer, which is transient (so caching is almost useless), the cache needs to move to the factory, which is a singleton.

[2015-12-08 01:21] DamianEdwards commented on #156
Yeah I have a prototype, I'll send a PR.

[2015-12-08 06:24] DamianEdwards commented on #156
Fixed in 96462b9528da1b01d5f1759f28e49f2fb7cb2d7d

[2015-12-08 06:24] #156 closed

[2015-12-08 21:04] DamianEdwards commented on #159
This should be run again after 96462b9528da1b01d5f1759f28e49f2fb7cb2d7d

[2015-12-08 21:10] DamianEdwards opened #162 "Cold performance of ResourceManagerStringLocalizer is atrocious"
Consider a localized version of the home page in the standard ASP.NET starter web template. You get around 50 localized strings. This results in 50 calls to `ResourceManager.GetString` that will throw `MissingManifestResourceException` when using the base language (i.e. one that doesn't have a specific culture assembly). That takes about 6 seconds. The next call is super fast as everything is then

[2015-12-09 13:27] lurumad opened #163 "Examples doesn´t work with 1.0.0-RC1-update1"
I've downloaded localization examples and running on my machine. When I try to change culture and uiculture from combos and click on "go QS" or "go cookie" buttons the **Hello** text doesn't translate to the selected language. StringLocalizer said that resource can not found.

Regards!

[2015-12-09 13:56] #163 closed

[2015-12-09 14:03] hishamco commented on #163
@lurumad I see you are closed the issue, are you still facing the issue or not

[2015-12-09 15:22] lurumad commented on #163
Hi, I've seen another thread with teh same issue https://github.com/aspnet/Localization/issues/153

For this reason I've closed this issue. It was my fault sorry ;)

[2015-12-09 15:42] hishamco commented on #163
I see, please follow up that issue ..

[2015-12-10 01:28] DamianEdwards opened #164 "Improve usability of the request localization middleware"
- [x] Remove the `defaultRequestCulture` parameter from `IApplicationBuilder.UseRequestLocalization` and make it a property on `RequestLocalizationOptions` instead
- [x] Have just a single overload for `IApplicationBuilder.UseRequestLocalization` that takes the options

[2015-12-10 01:36] DamianEdwards opened #165 "Make the RequestLocalizationMiddleware support derivative cultures"
If an application is configured to support the culture "fr", but **not** "fr-FR", then a request stating it is "fr-FR" should result in it being assigned the culture "fr", as "fr-FR" is a derivative of "fr".

This applies equally to format culture and UI culture.

This behavior should be **on** by default, and controlled by a new boolean property, `RequestLocalizationOptions.FallbackToAncestorCult

[2015-12-10 01:45] DamianEdwards opened #166 "Add GetString to IStringLocalizer"
Will do the same thing as the indexer, but will allow `IHtmlLocalizer` to also have a `GetString` that acts the same way (no HTML encoding) so the APIs have a nice symmetry and thus are easier to use.

[2015-12-10 01:46] DamianEdwards opened #167 "ResourceManagerStringLocalizerFactory should look for resource name without the application name prefix on the type name when Resources path is set"
When `LocalizationOptions.ResourcesPath` is set, make `ResourceManagerStringLocalizerFactory` use a resource location without the application name prefix.

e.g. where `location` is `MyApp.Controllers.HomeController` and `LocalizationOptions.ResourcesPath` is "Resources", `ResourceManagerStringLocalizerFactory` would look for a resource with base name "MyApp.Resources.Controllers.HomeController".

[2015-12-11 22:11] ryanbrandenburg commented on #138
@DamianEdwards it appears that the current behavior when there's no ResourcePath is to find the resource in the root of the project, I assume we're OK loosing that functionality?

[2015-12-11 22:47] DamianEdwards commented on #138
No it doesn't. It ends up looking for a resource named "MyApplication..MyApplication.Full.TypeName". It's impossible to create a resource with that name, and the resource creation is non-configurable; it just gets named based on the name and path of the resx file in the project.

[2015-12-11 23:28] #164 closed

[2015-12-11 23:58] ryanbrandenburg commented on #138
@DamianEdwards that's my bad, for some reason my VS was running an old version of a project when I had saved changes to it which got me confused.

[2015-12-12 19:17] hishamco commented on #165
I think this is a duplicate for issue #112

[2015-12-12 19:21] DamianEdwards commented on #165
Yep, it is.

[2015-12-13 19:52] hishamco opened #171 "[Bug] Unable to run Microsoft.Extensions.Localization.Tests"

[2015-12-15 04:52] DamianEdwards commented on #153
You absolutely can get a resource of any name you like by using the `IStringLocalizerFactory` type directly. The `IStringLocalizer<T>` is simply a convenience type that is opinionated about where it looks for resources (namely, it uses the name of the type `T`). Same applies for `IHtmlLocalizerFactory` and `IHtmlLocalizer<T>`. Also, `IViewLocalizer` is similar to the "`T`" types in that it's simpl

[2015-12-15 04:52] #153 closed

[2015-12-15 04:54] DamianEdwards commented on #171
![image](https://cloud.githubusercontent.com/assets/249088/11802367/bf9bc0ba-a2a4-11e5-894c-119c9606f946.png)

And on the CI: https://travis-ci.org/aspnet/Localization

You'll need to provide more detail.

[2015-12-15 04:54] #171 closed

[2015-12-15 05:04] JoeOM commented on #153
Brilliant, thank you!!

[2015-12-15 12:20] hishamco commented on #171
What it made me crazy that it runs well on the CI, have a look to the exception
![capture](https://cloud.githubusercontent.com/assets/3237266/11810445/3ce336da-a33f-11e5-8171-0d40cf2e6b95.JPG)
```IOptionsMonitor<>``` not found, because there's no reference in the project.json

[2015-12-15 16:34] DamianEdwards commented on #171
can you try `git clean -xdf` in the repo root then run `build.cmd`

[2015-12-15 17:33] hishamco commented on #171
It works :smile:
thanks

[2015-12-15 23:41] DamianEdwards commented on #138
Turns out we didn't catch the other case that needs to be updated to: https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs#L98

[2015-12-16 16:04] cspaniard opened #175 "Custom Data Annotation String Localizer / Extend asp-validation-for"
Hello,

I hope this is the right place, I followed samples and comments posted here and I was able to quickly write a proof of concept on a custom FileStringLocalizerFactory and FileStringLocalizer and register them in services at startup and DI working great.

So far so good... The problem I am facing is that tag-helpers like `asp-validation-for` use data annotations info on the model which kind

[2015-12-16 16:11] hishamco commented on #175
I think this a duplicate to an old issue #31

[2015-12-16 16:40] cspaniard commented on #175
I am sorry for dup... to tell you the truth trying to follow the thread is rather diffcult since info is somewhat broken down... ;)

Either way, I hope it can be resolved.

After reading issue #31, adding another parameter to the tag help passing the provider instance injected into the view, maybe is not a bad idea.

[2015-12-16 18:16] hishamco commented on #175
If the you have such suggestion in the tag helper, i think you should post it in the MVC repo

[2015-12-16 20:38] DamianEdwards commented on #165
Going to make this depth-first instead so re-opening.

[2015-12-16 21:09] #165 closed

[2015-12-16 21:09] DamianEdwards commented on #112
Going to make this depth-first instead so re-opening.

[2015-12-16 23:42] #167 closed

[2015-12-17 00:15] #112 closed

[2015-12-17 01:10] DamianEdwards commented on #166
This already exists as an extension method :confused:

[2015-12-17 01:10] #166 closed

[2015-12-17 14:07] cspaniard commented on #175
I don't know enough about the insides of the architecture to make a call on what is the right way... I mentioned here a couple a couple of ideas since we are talking about localization. If indeed people think it is an ok thing to do, (which I dont know), then I can try to write something better in the MVC repo.

I do apologize if I dont do things completely right, I am very new to all this.
I appr

[2015-12-17 23:53] ryanbrandenburg commented on #138
@DamianEdwards it looks like that case is taken care of by the "rootPath = location ?? _applicationEnvironment" above, right? The functional tests actually exercise this function and seem to get an acceptable baseName.

[2015-12-18 20:10] DamianEdwards commented on #138
Yeah you're right.

[2015-12-18 20:10] #138 closed

[2015-12-19 03:59] hishamco opened #183 "[Bug] Reacting to new Hosting API makes CI Tests fails"
After the last commit that react to Hosting APIs, seems AppVoyer & Travis fails in all the repos that this commit applied to

/cc @DamianEdwards @JunTaoLuo

[2015-12-19 04:05] JunTaoLuo commented on #183
The updated packages have not been pushed to aspnetcidev. You can use the aspnetvolatiledev feed instead to get the newest packages.

[2015-12-19 04:39] hishamco commented on #183
I see, thanks @JunTaoLuo

[2015-12-19 04:39] #183 closed

[2015-12-21 20:38] ryanbrandenburg commented on #143
@Anderman yes, please create separate issues for other bugs, as having multiple bugs on one issue leads to a lot of confusion.

Does #184 address this original bug here? If not please give me an example which addresses only that issue, explaining the input, expected output and actual result.

[2015-12-21 23:42] Anderman commented on #143
Yes, Fix 184 looks good to me. I will create 3 other issues

[2015-12-21 23:51] Anderman opened #185 "Resource file are case sensitive or wrong resource name is generated"
I created this [repository](https://github.com/Anderman/Issue143) with 4 bugs
The resource search for is
`localize.Resources.localize.Controllers.HomeController.resources`
But if I check with Assembly.GetManifestResourceNames() only
`localize.Resources.Localize.Controllers.HomeController.resources`
is available
see case problem in
localize
Localize

[2015-12-21 23:55] Anderman opened #186 "specific and neutral Resource files are missing"
I created this [repository](https://github.com/Anderman/Issue143) with 4 bugs
In this repsotiory are 3 .resx files

Only one is available in the application
 check with `Assembly.GetManifestResourceNames()` only
`localize.Resources.Localize.Controllers.HomeController.resources` is available

[2015-12-21 23:59] Anderman opened #187 "Resource ResourceNotFound should be true if resource if not found in withCulture"
I created this [repository](https://github.com/Anderman/Issue143) with 4 bugs

            Console.WriteLine(T.WithCulture(new CultureInfo("nl-NL"))["test"] + ":" + T["test"].ResourceNotFound.ToString() + "should be true!!!");

[2015-12-22 22:05] DamianEdwards opened #188 "Add extension method for appending cookie read by CookieRequestCultureProvider"
Currently, in order to emit a cookie that will be successfully parsed and used by the `CookieRequestCultureProvider`, code like the following is required:

[code]

There should be a helper extension method to make this much easier, without having to have knowledge of the format of the cookie value, e.g.:
[code]

[2015-12-23 02:47] hishamco commented on #188
Why we didn't use ```CookieRequestCultureProvider.MakeCookieValue``` to construct the cookie value, without adding more extension methods
The code may look like this
[code]

[2015-12-23 05:38] DamianEdwards commented on #188
@hishamco because I totally forgot I added that method :confused:

[2015-12-23 05:38] #188 closed

[2015-12-23 05:46] DamianEdwards commented on #148
Appears to have been done https://github.com/aspnet/Localization/tree/dev/test/Microsoft.AspNet.Localization.FunctionalTests

[2015-12-23 05:48] DamianEdwards commented on #31
This is tracked in aspnet/Mvc#3518 as it needs to be implemented in MVC, not here.

[2015-12-23 05:48] #31 closed

[2015-12-23 05:49] DamianEdwards commented on #53
Going to keep this the way it is.

[2015-12-23 05:49] #53 closed

[2015-12-23 05:52] hishamco commented on #148
This meant to test the Localization Sample that's in the sample folder not the LocalizationWebsite that done by @kirthik
@Eilon correct me if i'm wrong

[2015-12-23 05:57] #105 closed

[2015-12-23 06:06] DamianEdwards commented on #127
Just going to change this to use the options setter delegate pattern instead, e.g.:
[code]

[2015-12-23 06:07] #143 closed

[2015-12-23 06:14] hishamco commented on #127
Sound fine too, but how we can pass the cultures as list of string while the ```SupportedCultures``` is of type ```IList<CultureInfo>``` in https://github.com/aspnet/Localization/blob/b041a07652e17baa335970499ffe721454090837/src/Microsoft.AspNet.Localization/RequestLocalizationOptions.cs#L91

[2015-12-23 06:15] DamianEdwards commented on #148
Ah yes, you're right.

[2015-12-23 06:17] DamianEdwards commented on #127
You'll just write the correct code :smile:
[code]

[2015-12-23 06:17] hishamco commented on #148
This functional test is ready shall I make a PR? but I have one doubt, comparing response result looks weird because the previous functional test that done by @kirthik doesn't have much html content.

Your suggestion

[2015-12-23 06:18] DamianEdwards commented on #148
I suggest you send the PR and we'll look at it there.

[2015-12-23 06:20] hishamco commented on #127
I though the idea is to rid off ```CultureInfo``` and ```RequestCulture``` as the idea began in this issue :smile: and seems is a PR #189 is made to fix this

[2015-12-23 06:23] hishamco commented on #148
Sure, but i think it's bad idea to compare the html code of sample because it's too big, and if someone add space only it 'll break, I hope you understand what I mean

[2015-12-23 06:35] hishamco commented on #148
I think it's fine to compare if piece of code from the sample is localized instead of compare the entire web page

[2015-12-23 06:39] DamianEdwards commented on #127
Yeah we made a decision to standardize on the options setter delegate pattern throughout the code base.

I don't think we have an example of a builder API anywhere else for middleware options, but we certainly have it for services options. I can see why this would be nice in order to avoid the namespace imports.

Some examples to consider:
[code]

[2015-12-23 06:41] DamianEdwards commented on #148
Yeah I'd just ensure a pertinent part of the page is rendered correctly for at least two different cultures (similar to what I did in the functional test addition in aspnet/Entropy#83).

[2015-12-23 06:42] DamianEdwards commented on #158
Going to stick with what we have.

[2015-12-23 06:42] #158 closed

[2015-12-23 06:43] DamianEdwards commented on #175
This is being covered in the aspnet/MVC#3518

[2015-12-23 06:43] #175 closed

[2015-12-23 06:43] hishamco commented on #148
I was looking to the sample that you pushed
thanks

[2015-12-23 06:46] hishamco commented on #127
Thanks a lot

[2015-12-23 06:46] DamianEdwards commented on #185
In this case, it's because you have inconsistent naming between your files and namespaces (your resx files have the uppercase "L", but your project folder name and namespace is lowercase "l").

[2015-12-23 06:46] #185 closed

[2015-12-23 06:53] DamianEdwards commented on #186
Did you run your application from Visual Studio or the command line? The resource embedding doesn't work correctly if you launch from VS directly.

[2015-12-23 06:55] DamianEdwards commented on #187
Are you saying that if a string is not found in a specific culture but rather it falls back to a parent culture, that `ResourceNotFound` should be true? If that's the case, then I don't agree. That behavior (the culture fallback) is contained completely in the `ResourceManager`. The property on this new API is intended to represent when a resource string couldn't be found at all (even by parent cu

[2015-12-23 06:55] #187 closed

[2015-12-23 09:04] Anderman commented on #185
@DamianEdwards I known that that is the problem. But I thought that project files where not case sensitive in windows. Because the statement `T.WithCulture(new CultureInfo(""))["Hello"]` works.
This statement can find the file.

[2015-12-23 10:37] Anderman commented on #187
@DamianEdwards
See the third parameter thats missing `, resourceNotFound: value == null`
https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerWithCultureStringLocalizer.cs#L75

Without specific culture looks good
https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.cs#L94

this line not.

[2015-12-24 12:03] cspaniard opened #192 "Custom IStringLocalizer and DataAnnotations strange behaviour"
Hello,
I don´t think it is a true dup, but I apologize if it is.

I wrote a simple custom IStringLocalizer and it works fine. If I use it from the view via `@inject`, no problem at all.

The issue comes when tag helpers like `input` try to use it, from the DataAnnotations localization. I don't think it is the tag-helper's fault. I believe it is the DataAnnotations localization process.

My custom

[2015-12-26 05:58] zibzib opened #193 "LocalizationSample doesn't work as expected on RC1-update1"
Hi,
When I play with LocalizationSample on RC1-update1 (I tried with RC1-final1 too), I can see that CultureInfo.CurrentCulture and CultureInfo.CurrentUICulture are set correctly whenever I change the language.
However, the string returned by ResourceManager is always "Hello". I suspect it doesn't load or know about the satellite resource assemblies. I don't know how to debug that since everything

[2015-12-26 10:20] hishamco commented on #193
This is duplicate to issue #163

[2015-12-27 05:41] hishamco commented on #192
Can you refer to this issue #175

[2015-12-27 05:57] hishamco commented on #127
This should be closed after the commit d9fc39953143367a2fc3dab650859dc1a06b328e

[2015-12-30 03:26] zibzib commented on #193
I can confirm.
Thanks!

[2015-12-30 03:26] #193 closed

[2015-12-31 01:13] Anderman commented on #186
VS didn't create the designer.cs files for the other 2. Rename fixed it

[2015-12-31 01:13] #186 closed

[2015-12-31 22:36] Eilon commented on #192
@cspaniard is this with the latest RC2 bits? We think all the issues around this have been fixed.

BTW `IStringLocalizer` does not itself come from DI, so there is no use in registering it there. Just keep the factory registration and it will manufacture the localizers.

Also, this code looks wrong:

[code]

It's always passing in the same type to the localizer factory - and beyond that, it's pass

[2015-12-31 22:37] Eilon commented on #162
@DamianEdwards please round up some folks to come up with a plan for this.

[2015-12-31 22:38] Eilon commented on #159
@dougbu please re-measure now that caching is correctly implemented. We believe that the cost should now be negligible.

[2015-12-31 22:48] Eilon commented on #157
If the type name being requested doesn't start with the app name then we shouldn't use any fancy prefix logic. This way the application's configuration for localization won't interfere with class libraries doing their own localization.

[2015-12-31 22:52] Eilon commented on #154
@DamianEdwards can you try to repro this? This might just not work from VS due to the known issue (which will be fixed with dotnet-cli).

[2016-01-05 10:27] ThomasKold commented on #193
I can also confirm this problem

[2016-01-07 13:21] cspaniard commented on #192
Wow @Eilon, thanks for the explanation... I appreciate it. However, I am not sure I understand it all... ;)

Your 1st question: I tried it in RC1. I have not done anything with RC2 yet.

Your comment:

Do you mean in things like:
[code]
I thought that was needed (along with the factory) when you want to provide a custom `IStringLocalizer` implementation. Somehow the system needs to know to use you

[2016-01-12 08:23] muena commented on #154
@Eilon I have the same issue as @noeljiangcc and just tried to run the project from clr with dnx web: The localization works without problems!
So you're right, it's a VS issue.
Can you please provide me a link for more information about that VS issue?
Thanks!

[2016-01-12 20:13] Eilon commented on #154
@muena unfortunately not a lot of specific info to share on this. It has to do with how VS launches the DNX applications. We're making some changes to how apps are compiled and run and that will resolve this issue.

[2016-01-13 16:59] chemitaxis opened #197 "Resources files is not working"
Hi, I have tested the example using QueryString and Cookie, and all works fine except the "Hello" message, is always showing "English version".

I have tested with RC1.

Thanks.

[2016-01-13 17:05] hishamco commented on #197
Are you using VS or command line tools?

[2016-01-13 17:09] chemitaxis commented on #197
Hi, I'm using VS, Right click in Example Project, and Debug New Instance. Thanks!

[2016-01-13 17:12] hishamco commented on #197
This is a common issue in VS if i'm not wrong, let me find the issue that you can track to solve this ..

[2016-01-13 17:13] hishamco commented on #197
Can you have a look to this #163

[2016-01-13 17:15] chemitaxis commented on #197
Ok, thanks!! ;)

[2016-01-13 18:14] victorhurdugaci opened #198 "Change to build to use dotnet"

[2016-01-13 21:13] Eilon commented on #197
Yup, known issue that will be fixed in the next release. For now you can run from the command line to get the right resources to load.

[2016-01-13 21:13] #197 closed

[2016-01-13 21:18] Eilon opened #199 "Switch from System.Resources.ReaderWriter package to new separate Reader and Writer packages"
The System.Resources.ReaderWriter was split into two packages: System.Resources.Reader and System.Resources.Writer.

We need to switch to use the new packages (or just one of them, if we need only one). It's currently in use here:
* https://github.com/aspnet/Localization/blob/489250a8e1c97d2b415b1c8994f1943b6d229d73/src/Microsoft.Extensions.Localization/project.json#L23

This appears to be the onl

[2016-01-15 23:13] Eilon commented on #192
Sorry for the delay. Right, you do not customize `IStringLocalizer` itself, but rather just the factory - that's what goes in DI. The system knows that in order to create an `IStringLocalizer` it needs to go to the registered factory (which you can customize) and create whatever it wants.

For Data Annotations you can check out the sample project at https://github.com/aspnet/Entropy/blob/dev/sampl

[2016-01-15 23:13] #192 closed

[2016-01-17 22:02] hishamco opened #201 "Moving 'CultureInfoCache' to Microsoft.AspNet.Localization namespace"
I'm not quite sure why ```CultureInfoCache``` still exists in ```Microsoft.Extensions.Globalization``` why the intend of this namespace to hold all the objects that are related to globalization stuff which was already removed.

[2016-01-19 18:02] Eilon commented on #154
@DamianEdwards closing because this sounds like another instance of https://github.com/aspnet/dnx/issues/3047.

[2016-01-19 18:02] #154 closed

[2016-01-19 18:04] Eilon commented on #201
CultureInfo is used for globalization and localization - they are in some sense two sides of the same coin.

@DamianEdwards do you care much either way? In my mind Globalization (as it is now) makes more sense because the CultureInfos are about breadth of cultures and being culture-agnostic, as opposed to the localization middleware and resource loading which is about targeting a specific culture.

[2016-01-19 19:20] DamianEdwards commented on #201
Yeah I'm fine to leave it where it is.

[2016-01-19 20:58] hishamco commented on #201
Thanks

[2016-01-19 20:58] #201 closed

[2016-01-21 09:06] mmoron opened #203 "Custom Cultures not working with RequestLocalizationMiddleware"
### Title
Custom Cultures not working with `RequestLocalizationMiddleware`

### Functional impact
It is impossible to use custom settings for Cultures when using `RequestLocalizationMiddleware`

### Minimal repro steps
- Create custom CultureProvider
[code]
- Create custom localization options (changed CurrencySymbol in this example)
[code]
- Add RequestLocalizationMiddleware using these options
[

[2016-01-21 12:20] hishamco commented on #203
@mmoron have you look to this https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNet.Localization.Tests/CustomRequestCultureProviderTest.cs
and I'll try to have a look to your source later ..

[2016-01-21 13:25] mmoron commented on #203
@hishamco I did. This test is not trying to change default settings for a given culture. I need to change some culture specific settings (currency symbol for example).

[2016-01-21 13:35] hishamco commented on #203
The test will provide a culture like what you did before, and it will reflects to everything related to culture including currency. I will check your app soon ..

[2016-01-21 13:45] mmoron commented on #203
the test provides a culture like I do but it is not trying to change anything in this culture:
[code]
it will use whatever is default for "ar" culture. I want to deliberately change currency symbol for "en-US":
[code]

[2016-01-21 14:32] hishamco commented on #203
I think you are forget to add ```services.AddLocalization();``` in ```ConfigureServices``` method

[2016-01-21 14:43] mmoron commented on #203
I don't think it matters. I just added it now to my test solution and result is the same.

[2016-01-21 15:35] hishamco commented on #199
I think this should be closed after merge

[2016-01-21 15:44] hishamco opened #204 "[Bug] Unable to locate Dependency"
![capture](https://cloud.githubusercontent.com/assets/3237266/12485239/ee01df24-c06e-11e5-814d-68afa5704775.PNG)
It's related to #200
/cc @ryanbrandenburg @Eilon

[2016-01-21 17:16] hishamco commented on #203
@mmoron ```services.AddLocalization()``` if very important in case to use underlying localization API's, furthermore i notice you are using **en-GB** as default culture while it's not declared in supported culture. Nothing but if you make the **en-US** you will not see any change in the currency symbol, so that's why I will debug and trace the app with disabling the caching to see if it is the rea

[2016-01-21 17:19] pranavkm commented on #204
This will get fixed when the packages get published to aspnetcidev. We should have them published by EOD.

[2016-01-21 17:19] #204 closed

[2016-01-21 17:20] hishamco commented on #204
@pranavkm what is the suitable feed that i should use to make this run locally?

[2016-01-21 17:24] pranavkm commented on #204
`https://www.myget.org/f/aspnetvolatiledev/api/v3/index.json` has these packages, but I'd recommend using it since it doesn't necessarily have a coherent set of packages.

[2016-01-21 17:29] ryanbrandenburg commented on #199
Ah, thanks for the reminder @hishamco

[2016-01-21 17:29] #199 closed

[2016-01-21 17:36] hishamco commented on #204
Thanks

[2016-01-21 17:47] Eilon commented on #204
Please use https://www.myget.org/f/aspnetvnext in general.

[2016-01-21 17:51] hishamco commented on #204
@Eilon aspnetvnext is already there in nuget.config, but after i added the feed that @pranavkm suggest the previous exception is gone, but the app can't recognize ```WebApplicationBuilder``` and ```WebApplicationConfiguration```

[2016-01-21 18:16] dougbu commented on #159
`AssemblyName` no longer shows up when measuring allocations in a `ViewLocalizer` scenario. In fact allocations for our `LocalizedViews` scenario now look fairly similar to the `BasicViews` one.

The remaining glaring problem in the `LocalizedViews` scenario is inefficiency in `LocalizedHtmlString.FormatValue()`, a `private` method used within `WriteTo()`. But that method is also incorrect and I e

[2016-01-21 18:21] dougbu commented on #159
Closing as no repro since remaining problems in scenario are not in the repo.

[2016-01-21 18:21] #159 closed

[2016-01-23 01:13] Eilon commented on #203
@DamianEdwards ?

[2016-01-23 01:18] DamianEdwards commented on #203
Yeah I think we don't handle this case at all. We just don't consider that a culture name may map to a completely custom culture. I'd like to think more deeply about how we should go about supporting this so it's too late for now, but the workaround for apps is pretty trivial (just add your own middleware that stamps the custom culture on to the thread/request).

[2016-01-24 10:05] hishamco commented on #204
Still not working?!!

[2016-01-27 22:35] ryanbrandenburg commented on #204
@hishamco what isn't working and what feeds are you currently using? If you removed a feed did you clean out your dnu cache afterward?

[2016-01-28 13:51] hishamco commented on #204
@ryanbrandenburg unable to locate ```System.Resources.Reader``` and ```System.Resources.Writer```, the feeds that i'm using shown in the pictures above, but I didn't clear out the dnu cache .. i will do it now ..

[2016-01-28 16:50] hishamco commented on #204
@ryanbrandenburg the previous errors are gone but i'm getting another error when I run ```dnx web```
![capture](https://cloud.githubusercontent.com/assets/3237266/12651619/4db40ecc-c5f8-11e5-9dd8-da38ef1a20b4.PNG)

[2016-01-28 18:06] ryanbrandenburg commented on #204
Your first error looks like a straightforward missing "using" but I assume you already checked that. Your second one is a bit more interesting, my best guess without seeing it is that you're getting mismatched versions of IApplicationBuilder somehow? It sounds like you cleared the dnu cache, did you also get the .dnx/packages stuff? If so could you build me a minimum repro and send it my way?

[2016-01-28 22:55] hishamco commented on #204
It works fine after dnx/packages .. thanks

[2016-01-29 09:30] YZahringer opened #206 "ResX Public Code Generator"
Is it possible to continue to use the ResX code generation? I prefer it because there intellisense and compile-time error if missing ressource.

The problem is that we can not change "Access Modifier" to put the public code generation. The views can not access the "internal" properties of generated code.

The correction of this is planned? Or use of the ResX generated code is no longer supported?

[2016-01-29 11:42] hishamco commented on #206
I think this is a known issue in VS if I'm not wrong

[2016-02-02 21:17] Eilon commented on #206
@YZahringer this is being fixed in VS:
* https://github.com/aspnet/Tooling/issues/339
* https://github.com/aspnet/Tooling/issues/270

[2016-02-02 21:17] #206 closed

[2016-02-02 23:07] hishamco commented on #148
@ryanbrandenburg can you please close this

[2016-02-02 23:07] #148 closed

[2016-02-04 00:45] Rick-Anderson opened #209 "Duplicate resource files using both dot naming and file naming disables all .resx lookups"
When you provide a resource file using both dot naming and folder naming, it disables the entire localization resource lookup. For example, if I have the following resource files in Entropy, no other non-conflicting .resx files are used.

- Resources\Controllers\HomeController.fr.resx
- Resources\Controllers.HomeController.fr.resx

[2016-02-04 00:49] Rick-Anderson commented on #13
If you could make it act like MVC does when it can't find a view - that is, MVC will list the folders searched, that would really help debug.

``An unhandled exception occurred while processing the request.

InvalidOperationException: The view 'About' was not found. The following locations were searched:
/Views/Home/About.cshtml
/Views/Shared/About.cshtml.``

[2016-02-04 06:03] Eilon commented on #209
What does `no other non-conflicting .resx files are used.` mean?

Why would you have both files?

[2016-02-04 10:25] hishamco commented on #209
As @Eilon said Why would you have both files? but if the case is
Resources\Controllers\HomeController.cs
Resources\Controllers\HomeController.fr.resx
it's already discussed here #138

[2016-02-04 18:29] Rick-Anderson commented on #209
Damian asked me to:

Log a bug, but this is obviously a bit of an edge case, as you’re essentially duplicating the same resource.

@Eilon    Why would you have both files?

You shouldn't and I'll document that. But the Entropy sample and my sample will show both approaches. Suppose you add a new type and it's associated resource - then are off that project for a few days. You return and add the sa

[2016-02-04 18:54] Eilon commented on #209
Ah, I see. I can only wonder what error we could show... I don't think we can know about the conflict until the app is running, so I don't think we can show an error during build.

I can think of two options:
1. If there's an ambiguity then arbitrarily pick one (e.g. sort them deterministically and pick the first one)
2. Maybe do (1) but also log a warning to the logger

@DamianEdwards any prefere

[2016-02-04 19:20] hishamco commented on #209
@Eilon logging a warning is good option, but can we align it with VS warning, so anyone using VS can see that too

[2016-02-04 19:55] Eilon commented on #209
I don't think VS can show the warning because it's a runtime warning. VS isn't even in the picture anymore.

[2016-02-04 20:13] DamianEdwards commented on #209
I'm surprised this isn't failing at resource generation time (compile time). It can't embed **both** files with the same name, so it must either be embedding neither, or changing the names when embedding (e.g. append 1, 2 to the end).

Can we check what the actual embedded resources look like in the project assembly after compile?

[2016-02-04 20:23] Eilon commented on #209
@DamianEdwards is it possible that it gets embedded with both names? Or does it always embed with dots?

@ryanbrandenburg can you take a look and see what's in the physical DLL in this scenario?

[2016-02-04 20:33] DamianEdwards commented on #209
@Eilon no, the `\` are replaced with `.` by the compiler, you can't control it.

[2016-02-04 21:04] Eilon commented on #209
Ok then that's indeed weird.

[2016-02-05 20:06] #198 closed

[2016-02-05 22:23] pranavkm opened #210 "Remove application path ifdefs used to locate tests once CoreCLR tests are run using dotnet"
https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNetCore.Localization.FunctionalTests/LocalizationSampleTest.cs#L14-L19
https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNetCore.Localization.FunctionalTests/LocalizationTest.cs#L15-L19

[2016-02-05 22:23] pranavkm commented on #210
Self assigning it as follow up https://github.com/aspnet/Localization/issues/198

[2016-02-05 23:26] Eilon commented on #210
:+1:

[2016-02-06 04:01] hishamco commented on #209
Related to unrelated question, I faced a strange issue in the Entropy repo too while implementing a ```JsonRequestCultureProvider``` seems the entire localization resource lookup is disabled, the source is available [here](https://github.com/hishamco/Entropy/tree/localization)

[2016-02-08 18:54] ryanbrandenburg commented on #209
@hishamco as you said, that seems to be an unrelated question since there are no duplicate Resource files. Please post it as its own issue with more information.

[2016-02-08 22:28] hishamco commented on #209
Ok @ryanbrandenburg

[2016-02-08 23:53] ryanbrandenburg commented on #209
When I try to reproduce this I run into what @DamianEdwards expected, which is that it fails at compile time with `CS1508: Resource identifier 'LocalizationSample.My.Resources.Controllers.HomeController.resources' has already been used in this assembly`. This is true for both `dnx web` and `dotnet run`. @Rick-Anderson am I missing a part of what you're doing?

[2016-02-10 01:07] Rick-Anderson commented on #209
Closing. I'm not building so I didn't see that error. I just change the resource files/code and dnx run.

[2016-02-10 01:07] #209 closed

[2016-02-10 08:03] hishamco opened #212 "Unexpected behavior in Custom RequestCultureProvider"
While i'm trying to push a PR to Entropy repo, I faced a strange issue with custom ```RequestCultureProvider```. I created a simple ```JsonRequestCultureProvider```, it becomes the winning provider and the cultures retrieved successfully except the values can't be localized,I dig into that with no luck, seems the entire localization resource lookup is disabled, the source is available [here](https

[2016-02-11 12:40] hishamco commented on #212
/cc @ryanbrandenburg

[2016-02-17 23:59] hishamco commented on #212
@DamianEdwards can you please have a look to this, because I'm not sure if this a bug?!!

[2016-02-18 19:03] Eilon commented on #212
@ryanbrandenburg can you investigate this?

[2016-02-18 19:52] ghost opened #214 "Question: How can you use a different resource file in a satellite assembly from a class library project?"
I my case, the default Resources.resx file from the class library is always used. The localized versions like Resource.de.resx are ignored.

Any hint?

[2016-02-18 21:39] chemitaxis opened #215 "Resources not working in MVC 6 application"
I have tested the example using an empty ASP.NET 5 web app and it's not working. The resources files is not working. I have tested using dnx web and not VS debug.

The problem is DI controller, the resources files is not working. In Razor Views you can't translate like you did in MVC5.

Please upgrade the example for a complete MVC 6 web app, a lot of question in stackoverflow about it. Very confu

[2016-02-18 22:53] hishamco commented on #214
I think it's duplicate for #154

[2016-02-18 22:55] hishamco commented on #215
Which example you mean? because the sample attached with the source working fine

[2016-02-18 23:03] chemitaxis commented on #215
Ok, I solved it... I will update my example on GitHub tomorrow (https://github.com/chemitaxis/Localization.StackOverflow) . In this example you can use the localization on RC1 on Razor Views.

I have created a _ViewImports, and add it:

@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@using System.Threading.Tasks
@using AspNet5Localization
@using AspNet5Localization.Resources
@using Microsoft.A

[2016-02-19 00:13] hishamco commented on #215
Please refer to the following examples [LocalizationSample.Web](https://github.com/aspnet/Mvc/tree/dev/samples/LocalizationSample.Web) and [Localization.StarterWeb](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb)

[2016-02-19 03:42] pepevc commented on #214
My class library is a "dnx" assembly, not a regular one.

[2016-02-21 06:52] Eilon commented on #215
Closing because this looks like it was answered.

[2016-02-21 06:52] #215 closed

[2016-02-22 22:38] hishamco commented on #212
Any updates regarding this

[2016-02-22 22:41] Eilon commented on #212
The last 2 days were the weekend :smile:

[2016-02-22 22:43] hishamco commented on #212
I forget the time difference between US and middle east :smile:

[2016-02-22 23:12] hishamco commented on #214
@Eilon is this blocked by #157

[2016-02-24 18:11] ryanbrandenburg commented on #212
I gave this one a look and it doesn't appear to be a bug. The problem is [here](https://github.com/hishamco/Entropy/blob/localization/samples/Localization.ConfigurationRequestCultureProvider/Startup.cs#L13). In order for your resources to be found automatically your "Base" namespace MUST be the same as your project name. Thus, since this project is named "Localization.ConfigurationRequestCulturePr

[2016-02-24 18:11] #212 closed

[2016-02-24 23:38] hishamco commented on #212
Thanks so much @ryanbrandenburg

[2016-02-25 10:31] chemitaxis opened #218 "Azure localization not working like with VS compilation"
Hi, I have tested Localization in Azure, and it's not working like when you compile in VS.

If I run in local, with _dnx web_ it's working fine, but when I upload my project to Azure like Web App, it not working.

Any ideas? Maybe other Repository Issue? Thanks

[2016-02-25 10:38] chemitaxis commented on #218
Sorry, cache errro, close the issue please.  Thanks.

[2016-02-25 10:38] hishamco commented on #218
Strange!! it should work

[2016-02-25 11:02] hishamco commented on #218
Cache error .. it happens :smile:
@chemitaxis can you please close the issue

[2016-02-25 15:13] chemitaxis commented on #218
Closed ;)

[2016-02-25 15:13] #218 closed

[2016-03-01 00:39] pranavkm commented on #210
Unfortunately switching to CLI for tests didn't solve this issue. The location where we publish tests in full desktop and CoreCLR is different and consequently the differences persist. An alternative would be to walk up to sln dir and figure relative paths from there (which would be less brittle). I'm going to work on making that change here + Mvc.

[2016-03-02 11:48] mmalolepszy opened #222 "AddViewLocalization without parameters not working after latest changes in aspnet/Localization"
Calling AddViewLocalization extension method without parameters in Startup class, causes an exception:
[code]
Snippet from my Startup.cs
[code]
Changing above code to
[code]
makes everything work as expected.

This problem is caused by setting `setupAction` to `null` [here](https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Localization/DependencyInjection/MvcLocalizationMvcBuilde

[2016-03-02 11:49] mmalolepszy commented on #222
Oh my, I wanted to post it in aspnet/Mvc.

[2016-03-02 11:49] #222 closed

[2016-03-04 23:45] hishamco opened #224 "Thinking about Culture Caching"
Storing the entire ```CultureInfo``` object may it causes some issues such as Number & DateTime Formats. IMHO caching the culture name may enough to avoid such issues, hope to heard your thoughts

[2016-03-05 03:26] Eilon commented on #224
What exactly is the issue? What doesn't work?

[2016-03-05 08:02] hishamco commented on #224
Try to change the number or date format in supported culture list, you will notice that nothing will change because the current cache mechanism store the entire culture object based on its name, have a look to this line https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Globalization.CultureInfoCache/CultureInfoCache.cs#L43, I think caching name enough to solve this issue bec

[2016-03-05 11:11] Tekkeitsertok opened #225 "Async view localization issue under ubuntu."
When localization is called from view directly, it works only if Controller associated method isn't async (under ubuntu 14.04). It works as expected under Windows env but strangely not under linux env.
It uses a custom resource provider. In this demo project, localized strings are added to a dictionary inside Localization/LocalizationService, then through DI, I can access them multiple way (throug

[2016-03-06 21:38] hishamco commented on #225
Unfortunately I don't have Ubuntu installed in my laptop, but what I have seen is you are using a custom resource provider, as you mentioned before the behavior is appear in linux, which is strange!! but i have a question why in the [controller](https://github.com/Tekkeitsertok/Demo/blob/master/src/Demo/Controllers/HomeController.cs#L20) you are using ```loc.Get``` while in the [view](https://gith

[2016-03-06 23:17] Eilon commented on #224
Are you talking about changing the format of an existing CultureInfo object? Is that even a thing? Even if it's possible (and I don't see how exactly), I would say that changing CultureInfo properties *while the app is running* is not supported.

[2016-03-06 23:45] hishamco commented on #224
After checking the issues, issue #203 is one of the cases that I mean

[2016-03-06 23:51] Eilon commented on #224
Is this an exact dup of #203? If it's different, how is it different?

[2016-03-06 23:55] hishamco commented on #224
The issue #203 shows one case (currency) of what i'm talking about, if the fix will cover all the formats dates, numbers .. etc, of course i will close this

[2016-03-06 23:56] Eilon commented on #224
Currency was just an example. I'm sure if we fix this it would be a complete fix, not for just one property.

[2016-03-07 00:01] hishamco commented on #224
Sure, hopefully if this will got fix in V1

[2016-03-07 00:01] #224 closed

[2016-03-07 00:02] Eilon commented on #224
That is not currently planned.

[2016-03-07 00:19] Eilon commented on #214
@pepevc what exactly is the scenario here? Can you provide more info about what is in each project, what the code is trying to do, what doesn't work, and what you were expecting?

[2016-03-07 09:00] Tekkeitsertok commented on #225
Yes, I'm using a custom resource provider. In this demo, it's a part of a bigger project where localized strings are "cached" on demand to a dictionary from a remote database.
Then, with `IStringLocalizer` & `IStringLocalizerFactory` implementation, I can access them directly through DI with `IViewLocalizer.`
In the controller, I set a viewdata var in order to visually see the issue inside the vie

[2016-03-07 09:09] hishamco commented on #225
I see, you can just one of the default ASP.NET default samples if you do so, to check the scenario, perhaps there's an issue in your custom implementation (May Be)
FYI you can have a look to the [Localization.EntityFramework](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework)

[2016-03-07 14:19] Tekkeitsertok commented on #225
Ok, still using the same Demo project, I copied from [Localization.EntityFramework](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework) Models, `EFStringLocalizer` & `EFStringLocalizerFactory`, modded available cultures to match previous ones (en, fr & pl), changed Startup to now use `EFStringLocalizer`, changed also both view & controller to retrieve the "Hello" local

[2016-03-07 14:49] hishamco commented on #225
Seems @ryanbrandenburg will investigate on that, if I have Ubuntu I 'll do it myself .. hope you wait for his reply

[2016-03-07 16:57] pepevc commented on #214
Pick for instance https://github.com/aspnet/identity. That project contains
a resx file for error messages. I would like the localization framework to
pick the correct culture resx file automatically.

On Mon, Mar 7, 2016 at 1:19 AM, Eilon Lipton <notifications@github.com>
wrote:

[2016-03-07 22:30] Eilon commented on #214
@pepevc so you have a solution like this:

1. **MyLibrary**
 - Has Class1.cs with a method `GetData()` that loads resources from:
 - Class1.resx (has neutral en-US resources)
 - Class1.fr-fr.resx (has French resources)
 - Class1.ja-jp.resx (has Japanese resources)
2. **MyApp**
 - Has Program.cs that calls `Class1.GetData()`

And you're saying that when it called `GetData` that it always picks up E

[2016-03-08 05:54] pepevc commented on #214
@Eilon yes, basically that's it. I am following the Identity project as an example. Have a look at their IdentityErrorDescriber class and the AssemblyInfo.cs.

I reproduced something similar with with a dnx class library project but my aspnet project fails to make my class library load anything besides the main resx file.

Not a big issue as I will end up doing the localization in the webapp, but

[2016-03-08 07:46] Eilon commented on #214
@pepevc thanks for the extra info!

@ryanbrandenburg can you take a look?

[2016-03-09 08:03] hishamco commented on #17
@glen-84 @Eilon I wrote an articles about the [Pluralization Syntax](http://www.codeproject.com/Articles/1083454/Localization-in-ASP-NET-Core-Pluralization-Syntax) hope it gets a proof concept, as @DamianEdwards  mentioned yesterday in ASP.NET Community Stand-Up that the Pluralization may support in the future. Again the pluralization is not an easy task, it needs a good design ..

[2016-03-09 14:43] hishamco opened #226 "Unable to run Unit Tests"
I'm trying to run a unit tests with no luck, after that I looked to the project.json seems there is a lot of changes in unit tests such as **"testRunner": "xunit"** it's long time for me to use the unit tests. i don't know if there's a way to run them, what I tried are **dnx test** and **dotnet test** with no luck

FYI when I ran the latest command i got this error **Could not resolve coreclr path

[2016-03-09 19:36] pranavkm commented on #226
Does running `build` succeed?

[2016-03-09 21:18] hishamco commented on #226
![capture](https://cloud.githubusercontent.com/assets/3237266/13650821/9235dc42-e655-11e5-9e77-73e159e754f8.PNG)

[2016-03-10 00:45] pranavkm commented on #226
That looks like you haven't run restore. What does running `build.cmd` from the repo root look like?

[2016-03-10 06:47] Eilon commented on #226
And remember to run `git clean -xdf` first.

[2016-03-10 14:08] hishamco commented on #226
I already restore the dependencies of the test project, but I want to know when shall i execute ```build.cmd```?
Now I 'll follow these steps:

1. ```git clean -xdf```
2. Remove dnx packages
3. Remove dnu cache
4. Run ```build.cmd'``

and I will give you the result

[2016-03-10 14:20] pranavkm commented on #226
That sounds about right. FYI - all our repos now use dotnet-cli to build. Consequently it'll use `%UserProfile%/.nuget/packages` as the packages dir on your machine and `%LocalAppData%/nuget/v3-cache` as the HTTP cache.

[2016-03-10 14:35] hishamco commented on #226
Fetching the latest source updates and running the ```build.cmd``` solve the issue with ```dotnet test```, i think ```dnx test``` is gone Am i right?
Please let me know when shall i run ```build.cmd``` because I suffered many times from such things

[2016-03-10 14:36] hishamco commented on #226
Thanks @pranavkm

[2016-03-10 14:40] hishamco commented on #226
Another related question, how can i run the tests in vs (netstandardapp1.5), because i'm getting an error

[2016-03-12 06:37] Eilon commented on #226
You can't run them in VS until the new tooling comes out.

[2016-03-12 13:33] hishamco commented on #226
I expect that :smile: , thanks a lot

[2016-03-12 13:33] #226 closed

[2016-03-14 03:10] JoeOM opened #227 "Decouple StringLocalizer / HtmlLocalizer from types to make Shared Resources possible"
Hi

On Dec 15 2015 DamianEdwards commented on https://github.com/aspnet/Localization/issues/153

"You absolutely can get a resource of any name you like by using the  IStringLocalizerFactory  type directly. The  IStringLocalizer<T>  is simply a convenience type that is opinionated about where it looks for resources (namely, it uses the name of the type  T ). Same applies for  IHtmlLocalizerFactory

[2016-03-14 03:39] JoeOM commented on #227
This is also related to: https://github.com/aspnet/Home/issues/1142

[2016-03-16 04:33] DamianEdwards commented on #227
You call the second overload. There are two levels of keys here to allow for flexibility in implementation.
-  The `location` maps to the name of some physical/logical store for sets of resources, e.g. a database name. It's fixed for all cultures.
- The `baseName` maps to the name of a resource set and will be combined with the culture name to look up the appropriate resources from the store ident

[2016-03-16 04:38] DamianEdwards commented on #227
If you were more specifically asking how this would work given the default (and only) implementation of `IStringLocalizerFactory` right now (`ResourceManagerStringLocalizerFactory`) then of course you'll be constrained by what the `ResourceManager` API in .NET is designed to do. You can see the logic we've implemented to turn the `location` and `baseName` into values we can use to create a `Resour

[2016-03-16 04:58] JoeOM commented on #227
Thanks Damian!

Mate, good luck with all these changes you guys are making with Core etc. Really looking forward to RC2! :-)

[2016-03-16 04:59] DamianEdwards commented on #227
@JoeOM thanks! I'm **really** looking forward to getting in people's hands finally soon.

[2016-03-17 23:45] #210 closed

[2016-03-22 22:41] rubenprins commented on #203
@DamianEdwards, What do you mean with "it's too late now"? And how is one to "stamp the custom culture" when you erase any trace of the custom culture? This is nowhere near trivial.

If I add a culture like `en-NL` to `SupportedCultures`, it will get replaced by the default `en` culture `en-US`, even when my culture is explicitly provided via `SupportedCultures` **and** it is read only? What if bo

[2016-03-22 23:06] hishamco commented on #203
@rubenprins it's too late because now we 're in RC, and it's rare to add a new feature or fix a bug without break something else. FYI this has been moved to backlog

[2016-03-24 19:04] ryanbrandenburg commented on #225
Hey @Tekkeitsertok, could I get you to confirm that this still happens for you while I work on a repro?

[2016-03-24 19:25] Tekkeitsertok commented on #225
Hello,

I just updated to last RC2 20270 and last dotnet cli available on ubuntu 14.04 and it still happens.
dotnet --version output :
[code]
Results are still the same.

[2016-03-29 00:01] ryanbrandenburg commented on #225
Hey @Tekkeitsertok sorry for the delay, I had trouble getting this set up on my Ubuntu VM.

I can confirm that I was able to reproduce your problem, though I had to mess with the code a little (https://github.com/ryanbrandenburg/Demo/tree/modified). I am still reasoning through to determine whether this is a problem with our code or with the way you're using it however. Offhand it seems suspicious

[2016-03-29 18:07] ryanbrandenburg commented on #225
Hey @Tekkeitsertok, it looks like you're using CurrentCulture instead of CurrentUICulture [here](https://github.com/Tekkeitsertok/Demo/blob/master/src/Demo/Localization/EntityFramework/EFStringLocalizer.cs#L51). CurrentUICulture is the one you should be using for localization (language) stuff, whereas CurrentCulture is intended for formatting tasks. When I changed those instanced of CurrentCulture

[2016-03-30 10:35] Tekkeitsertok commented on #225
Hello @ryanbrandenburg, indeed CurrentCulture was used instead of CurrentUICulture. It was taken from here : [EFStringLocalizer](https://github.com/aspnet/Entropy/blob/dev/samples/Localization.EntityFramework/EFStringLocalizer.cs) as suggested.
So, I cloned back your cleaned branch, changed from CurrentCulture to CurrentUICulture in EFStringLocalizer, but still got the same as before... To be sure

[2016-04-05 19:52] ryanbrandenburg commented on #225
Hello @Tekkeitsertok, an update here. I did manage to get this to reproduce (and in doing so figured out why I thought switching to CurrentUICulture fixed it). After lots of experimenting it seems that this is caused by dotnet/coreclr/issues/4088, thanks for catching it! We will update this issue when it's resolved.

[2016-04-07 17:45] ryanbrandenburg commented on #225
This should be resolved the next time we pick up new CoreCLR packages.

[2016-04-07 17:51] Tekkeitsertok commented on #225
Yes, I followed the other thread. Thank you for that. I think we can close this ?

[2016-04-08 00:12] ryanbrandenburg commented on #225
Yes, since the other issue is open to track the fix's movement into RC2 I'll close this one.

[2016-04-08 00:12] #225 closed

[2016-04-13 09:18] chaim770 opened #237 "Supporting custom cultures that are not pre-defined in options.SupportedCultures"
Following this StackOverflow question:
http://stackoverflow.com/questions/36590969/enabling-client-based-culture-in-asp-net-core

It's currently impossible to let the `CultureInfo` be determined automatically from what the client specify in the `Accept-Language` header (as it used to be using `<system.web.globalization enableClientBasedCulture>` in `Web.config`).

The way it is now, I have to pre-