[2016-04-13 13:37] hishamco commented on #237
I think after design change that discussed here #111 we should to register the supported culture instead of looking into Culture Info list which is removed after this change

[2016-04-13 14:26] omuleanu commented on #237
@hishamco this change is already done, it's in rc1-final, the version that we're having trouble with

[2016-04-13 14:42] omuleanu commented on #111
@Eilon we should have the option to make the application use the browser language (Accept-Language header) without having to specify every single possible culture in `RequestLocalizationOptions.SupportedCultures`

[2016-04-13 14:53] hishamco commented on #237
I know @omuleanu, but while web.config is no longer used, is there any reason to have such ```enableClientBasedCulture```?!!

[2016-04-13 15:07] omuleanu commented on #237
@hishamco yes, a lot of people need that, basically everyone that was/is using culture=auto in web.config and want the same behavior after porting their app to the new asp.net

I need it, to automatically get the user's ShortDatePattern, ShortTimePattern, DateTimeFormat, NumberDecimalSeparator, TimeSeparator

[2016-04-13 15:36] hishamco commented on #237
There 're a lot of changes in ASP.NET Core, and there's no guarantee that every feature before will be the same in the new world, nothing but what if you create a culture info list from Accept-Language header and pass it to ```RequestLocalizationOptions``` this way it collect the cultures automatically instead of hard coded.
I'm not sure if there's a change in the future to support this out of the

[2016-04-13 16:47] Eilon commented on #111
@omuleanu I believe there were some concerns around allowing completely arbitrary cultures that browsers send, which would potentially cause internal culture caches to potentially grow infinitely, causing memory issues. On OSes such as Windows 10, there is an infinite number of valid cultures, and ASP.NET Core Localization has to cache them (because creating cultures is a bit expensive), so if bro

[2016-04-13 16:51] Eilon commented on #237
This is currently by design in ASP.NET Core for the reasons mentioned in https://github.com/aspnet/Localization/issues/111#issuecomment-209539299.

If we do this, it would most likely be a different middleware, or perhaps an option on the current middleware, but it would have negative performance implications.

[2016-04-13 17:08] chaim770 commented on #237
@Eilon

Why? Can you please elaborate?

[2016-04-13 17:17] Eilon commented on #237
@chaim770 I go into more detail in https://github.com/aspnet/Localization/issues/111#issuecomment-209539299. The key reason is that ASP.NET has to cache every culture, so it's a trade-off between not caching and having slow performance, or caching but having the cache grow infinitely. Neither is a good option, so we chose to cache, but to limit the size of the cache by requiring apps to specify wh

[2016-04-14 09:13] Kirua88 commented on #118
How can we run an mvc 6 web application from the console ?

[2016-04-14 11:01] hishamco commented on #118
@Kirua88 you can use following DNX commands:
dnu restore
dnx web
also you can use DotNet coomands:
dotnet restore
dotnet run

[2016-04-14 11:48] Kirua88 commented on #118
Ok thank you =)
and can u you tell where i can ask a question about the equivalent of JsonRequestBehavior.AllowGet in asp core ?

[2016-04-14 12:07] hishamco commented on #118
If you wanna ask a general question post it in [Home repo](http://github.com/aspnet/home), and if it's MVC specific post it in [MVC repo](https://github.com/aspnet/Mvc)

[2016-04-27 23:54] israelito3000 opened #240 "Sample Code in master branch is is not localizing"
Hello, I was attempting to localize strings but seems like the resource files are not proper loaded, even your sample which have a localized string "Hello" always shows Hello, I attempt to change the Thread Culture In an ActionFilter, in a Middleware but nothing seems to work. The localized resources are not loaded: "Filename.es-ES.resx" it only loads the default resource file Filename.resx

[2016-04-28 12:39] hishamco commented on #240
Use the dev branch, because the master branch is 107 commits behind dev

[2016-04-28 15:45] israelito3000 commented on #240
Ok, the problems is related to Visual Studio, in order to any localization works we have to run the project using the command line: dnx web.

I have another question, I see that in the dev branch everything is migrating from Microsoft.AspNet to Microsoft.AspNetCore, I am working in a prerelease now and my concern is if all Microsoft.AspNet.* is going to be renamed to Microsoft.AspNetCore and the o

[2016-04-29 00:46] hishamco commented on #240
@israelito3000 I was using the old bits too, don't worry the rename break change is happened in RC2, but if you have the RC1 tools for Visual Studio you can play with the bits nothing but you will miss some of the new changes and fixes. BTW if you track the latest changes the team is moving to use DotNet CLI instead of DNX Commands for cross-platform scenario.
FYI couple weeks ago Damian Edwards m

[2016-05-05 17:18] hishamco commented on #240
Is the sample work with you?

[2016-05-05 19:17] Eilon commented on #240
@israelito3000 if you're running the `dev` or `release` branches from VS you could certainly have issues. But they should work completely if running from the command line.

The `master` branch is for RC1, which should work in VS, except that there's a bug in that build that prevents non-English cultures from showing up.

[2016-05-09 17:53] Eilon commented on #240
@ryanbrandenburg can you take a look at this for RTM to see if there's some issue in the samples here?

[2016-05-11 23:28] ryanbrandenburg commented on #240
@israelito3000 I don't see this behavior locally against dev, but I have the latest RC2 tooling installed. There was a known bug in VS for RC1 where non-default resources wouldn't be found, but as far as I can tell it's fixed in RC2, so it should be all good once we release.

[2016-05-12 02:57] israelito3000 commented on #240
How can i get the RC2 tooling?

[2016-05-12 03:39] Eilon commented on #240
@israelito3000 it will be released very, very soon! Stay tuned!

[2016-05-13 19:56] pranavkm opened #243 "Consider moving RequestLocalizationOptions to Microsoft.AspNetCore.Localization"
This follows Mvc's pattern (for e.g. https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/MvcOptions.cs) and makes it easier to discover types configurable via options (for instance adding a custom `RequestCultureProvider`

[2016-05-13 23:25] hishamco commented on #243
IMHO the ```Microsoft.AspNetCore.Builder``` namespace is a proper one while we have this in many repos, please refer to ```SessionOptions``` and ```CookieAuthenticationOptions``` and much more, it makes sense to have them in that namespace because they are essentially used by ```IApplicationBuilder```

[2016-05-16 03:39] pranavkm opened #244 "StringLocalizerFactory assumes that the default namespace is the same as the application name when resourcePath is specified"
Steps:

1. Create an application named App1
2. Add `.AddViewLocalization(options => options.ResourcesPath = "custom-dir")` to Startup
3. Add a resource under custom-dir named `Controllers.HomeController.resx` and verify that the `IHtmlLocalizer<HomeController>` correctly works for `App1.Controllers.HomeController`.
4. Change the namespace for the controller to `App2.Controllers.HomeController` and

[2016-05-16 06:47] hishamco commented on #244
I think it's duplicate or related to the issue #157

[2016-05-17 16:35] ryanbrandenburg commented on #240
Hey @israelito3000, [here's](https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2/) the announcement of RC2 and tooling Preview 1. That should solve your problem. If you find any problems or have trouble getting it set up let us know.

[2016-05-17 16:35] #240 closed

[2016-05-17 16:39] ryanbrandenburg commented on #214
@DamianEdwards could you opine on this? It was my impression that not having resources from satellite assemblies was by design.

[2016-05-18 06:17] Eilon commented on #243
@pranavkm can you show what it is that would be easier if this type were moved? We normally have builder-time types that are referenced in Startup.cs in the Builder namespace, as @hishamco says.

[2016-05-18 14:02] pranavkm commented on #243
In my sign off sample, I tried adding a modified `QueryStringRequestCultureProvider` to the list. Having the option in `Microsoft.AspNetCore.Localization` namespace would allow for importing it when I do `new RequestLocalizationOption()` and consequently searching for `RequestCultureProvider` yields autocompletion for types in that namespace. If we plan on keeping this, it would be nice to follow

[2016-05-18 17:52] hishamco commented on #243
While the ```QueryStringRequestCultureProvider``` is already in the providers list, you can add your modified once using
[code]

[2016-05-18 19:52] Eilon commented on #243
I think whichever namespace we put it in, one scenario or the other will have to import an extra namespace, no?

[2016-05-18 20:10] pranavkm commented on #243
The builder ones are already in the startup template. Anyway, this issue is totally not worth the amount of discussion we're having here :joy_cat:

[2016-05-18 20:12] Eilon commented on #243
Ok 😄

[2016-05-18 20:12] #243 closed

[2016-05-19 06:19] hishamco commented on #227
@Eilon is this still active, because what I have seen is a duplicate of #153

[2016-05-21 19:53] GarageWeb opened #245 "Localization throwing System.Resources.MissingManifestResourceException since RC2"
I have created a simple console app here: https://github.com/GarageWeb/ResourceTest  to demonstrate the issue.

[2016-05-21 20:18] GarageWeb commented on #245
Moving to home

[2016-05-21 23:45] hishamco commented on #245
I'm not sure why you move this to home repo?!! while it related to localization. BTW I will have a look to the sample soon, but I need to know did you run it from the console or VS?

[2016-05-21 23:56] hishamco commented on #245
What I have seen that the project doesn't use the localization APIs that's shipped with ASP.NET Core, you are using the resource class that created in VS, i'm not sure either this repo or home repo suited for this issue
/cc @Eilon

[2016-05-22 00:09] hishamco commented on #245
I run the app and I got the same exception whenever I moved the resource file to sub folder. I'm not sure the exact reason, again I don't find any package that using ASP.NET Core!! probably the issue may related to .NET Core, hopefully to hear from other folks about the exact reason for this bug

[2016-05-22 00:24] GarageWeb commented on #245
OK, I re-opened it here. I just had someone say I should file it on Home. Just FYI, this works as expected if the resx files are at the root and not in a sub-folder. Thanks

[2016-05-22 01:23] hishamco commented on #245
Yep I already test it, but as I mentioned before this may related to .NET Core, because I never see any reference to ASP.NET Core packages

[2016-05-24 07:21] Eilon opened #246 "MVC 6 / Asp.net VNEXT how to use shared, separate Resource DLL with IViewLocalizer or IHtmlLocalizer and .resx"
Moved from https://github.com/aspnet/Mvc/issues/4723
Opened by @MrWinky

----------------
There are lots of great VNEXT articles explaining how to use RESX resources when the \Resources folder are in the VNEXT  application's sub folder path.

However, I have an MVC application which requires I place the RESX files in a separate VNEXT class library dll in the solution and share it among projects (a

[2016-05-24 07:22] Eilon commented on #246
Possibly related: https://github.com/aspnet/Localization/issues/214

[2016-05-24 13:41] MrWinky commented on #214
"_It was my impression that not having resources from satellite assemblies was by design_."

I hope not!  Because is a major problem that breaks  SOLID architecture principles (for loose coupling and tight cohesion).

For example:

1.   EF 7 is kept in it's own project.  MyProject.Data.EntityFramework
2.  Business logic layer objects which use the strings  MyProject.BLL.ViewModels
2.  The web port

[2016-05-24 13:46] MrWinky commented on #246
In 214,   I am not seeing a solution.   The problem is when I design a 3 tiered application this issue causes a circular reference.   The main web portal module suddenly becomes a dependency to the Data and Business layer modules.

For example:

1.   EF 7 is kept in it's own project.  MyProject.Data.EntityFramework
2.  Business logic layer objects which use the strings  MyProject.BLL.ViewModels
2.

[2016-05-24 16:51] BrennanConroy commented on #245
@GarageWeb How did you create this Resource? It was created incorrectly, in Resource.Designer.cs L41 it should say "TestApp.Resources.Resource" instead of "TestApp.Resource"

[2016-05-24 17:23] glatzert commented on #245
I can also reproduce that Problem with Resources in `ProjectRoot/Resources/SharedResources.en.resx`
Also the factory produces different results for the BaseName, if the Default Namespace of your Project is not in sync with the Project Name.

[2016-05-24 19:56] Eilon commented on #214
An alternative to this is to expose the resources via a helper class that has a type with properties on it that exposes all the properties. Might not be as simple as what is being asked for here, but it will work, and perhaps one could argue that it has cleaner separation of concerns (embedded resources can be considered to be an implementation detail of how a type implements resources).

[2016-05-25 04:14] MrWinky commented on #214
Wait.   How can this not be a defect in design? A bug really.   Because the
injector is supposed to take the path - but it doesn't use namespaces or
references instead,    just a relative file path.

You are absolutely  right about the separation of concerns. However web is
beautifully situated for resx files  because based upon the language in the
request header, the   developer just only has to

[2016-05-25 10:14] Weboholics opened #247 "Can't load shared resources"
We have a project with both shared resources and view resources. These resources are stored in separate folders -  "Resources/Global" and "Resources/Views"

We made a new simple web project with a repro. home/index page shows a view resource and a shared resource.

[The sourcecode](http://weboholics.se/content/localizationTest.rar)

The View resources loads correctly but the Shared(Global) resourc

[2016-05-25 11:10] glatzert opened #248 "Localization Options builds odd ResourceBaseName"
If we use `services.AddLocalization(opt => opt.ResourcesPath = "Resources");` and try to get a localizer with `_localizer = localizerFactory.Create(typeof(SharedResource));`
the resulting ResourceBaseName will be something like `<AssemblyName>.Resources.<NamespaceOfSharedResource>.SharedResource` which should probably be `<NamespaceOfShareResource>.SharedResource`

[2016-05-25 12:49] hishamco commented on #248
Why you didn't use ```IStringLocalizer<T>``` in DI instead of ```localizerFactory.Create```? If you have an online repo please share the link to investigate ..

[2016-05-25 12:51] hishamco commented on #248
@glatzert  is this duplicate for issue #247?

[2016-05-25 13:02] glatzert commented on #248
I use the localizerFactory.Create() since IStringLocalizer<T> did not work either and I thougt, it might work with the more "Basic" Version - but that ain't right.
@hishamco It _might_ be an duplicate - at least it Looks similar.

[2016-05-25 14:17] hishamco commented on #248
If it's duplicate please close this and put the link of your repo and I will look for it, ```IStringLocalizer``` should work fine

[2016-05-25 14:33] stefan505 commented on #245
I've logged a similar issue here: https://github.com/dotnet/cli/issues/3234

It doesn't appear to be ASP.NET specific.

[2016-05-25 14:40] glatzert commented on #248
Closing this as duplicate or related to #246 #245 and https://github.com/dotnet/cli/issues/3234

[2016-05-25 14:40] #248 closed

[2016-05-25 14:42] stefan505 commented on #245
Came across [this](http://stackoverflow.com/questions/33007969/put-translated-resx-files-in-a-different-folder-in-visual-studio) on SO. Was scanning the project,json schema without any luck to try and mimic the accepted solution.

[2016-05-25 14:52] stefan505 commented on #245
@BrennanConroy you are right about line 41, if I add the subfolder name into it, it works. Only issue is, as soon as you update any resource key/value, the designer file is regenerated and the subfolder is removed from the string.

[2016-05-25 15:34] BrennanConroy commented on #245
Looks like a tooling issue then?

[2016-05-25 16:30] Eilon commented on #245
@BrennanConroy yeah sounds like it. Can we get a new bug logged in https://github.com/aspnet/Tooling/issues/?

[2016-05-25 16:59] Eilon commented on #247
@pranavkm can you take a quick look and see what's going on here?

[2016-05-25 17:01] Eilon commented on #214
@MrWinky this is something we will look into, just not at this immediate time.

[2016-05-25 17:42] BrennanConroy commented on #245
https://github.com/aspnet/Tooling/issues/532

[2016-05-25 19:16] #245 closed

[2016-05-26 16:32] pranavkm commented on #247
@Weboholics the `LocalizationOptions` on `AddLocalization` is the same instance as the one in `AddViewLocalization`. The `ResourcePath` that you specify in `services.AddLocalization(options => { options.ResourcesPath = "Resources/Global"; });` gets overwritten by `.AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix, options => { options.ResourcesPath = "Resources/Views"; });` which is w

[2016-05-27 09:52] Weboholics commented on #247
We tried your suggestions but couldn't find a solution that works with both shared resources and view resources. Generally we think that the mixing of paths and parts of namespaces is too complex.

What we simply want to be able to do:
1. Use a default namespace like Weboholics.ProductName (two parts) in our products
2. Keep our Shared Resources and View Resources separate (preferable)
3. Be able

[2016-05-27 14:54] pranavkm commented on #247
@Weboholics - I agree the path -> namespace conversion has a couple of gotchas that aren't immediately obvious.

[2016-05-27 23:01] gzak commented on #203
@rubenprins I think you're not really supposed to modify the properties of existing cultures on the fly (could be wrong on that). You can, however, register "overrides" in advance, as outlined in [this article](https://msdn.microsoft.com/en-us/library/system.globalization.cultureandregioninfobuilder.aspx?f=255&mspperror=-2147217396#Anchor_5).

[2016-05-27 23:07] gzak opened #250 "Propagation across async/await boundaries"
I noticed that the detected locale is ultimately simply [persisted on the current thread](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/RequestLocalizationMiddleware.cs#L127) for subsequent use. Thus, I would have expected there to be a `SynchronizationContext` of some kind which knows how to propagate the value from the current thread onto a new thread in c

[2016-05-28 09:35] rubenprins commented on #203
@gzak, First of all, AFAIK *CultureAndRegionInfoBuilder* does not exist on .NET Core, and is very Windows-specific anyway. Second, registering a culture that way requires administrative privileges and installs the culture globally, for all applications, and I do not know of a way you can do this when you deploy a single web application either. So it's a _really_ awful way to handle application-spe

[2016-05-29 09:02] Muchiachio commented on #250
Yes this is most likely related to https://github.com/aspnet/Mvc/issues/4692. I saw this too, that threads don't share the culture.

[2016-05-31 13:17] joeaudette commented on #157
this is kind of a bad bug, only solution at the moment is to fork ResourceManagerStringLocalizerFactory and change the logic, wondering why this is backlog, thought it would be fixed in rc2 but backlog suggests it won't even be fixed in RTM

For example if I have a class library with a FooController like this:

    using Microsoft.AspNetCore.Mvc;
    using Microsoft.Extensions.Localization;
	names

[2016-05-31 14:32] joeaudette commented on #157
and a further note, it is currently not possible in a class library to get a working IStringLocalizer like this:

    using Microsoft.AspNetCore.Mvc;
    using Microsoft.Extensions.Localization;

    namespace WebLib.Controllers
    {
        public class OtherController : Controller
        {
            public OtherController(
                IStringLocalizer<OtherController> localizer

[2016-05-31 15:21] joeaudette commented on #157
so I implemented a PatchedResourceManagerStringLocalizerFactory with changes to get both broken examples working. To use:

    IStringLocalizer<OtherController> requires a convention to add the resx file as embedded in the root of the class library named without the root namepace like Controllers.OtherController.fr.resx

I'm not sure if this is the same way the team would fix this but here is my f

[2016-05-31 16:17] joeaudette commented on #157
one more thing I noticed that I thought I should mention, maybe it is normal/intended but seemed a little weird to me. When I plug in my PatchedResourceManagerStringLocalizerFactory and I sett a breakpoint in the else of this method:

        public IStringLocalizer Create(Type resourceSource)
        {
            if (resourceSource == null)
            {
                throw new ArgumentNullExc

[2016-05-31 17:21] joeaudette commented on #157
figured out that the 2 times when CultureInfo is passed in as the type is happening because I'm using the language selector partial view from the [Localization.StarterWeb sample](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb)

when I remove that from my _Layout I no longer see those invocations. But looking at the partial view I don't see where IStringLocalizer<Culture

[2016-05-31 19:20] joeaudette commented on #157
If the fixes in my PatchedResourcManagerStringLocalizerFactory look correct, I would be glad to submit a PR on ResourceManagerStringLocalizerFactory

[2016-05-31 22:31] khellang commented on #157
ProTip! Annotate your fenced code blocks with the language you're using, so it's easier to parse the code.

Or even better; create a gist and link to it. Right now, it's looks like a wall of text.

Example:

[code]

[2016-05-31 23:41] pranavkm commented on #250
We rely on the CLR to take care of this. https://github.com/dotnet/coreclr might be a better place to ask this question

[2016-06-01 01:16] gzak commented on #250
In the case of NET451, my understanding is that you need a SynchronizationContext in order to propagate this. Perhaps CoreCLR has a built-in mechanism for propagation, but to my knowledge NET451 does not. Correct me if I'm wrong though...

[2016-06-01 01:21] pranavkm commented on #250
@gzak - you're right - this does not work out of the box in NET45. However NET46 adresses this. I was told @davidfowl has a snippet to make this work in NET451.

[2016-06-01 09:17] davidfowl commented on #250
Yes we don't have or want a `SynchronizationContext` in ASP.NET Core. You need to use .NET Framework >= 4.6 or .NET Core to get this behavior for free. We can provide a sample to wire this up for .NET <= 4.6.

[2016-06-01 11:09] joeaudette commented on #157
@khellang thanks for the tip, I'm kind of a noob when it comes to the finer points of markdown. I've wrapped my code as you suggested mostly, but wasn't sure whether the razor code is csharp so left that one alone. for me the formatting looked fine in the web browser even before wrapping like that so I was not aware it looked like a wall of text for anyone

[2016-06-01 14:26] antonGritsenko opened #251 "Do not compile resx files"
Hi
With prevision version of ASP.NET we had option to deliver non-compiled resx file. That was great when you need a way to change OOB strings at already installed site: customers was able to do that by they own.
With ASP.NET Core looks like there is no way avoid compiling of resx files. Am I wrong?

[2016-06-01 17:23] joeaudette commented on #251
I think I have just what you are looking for
https://github.com/joeaudette/cloudscribe.Web.Localization

also be sure to see the ASP.NET Core localization docs if you haven't already
https://docs.asp.net/en/latest/fundamentals/localization.html

[2016-06-01 18:01] joeaudette commented on #157
for anyone else blocked by this bug or if you want to be able to localize class library web components by dropping resx files into the main web app please take a look at my new project here:
https://github.com/joeaudette/cloudscribe.Web.Localization

[2016-06-02 11:17] antonGritsenko commented on #251
Well, I did (almost) the same, but still I think what compiling of resources is not always needed, so will be great to have this as an option.
PS and offtopic. Removing \bin folder turns folder structure to mess ((( I know, who cares in case of Cloud, but in IIS it looks really like a mess.

[2016-06-02 12:04] antonGritsenko commented on #251
@joeaudette btw, am I wrong, or in your project resx file will be compiled and published to server?

[2016-06-02 12:07] joeaudette commented on #251
@antonGritsenko I am embedding the resx files in my class library and overriding them if needed with resx files in a folder in the main web app.
in any case I think ultimately resx files always get compiled, if they are on disk then they are JIT compiled

[2016-06-02 12:15] antonGritsenko commented on #251
@joeaudette  Not really. In old ASP.NET you can have just App_GlobalResources folder and set all resx files as "Content". No *.resource.dll will be created, only the proxy class in main assembly.

[2016-06-02 12:18] joeaudette commented on #251
@antonGritsenko I don't think that is true, if you add more resx files to App_GlobalResources folder it slows startup time because it does JIT the files, you don't see the dll because it is down in the windows temporary files

[2016-06-02 12:22] antonGritsenko commented on #251
@joeaudette we talking about little bit different things. You talking about JIT compiler (when site starting), I'm talking about "main" compiler and publishing. I don't care how long my site starting - two seconds or three :)

[2016-06-02 12:23] joeaudette commented on #251
if you pre-compile the resx then it does not need to be jit compiled, if you don't then it does I think

[2016-06-02 12:24] joeaudette commented on #251
same with .aspx files .ascx files etc

[2016-06-02 12:26] antonGritsenko commented on #251
but in case of pre-compiled I can't change them.

[2016-06-02 12:28] joeaudette commented on #251
correct. because resx files must be compiled either pre-compiled or jit compiled, it is best to only include resx files for languages you are actually using in the App_GlobalResources folder, because those files do need to be jit compiled and if you have lots of them it can slow down startup a lot.

[2016-06-02 12:37] antonGritsenko commented on #251
I know that :) And that's what talking about - I don't want to pre-compile resx file. At all. Because I have to change them later. And I know about performance issue, so those file are not very big and I'm using one file per language, so no real penalty (may be about 2 or 3 seconds).
And again, with old ASP.NET I has option - pre-compile or not. Now I don't have such option. All resx pre-compiled,

[2016-06-02 12:39] antonGritsenko commented on #251
Moreover, customer may want to add new language later by they own, or create new sub-language (en-UK or whatever). In case of old ASP.NET they needs only to copy one file. How to do that in new ASP.NET - have no idea.

[2016-06-02 12:45] joeaudette commented on #251
that does not appear true to me, in the main web app you can add resx files into a folder

    services.AddLocalization(options => options.ResourcesPath = "GlobalResources");

raw resx files there can be edited at any time, I believe they are JIT compiled

when it comes to the case of class library projects, if I embed the resx files I'm not sure they get pre-compiled, they might still get jit com

[2016-06-02 12:56] antonGritsenko commented on #251
On IIS, after a site was published?
And you don't have all those "en-US", "de" etc folders in published site(or in \bin folder of VS studio project)?

[2016-06-02 13:24] joeaudette commented on #251
note also that I don't think you can use the old static resource way with resx files in a folder in the main web app. I think that only works for the new way with IStringLocalizer an dnot using a default resx file

I have not yet fully tested publishing, but from initial test, I can make my raw resx files be in the published out put like this:

        "publishOptions": {
        "include": [

[2016-06-02 13:48] antonGritsenko commented on #251
I have same experience - publishing is not a problem, but no way to exclude them from compile.

[2016-06-02 13:51] joeaudette commented on #251
have you tried editing a resx file after publishing or adding a new one for another language? I have not tried it yet, hope it works or my goals will not be met

[2016-06-02 13:58] antonGritsenko commented on #251
Not yet, have some issues with my implementation of IString* :) and don't have time right now to fix it ) Will check this today later.

[2016-06-02 14:07] chemitaxis opened #252 "CookieRequestCultureProvider slow performance"
I have detected that if the user select a language and I use the CookieRequestCultureProvider, the site is slower.

My code:

[code]

If I dont set the language and take default, all is very fast, but if I set and save in cookie, the performance is very slow...
Any ideas? #

[2016-06-02 14:11] joeaudette commented on #251
crap! I just tried it and editing the resx file after deployment did not work. this sucks!

[2016-06-02 14:31] joeaudette commented on #251
so I guess my solution does still allow clients to add languages or override resx from class libraries, but it requires them to re-publish the app if they do that. still useful but not ideal

[2016-06-02 15:23] joeaudette commented on #251
now that I've had some time to process this, I think my initial anger at my cheese being moved has given way to acceptance. after all, adding a new language to a site is an infrequent activity, and I guess the framework should not be optimized for infrequent activity. If someone wants to add a new language, they will need to re-publish and I will give up on the idea of deploying raw resx files. th

[2016-06-02 17:35] chemitaxis commented on #162
I have added a new issue, could be this in relationship with my issue? Thanks!

https://github.com/aspnet/Localization/issues/252

[2016-06-03 02:23] hishamco commented on #252
Why you need to initialize the ```RequestCultureProviders``` while it's already have the default providers?!!
Can you provide a link to your sample for further investigation

[2016-06-03 08:50] chemitaxis commented on #252
HI @hishamco Here you have the rest of the code involved in Localization:

[code]

Do you need any more? Thanks!

[2016-06-03 14:20] seriouz opened #255 "Problem with german"
Hello folks!

I have a problem to design a german page (culture de-DE), because my customers should be allowed to switch between a "sub-culture" of the german language:
You can address people with "Du" or "Sie" formality. But how can i distinguish between both in the de-DE culture of asp.net localization?

[2016-06-03 19:01] chemitaxis commented on #252
I will add some screen captures showing the differences...

[2016-06-06 14:28] chemitaxis commented on #252
I have added two screen captures, the same URL (with no caching). The slow has the cookie set, the  fast, no. Tested with Fiddler with Chrome, Safari, Edge and Firefox. Same result. The difference is too big.

![screen shot 2016-06-06 at 16 24 02](https://cloud.githubusercontent.com/assets/1420409/15825331/92770340-2c03-11e6-8d0c-66d82e5633e9.png)

![screen shot 2016-06-06 at 16 24 37](https://clo

[2016-06-10 21:56] hishamco commented on #255
@seriouz you can easily support sub cultures in ASP.NET Core as the following:
[code]
and you can know the selected culture using
[code]

[2016-06-10 22:08] hishamco commented on #252
sorry @chemotaxis I was sick last few days, my question again why you need to define the culture providers while they are already there?!!
If you need to change the cookie name, please use:
[code]
modify what I said before and have a try

[2016-06-13 12:04] chemitaxis commented on #252
Hi @hishamco, I solved the problem... It is a problem with Resources files, if you don't have a default resources named like **My.Resources.en-US.resx** where en-US is your default request culture the system works, but it is very slow.

I had this:
My.Resources.resx
My.Resources.fr-FR.resx
My.Resources.it-IT.resx
My.Resources.pt-PT.resx
My.Resources.pt-BR.resx
My.Resources.de-DE.resx

Now I have t

[2016-06-13 22:40] #247 closed

[2016-06-14 10:37] thiennn opened #257 "_localizer.GetAllStrings() throw MissingManifestResourceException: No manifests exist for the current culture."
In my project, I try to get all the localized strings to be used in javascript. But it's throw exception when I  call _localizer.GetAllStrings().ToList(); although the _localizer.GetAllStrings("Some string"); work fine.

Am I missing something?

[2016-06-15 21:30] Eilon commented on #257
@ryanbrandenburg can you investigate?

[2016-06-15 21:33] #255 closed

[2016-06-16 18:05] pranavkm opened #258 "Consider surfacing additional diagnostics information as part of LocalizedString when a resource is not found."
It might make it easier to diagnose why a specific resource string isn't located. Perhaps as part of the debugger display?

[2016-06-21 03:07] hishamco commented on #257
@thiennn can you share an online repo that cause the issue

[2016-06-21 04:22] thiennn commented on #257
https://github.com/thiennn/localizationTest. The Controller LocalizationController, the TestGetAll, and TestGetAllShared throw that exception, two others work fine.

[2016-06-21 13:57] hishamco commented on #258
Is there any reason that resource is not found except the resource file doesn't exist or the resource entry is not found?

[2016-06-21 15:40] pranavkm commented on #258
Probably one of the two. But it's still a guessing game where the instance of `IStringLocalizer<T>` is looking for a particular resource.

[2016-06-22 00:20] hishamco commented on #252
I see, nothing but the sample that's provided by this repo is also missing the resource for the default culture. I'm not sure if this related to issue #162
/cc @Eilon  @ryanbrandenburg

[2016-06-22 00:27] hishamco commented on #257
The issue raised from ```GetResourceNamesFromCultureHierarchy``` method which throws a ```MissingManifestResourceException```, I'll try to dig into why no manifests exist for the current culture

[2016-06-22 05:01] israelito3000 opened #259 "How enumerate strings with ResourceManager"
I used GetResourceSet from ResourceManager in order to enumerate and get all the strings availables for an specific culture, now I can't GetResourceSet and ResourceSet are not available in RC2... any other way to achieve that?

[2016-06-22 21:21] israelito3000 commented on #259
Ok I understand that now everything should be managed by ResourceManagerStringLocalizer, no directly by ResourceManager...

[2016-06-22 21:21] #259 closed

[2016-06-23 00:04] hishamco commented on #257
Seems there's a bug when we call ```GetAllStrings().ToList()``` I try it in another project, nothing but the same exception was thrown

[2016-06-25 02:38] hishamco commented on #257
I'm still surprising why ```GetManifestResourceNames``` return an empty array?!!

[2016-06-27 23:43] ryanbrandenburg commented on #257
@hishamco thanks for asking for the reproduction repo, and @thiennn thanks for providing it, that was a big help.

I've debugged this and determined that you get this error when you don't have a default resx. So @thiennn if you were to add a `Controllers.LocalizationController.resx` to your Resources folder, it would start to work (even for non-default languages). I have not yet figured out why th

[2016-06-28 04:23] hishamco commented on #257
After long digging into this, I thinks the issue occurs during compilation process, because whenever you add a resource it will not be a part of the final assembly except the default resx, so that's why if you add that resource file it will works fine where the culture is empty **{}**

[2016-06-29 22:51] ryanbrandenburg commented on #257
Currently blocked by dotnet/corefx#9766

[2016-06-30 18:14] hishamco commented on #257
I expect that, thanks @ryanbrandenburg

[2016-07-05 18:56] ryanbrandenburg opened #263 "Track Assembly and Resource issues"
This is a tracking issue for dotnet/corefx#9766 and dotnet/coreclr#6123 which were found due to #257 and had work arounds in #262.

[2016-07-05 20:32] Eilon commented on #263
@ryanbrandenburg , parking this on your plate. No action required at this time.

[2016-07-07 17:45] Eilon commented on #157
@ryanbrandenburg please make sure we have appropriate test coverage in this area as well.

[2016-07-07 17:45] Eilon commented on #244
@ryanbrandenburg please see if this is a dup of the other bug.

[2016-07-08 00:03] ryanbrandenburg commented on #244
This is a [documented](https://docs.asp.net/en/latest/fundamentals/localization.html#resource-file-naming) edge case.  If you're resource isn't in the main namespace for your project you must specify the entire namespace. So from your example `Controllers.HomeController.resx` would become `App2.Controllers.HomeController.resx`. We allow the base namespace to be left off the to prevent excessively

[2016-07-08 00:07] pranavkm commented on #244
I think in this case it was the inverse. The resource was in the base namespace, the controller (`TType` for `IHtmlLocalizer<TType>` ) wasn't. I think I might've spent less figuring out this issue if https://github.com/aspnet/Localization/issues/258 is addressed.

[2016-07-08 04:46] Eilon commented on #244
@ryanbrandenburg can you discuss with @DamianEdwards if necessary as well?

[2016-07-08 05:08] Eilon commented on #252
@ryanbrandenburg let's see if we can repro this and perhaps run in a profiler to see what's taking so long.

[2016-07-08 05:44] hishamco commented on #252
@chemitaxis I'd like to inform you that the default resource issue is mentioned in the issue #257 too, hope the @ryanbrandenburg fix will solve the issue

[2016-07-08 17:52] ryanbrandenburg commented on #244
Sorry @pranavkm I was being confusing, I meant

I talked with @DamianEdwards in person, he agrees with me that this is expected behavior.

[2016-07-11 22:15] ryanbrandenburg commented on #252
@chemitaxis how slow were you seeing it? While I haven't actually profiled this, when replicating it in `samples\LocalizationSample` I didn't see a noticeable difference in speed between a missing and an existing Language. Does this still reproduce for you when using our latest packages? If it does, can you upload a complete minimum reproduction app to a GitHub repo?

[2016-07-11 22:28] ryanbrandenburg commented on #244
Since nobody seems to be objecting I'll close this one out, feel free to re-open if there's new or missing info.

[2016-07-11 22:28] #244 closed

[2016-07-15 16:54] ryanbrandenburg commented on #252
Closing this one out as could not reproduce. If you still run into this please reopen with a reproduction repo.

[2016-07-15 16:54] #252 closed

[2016-07-15 17:04] chemitaxis commented on #252
Ok, close, but the problem persist, in Azure Web App. Thanks for all. ;)
Best.

2016-07-15 18:54 GMT+02:00 Ryan Brandenburg <notifications@github.com>:

[2016-07-15 19:13] ryanbrandenburg commented on #252
I'm not able to replicate your described behavior, even on an Azure Web App. Likely there's another factor which hasn't been mentioned here contributing to your problem. It would help me to find that factor and reproduce your problem if you could provide an entire project which exhibits the behavior (as a GitHub repo). If you can provide me with that I will investigate further.

[2016-07-15 20:19] ryanbrandenburg commented on #257
We implemented a temporary fix in #264. We'll do a more permanent fix after dotnet/corefx#9766 is solved, but that should all be transparent to users.

[2016-07-15 20:19] #257 closed

[2016-07-15 22:42] chemitaxis commented on #252
Ok, I will try this weekend... Thank you so much for your time... And sorry if I was rude... It dit not intend. Best.

[2016-07-28 12:19] devharis opened #267 "Data annotations localization on models in separate class library doesn't work"
I've been implementing localization with success on Views/Controllers and got stuck on implementing localization on data annotations using .resx files. I don't seem to make it work at all. The [documentation ](https://docs.asp.net/en/latest/fundamentals/localization.html#dataannotations-localization) is pretty shy on that part as it only describes how to implement it on ViewModels within the same

[2016-07-28 15:32] devharis commented on #267
Added separate Resource folder in the class library and added this
 `  "buildOptions": {
    "embed": [
      "Resources/**"
    ]
  },`

Also implemented a custom StringLocalizer, StringLocalizerFactory, no success. Still same output, no translation.

[2016-07-28 17:18] hishamco commented on #267
@devharis AFAIK there's an issue in localization in when you use it in class library, have a look to this PR #265. @ryanbrandenburg correct me if I'm wrong

[2016-07-28 17:42] Eilon commented on #267
@hishamco yeah I think you're right.

@ryanbrandenburg can you confirm if this is essentially a dup?

[2016-07-28 17:42] devharis commented on #267
Thanks for the heads up @hishamco. I just recently managed to implement a work around with custom localizers. Phew!

[2016-07-28 22:56] ryanbrandenburg commented on #267
Yes, this is a duplicate of #157.  @devharis writing a custom Localizer/LocalizerFactory as you did is likely going to be our advice for people who need this going forward. Unfortunately we don't have any way to know what ResourcePath each class library will be using, so it's impossible in general to construct the resource names that will be needed. This isn't a scenario we had planned to support,

[2016-07-28 22:56] #267 closed

[2016-07-30 03:01] kennywangjin opened #268 "Shared Resource does NOT work when set ResourcePath property of LocalizationOptions:"
Currently, I am using one shared resource file RESX to centrally implement localization.
For cshtml views, I am using IStringLocalizer<SharedResource> for localization. And I have one folder "Resources" in the project root with one empty "SharedResource.cs" file and one "SharedResource.zh.resx" file in it.
Problem is: When I configure "StartUp.cs"'s "ConfigureService" with code `services.AddLocali

[2016-07-30 04:17] kennywangjin opened #269 "localization fallback issues:"
I use IStringLocalizer and IViewLocalizer to localize my web page.
If I have no resx files, the page will just show the English KEY string, just a expected.
When I provide localized zh-HANS resource files and set culture to zh-Hans, it will show Chinese, as expected.
Problem is: If I provider only  Chinese resource, the page will always show Chinese even I set culture to en-US.
I want it to show t

[2016-07-30 08:22] hishamco commented on #269
@kennywangjin can you check the localization sample, it doesn't have a default resource and it works fine.
Please create a repo and provide the link, so we can investigate

[2016-07-30 08:27] hishamco commented on #268
Can you have a look to the [Localization.Web](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.StarterWeb) sample in the entropy repository

[2016-07-30 14:16] kennywangjin commented on #269
@hishamco if there is just one localization resource file provided, aspnet will always use that resource to render page no matter the requested culture matches the localization resource or not. I think localization should turn back to the IStringLocalizer-KEY if no matched culture resource file found.

[2016-07-30 14:20] kennywangjin commented on #268
@hishamco Thanks. Got the point. The ResourcesPath property is just for aspnet core's localization style, not for traditional .net style localization.
close it.

[2016-07-30 14:20] #268 closed

[2016-07-30 14:29] hishamco commented on #269
Nope .. please try to remove all the resource files from the localization sample except **Startup.fr-FR.resx** for instance. Run ```dotnet run``` and check the result you will see the English key show up except in France culture which it will replaced by the value in the french resource file

[2016-08-01 02:10] kennywangjin commented on #269
@hishamco please see my project: [https://github.com/kennywangjin/OfficeAutomation](url), WebApi as the service and WebPage as the UI project.
The top navbar always shows Chinese only even I set language to en-US (no resources provided for en-US because the default KEY is English.)
And for the sub area: /IT/Home/Index, it works and shows the correct English texts when I change back to English cult

[2016-08-01 11:17] hishamco commented on #269
Seems everything works as expected after restoring the required packages, have a look to the top navbar

![capture](https://cloud.githubusercontent.com/assets/3237266/17292219/2cb91182-57f1-11e6-86a9-ed195e70ea1c.PNG)

It shows the right resource values, as well as the area: /HR/Home/Index

![capture1](https://cloud.githubusercontent.com/assets/3237266/17292399/727fd52e-57f2-11e6-8a77-ec30e99a2af1

[2016-08-02 21:01] IvanCisneros opened #270 "Custom Culture Resource file"
Hi,

I have created some custom cultures and also added the resources files for those custom cultures, but when running the application the resources for the custom cultures are not being found, translations for valid cultures like es-MX, en-US are found. i Have added the custom cultures in the supported cultures list on startup.

I notice that on my bin folder, theres a folder for every culture b

[2016-08-02 22:09] hishamco commented on #270
What you mean by custom culture? If the culture is supported by the OS, it should work as expected

[2016-08-02 22:17] IvanCisneros commented on #270
I have created custom cultures like fr-PF (french - french Polynesia), among others, i have register the cultures using cultureAndRegionInfoBuilder.Register(),

I added the culture in supportedCultures at startup, im using IViewLocalizer and its working for no custom cultures, but for the ones i register its not working, when deploying i see that folders with the culture name are being create it,

[2016-08-02 22:33] hishamco commented on #270
I didn't try cultureAndRegionInfoBuilder.Register before, AFAIK if the culture is not supported by the OS, it will fallback to the default one. May be it's a runtime issue, @ryanbrandenburg any idea?

[2016-08-03 12:25] stefanhendriks opened #271 "Localization for default (entityframework) validators"
At the moment I have a working situation for localizing my custom (and default) attributes.

In general I do it like this:

[code]

[code]

I have a `myproject.en.resx` and a `myproject.resx` file (with an equivalent `MyProject.Designer.cs` file.

However, I feel that for the default validators (like `MaxLength`) it should be easier to override their default translation.

I would expect my code to

[2016-08-03 14:16] damienbod commented on #271
ErrorMessageResourceName  ErrorMessageResourceType don't work with this localization...

You're meant to use the new style.

[2016-08-03 16:59] Eilon commented on #270
@IvanCisneros which OS is it? Not sure it matters these days, but at least in some points in the past the native OS had to also have the culture registered. But it could certainly help us reproduce the issue.

[2016-08-03 17:04] Eilon commented on #271
Correct, the old style and new style are both fine, but they don't talk to each other.

We have a complete sample of localizing a simple MVC app, including localizing Data Annotations validation attributes: https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.LocalizationSample.Web

* The model: https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.LocalizationSample.Web/Models/Product.cs
* A l

[2016-08-03 17:05] IvanCisneros commented on #270
@Eilon  im using Windows 7 Professional, another thing i found its that when adding the resources to the project, only for the resources of my custom cultures a designer cs file was create it.

[2016-08-03 18:33] fdaunizeau opened #272 "CultureInfoCache ignores custom supported cultures"
Hi all,
In some cultures, the academic decimal separator is comma.
For web users, it is nevertheless more convenient to use the numpad dot in decimal form inputs, but dots are rejected by form validator.

I tried to create an hybrid CultureInfo, based on the french one, except NumberFormat overridden by english culture NumberFormat.

Everything works fine when I only declare a default request cult

[2016-08-03 18:35] stefanhendriks commented on #271
This is not exactly the same. As i have to localize per model.

I want to localize on validator level and override defaults.

If I understand correctly this seems to be not possible.

Btw the examples I posted are working scenario's. So messagetype/name do work there.

Any way to override on validator level? (Ie the resources.resx file of entityframework) without the need to override per model, no

[2016-08-03 19:19] hishamco commented on #272
@fdaunizeau I think this is a duplicate for #203, I'm glad that you find a bug and trying to solve it, please be free to add a PR after reading [this](https://github.com/aspnet/Localization/blob/dev/CONTRIBUTING.md). It's better to discuss with the others before you submit your PR
Thanks

[2016-08-03 20:21] Eilon commented on #271
@stefanhendriks perhaps I'm not understanding what isn't working then? I'm pretty sure there was never a way to change the global default validation messages for the built-in data annotations validation attributes...

[2016-08-04 10:07] stefanhendriks commented on #271
@Eilon perhaps this is a feature request then? ;-) - it would be very handy to have (from a maintenance standpoint).

I try to give a bit background information, write down a suggestion and perhaps this is something for the future. I hope it would be considered. It would make life really easier.

**So, my use case is as following**

I have a bunch of models (quite a lot). They have a custom valida

[2016-08-04 17:37] Eilon commented on #270
@IvanCisneros thanks for the info, we will investigate.

[2016-08-05 09:12] luciusli opened #273 "zh-TW should fallback to zh-Hant before zh"
zh-CN should also fallback to zh-Hans.

[2016-08-05 17:26] Eilon commented on #273
I have a feeling that the logic is quite simple: It just chops off the last segment of the locale string after the `-` character and uses that. I don't think any part of the system actually knows anything about which languages are "related" to other languages.

@ryanbrandenburg do you know any more about how this fallback logic works?

[2016-08-05 18:04] hishamco commented on #273
As @Eilon said zh-TW & zh-Hant should fallback to zh, I never seen a framework to do such thing, because you need something in advance (relation between the languages),

[2016-08-05 22:47] ryanbrandenburg commented on #273
Actually, we use `CultureInfo.Parent` to walk down the hierarchy rather than string manipulation.

For zh-TW in net451 (there are some differences between frameworks) the hierarchy goes "zh-TW->zh-CHT->zh-Hant->zh" in netcoreapp1.0 it's the same, but omit "zh-CHT". Either framework should reach zh-Hant before zh. The most likely cause of skipping it would be that zh-TW or zh-Hant are not among `Su

[2016-08-05 22:56] Eilon commented on #273
This seems like a complete explanation. Assuming the steps in @ryanbrandenburg 's response are followed, there is no further issue here, so I'm closing the issue.

If the ultimate issue is that the hierarchy of cultures on .NET Core (netcoreapp) is undesirable, please file a new bug at https://github.com/dotnet/corefx/issues/. Thanks!

[2016-08-05 22:56] #273 closed

[2016-08-07 21:34] hishamco commented on #269
@kennywangjin any updates?!!

[2016-08-08 03:46] kennywangjin commented on #269
@hishamco thanks for your support. Now everything works fine. I don't know why. Anyway, it works. Maybe the cache problem. Thanks.

[2016-08-08 03:46] kennywangjin commented on #269
@hishamco thanks for your support. Now everything works fine. I don't know why. Anyway, it works. Maybe the cache problem. Thanks.

[2016-08-08 03:46] #269 closed

[2016-08-09 17:48] ryanbrandenburg commented on #214
This is not a scenario which the current system supports, however we did a little refactoring of `ResourceManagerStringLocalizerFactory` to make it easier to subclass and implement this behavior yourself. An example of what that might look like can be found at aspnet/Entropy#159.

[2016-08-09 17:48] #214 closed

[2016-08-09 17:52] ryanbrandenburg commented on #157
This is not a scenario which the current system supports, however we did a little refactoring of `ResourceManagerStringLocalizerFactory` to make it easier to subclass and implement this behavior yourself. An example of what that might look like can be found at aspnet/Entropy#159.

@joeaudette this is essentially what you had done, but now you shouldn't have to duplicate any code, just subclass `Re

[2016-08-09 17:52] #157 closed

[2016-08-10 23:32] ryanbrandenburg commented on #270
@IvanCisneros could you upload a repro app to Github? Also, what version of System.Globalization are you using? Because I don't see `CultureInfAndRegionInfoBuilder` on 4.0.11.

[2016-08-11 14:58] IvanCisneros commented on #270
@ryanbrandenburg I believe its 4.0.1, will try to upload an example of the project.

as a note, I can see my custom cultures registed on control panel Region and Language section, they appear with an asterisk at the end and im not getting any errors when changing the culture in my application to those custom cultures but the resources files are not found.

This is what i notice so far:

- Only for

[2016-08-16 11:42] pMonfared opened #275 "update problem : don't support separate library in new update"
i'm using localization in separate class library and it worked in 1.0.0
but don't work after updated to 1.1.0-alpha1-21873

[code]

![untitledsss](https://cloud.githubusercontent.com/assets/10448255/17697731/bd31e866-63cb-11e6-8342-a4695d3e61ee.jpg)

[2016-08-16 18:44] ryanbrandenburg commented on #270
You do appear to be correct, though it seems to be a problem with the CLI rather than with Localization. I've filed issue dotnet/cli/issues/4050 against them.

[2016-08-17 17:45] IvanCisneros commented on #270
@ryanbrandenburg Thanks for the support, will follow up the open bug. Thanks

[2016-08-19 10:21] branciat opened #276 "Localization failed with the os specific runtimes in the project file"
I have generated a web appplication with yo aspnet for the reproduction error easily.

an example is better a thousand words, here the sample [LocalizationOrigin](https://github.com/branciat/LocalizationOrigin) where just added the localization to project generated.
And here [TestLocalization](https://github.com/branciat/TestLocalization) where i added some elements and dependencies of my real pro

[2016-08-20 01:09] hishamco commented on #276
Is this issue with Debian OS only?
Have you try it in any Windows OS?

[2016-08-20 03:53] hishamco commented on #122
It's in the way @Codenator81 :smile:
https://github.com/aspnet/Localization/commit/53a8fa6abc85712bfd6d7f4543b0a1c632912774

[2016-08-20 09:37] branciat commented on #276
Yes, the same problem occur on windows 7 also. installed windows sdk aspnet core and git for windows only and clone the projects. it's alright with LocalizationOrigin and failed with TestLocalization.

[2016-08-21 22:07] hishamco commented on #276
Both of them doesn't display the correct result, can you please add the following code to the beginning of the ```Configure``` method:
[code]
regarding the TestLocalization project I don't have debian OS nor windows 7, nothing but try to add the above code, and copy the ```project.json``` from the first project with adding the newly dependencies

[2016-08-22 10:15] branciat commented on #276
This is what I have in my real project.
[code]
I copied in test projects, this does not change. The strings aren't translate.

[2016-08-22 13:40] Rick-Anderson opened #277 "IViewLocalizer returns the wrong language when default is non-English"
See this on [SO](http://stackoverflow.com/questions/38147076/iviewlocalizer-returns-the-wrong-language)
Also  [this ](https://docs.asp.net/en/latest/fundamentals/localization.html#comment-2842901156)comment in DISQUS
I want to use Spanish as the default language of my application and English as optional. I configured it all up. If I have two seperate resx files for both Spanish and English the web

[2016-08-22 13:42] hishamco commented on #276
I surprised when I didn't see the localization setup, with that you need to copy the entire ```project.json``` to the other project, after that run ```dotnet restore``` and ```dotnet run```
I enforced to do that because the runtime doesn't match my runtime

[2016-08-22 13:47] hishamco commented on #277
Do you mean if the current culture isn't english the localization doesn't fallback properly?

[2016-08-22 13:50] Rick-Anderson commented on #277
I think that's what they are trying to say.

[2016-08-22 13:53] Rick-Anderson commented on #277
@kichalla  please review

[2016-08-22 13:56] hishamco commented on #277
@Rick-Anderson we need a repo to reproduce the issue if there's, it's great if anyone have an issue related to any of the aspnet repositories to post them in github, so the team can ask more questions about it and see a demo that reproduce the issue, to simplify the process

[2016-08-22 15:47] hishamco commented on #277
I used the [LocalizationOrigin](https://github.com/branciat/LocalizationOrigin) project that provided in issue #276 as a sample with the modification that is available in the StackOverflow, I got these results:

![de](https://cloud.githubusercontent.com/assets/3237266/17860630/b6562636-6896-11e6-9784-d24d43a9838a.PNG)

![en](https://cloud.githubusercontent.com/assets/3237266/17861209/cb9cdcc2-6898

[2016-08-22 15:52] Rick-Anderson commented on #277
Closing the issue until we get a repo. Perhaps we need a machine with the OS culture non-english.

[2016-08-22 19:05] SherleyDev commented on #277
I think the problem is that I don't use cookies. I use URL friendly localization. http://localhost/es/account/login or http://localhost/accont/login for Spanish and http://localhost/en/account/login for English.

For URL friendly localization I follow the method described in this SO answer: http://stackoverflow.com/questions/35829426/optionally-override-request-culture-via-url-route-in-an-asp-net-

[2016-08-22 20:53] hishamco commented on #277
@SherleyDev Is that mean he using a ```CustomRequestCultureProvider```?

[2016-08-23 05:43] branciat commented on #276
I pushed the modifications of two projects. I don't understand the latest message. The TestLocalization is more simple that my real project, and more easy to compare with the LocalizationOrigin and track the source of bug.

What does it possible to show the trace of localization with the log level ? Or modified the source ?

[2016-08-23 05:49] hishamco commented on #276
You can you console logger if you do so, regarding the latest changes that you pushed looks fine, one more thing can you copy the entire ```project.json``` from the LocalizationOrigin project and paste it to the new project. Don't forget ```dotnet run restore``` before you run the application, have a try please and let me know if you get the correct result

[2016-08-23 06:08] branciat commented on #276
I modified the TestLocalization view which to show a error message, i loop on the LocalizationStrings and force the throw exception.

[2016-08-23 06:15] hishamco commented on #276
Please let everything as it was before, and let me know if you got the correct localized strings or not. Don't forget to add the queryString **?culture=fr-FR&ui-Culture=fr-FR** to enforce the ```QueryStringCultureProvider``` to get the right culture

[2016-08-23 06:18] branciat commented on #276
The project.json of LocalizationOrigin work fine, i know because i written :smile:  but it is not one that interests me because in my project i must to have the runtimes os, maybe with the database dependencies (entityframework, npgsql), it's the project.json of TestLocalization is interesting for me.

[2016-08-23 06:23] hishamco commented on #276
I know there problem is I don't have the exact runtime, also I tried to figure out where's the line that break the localization, sadly I didn't find it :disappointed:

[2016-08-23 06:24] branciat commented on #276
The url used http://localhost:5000/Home/Index?culture=fr-FR&ui-Culture=fr-FR
and the complete console trace

[code]

[2016-08-23 06:28] branciat commented on #276
I understand :wink:  and me without the localization source it's difficult to find the source of problem

[2016-08-23 06:31] hishamco commented on #276
Can you check the ```TestLocalization.Resources.Test.fr-FR.resources``` in the bin\debug\runtime folder?

[2016-08-23 06:37] branciat commented on #276
I have not runtime folder and not resources file, but i have a fr-FR folder with the TestLocalization.resources.dll file compiled. This fr-FR folder is bin/Debug/netcoreapp1.0 and in  bin/Debug/netcoreapp1.0/debian.8-x64 and i have the TestLocalization.deps.json in debian-8x64 folder which contain the setting localization.
[code]

[2016-08-23 06:49] hishamco commented on #276
I forgot the culture folder :smile: I updated my latest comments.
Please push the latest change into your repo and I will try again in to check the exception in Windows environment

[2016-08-23 15:02] branciat commented on #276
In Windows environment (win7), the same error occured.

[2016-08-23 16:58] christianheld commented on #277
I am the author of the SO post:
I have added a small repro on https://github.com/christianheld/ResourceManagerIssue

The app default language is `en`, but running on a `de-DE` version of Windows. Also the app seems to work as excpected on Azure. I think it might be related to the OS language.

[2016-08-23 22:46] hishamco commented on #277
@christianheld I run it on Windows 10 version 10.0.10240 on both ```netcoreapp1.0``` and ```net451``` I got the right result

UI Culture: en
Hello World!
UI Culture: de
Hallo Welt!

[2016-08-23 23:51] Rick-Anderson commented on #277
@hishamco I think the problem is you need to run this on a non-English machine. For example, @christianheld  ran it on a de-DE version of Windows and I think someone else ran it on an Spanish version.

[2016-08-24 00:08] hishamco commented on #277
Yep, hope someone else try this on non-English version of Windows, Unfortunately I have an English one to verify if this a bug or not

[2016-08-30 10:29] branciat commented on #276
i saw that we can debug vscode in Linux now, when i have a moment i will look into the sources of localization to detect the problem.

[2016-09-01 05:16] ariesdane opened #279 "AspNetCore Localization: 3 Biggest Missing Features"
1. Ability to configure a shared resource file so that commonly translated UI terms such as "Save", "Cancel", "Required", etc can be managed in a single location rather than duplicated across multiple resource files. Meaning, that if an instance of IStringLocalizer / IViewLocalizer cannot locate an entry in the expected resource file, then the framework would check the shared resource file. The na

[2016-09-01 13:42] PinpointTownes commented on #279
Agreed, this is a critical feature :+1:

[2016-09-01 13:58] joeaudette commented on #279
1. as a workaround I implemented something to do that https://github.com/joeaudette/cloudscribe.Web.Localization

3. I "thought" I wanted that too, but later realized that I don't care about that. Adding new languages is an infrequent task so I don't mind re-compiling, I don't want to optimize for infrequent tasks. I would rather pre-compile than to take a performance hit from the asp.net compiler

[2016-09-09 08:00] branciat commented on #276
Well,

I cloned and added the TestLocalization into localization project. The resource assembly is found and retrieved the strings, but an manifest exception is throw from this [line in ResourceManager.cs](https://github.com/dotnet/corefx/blob/master/src/System.Resources.ResourceManager/src/System/Resources/ResourceManager.cs#L70) in the System.Resources of corefx.

I tried to add the part System.

[2016-09-09 16:45] hishamco commented on #276
@ryanbrandenburg any idea?

[2016-09-11 23:51] Eilon commented on #277
@ryanbrandenburg can you try to repro this on a non-English OS?

[2016-09-11 23:52] Eilon commented on #270
@ryanbrandenburg any further action required for this bug?

[2016-09-11 23:54] Eilon commented on #275
Let's see if there's a regression here and if so, we should make sure we add tests before we fix.

[2016-09-12 14:38] hishamco commented on #275
@pMonfared do you have the sample in github repo?

[2016-09-12 16:59] ryanbrandenburg commented on #270
True, I'll close this one in favor of the CLI bug.

[2016-09-12 16:59] #270 closed

[2016-09-12 19:08] DmitrySikorsky opened #281 "Application parts, MissingManifestResourceException: The manifest 'Xxx.Yyy.Zzz.en.resources' was not found"
I'm working on modular application and trying to add application part (assembly 'Module') to the main application (assembly 'Application'). Also I have direct link to that project in Application's project.json.

Module contains localized views (using IViewLocalizer) and resx files in the Resources folder. Values from the resx not shown. If I try to call IViewLocalizer's GetAllStrings method in the

[2016-09-12 19:09] ryanbrandenburg commented on #276
@branciat it seems there are more things different between those two examples than just including a runtime. [Here](https://github.com/ryanbrandenburg/TestLocalization) I've created a version of what you had which properly localizes. Of note is that in `project.json` you have:
`"tooling": { "defaultNamespace": "Mediagral"}`, which in older versions might have affected Resource generation and locat

[2016-09-12 19:34] hishamco commented on #281
I think it's a duplicate for issue #257

[2016-09-12 21:34] DmitrySikorsky commented on #281
Maybe. GetManifestResourceNames() returns nothing (except views) for me too. But I know that resource is added because if I add resx like A.B.C.resx in addition to A/B/C.resx I get compilation error that resource id is already exists.

Problem is that I'm not sure that I'm doing this in the right way. Localization works if I have localized views and resx in the Application project, but it doesn't

[2016-09-12 21:54] hishamco commented on #281
This is seems a bug in 1.1.0-alpha1-21873, please have a look to this issue #275

[2016-09-13 00:01] ryanbrandenburg commented on #277
@christianheld I ran your project on a de-DE version of windows and got the output I would expect:
[code]

Is [this](https://github.com/christianheld/ResourceManagerIssue) the exact setup you had when you ran into this issue? Can you tell me what output you get when you do `dotnet --version` on the command line?

[2016-09-13 07:46] DmitrySikorsky commented on #281
Problem is that I'm using 1.0.0. I will try to create simple demo for you.

[2016-09-13 16:07] branciat commented on #276
@ryanbrandenburg
effectively after multiple changes, I added errors in the project, sorry. I tested your project after adding a file to myget because I use NuGet and 1.0.0 versions, this version 1.0.0 throw the same exception with your project. With version 1.1.0 it compiles and executes correctly only I still have the same behavior at the beginning with your project and my project modified, the f

[2016-09-13 18:15] christianheld commented on #277
@ryanbrandenburg yes, this is the exact setup.
`dotnet --version` says `1.0.0-preview2-003121`

[2016-09-13 18:34] branciat commented on #276
I simplified the project TestLocalization, modified the project file and deleted the namespace mediagral to respect the guidance. No exception but the texts are not translated as this image above.

[2016-09-13 19:28] branciat commented on #276
@ryanbrandenburg
Ok i found the origin of problem. If remove the language entry in the project.json of TestLocalization, all texts are translated, and if add the language in the project LocalizationOrigin that have always translate the texts, now they are no longer translated.
Why ? Is that really the source of problem ? i don't know.

[2016-09-13 19:34] ryanbrandenburg commented on #276
@branciat I came to the same conclusion just moments ago. The problem is that when you set `"language": "fr-FR"` you're setting that as the default language for localization, so when our resource manager goes out to look for a fr-FR resource it looks for "TypeName" not "TypeName.fr-FR". If you were to rename your `*.fr-FR.resx` files to `*.resx` I believe they would localize and you would be able

[2016-09-13 19:34] #276 closed

[2016-09-13 23:04] ryanbrandenburg commented on #277
@christianheld I was able to get the output:
[code]
by adding `"language": "de",` to the ResourseManagerIssue `project.json`. This is the equivalent of adding `[assembly: NeutralResourcesLanguage("de")]` to AssemblyInfo.cs. What this does is set "de" as the neutral culture, meaning that instead of looking for the resource described by `SR.de.resx` like we normally would, the `ResourceManager` inst

[2016-09-13 23:43] Rick-Anderson commented on #277
@ryanbrandenburg this looks like something I should add to the document.

[2016-09-13 23:49] ryanbrandenburg commented on #277
@Rick-Anderson I agree, especially since this is the second time I've seen `language` causing basically this confusion. Let me know over email if you need anything from me with regards to that.

[2016-09-14 17:34] christianheld commented on #277
@ryanbrandenburg Thank you very much for your help: Problem solved!

In my special case adding one of `language: "en"` or `[assembly: NeutralResourcesLanguage("en")]` solves the problem. I think this is because in my project I want to have English as default language instead of German even though running and compiling on de-DE Windows.

[2016-09-14 17:52] Rick-Anderson commented on #277
@christianheld  can you help me draft the instructions I need to add to the [ loc doc](https://docs.asp.net/en/latest/fundamentals/localization.html)

[2016-09-14 18:53] ryanbrandenburg commented on #277
Sounds like this is done then.

[2016-09-14 18:53] #277 closed

[2016-09-14 22:16] Eilon commented on #281
We think we have a way of making this fairly easily doable in an app:

1. We'll define a new assembly-level attribute `[assembly: LocalizerResourcePath(string resourcePath)]`
2. Assemblies such as those containing application parts would use this new attribute to specify their root resource path.
3. The default localization system would check the type of the resource being used, see if its contain

[2016-09-14 22:17] Eilon commented on #275
@ryanbrandenburg let's see if we can make this work properly once we do the other fix with the attribute.

[2016-09-14 22:27] Eilon commented on #279
1. We are not planning to have a built-in feature for this, but you should be able to create your own shared resources (e.g. MyAppSharedResources.resx) and access that with the localization system. You just have to make sure you always reference those resources directly. There would be no automatic fallback between shared and un-shared resource.

2. We think we have a solution to this, per https:/

[2016-09-14 22:27] #279 closed

[2016-09-14 22:30] Eilon commented on #272
Closing as a dup of https://github.com/aspnet/Localization/issues/203. We'll take another look at the other bug to see what we can do there.

[2016-09-14 22:30] #272 closed

[2016-09-14 22:31] Eilon commented on #203
Let's take another look at this, e.g. by writing a console app and seeing how custom cultures work in .NET Core.

[2016-09-14 22:36] Eilon commented on #251
Hi folks, there are no plans to have this built-in, but with the extensibility in the system it's certainly possible to build such a system. We see some of the linked projects above offer some solutions to this, so perhaps check those out.

[2016-09-14 22:45] PinpointTownes commented on #281
@Eilon great approach (similar to the one I had in mind).

In a perfect world, one should also be able to override the resources used by a "class library", but it's probably too much to ask, right? :smile:

[2016-09-14 22:46] antonGritsenko commented on #251
@Eilon , can you please review the thread. The issue was not about ADD such function to Core. The issue (even with custom solution) is that we can't disable compilation of a resx file.

[2016-09-15 00:23] Eilon commented on #281
@PinpointTownes that's certainly debatable. Usually resources are an implementation detail of a class library and so it doesn't make sense to allow someone to modify it from outside.

But in the case where the author of the "app" and the "class library" is the same person, it certainly gets more interesting. But no plans to support that at this time 😄

[2016-09-15 00:25] Eilon commented on #251
Oh, oops, of course 😄 A few of us met and we focused too much on the overall scenario and not the actual problem! 😄

[2016-09-15 00:32] Eilon commented on #251
Ok I think the way to do this is to add something like this to your `project.json` file:

[code]

This (or something similar to it) should instruct the .NET compiler to not process the RESX files in any folder as *resources*. You might also need to then add them back as "content" files in the `publishOptions/include` section:

[code]

But that's mostly just from memory 😄 If you're seeing issues wi

[2016-09-15 00:32] #251 closed

[2016-09-15 00:35] hishamco opened #282 "Add RequestCultureProvider based on RouteData"
Last few days ago I posted an article on my blog about [Localization & Routing in ASP.NET Core](http://www.hishambinateya.com/localization-and-routing-in-asp.net-core-1.0), I think such provider is very handy and already requested in some issues before, so if there's a plan to include it in 1.1 as Damian Edwards mentioned in Gitter I'm glad to create a PR for this

[2016-09-15 00:45] PinpointTownes commented on #281
Nah, actually, that's not what I had in mind.

Here's a concrete use case: in ASOS/OpenIddict, we use a bunch of OpenID error messages that are returned to OIDC apps or directly to users. Currently, these messages are hardcoded but a few people said they were interested in customizing them (e.g https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/240#issuecomment-209526620

[2016-09-15 03:20] antonGritsenko commented on #251
@Eilon  thanks a lot!
For history, the right way to exclude resources is using embed:
`"embed": {
      "exclude": [ "Resources/**/*.resx" ]
    }`

[2016-09-15 08:19] DmitrySikorsky commented on #281
To be able to use static resources (like images) from other assemblies I create CompositeFileProvider like this: https://github.com/ExtCore/ExtCore/blob/master/src/ExtCore.Mvc/MvcExtension.cs#L122

Maybe we could have something like that for localization too? To unify the approaches. Like to define assemblies to look for localizations in?

[2016-09-15 12:08] joeaudette commented on #281
this is the same problem I was trying to tackle in this project
https://github.com/joeaudette/cloudscribe.Web.Localization

it would be nice if the framework provided a way to solve this problem without so much workaround

for me the main web app is like the assembly point where composition root and configuration live, but most functionality is going to be in separate class library projects, wheth

[2016-09-15 16:53] Eilon commented on #251
Ah, yes, that looks right 😄

[2016-09-15 17:29] Eilon commented on #281
@PinpointTownes I'm not sure I like that pattern for overriding another component's resources. It seems very fragile because it's not clear the intention of each resource. It also assumes using a specific localization technology and pattern, which might not work for everyone.

Instead, I recommend a first-class approach such as what we do in Identity here: https://github.com/aspnet/Identity/blob/d

[2016-09-15 19:47] PinpointTownes commented on #281
I'm not sure I understand. My suggestion has nothing to do with the resource itself, but with its location (i.e being able to tell the localization stack that resource "xyz" will come from the "entry point app" instead of a specific class library.

[2016-09-15 21:11] Eilon commented on #281
@PinpointTownes it assumes that the loc system is using embedded resources. But some libraries and/or sites might be using PO files, a database, a dynamic system, etc.

[2016-09-16 12:00] joeaudette commented on #281
to me the part that seems fragile is the way any arbitrary location can be set like this in the main web app:

    services.AddLocalization(options => options.ResourcesPath = "FooResources");

Instead of that if there could be a specific well known folder name where resx files could live and that would allow overriding resx resources from class libraries as well as the main app would be ideal. Sor

[2016-09-19 09:25] macgyver76 commented on #203
In my case I need to change the `ShortDatePattern` for specific culture. What's the solution for this?

[2016-09-19 10:08] mmoron commented on #203
For now you could write your own `RequestLocalizationMiddleware` and skip using `CultureInfoCache` in it. That's (more or less) what I've done and it worked.

[2016-09-20 16:37] ryanbrandenburg opened #284 "Functional tests have duplicate tests for OSSkipConditions"
The Localization functional tests use OSSkipCondition to skip CLR on Linux and Mac, but the tests seem to run the CoreCLR version twice, which confuses the issue. Let's clean up the skip conditions and duplicate tests where possible.

[2016-09-21 14:29] dpjain opened #285 "Decimal format not working with localization for French language"
The decimal separator used for Euro currency is comma, while in other currency we have dot as a decimal separator. So when any model property is of Currency data type, it fires data annotation validation states that "The property must be a number".

As while changing the culture to French the display format of decimal and currency datatype property becomes '0,00'.

How can we set the default decim

[2016-09-21 14:32] hishamco commented on #285
If I'm not wrong this is a duplicate for issue #203

[2016-09-21 15:03] dpjain commented on #285
No its different issue I think. In the issue #203, they are not getting the localization working for currency. in my case I am getting the appropriate Euro currency when I change the culture to French.
Due to Euro decimal format(using comma as decimal separator), the validation is fired as invalid number.

[2016-09-21 15:36] hishamco commented on #285
Using `0.00.ToString("C")` should display 0,00 € in french culture.
Can you please print out `0.00.ToString("C", CultureInfo.InvariantCulture)` and check if you get the desired result.

[2016-09-22 07:02] dpjain commented on #285
But we need to use decimal format (0.00) for Editor as well as for display dynamically.

[2016-09-22 16:41] hishamco commented on #285
Do you get the expected result when you execute the above code? if yes, the main issue you 're facing is the editor shows you an error when you enter (0.00) format, Am I right?

[2016-09-22 18:57] airomero opened #286 "Localize default DataAnnotations validation messages languaje"
Hi, i want all built in validation messages (required, minlength, etc) in other languaje than english since my app is in spanish. I don´t want to add any param to my DataAnnotacion attributes. What i'm looking for is to override the default languaje (since all validation messages are in english), my messages will always be in spanish. Is there a way to configure the default languaje and specify th

[2016-09-22 19:01] hishamco commented on #286
Please have a look to this sample https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Startup.cs#L59, don't forget to set the Spanish language as default culture here https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Startup.cs#L76

[2016-09-22 19:09] airomero commented on #286
I have already looked at it.

For example the the required attribute in the model is:
[Required(ErrorMessage = "ProductName")]

I don`t want to specify that, i just want the Required attribute and the validation mesage in spanish. In mvc5 it was possible. I installed the language pack for the fwk 4.5 and the "Microsoft.AspNet.Mvc.es" nuget package and the built in validation messages were displaye

[2016-09-22 20:36] hishamco commented on #286
`[Required(ErrorMessage = "ProductName")]` is fine what you 're missing to define a resource file for spanish language that contains ProductName as key.
The Localization.StarterWeb sample already have this in https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/ViewModels/Account/RegisterViewModel.cs#L12, https://github.com/aspnet/Entropy/blob/dev/samples/Localization.Starter

[2016-09-22 21:13] airomero commented on #286
I think you don´t understand me. I don´t want to write `[Required(ErrorMessage = "ProductName")]`. I want to write `[Required]` and have the validation message in spanish. The required attribute has a built in message, which is in english. I want that message in spanish without writing (ErrorMessage = "ProductName"). My previous comment was very clear i think. I have all my classes already written

[2016-09-22 21:21] hishamco commented on #286
I think you need to create a Spanish resource file for those built-in messages

[2016-09-22 22:26] ryanbrandenburg commented on #286
@airomero the innards of `RequiredAttribute` are actually part of [corefx](https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/RequiredAttribute.cs) so it's a little bit out of my wheelhouse, but based on my prior knowledge and a brief reading of their files and code I believe that what you'r

[2016-09-23 04:21] airomero commented on #286
@ryanbrandenburg  thanks for your answer. Too sad that we still have this problem. I my opinion, we should be able to override the default messages without touching code, only configuration. It´s ok that the default messages languaje is english, but maybe if there is a resource file in the project, and we configure the app to take that resx it'd be so much easier. I feel so frustrated when i see t

[2016-09-23 07:19] dpjain commented on #285
Yes, main issue is with Editor for a number data type

[2016-09-23 14:43] hishamco commented on #285
I tried to change the `DataFormatString` in `DisplayFormatAttribute`, it works with date, but whenever you change the numbers format it shows comman instead of period even if the period symbol was set in the format.
I end up with setting `NumberFormat.NumberDecimalSeparator` of the current culture to period symbol, it works as expected.

[2016-09-23 16:31] ryanbrandenburg commented on #281
This should be enabled by #283. If you still have any problems reopen, closing until then.

[2016-09-23 16:31] #281 closed

[2016-09-23 17:11] ryanbrandenburg commented on #275
@pMonfared this should be fixed by #283 which is merged into dev now? Can you give `ResourceLocationAttribute` a try and confirm it fixes your situation?

[2016-09-23 22:54] #203 closed

[2016-09-23 23:11] ryanbrandenburg commented on #275
On second thought, what you've said here is pretty much the exact bug we fixed, I'll just close this out and you feel free to reopen it if you're still having trouble.

[2016-09-23 23:11] #275 closed

[2016-09-23 23:51] hishamco commented on #282
/cc @Eilon

[2016-09-25 03:26] #282 closed

[2016-09-25 03:42] airomero commented on #286
Also, one thing, if i have the required attribute in 100 entities and i want to translate it, it menas that i have to create 100 resx files for that? One for each class?? Tell me i'm wrong.

[2016-09-25 03:47] hishamco commented on #286
Yep, unless you creating your own custom attribute that is using a custom `IStringLocalizerFactory`

[2016-09-25 04:02] airomero commented on #286
Is there any design reason for that? Why the same attribute has to be translated over and over again for each class? This was so much easier before.......I'm sorry but i feel that the non english people is punished with this kind of implementation.

[2016-09-25 04:19] hishamco commented on #286
AFAIK almost the repos in ASP.NET Core has English version of the resx file out of the box, So what I know is you need to create a resource per class to get the localized version

[2016-09-25 04:31] airomero commented on #286
Don't you think that it has no sense to translate the same attribute over and over again in each class i need it? From my perspective is an awful and rigid implementation. I really hope that localization would be more important for the development of netcore :(

[2016-09-25 04:41] hishamco commented on #286
The localization in ASP.NET Core is very flexible and extendable, but the `DataAnnotation` once is from the early days of .NET, and this is how works since years ago. I know you and I as a non English people suffer sometime when we localize out apps (no choice :smile: )

[2016-09-25 04:44] hishamco commented on #286
One more thing if your application using one language you can write your translation directly in the data annotation attributes, so the localization APIs if doesn't found the your localization resource of course will pick up the one that you wrote

[2016-09-25 06:19] airomero commented on #286
Ok,you are wright, the problem here is DataAnnotations. In this case speaking only about the `[Required]` attribute, i have to write in every entity, in every required field:
`[Required(ErrorMessage = "El campo {0} es requerido.")]`
It's a madness. And that is only for `[Rquired]`, imagine all of the others attributes. If it's the same message it would be better to translate it only in one place (

[2016-09-25 07:05] hishamco commented on #286
This is why I told you before you need to write your own with using a custom `IStringLocalizerFactory`, BTW the compiler will not care if you are using the same message or not , so probably you can subclass the `Require` attribute and write your error message once in the subclass, problem solved :)

[2016-09-25 12:34] airomero commented on #286
I didn't follow you on this one with the subclass. Is there any sample here in the repo of `IStringLocalizerFactory`?

[2016-09-25 21:36] hishamco commented on #286
Of course, there's a sample I built long time back in the [entropy repo](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework)

[2016-09-26 17:06] ryanbrandenburg commented on #286
@airomero I don't believe you do need to make 100 resx's. Instead, you can do something like this:

[code]
in your startup. That allows you to use a different resource based on your type, or just use a single resource for every type, or whatever suits you.

Let me know if I've misunderstood your ask or if you have any trouble with that.

[2016-09-26 19:02] airomero commented on #286
Yes, i need a single resource file for every type so that every `[Required]` field uses the same message just like it works by default, but instead of getting a message in english, it would be in other languaje.
In the code above: `factory.Create(typeof(SharedResource))`, **SharedResource** would be the path to a resx file? How do i tell the config what resx file to pick up?? Thanks!!

[2016-09-26 19:15] ryanbrandenburg commented on #286
I think I may have misunderstood your question, were you asking about multiple resources for the case of `[Required]` or for `[Required(ErrorMessage = "El campo {0} es requerido.")]`? My comment was addressing the second case. For the first case I'm still working with the CoreFX team to get you an authoritative answer.

[2016-09-26 19:39] ryanbrandenburg commented on #286
@airomero the consensus between the CoreFX team and ours seems to be that it may be hypothetically possible for you to accomplish what you're asking by adding satellite assemblies, but that isn't something we would recommend you try to do, and certainly not something we would support, as it would rely on implementation details and generally complicate your build process.

For now `[Required(ErrorM

[2016-09-26 19:39] #286 closed

[2016-09-26 19:40] airomero commented on #286
Maybe i did not explain it well enough. In my web app i have the '[Required]' attribute in many classes (entities, view models, etc). My app is in spanish. The error message i get in the browser for those fields is: "The field XXX is rquired". I want that message to be: "El campo XXX es requerido". As far as i read, and as you told me i should make a resx file for each class that has the `[Require

[2016-09-26 19:43] airomero commented on #286
@ryanbrandenburg thanks for trying to help me and give me an answer. I think it should be easier to replace the default resx file that is embedded into corefx, i didn't think it would be so complicated. I must say i'm a little dissapointed. Anyway, thanks a lot for your help.

[2016-09-26 21:53] ryanbrandenburg commented on #286
For posterity, the solution we recommend for using the same resource string on validation attributes across multiple classes is to do
[code]
in your startup, where `SharedResource` is the class corresponding to the resx where your validation messages are stored (data annotations will then only use that resource, rather than the resource for each class). Then decorate the properties with `[Required

[2016-09-27 06:19] dpjain commented on #285
Sure, I will try this to resolve the issue.

[2016-09-27 12:04] holgerleichsenring opened #289 "Where are the autogen properties in asp.net core localizers?"
There are some questions raised due to implementation of ILocalizer interface:

It's introduced like this via Dependency Injection (from docs):

    Route("api/[controller]")]
    public class AboutController : Controller
    {
        private readonly IStringLocalizer<AboutController> _localizer;

        public AboutController(IStringLocalizer<AboutController> localizer)
        {
            _l

[2016-09-27 13:49] hishamco commented on #285
Exactly @ryanbrandenburg, the solution that you mentioned above is the easiest one after the fix of #203, but before that it needs a workaround to make this happen

[2016-09-27 15:10] hishamco commented on #289
The `IStringLocalizer` is not the only one used to localized strings, you can use the `IViewLocalizer` via `inject` directive in the views, also you can use `HtmlLocalizer` for localizing `HtmlString`.

The generic type that you passed in used to provide strings for, because every type should have a resource file .resx, so the localization APIs will be able to get the values back to the localizer,

[2016-09-28 18:15] ryanbrandenburg commented on #246
@MrWinky we did the work to allow class library resources in #283. To enable this scenario you need to add `ResourceLocationAttribute` to the AssemblyInfo of the class libraries so that the "main" project knows where to look for the resources.

Let us know if you have any trouble with that, or if I misunderstood and that doesn't actually resolve your issue.

[2016-09-28 23:08] ryanbrandenburg commented on #246
On second thought I'll close this as it seems to be the exact use case #283, but feel free to re-open if the need arises.

[2016-09-28 23:08] #246 closed

[2016-09-29 23:31] ryanbrandenburg commented on #285
@dpjain I'm going to assume that in this instance silence means success. Feel free to re-open if you still have trouble.

[2016-09-29 23:31] #285 closed

[2016-09-29 23:39] ryanbrandenburg commented on #227
Seems like @JoeOM got his answer, closing this one out.

[2016-09-29 23:39] #227 closed

[2016-09-30 09:28] djanosik opened #290 "Remove dependency on Microsoft.AspNetCore.Hosting.Abstractions"
Can you remove the dependency on `Microsoft.AspNetCore.Hosting.Abstractions` from the `Microsoft.Extensions.Localization` package? We wanted to use the new localization in our framework, but we don't want any dependency on ASP.NET Core.

[2016-09-30 16:55] Eilon commented on #290
Oops, you are correct. This must have been an oversight on our behalf. Unfortunately, changing it at this time is a breaking change.

But it's something we can certainly fix in a new major version.

It appears that the dependency is there because it uses `IHostingEnvironment` to get the application name. We should have instead defined a new interface, e.g. `IApplicationName`, which isn't part of A

[2016-09-30 16:55] Eilon commented on #290
cc @DamianEdwards

[2016-09-30 17:02] #122 closed

[2016-09-30 17:50] ryanbrandenburg opened #292 "Move `ValidationAttributeAdapterProvider` and `AttributeAdapterBase<TAttribute>` out of .Internal"
Currently `ValidationAttributeAdapterProvider` and `AttributeAdapterBase<TAttribute>` are in `Microsoft.AspNetCore.Mvc.DataAnnotations.Internal`, which implies to anyone who wants to write their own validation attribute that that's not something we want them to do.

[2016-09-30 19:45] djanosik commented on #290
It makes no sense. Just make sure the location is not null.

[2016-09-30 22:01] Eilon commented on #290
@djanosik sorry, not sure I understand your comment.

[2016-09-30 22:59] hishamco commented on #290
AFAIK the new Localization APIs designed for ASP.NET Core, if we remove the dependency on `Microsoft.AspNetCore.Hosting.Abstractions` you can use the localization abstractions & some of the implementation APIs, because you miss the `Microsoft.AspNetCore.Localization` which have a rich APIs to get the culture information from different providers on top of the `xxxStringLocalizerFactory` and `xxxStr

[2016-10-01 07:43] djanosik commented on #290
@Eilon It should not be the responsibility of `ResourceManagerStringLocalizerFactory` to get the name of application. The `location` parameter in the `Create(string baseName, string location)` method should never be null.

[2016-10-02 12:45] ajtowf opened #293 "Localization always returns english clulture"
My views contains swedish text e.g.
@Localizer["Välkommen"] // means welcome

If I have a english resource for my view e.g. Index.en.resx this text will get translated to the english text no matter what! Even if I configure the app not to even support english, eg:

[code]

and in configure app:

[code]

Pretty frustrating, so the workaround for now is to simply rename the resource files to some ot

[2016-10-02 13:24] hishamco commented on #293
I configure the localization options like this, but the configuration that you did should work too. To make things work as expected you should add a Swedish resource file like the following **Resources/Views/ControllerName/ViewName.sv.resx**

[2016-10-03 16:37] Eilon commented on #289
@holgerleichsenring your thoughts are all valid. This loc system was designed based on our experience looking at other loc systems and trying to capture what we thought were the most valuable features. But it certainly isn't The One True Localization System. Apps are free to use RESX / *.designer.cs files as they did before, or they can use this new system, or they can build out their own custom s

[2016-10-04 12:02] ajtowf commented on #293
What you're proposing is something entirely different. My views contains Swedish text so there is no .sv.resx files since Swedish is the default. The user may choose to switch to English however, and if there is any ViewName.**en**.resx files, the text will be localized to English no matter what. See the difference?

[2016-10-04 12:04] ajtowf commented on #293
My workaround for this is to put the English localization into some bogus language like Norwegian e.g. ViewName.**no**.resx and camouflage Norwegian as English.

[2016-10-04 13:08] holgerleichsenring commented on #289
Thanks for comprehensive answers! Two suggestions:

 - It would be helpful to have built-in support of constants of the resource manager's output right in the ILocalizer<> interface to avoid magic strings when calling for translation
 - People tend to have exactly one resx file for translation. Being able to configure the strategy would also be perfect.

[2016-10-04 16:47] ryanbrandenburg commented on #289
@holgerleichsenring both of your final suggestions are possible within our current system (if I've understood you correctly).

1. It's entirely possible to do `stringLocalizer["TITLE_ABOUT"]` instead of using the default text of the title, simply define it that way in your resx file. Just keep in mind that if a particular key is missing for a culture and all its children (including the default cul

[2016-10-06 18:53] #284 closed

[2016-10-07 10:32] dpjain commented on #285
@ryanbrandenburg
I am still facing the issue after declaring the NumberFormat= { CurrencyDecimalSeparator = "."} in Startup.cs.

[2016-10-07 11:34] hishamco commented on #285
@dpjain can you please upload your sample in a repo and share the link with us

[2016-10-08 18:16] do0om opened #294 "validation attributes default translation wrong culture"
Hi,

I can't understand how translation for validation attributes  works.
By default, when I run on my french machine and I set current culture to french, validation messages are in french.
When I run it on an english server while setting current culture to french, validation messages are in english.
Is this behavior expected?
I tried to set on my computer (french culture installed) a culture diff

[2016-10-09 05:49] hishamco commented on #294
Please have a look to [Localization.StarterWeb](https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb) for more details about localization.
BTW you need to define a resource file for your validation messages in case you want to localize them, please have a look to shown here https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Resources/ViewModels/Account

[2016-10-09 11:36] do0om commented on #294
Thanks for the sample but it does not explain why it is translating in french without doing anything except calling UseRequestLocalization with french culture (no resources, no AddLocalization, no AddDataAnnotationsLocalization)  and why this is changing depending on computer installed language.

[2016-10-09 19:28] hishamco commented on #294
If you talking about the StarterWeb sample it has almost things about localization. Regarding your sample I'm still wonder why the data annotation messages show up on French, while there's no resource file in your project?!! AFAIK the default resx file which is available in CoreFx is English one.
@ryanbrandenburg your thoughts

[2016-10-10 07:31] hishamco commented on #293
@ajtowf can you update to the latest version, I tried to use the localization sample with English & Swedish as supported cultures, Swedish is the default one. I added Startup.en.resx, so when I visit `http://localhost:5000` it retrieve **"Välkommen"**, when I visit `http://localhost:5000/?culture=en&ui-culture=en' I got **"Welcome"**, these are the correct and expected result.
If i'm not wrong it

[2016-10-10 17:18] ryanbrandenburg commented on #294
@do0om it appears that you're using the default ValidationAttribute messages. If that's the case and you have no local resx files (which appears to be true based on your zip) then this is being sourced from CoreFX, which is strange, because as @hishamco said they only have one (english) resx file checked in.

I'm spinning up a french VM to test this on, but in the mean time could you try one of th

[2016-10-10 18:14] ryanbrandenburg commented on #293
@ajtowf it doesn't sound like this is your issue, but as a warning it is generally a bad idea to rely on the behavior of your "default" language (that is, the one which "*.resx" instead of "*.lng.resx") without manually setting that language as described [here](https://github.com/aspnet/Localization/issues/277#issuecomment-246854009). Without setting that one way or another if you deploy to an Eng

[2016-10-10 19:11] ryanbrandenburg commented on #289
I think we've addressed everything here, but feel free to re-open if I missed something.

[2016-10-10 19:11] #289 closed

[2016-10-10 19:45] ryanbrandenburg commented on #271
@stefanhendriks that's an interesting idea, but it's more of a feature request, would you mind creating a new issue to that effect?

In the mean time, you could prevent the repetitive ErrorMessage entering by sub-classing the attributes in question and setting the ErrorMessage to whatever you want. If you do that you'll have to implement `IValidationAttributeAdapterProvider` in such a way that it

[2016-10-10 20:59] ajtowf commented on #293
@ryanbrandenburg so my default language isn't in .resx, it's in the views, I only have *lang*.resx for non-default languages, e.g in Index.cshtml:

    @Localizer["Hej hej, hemskt mycket hej!"]

will have a corresponding Index.en.resx that contains

    Hej hej hemst mycket hej! -> Hello Hello, very much hello!

i _won't_ have a Index.resx.

as recommended in https://docs.asp.net/en/latest/fundame

[2016-10-10 21:53] ryanbrandenburg commented on #293
If you have no "base" resx then ignore my first paragraph as it's irrelevant to you.

Setting a default request culture should have no bearing on the ability to use the [CookieRequestCultureProvider](https://github.com/aspnet/Localization/blob/861ae52de51f174e14701d6cdbb88e6543638b03/src/Microsoft.AspNetCore.Localization/CookieRequestCultureProvider.cs). I note that you had a `CustomRequestCulture

[2016-10-10 23:55] ryanbrandenburg commented on #294
So, I was able to reproduce this. It seems that ValidationAttributes DO localize their messages based on the installed language of the machine, at least for some languages. The question then becomes how do we get multiple languages of these installed at once and used base on the requesting culture. I believe that that's something to file against CoreFx  since they actually own the validation attri

[2016-10-11 13:22] do0om commented on #294
Sorry, I could not work on this yesterday, do you still want me to set the default language?
Have you created an issue in the core fx repo?

[2016-10-11 15:17] vameszar commented on #251
Hi there!

I've been trying to disable the resx compilation (we want to be able to swap in new resx files to provide custom string support for our clients), and I cannot get @antonGritsenko 's solution to work, despite trying multiple ways to disable them in my project.json.

I am using @joeaudette 's solution to use Shared Resource files ([https://github.com/joeaudette/cloudscribe.Web.Localizatio

[2016-10-11 15:47] antonGritsenko commented on #251
@vameszar here is my preject.json snippet:
`  "buildOptions": {
    "emitEntryPoint": true, // change this to false to build assembly
    "preserveCompilationContext": true,
    "compile": {
      "include": [ "../SharedCode/**/*.cs", "**/*.cs" ],
      "exclude": [
        "wwwroot",
        "node_modules",
        ".bower",
        "App_GlobalResources",
        "**/*.resx"
      ]
    },
    "e

[2016-10-11 19:19] ryanbrandenburg commented on #294
@do0om I think I've got this nailed down now, and I don't think it will require a CoreFX issue. This only happens (that I can find) when you're running `net451`. Projects running under `netcoreapp1.0` don't encounter this, and their validation messages will always (for now) be in English because currently that's the only resource they have.

`net451` apps on the other hand will use the installed l

[2016-10-11 19:24] ajtowf commented on #293
@ryanbrandenburg yes the custom provider is just to illustrate that it doesn't matter what the user "chooses" it's always english. Same problem with latest versions, I'll create a sample repo to reproduce the bug.

By the way the samples don't suffer from this since the default language is english and it's possible to switch to french.

I'll get back with a sample app, thanks!

[2016-10-11 19:59] ajtowf commented on #293
@ryanbrandenburg @hishamco simple minimalistic repo to reproduce the bug https://github.com/ajtowf/LocalizationBug/

Maybe @DamianEdwards is interested?

[2016-10-11 20:11] vameszar commented on #251
Hmmm... I've altered my project.json to be closer to yours and still no dice. I am going to try making a sample project and see if I can get it working there.  I'll check in later if I still cannot figure it out.

Thank you for the help!

[2016-10-11 23:35] do0om commented on #294
@ryanbrandenburg  This is strange since my sample is running net461

[2016-10-12 11:05] boindiil commented on #293
I have exactly the same problem.

I have implemented my own _RequestCultureProvider_, but the returned culture is ignored by the _IStringLocalizer_. However, it is used by _AnnotationsLocalization_ so my annotations are translated correctly.

I have basically the same setup as provided in the example of @ajtowf

[2016-10-12 18:28] ryanbrandenburg commented on #294
That was bad communication on my part, I didn't mean to imply that net451 was the only framework this would happen for, but that it depends on if you're using a core or non-core framework.

Do the procedures I listed solve your issue?

[2016-10-12 18:48] ryanbrandenburg commented on #294
Sorry @do0om that was bad comunication on my part, I meant to imply that having a non-core framework was the only way I knew of of making this happen, not that `net451` was the only version with this problem.

Do the options I listed solve your issue?

[2016-10-12 23:41] ryanbrandenburg commented on #293
@ajtowf this was an interesting one! I was finally able to replicate this behavior by renaming a resource file from one language to another. When you look in the bin directory after doing that you'll see the folder for your new language, but you'll also still see the folder for the language that no longer has any resx files.

More generally this is to say that language folders (and their discovery

[2016-10-13 00:37] do0om commented on #294
@ryanbrandenburg no problem for the communication part.

For the solutions : I can't manage to install a new language pack on my system or on my server.
Am I Supposed to download [this](https://www.microsoft.com/fr-FR/download/details.aspx?id=49977) by setting a new language?  It says (translated from french) that the module does not match my operating system language...

I Followed your solution

[2016-10-13 05:19] hishamco commented on #293
That's the idea I want to suggest 😄

[2016-10-13 07:39] ajtowf commented on #293
@ryanbrandenburg so you mean by simply cloning my repo you get Swedish and not English when passing ?culture=sv as query param? @hishamco same for you? Why would I want to rename the resource files? I have English resources, that's correct. I'd say what you are suggesting is something entirely different.

Just to make myself clear again, my claim is that if you have an "en" folder, which contains

[2016-10-13 07:56] ajtowf commented on #293
Isn't this the same thing as https://github.com/aspnet/Home/issues/1707 ? I see you've been active there as well @ryanbrandenburg

[2016-10-13 08:08] ajtowf commented on #293
Just verified this is only a problem when targeting framework netcoreapp1.0, works for full net451, just updated (the sample repo)[https://github.com/ajtowf/LocalizationBug/], it's obvious this is a bug, try switching between full and core framework.

@davidfowl I've seen you've been involved in other threads, care to comment? ;-)

[2016-10-13 08:12] davidfowl commented on #293
You need to use .NET >= 4.6 to get the behavior you want.

[2016-10-13 08:17] ajtowf commented on #293
@davidfowl thx for answering mate.
Right, so this won't be possible targeting core at all?
How can this not be a bug?

[2016-10-13 08:18] davidfowl commented on #293
Oh wait, I misread that, I thought it did work with core and *not* on .NET Framework.

[2016-10-13 08:23] ajtowf commented on #293
@davidfowl it would just be nice if this would be recognized as a bug, imho the [sample repo](https://github.com/ajtowf/LocalizationBug/) to reproduce must be enough. I keep getting suggestions in this thread that's completely irrelevant, it's getting ridiculous.

[2016-10-13 09:22] khellang commented on #293
Heyyy! :angry:

[2016-10-13 11:04] ajtowf commented on #293
@khellang sorry mate, no offence, I'm a swede btw, sorry to hear about Johaug! ;-)

[2016-10-13 11:31] khellang commented on #293
Heh. Just trolling :wink: Yeah, "sorry" :stuck_out_tongue_closed_eyes: #SorryNotSorry

[2016-10-13 13:56] hishamco opened #295 "Unable to run the sample"
Yesterday I was playing with dotnet CLI bits to add new command, suddenly when I was trying to run the localization sample I got this error

The specified framework 'Microsoft.NETCore.App', version '1.1.0-preview1-001100-00' was not found.
  - Check application dependencies and target a framework version installed at:
      C:\Program Files\dotnet\shared\Microsoft.NETCore.App
  - The following ver

[2016-10-13 16:04] pranavkm commented on #295
If you run build.cmd \ build.sh, it should grab the new shared runtime for you. That said, given that these sort of build changes aren't repo specific work items, I'd highly recommend using https://github.com/aspnet/Home as a place to start a discussion about it.

[2016-10-13 16:17] hishamco commented on #295
I already did that, but it fails before it complete, ok I will close it and move it to home repo
thanks

[2016-10-13 16:17] #295 closed

[2016-10-13 18:13] ryanbrandenburg commented on #293
@ajtowf sorry for any confusion, I was saying that renaming your resource files is a way to have a problem like this, not suggesting that you rename it as a solution. It IS true that renaming your resource files can give you these problems (regardless of framework) but after reading your most recent post I found that you are correct that it's not the problem you're running into.

Though the result

[2016-10-13 19:13] ryanbrandenburg commented on #294
@do0om strange that the shared resource didn't work for you, I've created an example of it [here](https://github.com/aspnet/Entropy/tree/rybrande/LocalizationShared), can you confirm that the localization sample I changed in that most recent commit works on your machine then look for any differences between how it's done there and in your project?

[2016-10-13 19:34] ajtowf commented on #293
@ryanbrandenburg cool, thx mate, I guess I'll go with the "awesome-other-language"-workaround (@khellang) for now until it's fixed and keep an eye on the issue you created. Feel free to close this bug, I don't know what your practices are for handling issues.

[2016-10-13 23:08] hishamco commented on #293
@ryanbrandenburg can you please fix the link of the corefx issue to https://github.com/dotnet/corefx/issues/12625

[2016-10-13 23:10] ryanbrandenburg commented on #293
Thanks @hishamco.

[2016-10-15 23:58] do0om commented on #294
Your sample is working on my machine, I need more time to investigate why it's not working in my project.

[2016-10-17 10:20] dpjain commented on #285
Sorry I was not able to provide you the sample.

But the issue is resolved now.
Thanks

[2016-10-17 14:04] hishamco commented on #285
No problem, while the problem solved 😄

[2016-10-20 02:46] dougbu opened #296 "Must use `Type.FullName` for resource files found using default `IStringLocalizer<T>`"
Behind our default `IStringLocalizer<T>`, `ResourceManagerStringLocalizerFactory` removes a prefix matching `IHostingEnvironment.ApplicationName` or `AssemblyName.Name` (in some cases) from `T`'s `FullName` before a search of the containing assembly for requested resources. This does not help users who happen to have a different root namespace from the containing assembly / application name. They

[2016-10-25 21:33] ryanbrandenburg commented on #296
In order to fix this without adding new information storage a la `[ResourceLocation]` we would need to apply whatever transformation is used to turn the Project name into a legal C# namespace to `baseNamespace` [here](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.cs#L98). If we did that we would successfully trim the nam

[2016-10-26 02:58] hishamco commented on #237
@Elion IMHO if the `Accept-Language` sent with tens of cultures, typically you’re only interested in the first one for setting the language as that’s the primary language. In this case we avoid the performance impact. If it's need I can write a simple middlware in my repo or in the entropy repo to prove the point

[2016-10-26 03:19] DamianEdwards commented on #237
That's not the point. The issue was a single client sending lots of requests (000's) for different cultures. Creating culture objects isn't cheap so we avoid doing it unless we need to. Culture works differently on .NET Core than it did in .NET Framework on Windows, where the list was fixed based on what the OS supported. That said, the logic in this middleware is pretty trivial, and if an app wan

[2016-10-26 03:30] hishamco commented on #237
I agree with you that creating a culture object isn't cheap, but what I suggest is a workaround to migrate his old ASP.NET Application to ASP.NET Core 😄

[2016-11-01 10:22] DmitrySikorsky commented on #281
Hi! I'm trying to make it work but still with no luck. I have created simple test project: https://github.com/DmitrySikorsky/AspNetCoreSeparatedLocalization

It will work if I move the SharedResources class from the AspNetCoreSeparatedLocalization project to the AspNetCoreSeparatedLocalization.Shared one, but I need it to be located in the AspNetCoreSeparatedLocalization project (it will be not on

[2016-11-01 16:53] hishamco commented on #281
I'm asking why you wanna move the `SharedResources` to AspNetCoreSeparatedLocalization instead of AspNetCoreSeparatedLocalization.Shared?

[2016-11-01 19:56] DmitrySikorsky commented on #281
The main project is web application that contains controllers etc. The second project is resources one that contains only resources. SharedResources class is just a sample, I would use controllers etc. So that's why I can't put it to the resources project. Also I would like to have resources separated to be able to add them like 3d party components (in modular systems like my ExtCore project).

[2016-11-01 23:06] ryanbrandenburg commented on #281
The current design requires that a Resource you want to look up by its type be in the same assembly as that type. This prevents us from having to go digging through every assembly in the project to find resources.

My first recomendation is to just keep the Resources in the same project as their types, but if it's important to you that your resources be in a project seperate from the types they re

[2016-11-02 08:34] DmitrySikorsky commented on #281
Thank you for your answer, now it is very clear, I will think what option to choose.

[2016-11-02 10:34] audacity76 commented on #286
I have managed to change the validation messages at a global level. I use the AttributeAdapter for this. Example:

1. Create RESX File as already described above, I called it DataAnnotationResource.resx and added a string resource "ValueRequired".

2. Create a LocalizedRequiredAttributeAdapter like:
[code]

3. Create a LocalizedValidationAttributeAdapterProvider like:
[code]

4. Register Localized

[2016-11-05 05:26] javiercn opened #297 "[BREAKING CHANGE] Parameter changed on ResourceManagerStringLocalizer constructor"
V1:
`public ResourceManagerStringLocalizer(ResourceManager resourceManager, AssemblyWrapper resourceAssemblyWrapper, string baseName, IResourceNamesCache resourceNamesCache)`
V2:
`public ResourceManagerStringLocalizer(ResourceManager resourceManager,             IResourceStringProvider resourceStringProvider, string baseName, IResourceNamesCache resourceNamesCache)`

[ACTION for 1.1]: Undo the con

[2016-11-05 05:26] javiercn commented on #297
@Eilon

[2016-11-05 05:31] BrennanConroy commented on #297
The tool looks broken
The V1 constructor still exists https://github.com/aspnet/Localization/blob/f650de8cdf5214bcbb2e88210baac0f99ce3d053/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.cs#L34

[2016-11-05 05:35] javiercn commented on #297
@BrennanConroy You are looking at the wrong constructor
**AssemblyWrapper resourceAssemblyWrapper** not **Assembly resourceAssembly**

[2016-11-05 05:36] javiercn commented on #297
https://github.com/aspnet/Localization/blob/1.0.0/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.cs#L51
https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.cs#L57

[2016-11-05 16:38] hishamco commented on #297
@javiercn I'm not sure why it's a breaking change, while the constructor intended for testing purposes only?!!

[2016-11-07 16:22] Eilon commented on #297
@ryanbrandenburg can you get the fix in ASAP?

@hishamco it's a source-code breaking change in case someone used named parameters to call the constructor.

[2016-11-07 17:25] hishamco commented on #297
I'm with you @Elion, but still wonder, because the constructor is intended for Testing purpose (nothing else), correct me if I'm wrong

[2016-11-07 17:30] ryanbrandenburg commented on #297
I believe I discussed this with either @rynowak or @dougbu at the time and we decided it was ok to change this one because it's labeled as for testing only.

[2016-11-07 17:31] Eilon commented on #297
Yeah that's a no-go, it's still a breaking change.

[2016-11-07 17:58] hishamco commented on #297
As I said before it's for testing only, so that's why `internal` modifier is preferable for internal classes, I remembered long time back I posted an issue regarding this, but @Eilon said this is how we design it for almost the aspnet repos

[2016-11-07 18:02] do0om commented on #294
@ryanbrandenburg Sorry for the very late reply, I was very busy but I finally took time to examine the sample.
It was not working in my project because I did not have an empty SharedResource class
like this:
`public class SharedResource
    {
    }`
That's what I don't understand, why do I need an empty class for this to work?
When I create SharedResource.fr.resx, it already creates a class behind

[2016-11-07 18:12] ryanbrandenburg commented on #297
I recall now the other justification for changing that constructor. `AssemblyWrapper` is in the namespace `Microsoft.Extensions.Localization.Internal`, so we reasoned that the constructor was internal due to needing the internal `AssemblyWrapper` class. If that doesn't change your opinion I've made #299 to get this rolling.

[2016-11-07 18:29] Eilon commented on #297
O I C, those are fair points, but let's just avoid the breaking change - less headache in the long run.

[2016-11-07 18:39] #297 closed

[2016-11-07 19:59] ryanbrandenburg commented on #294
@do0om the .Designer.cs class that you're talking about defaults to being in the namespace of the folder your resource is in, which will confuse the construction of the name of the resource to look for. The empty class avoids this problem, and allows you to keep using the IStringLocalizerFactory.Create(Type) overload, but if you don't like having empty classes around you also have the option of th

[2016-11-08 19:17] do0om commented on #294
@ryanbrandenburg Ok I understand the empty class trick.
Thank you for all your help.

[2016-11-08 19:17] #294 closed

[2016-11-08 22:46] Eilon commented on #293
Moving to 1.2.0 per the email discussion.

[2016-11-11 21:13] hishamco commented on #258
We may log where the APIs is looking for resources, this very helpful, it would be nice if we can see something like what MVC did when it doesn't find the view

[2016-11-14 07:02] hishamco opened #302 "Re-design IStringLocalizerFactory"
As we know in almost the ASP.NET repos, that the abstraction APIs in way that be applicable and implemented in various ways, but what I have seen from awhile that `IStringLocalizerFactory` is designed to support resx files which the only one implementation shipped with ASP.NET Core.

I have look to different implementation of it, all of them they should implement two `Create` method with parameter

[2016-11-17 19:14] WGroenestein opened #304 "The (OS) language resx files are ignored and keys are returned"
Scenario: I don't want my translation keys to be very lengthy especially in case of explanatory text bodies. Having keys as "Given name", "Is required" etc are fine (i.e. they can just be hard coded  and have the keys returned), but you should be able to override them through a resx file (or any other provider). Especially for lengthy text bodies, which are not desirable hard coded.

### Functiona

[2016-11-18 01:07] hishamco commented on #304
Your explanation is very clear, but it would be nice if you create an online repo that produce the issue, sometime the issue come from `project.json`, `AssemblyInfo.cs` .. ect.

Also let me know your OS language.

[2016-11-18 11:01] WGroenestein commented on #304
My OS language is "en" (since that the one being ignored).

I've create a repro repo at WGroenestein/aspnetenlocalization@06c3760f23f3398d3a1affbf448c905f5e17dc43

I've also added a "shared" localizer as proposed in the docs. Both local and shared localizers give the same result.

[2016-11-18 11:07] hishamco commented on #304
I'm not sure if the docs updated till now, anyhow let me check it now

[2016-11-18 12:25] hishamco commented on #304
VS2017 RC (msbuild)

Unfortunately I don't have 2017 RC installed yet. @ryanbrandenburg can you please have a look to this

[2016-11-18 23:25] ryanbrandenburg commented on #304
@WGroenestein this doesn't appear to be specific to VS 2017 but to a specific version of dotnet. I was able to reproduce this issue and filed it at dotnet/cli#4781.

[2016-12-02 11:11] adrien-constant commented on #279
Hello,

I've written a custom implementation ```ResourceManagerWithFallbackStringLocalizer``` based on ResourceManagerStringLocalizer, which uses shared resources files.

I don't understand why this feature is not meant to be built-in, since it's a very common case scenario, to have a global resource file for common labels. You don't want to duplicate them. The lookup is only done once, since the

[2016-12-05 20:09] hishamco opened #306 "Travis Error"
I notice after the commit https://github.com/aspnet/Localization/commit/681e2e0329d7a2909c5d0b28346f0479524ba9bb the Travis status showed Error instead of Passed

/cc @NTaylorMullen

[2016-12-05 20:21] NTaylorMullen commented on #306
That was due to Mono not fetching correctly. Will wait for another build to pass but that failure was probably just a hiccup in the system.

[2016-12-05 21:04] hishamco commented on #306
I see, because I notice that in other repos, @Eilon is there an issue that reported this? If it is yes I will close this

[2016-12-05 23:03] NTaylorMullen commented on #306
Yup, all is good now. All the builds were probably failing to the Mono piece failing.

[2016-12-05 23:06] #306 closed

[2016-12-06 00:35] hishamco commented on #306
Thanks

[2016-12-07 18:02] simon25608 commented on #286
@ryanbrandenburg

I have your solution working perfectly locally with version 1.1.0, but in the test environment does not work, with the same version does not work.

` services.AddMvc().AddDataAnnotationsLocalization(options =>
            {
                options.DataAnnotationLocalizerProvider = (type, factory) => factory.Create("RecursosGenericos", location: null);
            });`

[2016-12-07 18:14] ryanbrandenburg commented on #286
@simon25608 please create a new issue with expected vs actual results, a detailed description of what you're trying to accomplish and how you're going about it, and especially an explaination of what your test environment is and how it differes from your development environment. As a suggestion to get you started, you might want to check that both versions of dotnet are the same (run "dotnet --inf

[2016-12-09 07:33] hikalkan commented on #237
In our multitenant application, a tenant can add a new language from UI and edit localization texts for it. But the tenant can not switch to the new language unless we start IIS (we definetely don't want that). I think this is a very common case and there should be a built-in solution.
Thanks.

[2016-12-09 08:21] simon25608 opened #307 "Localize DataAnnotations validation messages in v 1.1.0"
I have the solution applied in #286 by @ryanbrandenburg,  specifically:
In the class startup.cs

[code]

And in the Resources folder I have messages with the same keys as those defined in the core:

![image](https://cloud.githubusercontent.com/assets/18722357/21042163/129dd9bc-bdf0-11e6-8036-c7501ac75815.png)

and works correctly on my local computer but in my test environment (Windows server 2012

[2016-12-09 13:54] hishamco commented on #307
Is the Resources folder not creating after your changes or in specific RID?

[2016-12-09 17:59] ryanbrandenburg commented on #307
When you say the Resources folder is not created, do you mean just that the folder named "Resources" isn't created and you have culture specific folders instead? Because that's expected from a publish folder, all the .resx files have been compiled into those culture specific .dll's.

If you clone your repo onto your test environment and build it there rather than publishing it, does it work then?

[2016-12-11 17:11] atuzovic commented on #290
So new version is out (1.1.0) but dependency is still there.
Is it going to be decoupled in the future?

[2016-12-12 16:26] simon25608 commented on #307
Yes

I have also tested and it works on my test server.

I've tried replicating the example project code in my project and my development environment works, but in the test environment it does not work. The strange thing is that in version 1.0.1 if it works.

This is my
[project.json.txt](https://github.com/aspnet/Localization/files/646535/project.json.txt)

[2016-12-12 19:12] Eilon commented on #290
@atuzovic yeah we'll look at this for the next milestone. It's definitely something we want to do.

[2016-12-12 19:55] DamianEdwards commented on #290
We can't remove dependencies until a major release as it's a breaking change so you won't see this until 2.0

[2016-12-13 00:57] ryanbrandenburg commented on #307
Yes, you must provide `SupportedUICultures` and `SupportedCultures` in order for things to be properly looked up from their resources. [This issue](https://github.com/dotnet/corefx/issues/1669)might shed a little light on the history of that decision. As for compatibility between 1.0.1 and 1.1.0 have you confirmed that when you revert your references to 1.0.1 while changing minimal other code the

[2016-12-13 23:22] sebastienros opened #308 "Dynamic parameters throw exception"
Here is an example that fails, it's from an MVC view but the same behavior should fail outside too.

[code]

I get
[code]

Casting the variable to `object` solves the issue.

[2016-12-24 21:30] hishamco commented on #308
You're right, but i'm not sure if it's Localization or CLR bug, because I saw many folks facing the same exception in arrays!!

[2016-12-25 05:37] hishamco commented on #290
@djanosik I don't think the `location` should be never be `null` because there 're many cases where the location is not required, for example using [EF](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework) as resources source, so that's why I proposed to redesign `IStringLocalizerFactory` in #302, I have some ideas to remove the dependency by redesign that interface in

[2016-12-28 22:03] pranavkm opened #310 "Re-enable tests broken due to Microsoft.NETCore.App"
Tracking issue: https://github.com/dotnet/cli/issues/5172

[2016-12-28 22:17] Eilon commented on #308
Moved the bug to here: https://github.com/dotnet/corefx/issues/14752

Don't think we can do much about it. Don't use `dynamic`, it's evil 😄

[2016-12-28 22:17] #308 closed

[2016-12-28 22:17] pranavkm commented on #310
Commit to revert: https://github.com/aspnet/Localization/commit/25f74d56650b65017d06db164d96bfd4a4521c25

[2017-01-03 22:10] Eilon commented on #162
@ryanbrandenburg can you take a look to see where the time is being spent at startup?

[2017-01-03 22:12] Eilon commented on #162
To be clear, this is about an app that is "localizable" but not "localized." But it would also be interesting to see what differences there are when the app *is* localized.

[2017-01-03 22:17] Eilon commented on #302
The Create method needs parameters for the common case where there are multiple locations to load resources. E.g. it is common to have per-page or per-area resources, and then another place with common/global resources.

It is perfectly fine for a factory to not use those parameters if all resource for the entire app are located in the same place.

[2017-01-03 22:17] #302 closed

[2017-01-03 22:24] Eilon commented on #307
As best we can tell the issue is that the server has a different default locale than the local machine. By default .NET will choose the OS's language. It is always best to explicitly specify the expected language/locale in startup.cs.

[2017-01-03 22:24] #307 closed

[2017-01-03 22:26] Eilon opened #312 "Investigating allowing any culture to be used (i.e. don't have to set Supported[UI]Cultures)"
We were previously concerned about the cost of creating new `CultureInfo` objects (which at one point were prohibitively expensive to create), and also concerned about having an infinite-sized cache.

[2017-01-03 22:42] Eilon commented on #304
It looks like this was a bug in the default build process where the '`AssemblyNeutralLanguage`' attribute was erroneously (and incorrectly) included in default projects. There was a PR recently to remove that from the build and so this issue should go away: https://github.com/dotnet/sdk/pull/466/files

[2017-01-03 22:42] #304 closed

[2017-01-03 22:53] Eilon commented on #292
This issue was moved to aspnet/Mvc#5652

[2017-01-03 22:53] #292 closed

[2017-01-03 22:55] Eilon commented on #250
Closing because there are no plans to add this support to older versions of .NET Framework.

[2017-01-03 22:55] #250 closed

[2017-01-03 22:57] Eilon commented on #43
Closing because we have no plans to ship this.

[2017-01-03 22:57] #43 closed

[2017-01-03 22:58] Eilon commented on #13
Closing because there are no plans to implement this.

[2017-01-03 22:58] #13 closed

[2017-01-04 03:03] hishamco commented on #43
This could be done easily now after shipping `RouteDataRequestCultureProvider` as well as middleware as filter 😄

[2017-01-04 03:18] hishamco commented on #302
You presume that the resources are in .resx files, but I'm talking about something independent from underlying source, it may be file system, database, web APIs .. etc. In case that the common used are file-based resources such as resx, po .. etc I'm agree that the `location` parameter is needed, what about the `baseName` and the other overload https://github.com/aspnet/Localization/blob/dev/src/M

[2017-01-04 16:35] gzak commented on #250
Any chance @davidfowl has that snippet for pre 4.6?

[2017-01-04 16:42] davidfowl commented on #250
@gzak is there a reason you can't use .NET 4.6? I ask because the *way* code is more intrusive.

[2017-01-04 17:57] Eilon commented on #250
Also, I believe older versions of .NET Framework aren't even supported, so it is highly recommended to update.

[2017-01-04 18:05] Eilon commented on #302
@hishamco the interfaces have to be broad enough to support any possible implementation, such as EF, PO, RESX, etc. But it's fine for implementations to ignore parameters that aren't relevant to them.

[2017-01-04 18:51] gzak commented on #250
Mostly because I'm curious to see what it would look like without using a `SynchronizationContext`, for my own edification. If it's as intrusive as you say, then I bet we'd prefer an upgrade at the end of the day (depends on bureaucracy of course).

[2017-01-04 22:04] BrainCrumbz commented on #258
@hishamco just because you asked for, we're not able to figure out what should be the correct naming/location of a resource mapping a nested (or inner) class within a static wrapper class.

Say we have a file at path `xxxx\ProjectRoot\Feature\Outer.cs`, defining:

[code]

We tried the following resource files, all withouth luck. `Resources` top directory has been setup during startup.

1. `xxxx\Pr

[2017-01-04 22:21] BrainCrumbz commented on #258
Ok. Apparently we've been bitten by #296 .

Nonetheless, I was not able to find any specific info on nested classes related to resource location & naming. It might be worth considering adding something about it to the docs.

[2017-01-04 22:34] BrainCrumbz commented on #296
@dougbu we've just been bitten by this, or at least that's how it looks like.

We have *ProjectName* == *DefaultNameSpace* != *ProjectFolder*. When working with *localizer<>* from a class (e.g. controller or other), we had to recreate the type `FullName` under *ProjectFolder\Resources\*, i.e. starting from the *DefaultNameSpace*. So we had a scenario like the one pictured in your screenshot.

We a

[2017-01-05 08:24] hishamco commented on #302
Yep, may be I don't have doubt about the second overload, because it can handle such source, my doubt about the first one https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization.Abstractions/IStringLocalizerFactory.cs#L19, because the resource type intend to serve `ResourceManager`

[2017-01-08 02:12] davidfowl commented on #250
Without a custom sync context, you need to write an app domain manager and an execution context manager.

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Host.Clr/DomainManager.cs#L76

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Host.Clr/DnxHostExecutionContextManager.cs

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Host.Clr/ThreadContext.cs

[2017-01-09 12:49] Ciantic commented on #286
I think there is something odd about RequiredAttribute, with EmailAddressAttribute it works correctly.

E.g.

With dummy localizer:

[code]

and this:

[code]

The models such as:

[code]

It works just fine with bare `[EmailAddress]`  but does not work with bare `[Required]`.

This is bit annoying, since I can't provide a default for the Required.

[2017-01-09 13:05] hishamco commented on #286
@Ciantic can you move this to another issue to make it easy for tracking

[2017-01-09 13:53] Ciantic opened #313 "RequiredAttribute's default message is not localizable"
I'm using 1.0.0 still.

It seems like the RequiredAttribute's default message is not localizable, but with EmailAddressAttribute it works correctly.

E.g.

With dummy localizer:

[code]

and this:

[code]

The problem in models such as:

[code]

It works just fine with bare `[EmailAddress]`  but does not work with bare `[Required]`.

This is bit annoying, since I can't provide a default for the Re

[2017-01-09 13:53] Ciantic commented on #286
@hishamco okay. #313

[2017-01-09 23:50] hishamco commented on #313
@ryanbrandenburg is this a known issue in 1.0.0?

[2017-01-18 19:08] dougbu commented on #313
@Ciantic what is the exact scenario? For example, are you looking at the attribute values controlling client-side validation or errors that end up in `ModelState`? A simple repro project hosted in a public GitHub repo would be ideal.

`ValidationAttribute`s with default `ErrorMessage` properties should _not_ be localized using an `IStringLocalizer`. So, the system overriding the message for `[Emai

[2017-01-18 19:28] linflux opened #314 "Localizer don't work on Linux"
I have an ASP.NET Core Web API (version 1.1) with use of Resources files for Localization/Globalization like [Microsoft Docs ASP.NET Core - Globalization and localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) explains.
On Windows it runs OK, but in Linux (via Docker local) the resources are not found.

Like the article used in the docs article, [Localization.Star

[2017-01-19 01:08] hishamco commented on #314
@glennc you're the only one who I know on Docker, could you please check this or assign it to the right person, unfortunately I don't have a Linux installed or I will check it myself

[2017-01-19 16:18] wc-matteo commented on #293
Same problem... very frustrating seeing that the [official docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) make it clear that this scenario is not only supported, but advised:

<sup>(emphasis **not** mine)</sup>

Should be changed to:

The issue is that in .NET Core it ultimately falls back to the _Invariant Culture_, which is _en-US_.

This makes translating web apps

[2017-01-19 23:05] Ciantic commented on #313
@dougbu exact scenario is that I have resx file but I can't localize `[Required]` cause it never comes to resx, only `[Required(ErrorMessage = "Required")]` comes to the resx file. Which means that the default text can't be translated. Above example is a simplified way to show that it can't come to resx file since it's not going to TestLocalizer either.

[2017-01-19 23:27] dougbu commented on #313
@Ciantic as discussed in a few other issues, including aspnet/Mvc#5636, users need to explicitly opt into the new `IStringLocalizer` approach. If you don't opt in, regular .NET resources (in this case provided in .NET language packs) provide localization.

If you specifically want to use an `IStringLocalizer`, add an `ErrorMessage` value (either your default message or a key into your resource). I

[2017-01-21 20:27] ajtowf commented on #293
@wc-matteo you wouldn't believe how much time I've spent discussing this, just check out this thread https://github.com/dotnet/corefx/issues/12625, the discussion with tarekgh and gkhanna79 is mind blowing. Let's hope we get a fix soon, I wouldn't hold my breath though...

[2017-01-21 20:40] wildsylvan commented on #293
@ajtowf yep, I saw that thread... at least @ramarag [nailed ](https://github.com/dotnet/corefx/issues/12625#issuecomment-257446823)the issue... let's hope...

[2017-01-21 20:42] wc-matteo commented on #293
@ajtowf yep, I saw that thread... at least @ramarag nailed the [issue](https://github.com/dotnet/corefx/issues/12625#issuecomment-257446823)... let's hope...

[2017-01-25 19:05] ryanbrandenburg commented on #162
I don't see this terrible performance when running a test app from the console, but it IS really slow when run from VS (whether the debugger is attached or not). Console gives us ~10 requests/ms vs VS taking 289ms per request. Given that info, this sounds more like a VS bug than a Localization problem.

[2017-01-25 23:04] rynowak commented on #162
Bear in mind the date this was reported, the underlying systems may have been improved. For instance if you were to attach a debugger and verify that those exceptions are no longer thrown at all (first chance) then that's a sign that the underlying issue was fixed.

[2017-01-26 18:35] DamianEdwards commented on #162
@ryanbrandenburg how many localized string callsites were there in your test app?

[2017-01-26 18:47] ryanbrandenburg commented on #162
I set up a double for loop going through 5 StringLocalizers looking for 100 different strings (1-100), so in total it looked for 500 strings which shouldn't have been in the cache.

Yeah, I'm keeping in mind that this could have already been resolved for the console case by another fix (even inadvertently) but I've debugged this and we definitly still throw the exceptions [here](https://github.com

[2017-01-26 18:49] DamianEdwards commented on #162
Thanks. Seems it no longer repros then.

[2017-01-27 00:39] ryanbrandenburg commented on #162
My best guess on the difference here is that the version of ResourceManager used in netcoreapp1.1 seems to be ~13x faster than the one in net451. The project I'm using to test this is both net451 and netcoreapp1.1, running 'dotnet run' was giving me netcoreapp and VS was defaulting to net451 and I didn't notice. I think we can close this one out as having been fixed.

[2017-01-27 00:39] #162 closed

[2017-01-27 17:59] Eilon opened #315 "Migrate to VS2017 RC.3"
cc @pranavkm FYI

[2017-01-27 18:45] ryanbrandenburg commented on #290
My plan of attack here is to create `IApplicationNameProvider` in `Microsoft.Extensions.Localization.Abstractions` and `HostingEnvironmentApplicationNameProvider` in `Microsoft.AspNetCore.Mvc`. I think `Microsoft.AspNetCore.Mvc` is the best location for the provider because it already has both `Microsoft.AspNetCore.Hosting.Abstractions` and `Microsoft.Extensions.Localization.Abstractions`, so we d

[2017-01-27 21:18] Eilon commented on #290
Sounds good to me.

[2017-01-28 00:10] ryanbrandenburg commented on #315
I've started this work but it's currently blocked by dotnet/core-setup#1221.

[2017-01-30 10:21] Ponant commented on #293
@ajtowf @ryanbrandenburg @hishamco , same problem here in VS 2017 RC Asp.Net Core 1.1. This is a very nice bug. The statements made in the docs are incorrect and lead to the confusion in my opinion; it would be better to clarify that this is not 2-way (en or OS language->sv vs sv->en or OS anguage) until the issue is cleared.

[2017-02-01 00:29] ryanbrandenburg commented on #258
It appears that nothing in Localization is using DiagnosticSource, so writing out debug logging might be a large and potentially unwanted change, but we could very easily add a "LocationSearched" property to LocationString which users could examine.

[2017-02-01 10:04] sanchapereira opened #318 "Azure localization not working like in localhost"
I have an ASP.NET Core Web App (version 1.1) using Resources files for Localization/Globalization.
On localhost all resources are found, but on Azure the localizer only founds resources for Views.

For example, the resource file Controllers.HomeController.en-US.resx works ok in localhost but on Azure it only works if I rename it to Namespace.Controllers.HomeController.en-US.resx. On localhost the

[2017-02-01 11:35] lee-alderdice opened #319 "Using CookieRequestCultureProvider unable to Add() to Cookie"
Hi,

I want to use the CookieRequestCultureProvider and enable a UI selection exactly per fundamentals/localization documentation but I find Response.Cookies.Add() method does not work because Response does not exist.  In addition ... LocalRedirect and LocalRedirectResult do not exist.

I can't see any option to amend usings but a list of NuGet packages do seem available.  I can not find anywhere

[2017-02-01 13:16] #319 closed

[2017-02-01 17:06] hishamco commented on #318
Strange!! @ryanbrandenburg did you face this before? or is it a new scenario that needs investigation?

[2017-02-01 17:16] hishamco commented on #258
Even the localization doesn't using `DiagnosticSource` at least we need to use a logging APIs, that let the user know what's going on. So in that case we don't need a new to add a new property because we know the searched locations

[2017-02-03 19:42] hishamco commented on #290
@ryanbrandenburg this should be closed after the commit https://github.com/aspnet/Localization/commit/65e3af98d5828c745472785cc1df5eb840f466bd

[2017-02-03 19:43] #290 closed

[2017-02-03 21:01] Eilon commented on #290
@ryanbrandenburg can you post an announcement as well? Need to mention the dependency that we removed and the small behavior breaking change of the API.

[2017-02-03 22:22] ryanbrandenburg commented on #290
An announcement was made for this breaking change in aspnet/Announcements#218.

[2017-02-05 08:55] hishamco commented on #263
@ryanbrandenburg if I'm not wrong the issues that you mentioned before are closed, so i'm not sure if we need this open anymore

[2017-02-06 19:40] ryanbrandenburg commented on #312
I wrote a small app to test out `CultureInfo` creation performance [here](https://github.com/ryanbrandenburg/CultureInfoPerf/blob/master/src/CultureInfoPerf/Program.cs). Creating a `new CultureInfo(string name)` takes ~1-2 ticks (that is, 1/10,000th of a millisecond) so long as the name exists. If the culture isn't recognized (and it thus throws an exception which we catch and drop) it takes ~250

[2017-02-06 22:42] hishamco commented on #315
I think this done by the commit https://github.com/aspnet/Localization/commit/d1ee393c72030b05f23f763c6c0152ff94527633

[2017-02-06 23:14] #315 closed

[2017-02-07 11:03] Ponant commented on #252
Hi @hishamco ,
I am trying to set the default culture cookie name and came across your suggestion of setting
`CookieRequestCultureProvider.DefaultCookieName = "_cultureLocalization";`

But how can this work with a static readonly?

In a controller-action, the following works
`                Response.Cookies.Append(
                 CookieRequestCultureProvider.DefaultCookieName,

[2017-02-07 11:07] Ponant opened #324 "Question: How to set cookie name?"
Hi ,
I am trying to set the default culture cookie name and came across a suggestion on GitHub of setting
CookieRequestCultureProvider.DefaultCookieName = "_cultureLocalization";
But how can this work with a static readonly?

What I did so far is a controller-action with the following, which works

`Response.Cookies.Append( CookieRequestCultureProvider.DefaultCookieName, CookieRequestCultureProvid

[2017-02-07 11:40] hishamco commented on #324
The simple answer is using the `MakeCookieValue` which is available here https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/CookieRequestCultureProvider.cs#L56, FYI you can refer to the code I wrote here https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNetCore.Localization.Tests/CookieRequestCultureProviderTest.cs#L55

[2017-02-07 11:46] hishamco commented on #324
Sorry @Ponant I thought you wanna set the cookie value, regarding the cookie name you can set the property `CookieName` which is available here https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/CookieRequestCultureProvider.cs#L29

[2017-02-07 11:50] Ponant commented on #324
@hishamco , thank you for your prompt answer(s), indeed I was wondering about your first post. Still, in your second I do not see how to set `CookieName `(it is not listed as an option in intellisense).

[2017-02-07 12:20] hishamco commented on #324
@Ponant ignore my first post, it was my bad understanding 😄

I already refer to the test that using that property, BTW it requires to have an instance of `CookieRequestCultureProvider`
my suggestion is to insert an instance of `CookieRequestCultureProvider` to `RequestCultureProviders` property as shown here https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L48,

[2017-02-07 12:29] Ponant commented on #324
No problem, that happens!
I made it work but I had to refer to a magic string twice, as such
in Startup
` var provider = new CookieRequestCultureProvider()
                {
                    CookieName = "Preferences"
                };
                options.RequestCultureProviders.Insert(0, provider);`
and in the controller-action
`Response.Cookies.Append(
                 "Preferences",

[2017-02-07 12:59] hishamco commented on #324
You can use `const` instead of magic string. Regarding the code in the controller action are you trying to set the cookie expiration per culture? Please let me understand the case, so I can give you the better answer

[2017-02-07 13:13] Ponant commented on #324
I am trying to set a one-year cookie after the user has selected the preferred culture. If he changes the culture, the cookie should be changed. I expect the above to do just that, right?

[2017-02-07 13:27] hishamco commented on #324
Yep, it does, but you use the selected `RequestCulture` in `IRequestCultureFeature` instead of instantiating `RequestCulture` every time, you can refer to this https://github.com/hishamco/LanguageSwitcherTagHelper/blob/master/TagHelpers/LanguageSwitcherTagHelper.cs#L41

[2017-02-07 14:06] Ponant commented on #324
Hisham,
I think you are using this ViewContext for a TagHelper, whereas I am working on a controller. So, you mean that to improve performance it would be better to rewrite my logic from View to controller? If so, I welcome some guidance. Here is my code in case you can see some improvements. The only thing I do not want to use is a drop down list to select a language; rather I want to redirect to

[2017-02-07 15:52] hishamco commented on #324
@Ponant it's not the matter of the `ViewContext` you can use it in the controller, please refer to this https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L68, regarding the culture dropdown list this your choice, according your case, in general looks fine, but it would be nice if you are using default request culture instead of creating a new instance below:
[co

[2017-02-07 16:15] Ponant commented on #324
I see what you mean, but I do not succeed in passing something else than "new RequestCulture(cultureName))". This is because the `requestCulture = context.Features.Get<IRequestCultureFeature>().RequestCulture`) is the culture that is there before the user selects the culture he wants. Once the user selects a culture, I see no other option than setting the (new) culture as above.

[2017-02-07 16:22] hishamco commented on #324
Yes you 're right, it's my bad again 😄, because the `context.Features.Get<IRequestCultureFeature>().RequestCulture` will retrieve the current selected culture, so I think it is fine to stay with what you are come up with except using `const` instead of magic string
I apologize coz my mind working with a lot of think from the beginning 😄

[2017-02-07 18:08] Ponant commented on #324
Hisham,
no worries, at least you clarified to me quite a few things. Thank you again for your time and dedication.

[2017-02-07 18:12] hishamco commented on #324
You 're welcome, hope this got fixed now 😄

[2017-02-07 18:17] ryanbrandenburg commented on #324
@Ponant could you clarify what (if any) problem/question you still have?

[2017-02-07 18:36] Eilon commented on #318
@ryanbrandenburg please take a look.

[2017-02-07 18:38] Eilon opened #325 "Remove obsolete CultureInfoCache"
Need to review and merge this PR: https://github.com/aspnet/Localization/pull/323

And then please post an Announcement. Can probably use this issue as the "discussion" issue (don't need a new "discussion" issue for it).

[2017-02-07 18:42] Eilon commented on #312
I think one of the scenarios we were most interested in for perf is what happens if you create a million non-existent CultureInfos. That is, `for(var i in 1..1,000,000) { var ci = new CultureInfo($"fake-locale{i}") }`.

The concern is that some underlying cache might grow indefinitely even though we're not caching anything ourselves.

Also, for the perf app you created, is there any reason to stor

[2017-02-07 18:56] ryanbrandenburg commented on #325
Announcement at aspnet/Announcements#220.

[2017-02-07 18:56] #325 closed

[2017-02-07 19:35] Ponant commented on #324
@ryanbrandenburg , well @hishamco clarified a lot and confirmed what I thought, so we can close the discussion.
Perhaps the only remaining question is:
Why do we need to set the cookieName in two places? So far what I did with the help of @hishamco is to set the cookieName in Startup, but then I had to further refer to the cookieName in the action of a controller (see code above). While this works

[2017-02-07 19:47] hishamco commented on #324
IMHO `DefaultCookieName` is a `static` to share the default cookie name which is set by the localization API, I don't think `CookieName` should be `static` too, because if anyone change its value it will affect all the instances. So that's why you need to refer to your custom cookie name as magic string or `const` which is the better IMHO.
@ryanbrandenburg let me know your thoughts about this

[2017-02-07 20:21] Ponant commented on #318
@sanchapereira I am not having this issue with .Net Core 1.1 uploaded to Azure from VS 2017 RC. My resource file is
`Controllers.HomeController.en-US.resx` and the same file with `fr-FR`

[2017-02-08 00:04] ryanbrandenburg commented on #263
You're correct that those issues are closed, but I'm leaving this open to track the fact that we need to go back and undo the workarounds we had in place for them.

[2017-02-08 18:42] ryanbrandenburg commented on #312
Your milllion non-existent CultureInfos test gives the same result (~250 ticks/culture) as one culture being wrong a million times.

As far as the `List<CultureInfo>` "cache", I was just playing around with it to see if I COULD make perf bad, it doesn't mimic anything we do in Localization.

[2017-02-08 20:17] #324 closed

[2017-02-08 21:14] Eilon commented on #312
Got it. And the test you ran was on .NET Core, right? Also I think it's worth doing extra due diligence and running on Linux as well. (Don't need to run on MacOS because that's dev-only.)

So, assuming all that goes well, and if the code in question was meant as an optimization, but is clearly not optimizing anything in practice, we can just get rid of it...

[2017-02-10 18:59] ryanbrandenburg commented on #312
Good idea running this in Linux, creating a non-existant culture in linux is MUCH slower. It takes ~40ms/culture on Linux vs the same test on Windows taking 161ticks (much less than a ms). That seems like a deal-breaker to me.

[2017-02-10 19:36] hishamco opened #326 "Unable to run the LocalizationSample"
@ryanbrandenburg after changing to VS 2017, I'm not able to run the LocalizationSample, when I run `dotnet run` I got this error:

LocalizationSample.csproj : error MSB4040: There is no target in the project.

The build failed. Please fix the build errors and run again.

[2017-02-10 19:49] Eilon commented on #312
Sad. I guess that means we continue to restrict based on the developer-specified list?

[2017-02-10 20:04] ryanbrandenburg commented on #312
Yeah, the current system is designed to avoid exactly these kinds of costs so I think we can just close this out and re-evaluate if Linux CultureInfo performance ever gets better.

[2017-02-10 20:04] #312 closed

[2017-02-13 11:32] chanaka1 opened #328 "IViewLocalizer not working when used from a external assembly with a resource file"
### Functional impact
*There is no way to load localization culture for views with a resource file in a external assembly or part mvc application (MVC Module)*

### Minimal repro steps
*Use a MVC part application and try to localize the view in the part application to load from a resource file*

1. Create a Default MVC app
2. configure Localization
3. Add a new Class library
4. Register the new Cl

[2017-02-13 23:14] ryanbrandenburg commented on #328
@chanaka1 we feel this is a problem of abstraction that's not really solvable in general. Your ViewLocalizer will look for resx files, but maybe that library has po files instead. In your specific case you can make that assumption because you're the author of both, but in general it's making assumptions about implementations outside the current project.

We think the correct way to go about this w

[2017-02-16 18:53] #328 closed

[2017-02-16 19:45] ryanbrandenburg commented on #326
@hishamco it is unclear to me what exactly the issue is here. You shouldn't need to run `dotnet new` to run the LocalizationSample since it already exists, so I assume you mis-typed. For the record I'm able to successfully launch and visit the LocalizationSample from VS2017 (granted, I'm using the very newest version).

[2017-02-16 20:01] hishamco commented on #326
Sorry for the typo, I run `dotnet run`. I update my VS yesterday to update 4 but I didn't try it, but still wondering why it doesn't work from the command line?!!

[2017-02-16 20:36] ryanbrandenburg commented on #326
The CLI now requires that you provide a TFM if your project targets multiple frameworks, so you can't do `dotnet run` on projects like this anymore, you have to do `dotnet run -f netcoreapp1.1`. That said, the error message given when this happens does nothing to make that clear, so I'm going to file a bug against the CLI to that effect.

[2017-02-16 20:36] #326 closed

[2017-02-16 20:40] ryanbrandenburg commented on #326
There's already an issue for this: dotnet/cli#4684.

[2017-02-16 20:50] hishamco commented on #326
Thanks a lot @ryanbrandenburg

[2017-02-17 00:36] ryanbrandenburg commented on #258
@pranavkm what do you think? Is it sufficient to add a property to LocalizationString or do we need to plumb logging stuff through?

[2017-02-17 08:10] pranavkm commented on #258
We've had instances in other areas of the stack where we've tried to use logging to present diagnostic information to the user. It's nice because you don't have to be live debugging the application to see the failure (as long as the log message was captured, you could inspect it). The issue with using logging to present details like this has been that it's not entirely obvious that the log is the

[2017-02-17 16:32] hishamco commented on #258
I'm still wonder why we need to add a new property to `LocalizedString` while we already know where we are looking for the resources via `ResourcesPath`.
May be we can add a `readonly` property that uses both `ResourcesPath` and the `CurrentCulture` to list all possible locations, but still I don't think that `LocalizedString` is appropriate in this case

[2017-02-21 22:48] pranavkm commented on #310
@ryanbrandenburg - were you looking at this?

[2017-02-22 18:16] #310 closed

[2017-02-22 19:02] lasrol commented on #318
I tried to use "nb-no" and it failed after publishing to Azure.

http://stackoverflow.com/questions/41851613/culture-is-suddenly-not-supported-anymore-on-azure-web-app

[2017-02-23 17:34] Eilon commented on #314
@ryanbrandenburg can you take a look? You can have @glennc help you out with Docker stuff, if needed.

@linflux in the meantime, I'm wondering if maybe there's a casing issue somewhere? Maybe some mixed uppercase/lowercase that works on Windows, but not on Linux?

[2017-02-23 17:48] hishamco commented on #314
@linflux it will be nice if you share the repo that you working with, perhaps it's a casing issue as @Eilon mentioned before

[2017-02-23 20:45] linflux commented on #314
@Eilon @hishamco I created a repo, links down below:
https://github.com/linflux/localizationdotnetcore

[2017-02-23 21:52] hishamco commented on #314
@linflux why you are using `IStringLocalizer` in the controller https://github.com/linflux/localizationdotnetcore/blob/1cae51b7d9d2aac985869d9f5ab59697aae8064d/Controllers/HomeController.cs#L16 while you injecting the `IViewLocalizer` in the view https://github.com/linflux/localizationdotnetcore/blob/1cae51b7d9d2aac985869d9f5ab59697aae8064d/Views/Home/About.cshtml#L3

[2017-02-23 22:13] linflux commented on #314
I don't know just came from the microsoft sample as you can see here:
https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Controllers/HomeController.cs#L16
And here:
https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Views/Home/About.cshtml#L3

But on my work project Web API i just only use IStringLocalizer and don't work too.

[2017-02-23 22:32] hishamco commented on #314
I see, could you please check if this issue occurs with Localization.StarterWeb, if it is could be a bug, also the other guys may look to it. Unfortunately I don't have a Linux, but I was trying to figure out if there's something else causes this issue

[2017-02-23 22:44] linflux commented on #314
Yes, it occurs too. That's why I look for a sample for check if the problem is just in my work API code.
I also don't have Linux installed in this machine, i run on docker. You should try it! It seems like a monster at first but it's not so complicated. I think like a VM without GUI. I know is more than that.
https://docs.docker.com/docker-for-windows/install/

[2017-02-24 18:54] #258 closed

[2017-02-24 20:52] ryanbrandenburg commented on #314
@linflux this appears to be a problem of namespaces. When you copied this code from Localization.StarterWeb you left the namespace intact in all your *.cs files as `Localization.StarterWeb`. That's fine if you leave the project in a folder named `Localization.StarterWeb` but when cloning your localizationdotnetcore repo the code will end up in a folder named `localizationdotnetcore`, and since in

[2017-02-24 21:01] ryanbrandenburg commented on #318
@sanchapereira it's hard to know without seeing your code, but I suspect you have the same (or a similar) problem as #314, namely that your namespace isn't matching the assembly name of your project. Please review #314 and the "Resource file naming" section of [this](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) documentation. If you're still having trouble after that the

[2017-03-03 01:12] ryanbrandenburg commented on #293
Fixed by #333.

[2017-03-03 01:12] #293 closed

[2017-03-03 20:17] ryanbrandenburg commented on #313
Closing this, let us know if you still have questions.

[2017-03-03 20:17] #313 closed

[2017-03-03 20:28] #314 closed

[2017-03-03 20:29] ryanbrandenburg commented on #314
Seems that may have fixed it, let us know if not.

[2017-03-03 20:29] ryanbrandenburg commented on #318
If that didn't fix it let us know, closing this out until then.

[2017-03-03 20:29] #318 closed

[2017-03-03 23:59] hishamco commented on #127
@ryanbrandenburg I already implemented this few weeks back on my repo https://github.com/hishamco/localization/tree/useRequestLocalization, if the issue still active I will submit a PR, if it's not I think we should close it

/cc @Eilon

[2017-03-04 00:01] hishamco commented on #263
Are we still need this, seems all the mentioned issues got fixed?!!

[2017-03-04 00:02] hishamco commented on #78
@Martijn-Sharp is this still happening?

[2017-03-04 06:39] hishamco opened #336 "Log all searched locations for non existance resources"
After the PR #331, me as a developer I expect to log all searched locations for non-exist localization resources
Assume that I add the culture `ar`, with enabling parent culture fallback, so when the current culture is `ar-YE` I except the logger logs:
[code]
instead of log the first message after fallback

/cc @ryanbrandenburg @pranavkm

[2017-03-04 18:18] Eilon commented on #127
Bringing this out of Backlog for discussion.

[2017-03-04 18:43] DamianEdwards commented on #127
Ooo I forgot about this one. This would be a nice one to do if we have the capacity.

[2017-03-04 19:09] hishamco commented on #237
As I can see here https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/AcceptLanguageHeaderRequestCultureProvider.cs#L42-L47, we are interest to the top `MaximumAcceptLanguageHeaderValuesToTry` even the client has tens of cultures, so why this has a performance impact?!!

[2017-03-04 19:15] hishamco commented on #263
/cc @Eilon

[2017-03-05 00:14] Eilon commented on #237
@hishamco generally speaking, accepting unbounded inputs is a bad practice, whether for perf or security.

[2017-03-05 07:42] hishamco commented on #237
Either ways the `AcceptLanguageHeaderRequestCultureProvider` accepts the user cultures that set via Accept-Language header, whether they are correct or not, so if `AcceptLanguageHeaderRequestCultureProvider` is the winning provider, after that we set the current culture if its correct or fallback to the default culture.

What I mean in my last comment is we can consider the provided culture if it'

[2017-03-07 12:32] MormonJesus69420 commented on #268
What did you do to make it work? I have the same problem but I cannot find a solution. And looking at the project does not give me any idea on how to resolve that issue.

Sorry if it's obvious to you, but it's my first time using resources and localizing asp.net apps.

[2017-03-13 19:10] ryanbrandenburg opened #338 "Add reference to Entropy samples to README.md"
Since the samples in this repo aren't how we expect most people to use it we should explicitly reference the Entropy projects which demonstrate that usage (they can't live here because it would create a circular dependency).

We might also consider removing our "sample" in this repo since it doesn't demonstrate a scenario most people will need and might cause confusion (and the people who do need

[2017-03-13 22:32] hishamco commented on #338
IMHO the simple in this is repo is trivial, it gives a basic idea of how localization works, also how we can use the various request culture providers

The only thing that I dislike is using tons of `WriteAsync` to generate the HTML content, It would be nice If we replace it with a simple `.cshtml` view

I'm agree with you that we may need to reference the 'Entropy` sample in the README.md

[2017-03-14 13:34] mattiaz9 opened #340 "Localization not working after changing rootnamespace"
If you specify a default namespace different from the assembly name the localization doesn't work anymore.

[2017-03-14 13:51] hishamco commented on #340
@mattiaz9 is it the same of issue #296? if not please clarify your scenario, because localization relay on assembly name, specially `ResourceStringLocalizer`

[2017-03-14 14:16] mattiaz9 commented on #340
I'm not sure. It worked before updating the project format to the new one in VS 2017.
The same problem occurs with the sample project in this repository. If I change the default namespace with VS 2017 the localization doesn't work.
I can't verify with the old VS though.

[2017-03-14 15:08] hishamco commented on #340
I'm still surprising why you changed the default namespace for sample repo?

[2017-03-14 15:36] mattiaz9 commented on #340
Just to test if I could replicate the problem

[2017-03-14 15:40] hishamco commented on #340
IMHO changing this absolutely will affect the generated resource files, so that's why you should care about the namespaces. I saw many issues in the past raised by namespace conflict, so that's why I mentioned the issue #296 in my first comment

[2017-03-14 18:16] ryanbrandenburg commented on #340
When having trouble with resource discovery make sure you've read the localization docs, especially https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#resource-file-naming.

To sum up, there are two things you must know before naming a resource, first is the name of the assembly for your project. This is decided by a lot of different factors (name of `.csproj` file, name of con

[2017-03-14 18:18] hishamco commented on #340
I'm able to reproduce the issue after modifying the default namespace

[2017-03-14 20:27] hishamco opened #341 "Use Caching APIs"
I'm still wondering why we didn't use the Caching APIs that available in ASP.NET Core instead of creating new APIs that doing the exact same thing.

IMHO Memory Caching will be an equivalent to what's available now for caching the resource names, missing resources .. etc

/cc @Eilon @ryanbrandenburg

[2017-03-15 11:42] mattiaz9 commented on #340
Maybe I'm doing something wrong..
I made this repo https://github.com/mattiaz9/LocalizationSample
I used two different naming convention to test it out, but none of them works with a custom default namespace.
I hope it can help

[2017-03-15 16:24] hishamco commented on #340
Changing the RootNamspace absolutely will cause the bug, but still wondering we need change it?!!
Anyhow I will look to your sample

@Eilon can we consider this as bug?

[2017-03-15 16:31] tmm360 commented on #340
We need to change it for example when a company has a structured enterprise path on namespace, for example `Contoso.MyService.Solution.InternalPath`.
In this example `Contoso.MyService.Solution` will be the root namespace, but it will not also the assembly's name, that could be "ServiceSolution", for example.

An other example is when you have a complex solution with modules, where you want to put

[2017-03-15 16:34] hishamco commented on #340
Good point @tmm360, IMHO this absolutely a bug

[2017-03-15 16:50] hishamco commented on #340
https://github.com/mattiaz9/LocalizationSample/blob/master/LocalizationSample/Startup.cs#L13 @ryanbrandenburg this is the same behavior of the issue #296 that @dougbu mentioned long time back, expect that caused by using invalid as a C# identifier, while this cause by changing the `Default Namespace`

[2017-03-15 18:19] ryanbrandenburg opened #343 "Reconsider resource naming rules"
Right now if your full class name starts with the name of the assembly it will be trimmed. So for a project with assembly `Project.Name.dll` the class `Project.Name.Startup` would have the resource `Startup.resx`.

This seems to cause a lot of confusion and trouble (#318, #314 and many more). Previously the documentation in this area was incorrect, which likely lead to a lot of this confusion, but

[2017-03-15 18:36] hishamco commented on #343
I'm agree with the 2nd point, regarding the first one why we don't create an option to throw or use the default resource if the value is not there, if that's you point i'm totally agree and this will be a big plus 👍

[2017-03-19 23:46] hishamco opened #344 "[Suggestion] Add SessionRequestCultureProvider"
`Session` is one the important concepts in ASP.NET Core to keep track of the user info, culture is one of them.

IMHO such provider would be a big plus, because the `Session` is backed by different cache mechanisms such as InMemory, Redis, SQL Server .. etc which will simplify the process instead of creating a new `RequestCultureProvider` to target any one of them

FYI I have seen a lot web apps a

[2017-03-20 16:54] pranavkm opened #345 "ResourceManagerStringLocalizerFactory.CreateResourceManagerStringLocalizer fails for dynamic assemblies"
Moved from https://github.com/aspnet/Mvc/issues/5994

When use `<div asp-validation-summary="All"></div>` and no validation error exists it throws exception below.

When I use `<div asp-validation-summary="ModelOnly"></div> `or some validation errors occurs it works, but I in this case I do not see all errors in summary.

[code]

[2017-03-20 21:44] hiiru opened #346 "What's the intended behavior of IStringLocalizer in regards to format strings?"
**Background:**
The reason of this question is a difference between Localization's `IStringLocalizer` and Mvc.Localization's `IViewLocalizer` which I noticed last week, or rather in their official implementations (`ResourceManagerStringLocalizer` and `ViewLocalizer`).
Initially I created a PR in Localization (https://github.com/aspnet/Mvc/pull/5962) since I think of this as a bug, during review @d

[2017-03-20 23:05] dougbu commented on #346
@DamianEdwards says "no, I don't want to type". He also mentioned this sounds like "just a bug" when described this way. @DamianEdwards prefers to fix `ViewLocalizer` and to provide a flag or option somewhere to control it. He left it as an implementation detail whether we change the default behaviour or not.

In other words, he asked **Triage** to do the **Right Thing:tm:**.

[2017-03-21 20:09] hiiru commented on #346
Ok, I'll update my PR so that the behavior is managed by a flag/option, any further detail we can discuss inside the PR in Mvc.

Since this doesn't directly involve Localization anymore, I close this issue here.

[2017-03-21 20:21] dougbu commented on #346
Reopening because **Triage** members have not weight in on this issue or the milestone where it might be addressed.

[2017-03-21 21:12] Eilon commented on #344
There are no plans to ship this in ASP.NET Core, but if you build one and release it as a NuGet package we'd of course be happy to link to it.

[2017-03-21 21:12] #344 closed

[2017-03-21 21:21] Eilon commented on #338
Also we should either delete or move the samples in this repo at https://github.com/aspnet/Localization/tree/dev/samples/LocalizationSample and instead just point to the Entropy samples and docs.

[2017-03-21 21:21] Eilon opened #347 "Create Localization template for 'dotnet new'"
With the new `dotnet new` extensibility, it would be nice to have an ASP.NET Core template that is fully localizable.

[2017-03-21 21:22] Eilon commented on #347
cc @DamianEdwards

[2017-03-21 21:25] Eilon commented on #341
No plans to change this. Even if this used the MemoryCache it would be as a private implementation detail and not from a service. Given that there's no known issue here, we're closing this issue.

[2017-03-21 21:25] #341 closed

[2017-03-21 21:39] hishamco commented on #341
Perhaps no one use it for medium to large scale application, IMHO we need to add some performance test cases.

All of us know that the maintenance is hard, so why we didn't use the mature implementation that we have in ASP.NET Core

[2017-03-21 21:42] hishamco commented on #344
Sure I will build one and share with you guys 😄

[2017-03-21 21:44] hishamco commented on #347
Why we didn't add starter template like what we have in the [entropy](https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb) repo

[2017-03-21 21:45] hishamco commented on #338
I'm totally agree with you @Eilon

[2017-03-21 22:01] Eilon commented on #341
@hishamco we will have perf investigations of this pending but we're just not there yet. So, unless there's already a known issue, we don't plan on changing the code. Because, for all we know, that might make the perf worse! 😄

[2017-03-21 22:04] Eilon commented on #347
@hishamco that's essentially what we want in the template. Someone just has to do the work to wrap it in the structure that `dotnet new` uses (and make sure the content is appropriate).

[2017-03-21 22:11] hishamco commented on #347
Sure, but in which repo shall we add this template, perhaps I 'll contribute to this if it's not assigned to anyone 😄

[2017-03-21 23:45] Eilon commented on #347
@DamianEdwards where do you want this to live?

[2017-03-22 03:53] DamianEdwards commented on #347
@Eilon can we just put it in the aspnet/Templates repo? As a new package?

[2017-03-22 18:52] dougbu opened #350 "Track recent breaking changes in `exceptions.net*.json` files"
This repo contains untracked breaking changes. To find and address them
1. Revert 9408b5b
2. Run `.\build.cmd /t:Pack` in projects 9408b5b touched or `.\build.cmd /t:Package` in the repo root
3. Update `exceptions.net45.json` and `exceptions.netcore.json` to track the changes
4. If not already announced, suggest filing issues at https://github.com/aspnet/Announcements

[2017-03-24 06:43] hishamco commented on #344
FYI this is NuGet package link for [SessionStateRequestCultureProvider](https://www.nuget.org/packages/My.AspNetCore.Localization.Session), the source code available in my repo [My.AspNetCore.Localization.Session](https://github.com/hishamco/My.AspNetCore.Localization.Session)

Hope its helpful for those who are looking to use the Session-State to determine the culture information for their web ap

[2017-03-24 08:17] hishamco commented on #78
@Eilon shall we close this for now, while there's no respond, @Martijn-Sharp is free to open this if there's a straightforward scenario to reproduce this issue

[2017-03-29 00:04] hishamco opened #351 "Add Localization cultures dynamically"
While we already have the `ResourceManager` implementation it's tough to add cultures dynamically at runtime, because resx needs msbuild i.e we need to restart the application.

I already saw many web applications & CMSs that have such feature, also there many folks asking for that with no luck 😞

I already did a prototype to read resx using Xml APIs instead of `ResourceManager` which requires the

[2017-03-29 07:19] NCC1701M opened #352 "Default Supported(UI)Cultures should be all Cultures available"
The default vaule for SupportedCultures and SupportedUICultures should be all Cultures available and not only the current one. I use a different approach for localization because I develop Intranet sites and I like to give administrators the possibility to translate the page on the fly. But with this concept you provide here it's way to complicated to add new languages.

 SupportedCultures and Sup

[2017-03-29 07:25] hishamco commented on #352
@NCC1701M this is back to an old discussion here issue #111

[2017-03-29 07:28] hishamco commented on #352
FYI I already added an issue today #351 to think about the possibility to add a localization culture dynamically at runtime

Also there's another issue still open to support custom cultures #237, hope you follow those

[2017-04-05 21:41] ryanbrandenburg commented on #343
@DamianEdwards, @Eilon and I taked about this and we think the thing to do (in adition to some docs fixes which I've already made) is to add an option to trow if the resource isn't found with a detailed error message about where the resource was being looked for. We could then update the docs to advise that anyone having trouble finding their resource should set that option temporarily so they can

[2017-04-06 01:57] hishamco commented on #343
👍 Sound looks good

[2017-04-06 02:02] hishamco commented on #343
FYI this is already suggested by @DamianEdwards long time back, you can checkthe issue #13

[2017-04-06 17:03] julianpaulozzi opened #353 "IHtmlLocalizer parameter replacement stopped working."
IHtmlLocalizer parameter replacement stopped working.

`
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
`
`
@{
    var subtitle = SharedLocalizer["Associate your {0} account.", ViewData["LoginProvider"]].Value;
}
`

Now subtitle print out literally:
**Associate your {0} account.**

[2017-04-06 17:35] hishamco commented on #353
Could you please provide us with a repo to reproduce the issue?

[2017-04-06 19:42] julianpaulozzi commented on #353
Unfortunately it's a private repo. I do not have another project with many languages to test.

But everything indicates that this occurred after upgrading many AspNetCore packages to 1.1.1.

Another change I made was to add Areas and [Feature Slices](https://msdn.microsoft.com/magazine/mt763233.aspx). I do not think it's the cause.

[2017-04-06 23:50] hishamco commented on #353
Could you please create a new repo with minimal things to help us to reproduce the current issue

[2017-04-07 00:11] hishamco commented on #353
Before that please have a look to the issue #343

[2017-04-12 13:36] julianpaulozzi commented on #353
I could not reproduce the problem in other project. Soon as possible I will try to deconstruct the parts of project with trouble to see if I can.

[2017-04-12 13:50] hishamco commented on #353
Seem naming issue, please check the issue that I mentioned [above](https://github.com/aspnet/Localization/issues/353#issuecomment-292370783)

[2017-04-12 17:26] julianpaulozzi commented on #353
Yes, that may be it. But it should not replace the positional parameter in the same way (from inline text).

[2017-04-12 21:46] rolek commented on #340
For the sake of reproducing the issue, I created the sample too:
https://github.com/rolek/netCoreLocalization

Actually, localization is working, but not based on RESX files in this case. If you localize like: *.EN.cshtml, this still works.

[2017-04-19 13:23] chanaka1 commented on #328
@ryanbrandenburg

I went trough the current implementation of [ViewLocalizer](https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.Localization/ViewLocalizer.cs )

The problem is that, to generate the path it is using the hostingEnvironment.ApplicationName. where if the view is loaded from a different assembly the generated path is wrong for the

[2017-04-20 19:44] ryanbrandenburg commented on #328
If you mean is there a better way to get the AssemblyName off the ControllerType you could do something like `new AssemblyName(contorllerTypeInfo.Assembly.FullName).Name` rather than parsing that string yourself. If you mean is there a better way than getting the assembly off the controllerActionDescriptor that heavily depends on the constrains of your program.

[2017-04-21 23:01] ryanbrandenburg opened #357 "Relating to issue # https://github.com/dotnet/corefx/issues/16985#issuecomment-286142692"
_From @deepak-khopade-isdr on March 13, 2017 15:38_

Please refer: https://github.com/dotnet/corefx/issues/16985#issuecomment-286142692

_Copied from original issue: aspnet/Home#1965_

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @Tratcher on March 13, 2017 15:44_

@ryanbrandenburg Loc issue

[2017-04-21 23:01] ryanbrandenburg commented on #357
It sounds like you're having trouble with resource naming. You seem to have already read https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization but please pay extra attention to the info under "Resource file naming".

This kind of problem is usually caused by confusion about namespaces, please double check that the namespace of the class you're creating a resource for is the same a

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 17:40_

@ryanbrandenburg : yes I read that and named my resource file accordingly. Since I just want to use single .resx common for entire project, I have named it as Startup.resx and my project's name is "app".
so in "/app/bin/Docker/netcoreapp1.1/en", I have "app.resources.dll" which i suppose should have a namespace as "app.resources.Startup"... is t

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 17:50_

I just dont want to use Controller specific or feature resx... want to have 1 general for now which is for whole project and thats why created it with name after "Startup.cs" which is at root. and the resx file is under /resources  folder and /resources folder is also at root of the project.

[2017-04-21 23:01] ryanbrandenburg commented on #357
Just to clarify, you're saying the namespace of `Startup` is `app.resources`? If so that's your problem. You want to set the namespace based off the name of the _main_ assembly (it looks like that would be under `/app/bin/Docker/netcoreapp1.1` for you), not the satelite assemblies we use for resources. I'm guessing that your main assembly is `app.dll` and therefore the correct namespace for `Start

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 18:17_

No the namespace of `Startup.cs` is just an `app` and that's correct it creats `app.dll` for my project's build. So not sure where my namespacing strategies are wrong. Let me create a screenshot for my project structure.

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 18:32_

![startup_cs_](https://cloud.githubusercontent.com/assets/19980433/23869581/d75630da-07f9-11e7-91c9-84f3e58fc020.png)

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 18:33_

Code in `Startup.cs` :
[code]

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 18:35_

Contents of `Startup.en-US.resx` :
[code]

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 18:37_

And the way I am trying to use it in my controller which is under "app.api.controllers".

`return NotFound(localizer["GET_COLOR_404"]);`

So expected to return the message from .resx file for given key, but it returns not found.

[2017-04-21 23:01] ryanbrandenburg commented on #357
@deepak-khopade-isdr it would be easier to investigate this if you could distill your project into the smallest project that still demonstrates the behavior. That said, I notice that in your `Configure` method you have parameters for `IStringLocalizer<Startup>` and `IStringLocalizerFactory` which are unused. This makes me wonder how the localizer you're using in your controller is generated, could

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 13, 2017 19:41_

My controller code below. And I havent implemented it project wide yet and was trying on this first simple controller, however, its not working. I will put everything in order in next comment.

[code]

And then simply using `_localizer["KEY_NAME"].Value` in my returns whenever I want to return a  message and expecting to show the text from .resx

[2017-04-21 23:01] ryanbrandenburg commented on #357
You're creating an `IStringLocalizer<ColorsController>` when you should be creating an `IStringLocalizer<Startup>`. The type you pass into the localizer should be the type of the class you've created resources for, which for many people would be the current class, but you only have one for `Startup`. What you've done here is create a localizer which will look at `ColorsController.en-US.resx` and `

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 14, 2017 16:37_

Ok, tried the way you explained but no luck :(

[2017-04-21 23:01] ryanbrandenburg commented on #357
Please create a GitHub repo which reproduces your problem and link to it here so that I have something to examine.

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 14, 2017 19:47_

Alright... here you go: https://github.com/deepak-khopade-isdr/LocalizationWebApi

However, important to mention here. When I ran this on my local (Ubuntu 16.04 and JetBrains Rider IDE) it's working, but when I took the same code on "docker" container, it's **not working**.

Not working meaning, it's not loading the value from a .RESX file I am

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 14, 2017 20:3_

Guess what, when I tried my regular app (business app in our private repo) running locally (not in docker), it's working, so looks like something wrong when .NET Core is trying to read the Resource file(s) from mounted systems / drives. Not sure, but my strong guess. Or may be when dealing with resx files on docker containers, I am doing somethin

[2017-04-21 23:01] ryanbrandenburg commented on #357
What does you DockerFile look like? I ask because if you're doing something like `RUN dotnet restore` and `ENTRYPOINT ["dotnet", "run"]` within the DockerFile then it's likely that your project.json is ending up in a differently named folder (and thus have a differently named assembly). If that's the case I suggest adding `"name": "LocalizationWebApi",` to the top of your project.json to explicitl

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on March 20, 2017 13:49_

Sorry I didn't get you completely; what is docker file and where can i find it in my project?

[2017-04-21 23:01] ryanbrandenburg commented on #357
A DockerFile is a file you would create so that other people and systems can reliably create docker images identical to the ones you're producing locally, and thus have the same experience as you (anyone feel free to correct me, I'm new to docker). If you do not have one I think the best course of action would be for you to add `"name": "LocalizationWebApi",` to your project.json and see if that r

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on April 20, 2017 1:10_

Hi @ryanbrandenburg,

Sorry for late reply on this. We don't have project.json anymore and using .csporj now for all our projects in solution so that we can mix our developer environment with Windows, Ubuntu & MAC. And also to use either VS 2017 CE or Jet Brains Rider.
Anyways, i checked the namespace and all we have is below:-
[code]
And for doc

[2017-04-21 23:01] ryanbrandenburg commented on #357
_From @deepak-khopade-isdr on April 20, 2017 1:17_

Just FYI: I was reading about Docker Containers and Volumes. And in our project, we are using volume which is obviously a shared file system folder from host OS into Docker container. And when I am running project on Host OS locally (Ubuntu or Windows) using F5 http://localhost:5000/... its working and when running under docker using http://docke

[2017-04-21 23:22] ryanbrandenburg commented on #357
The fact that your AssemblyName is "app" and that you've moved your project to CSPROJ makes me think things have changed significantly since we last talked, so I'd like to clarify a couple things:

- Do you have the AssemblyName set in your CSPROJ?
- The AssemblyName of "app" in your reply looks like a placeholder you entered rather than what actually is/should be there. Is that true? Does the val

[2017-04-24 13:45] deepak-khopade-isdr commented on #357
Hi @ryanbrandenburg:
The CSPROJ is for my business application, however, the repo (https://github.com/deepak-khopade-isdr/LocalizationWebApi) I created upon your request also has the same problem where I still have project.json and I would say you can try working on this sample project. https://github.com/deepak-khopade-isdr/LocalizationWebApi

Steps are simple though:
1. Get this repo and run fro

[2017-04-24 16:29] codypperson commented on #357
Hi @ryanbrandenburg,
My colleage @deepak-khopade-isdr has asked me to set up a shareable Docker image to reproduce this issue with.

If you clone the repo above and cd into it, you can build the docker image by executing the ./build.sh file.  Once that is built you can run the dotnet app inside the container by executing ./run.sh

The Dockerfile used to create this test is located at app/Dockerfil

[2017-04-24 19:38] ryanbrandenburg commented on #357
Your Dockerfile had two small but important problems. Firstly you were copying your files into the folder "dotnet", which would set the ApplicationName to `dotnet`. It looks like you guys figured that one out not too long ago though. Your second problem is a bit sneakier, you do:
[code]
what this does for folders is copy the contents into `dotnet/app` rather than copying the folder. So you end up

[2017-04-24 20:02] codypperson commented on #357
My apologies, I threw that together rather quickly this morning.  I can confirm that this works as expected inside docker when the folder structure is correct :+1:
Thank you for the help!

[2017-04-24 20:38] #357 closed

[2017-04-25 19:40] mikeharder opened #358 "Flaky Test: Localization_ResourcesInFolder_ReturnLocalizedValue_Windows"
[code]

## Repros
4/25/17: http://aspnetci/viewLog.html?buildId=208285&buildTypeId=Lite_MvcTest&tab=buildLog&filter=important

[2017-04-26 18:54] ryanbrandenburg opened #360 "Run functional tests on InMemory server"
Right now we're using `ApplicationDeployerFactory` to run our functional tests [as here](https://github.com/aspnet/Localization/blob/4c47065ae7716c2f480c41c135029875ceed1163/test/Microsoft.AspNetCore.Localization.FunctionalTests/TestRunner.cs#L61). We might want to do that for 2-3 tests just to ensure that there's no problems with Localization when run on Kestrel, but we want to move the rest of t

[2017-04-26 19:18] hishamco commented on #360
Totally agree 👍

[2017-04-26 23:39] ryanbrandenburg commented on #358
Fixed in #361.

[2017-04-26 23:39] #358 closed

[2017-04-28 14:45] pauldotknopf opened #362 "Question, recommend approach for localization of DisplayAttribute, without .resx files."
I am using my own localization engine (using PO/POT/MO files). I am not using resx files or satellite culture assemblies.

How do I localize the ```DisplayAttribute```?

[code]

I noticed the ```ResourceType``` parameter, and I get it. It uses resource classes. However, I was curious, maybe I could change how this works, via DI or some option/configuration stuff. I set the ```ResourceType``` to a

[2017-04-28 16:35] pauldotknopf commented on #362
I figured it out, after looking at the source.

I implemented my own ```IStringLocalizerFactory```, and added this.

[code]

I tried to use the ```AddDataAnnotationsLocalization``` extension method when using ```AddMvc```, but for some reason, the ```IStringLocalizerFactory``` being passed to the ```DataAnnotationLocalizerProvider``` was always the default resource-based implementation, regardless

[2017-05-09 12:43] hardhub commented on #324
@hishamco

It is readonly:
`public static readonly string DefaultCookieName = ".AspNetCore.Culture";`

For it is much more interesting how to get value which is set as CookieName in provider.
In other words what should be used to create cookie... because cookie should be set manually.

[2017-05-09 18:09] hishamco commented on #324
@hardhub if you are interesting to the custom cookie name you can use:
[code]

[2017-05-09 23:35] hardhub commented on #324
@hishamco

What is it? None compilable code? :)

In any case this feature cannot be used:
this.HttpContext.Features.Get<IRequestCultureFeature>()

It has property for only triggered provider...

[2017-05-10 00:38] hishamco commented on #324
Please refer to the sample to access localization feature https://github.com/aspnet/Localization/blob/dev/samples/LocalizationSample/Startup.cs#L64-L65

[2017-05-10 02:56] hardhub commented on #324
@hishamco

Please read my previous post carefully... I said it cannot be used and said why.
But I will try to explain... Provider property of that feature will be null if no no provider is triggered.
But it still can be added to options and be configured with cookie name.

[2017-05-10 04:20] hishamco commented on #324
@hardhub FYI localization by default has 3 built-in providers injected by default, I don't know why you re think the provider property will be `null`?!!

[2017-05-10 16:18] hardhub commented on #324
@hishamco

If no one of these providers will be triggered and default locale will be used then Provider will be null.
It can be if you provide logic to enable/disable any such provider from config file.
Because only accept language most likely will be triggered always (in case of browser).
But if it is custom http client then it is not mandatory.

The single possible way I see for now is to derive

[2017-05-10 19:30] hishamco commented on #324
@hardhub I got confused!! in your first comment you are looking for the custom cookie name, now the scenario is become little bit different, anyhow, I don't think the provider will be null because if the cookie & querystring is not triggered the AcceptLanguageHeader will trigger.

While you are talking about custom cookie you could remove the default `CookieRequestCultureProvider` and insert a new

[2017-05-10 20:24] hardhub commented on #324
@hishamco
I have explained all very well.. So I cannot add anything new info.. all answers are there.

[2017-05-22 05:17] RonPenton opened #370 "Fix the docs"
I just spent an hour debugging code with the CookieRequestCultureProvider. The reason?

The docs (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) indicate that the following is a valid cookie string:

`c='en-UK'|uic='en-US'`

It is not. The presence of the quotation marks causes the provider to fail. Silently, mind you. So you have no idea why it's failing, just that it's f

[2017-05-22 08:33] stenvix opened #371 "Data annotation localization current culture missmatch"
### Technical details
Operating system: Windows 10
IDE: Visual Studio 2017 Professional Version 15.2(26430.6)
Runtime: .NET Core 1.1

### Information
I had strange behaviour when use data annotation with "ResourceType",

Like in docs I init localization:
ConfigureServices
[code]
Configure
[code]
In model I use attribute
[code]
IHtmlLocalizer, IStringLocalizer  working correctly, But name on DataAn

[2017-05-22 10:59] hishamco commented on #371
@stenvix please refer to this issue #343, if everything is as expected, please share a repo to reproduce the issue that you are facing

[2017-05-22 12:11] hishamco commented on #370
A) @RonPenton you're right there's no quotation in the actual localization format, so I made a PR to fix the docs https://github.com/aspnet/Docs/pull/3393

B) May be we need kind of logging instead of throwing exception in the [`ParseCookieValue`](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/CookieRequestCultureProvider.cs#L76), but this may applicable for

[2017-05-22 12:17] hishamco opened #372 "Consider to use logging in the Request Culture Providers"
Based on the issue #370, I think it would be nice if we can add some logging into the default `RequestCultureProvider`s, specifically when the `CookieRequestCultureProvider` failed to parse the cookie, `QueryRequestCultureProvider` failed to parse the querystring

/cc @ryanbrandenburg @dougbu

[2017-05-22 15:11] rynowak commented on #371
@stenvix can you share your model code? The data annotations attributes have some complicated behavior because they have their own localization system.

[2017-05-23 02:16] hishamco commented on #370
@RonPenton it got fixed in the commit https://github.com/aspnet/Docs/commit/e1403188650a1d66aef4b98ba634355454e525a7

thanks

[2017-05-30 22:37] dwloup69 opened #375 "Culture Provider selection order is not correct"
I am adding a QueryStrignRequestCultureProvider in my project. When I launch my app and load the site without the URL parameter but instead rely on the accept-language header the localization code always falls back to the default language. Does adding a custom culture remove all other standard providers?
In an attempt to have both I added the AcceptLanguageHeaderRequestCultureProvider in the list

[2017-05-31 01:54] hishamco commented on #375
The localization is already have three request culture providers setup in the `RequestLocalizationOptions`:

1. `AcceptLanguageHeaderRequestCultureProvider`
1. `QueryStringRequestCultureProvider`
3. `CookieRequestCultureProvider`

The localization will fallback to the default culture if the current culture is not present in the winning provider

Not at all, but if you insert the custom one at the

[2017-06-01 21:30] dwloup69 commented on #375
sorry I now realize that the non-market resx file is not 'en-US' once I created a specific resx file with Resource.en-us.resx then this corrected my problem. I was assuming it would do the same as older versions of .net and fallback to the non-market specific resx file.

[2017-06-01 21:30] #375 closed

[2017-06-02 15:55] kdaveid opened #376 "Fallback to neutral culture if specific culture is not provided"
If SupportedCultures are provided as this
[code]
and a browser with locale set to "de-CH" is hitting the page, the user gets an English localization by `AcceptLanguageHeaderRequestCultureProvider`.

The same goes for `QueryStringRequestCultureProvider`. If the user changes the `culture` parameter in URL from `?culture=en-GB` to `?culture=de` the provider would not pick it up either.

Now, we could

[2017-06-02 20:18] hishamco commented on #376
I download your sample and I tried both cases:
1. I set the language in browser with `de-CH`, when I run the page I got the right culture
2. I added the querystring `?culture=de` again I got the right culture

Could you please let us know which version of `dotnet` you are using?