[2017-06-07 02:39] kdaveid commented on #376
Wow, wasn't expecting a feedback that fast!

I should have noted that I expected a browser setting without specific culture. If you
1. clear all locales in your browser
2. add "German" (neutral culture "de", just the language)
3. reload page
- Result: NO request culture provider is going to be hit and default lang ("en" in my example) will be chosen
- Expected Result: `AcceptLanguageHeaderRequestC

[2017-06-07 02:43] hishamco commented on #376
@kdaveid let me check it now ..

[2017-06-07 02:53] hishamco commented on #376
I follow the instructions above in Firefox `53.0.3`, it works as expected on `2.0.0-preview2-005905`, perhaps it was an bug in the version `1.0.1`

Could you please try your sample with the latest bits? Also I will try it the scenario on `1.0.1`

[2017-06-07 02:56] hishamco commented on #376
Unfortunately seems `1.0.1` isn't installed in my laptop, hope you try the latest bit and it should works 😄

[2017-06-07 11:43] kdaveid commented on #376
Hi Hisham

I've updated my
- CLI tools -> `2.0.0-preview2-006127`
- .NET Core Shared Framework Host to `2.0.0-preview2-25406-03`
- SDK to `2.0.0-preview2-006127`

You can not get any later bitwise ;)

I get the same behavior. Please confirm that you have the following settings in your browser:
1. German "de"
1. German (Switzerland) "de-CH"
1. English "en"
1. English (United States) "en-US"

If you

[2017-06-07 11:57] hishamco commented on #376
@kdaveid every time you come with new steps 😄, I will download your repo again and I will follow the above instructions

BTW I'm using VS 15.3

[2017-06-07 12:53] kdaveid commented on #376
No new steps. Just more detail for clarification.

If you have trouble restoring packages see [issue](https://github.com/dotnet/cli/issues/6763). ;-)

[2017-06-07 12:57] hishamco commented on #376
Yep I don't have that version 😄

[2017-06-07 13:10] hishamco commented on #376
I faced some issues while restoring your version, but it the sample works fine with version that I mentioned above

[2017-06-07 13:36] kdaveid commented on #376
I re-created the sample app in VS15.3 and facing issues with RESX files. Just adding a new string in a file and VS blows up.
I get back to you with a working sample once I have it.
**postboned**

[2017-06-07 14:08] hishamco commented on #376
Could you please try the version that I'm using?

[2017-06-07 14:50] TsengSR opened #379 "Culture and Resource File seems to be compared case-sensitive"
In my Startup class I had the following setup

[code]

and a resource file in `Resources/SharedResource.de-DE.resx` and the text wasn't translated when I injected `IStringLocalizer<SharedResource> _localizer` and resolved it via `_localizer["sometext"]`.

After changing the `CultureInfo` above to the correct casing, it started to work.

[code]

[2017-06-07 16:00] hishamco commented on #379
You 're right about the key name it is case sensitive, AFAIK the `ResourceManager.GetString()` in previous versions of ASP.NET was case insensitive

@ryanbrandenburg is this a known bug
/cc @pranavkm @dougbu

[2017-06-07 17:03] kdaveid commented on #376
I tried to install `2.0.0-preview2-005905` but unfortunately I can't get it to run.

Is it enough to install [this package](https://dotnet.myget.org/feed/dotnet-cli/package/nuget/Microsoft.DotNet.Cli.Utils/2.0.0-preview2-005905#targetframeworks), right?
I tried to install via Nuget and Chocolatey but no success.

[2017-06-08 13:51] andreujuanc opened #380 "Ubuntu 16.04 resources issue"
Hello,

I have a site, very simple. Running fine on Windows. Wanted to make some linux testing and it does run, but resources texts are not showing. I'm using resources per controller. Namespaces are fine, works fine on windows. Checked if it was casing stuff, but it's not the issue, everything is fine.

Resources files are created obj folder and bin dll is there as well.

How can I debug this?

[2017-06-08 14:10] andreujuanc commented on #380
Closing issue since deleting everything , cloning, restoring and running fixed it for me. 🍷

[2017-06-08 14:10] #380 closed

[2017-06-09 22:19] Eilon commented on #271
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-06-09 22:19] #271 closed

[2017-06-12 06:42] Ponant opened #382 "Advice on cross-domain localization"
Hello,
I have two websites and one is used as an IdentityServer, where user login to enter credentials or register and where he is redirected back to the second website after. Each website lives on a different domain but I can also target them to sub-domains of a main domain if that is a needed.

Localization is implemented successfully on each website with a dropdown button for the cultures. What

[2017-06-12 11:42] hishamco commented on #382
Frankly I didn't work with Identity server, but if there's a way to pass the culture to the identity server, you could simply append the culture to the querystring when you redirect to other website

I'm happy to hear from @damienbod which wrote a lot of great blog posts about the Identity Server and localization

[2017-06-12 12:02] Ponant commented on #382
@hishamco , thank you for your answer and hint. Any link to blog posts on identityserver+localzation would be great as a start; a quick google search returns nothing at first attempt.

[2017-06-12 17:09] Eilon commented on #382
Using a query string parameter is probably the best approach here. I think that the security middleware has callback events where you can add additional data to the authentication process, which would get transferred to the authentication server.

@Tratcher - do you know the secret sauce to pass additional data to the auth server? It seems that there are OAuth-standard request parameters for thing

[2017-06-12 17:18] Eilon commented on #379
I believe that this is how localization works with .NET's Resource Manager. In System.Web the story was a bit different because ASP.NET compiled the RESX files itself, so it could do the case-insensitive matches.

However, in ASP.NET Core the resource culture lookup is done by .NET Core itself, and it based around loading satellite resource DLLs from disk. If the app is running on a case-sensitive

[2017-06-12 17:18] #379 closed

[2017-06-12 17:25] Eilon commented on #376
From what I've understood in this thread, I think the observed behavior is how the design is supposed to work.

For each requested culture that the client (i.e. browser) sends, ASP.NET Core's system will look up:
1. The exact culture
2. The parent culture
3. The default site's language

If you want something like `de-DE` (language+locale) to be the "default German" then I think it should be regist

[2017-06-12 17:32] Eilon commented on #370
@hishamco thanks for fixing the docs! Closing this bug because you opened https://github.com/aspnet/Localization/issues/372 to track having a better logging experience for the issue.

I don't think that throwing an exception is necessarily a good idea here because it would potentially create a scenario where an "innocent" client could poison itself accidentally if it ever got a bad cookie somehow.

[2017-06-12 17:32] #370 closed

[2017-06-12 17:54] TsengSR commented on #379
Should have noted, it happened on my Windows 10 developer machine, if that makes any difference.

[2017-06-12 18:34] Tratcher commented on #382
OAuth2 or OpenIdConnect? The process is similar.

For OAuth2 you implement the OnRedirectToAuthorizationEndpoint event and tack your parameters onto the already assembled RedirectUri.
https://github.com/aspnet/Security/blob/rel/1.1.2/src/Microsoft.AspNetCore.Authentication.OAuth/Events/OAuthEvents.cs#L23

For OpenIdConnect it's OnRedirectToIdentityProvider where you add your custom parameters to t

[2017-06-12 18:46] Ponant commented on #382
Thanks @Eilon and @Tratcher , I thought that modifying the endpoint is not a secure procedure. I recall having read something like this on the IdenttityServer repo but cannot find the thread anymore. Perhaps @leastprivilege could comment on the procedure above.

[2017-06-12 19:16] Eilon commented on #351
Hmm as you mention with ResourceManager, there are limitations of the underlying platform that make that difficult.

If you had your own system that dynamically loaded resources you should be fine. As far as the options go, yeah, you'd need to come up with your own pattern. The default request localization implementation probably doesn't deal with dynamic changes at all. But, fortunately, for the

[2017-06-12 19:16] #351 closed

[2017-06-12 20:17] hishamco commented on #376
Exactly, registering `de` is enough, so the other German locales would fallback to it

[2017-06-12 20:22] hishamco commented on #370
I will make a PR for the raised bug soon ..

[2017-06-12 22:34] hishamco commented on #370
@Eilon how can we using logging in the static method `ParseCookieValue()`? perhaps throwing the exception is the easiest way unless there a good way to use DI in static method

[2017-06-12 22:57] hishamco commented on #351
Such feature is requested a lot, because restarting the app is not a good solution at all, perhaps adding a new localization source such as PO may simplify this

[2017-06-14 16:25] Eilon commented on #351
@hishamco right, with something like a PO-provider this gets a lot easier. The underlying limitation of loading DLLs is not something that can be changed or worked around in ASP.NET Core.

[2017-06-14 16:26] Eilon commented on #370
@hishamco I'm not sure we want an exception because this isn't a fatal or even dangerous error. We'd have to find a way to pass the ILogger through to the method.

[2017-06-14 16:53] hishamco commented on #370
Yep that 's what i'm thinking about

[2017-06-16 07:26] ili opened #386 "Using separate assembly for resources"
Hello! I'v got a little problem and may be you can help me.
My goal is to store all translations and resources in separate assembly.

To do it i'v implemented my own `IStringLocalizerFactory` as:
[code]
Next i'v ctreated two resx: `HomeController.resx` & `HomeController.ru.resx`
After build i do have satellite assembly in `ru\Jade.Localizer.resources.dll` and it contains proper resources (i'v chec

[2017-06-16 16:44] hishamco commented on #386
I saw such issue many times before, could you please check this issue #343, because many of the localization issue that I had seen caused by confusion in naming rules

[2017-06-18 08:43] kdaveid commented on #376
Well, thank you for confirming what I already mentioned when opening this issue:

I tried to picture different scenarios and implications for you, _not asking a question_.

In case I find the time, I'll create a pull request for updating the docs. This should be mentioned somewhere. It is frustrating to just try-and-error through it.

[2017-06-18 08:43] #376 closed

[2017-06-20 08:47] Ponant commented on #382
Hi @Tratcher, can you point to some example using the Funcs you refer to? Cheers

[2017-06-20 11:00] hishamco commented on #382
Have a look to the test project [here](https://github.com/aspnet/Security/blob/f0217eb77fd67a877ed72afb4876876383b864d1/test/Microsoft.AspNetCore.Authentication.Test/TwitterTests.cs#L44) and [there](https://github.com/aspnet/Security/blob/99aa3bd35dd5fbe46a93eef8a2c8ab1f9fe8d05b/test/Microsoft.AspNetCore.Authentication.Test/OpenIdConnect/OpenIdConnectChallengeTests.cs#L199)

[2017-06-20 17:10] Eilon commented on #376
@kdaveid sorry I misunderstood your initial post.

The "Adding Other Cultures" section at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization#resource-file-naming does mention adding culture-neutral languages:

Do you have a suggestion on what we can do to improve that text?

[2017-06-20 17:44] Rick-Anderson commented on #376
To specify a culturally neutral language, you would eliminate the country code, such as ~Welcome.fr.resx for the French language.~  as *Welcome.es.resx*  for Spanish.

[2017-06-20 21:05] Ponant commented on #382
Thanks @hishamco I will look at that, then.

[2017-06-22 20:04] Eilon commented on #338
Thanks @hishamco !

[2017-06-22 20:04] #338 closed

[2017-06-27 13:24] Ponant opened #388 "Adding resource file in .Net Core 2.0 Preview 1 crashes VS 2017!"
Did anyone experience this issue or has a workaround for it?
https://developercommunity.visualstudio.com/content/problem/73457/adding-resource-file-in-net-core-20-preview-1-cras.html

[2017-06-27 13:35] Ponant commented on #388
repro https://github.com/Ponant/ResourceFileCrashCore20-preview1

[2017-06-27 13:38] Ponant commented on #388
same issue (closed by VS Team while people continue complaining)
https://developercommunity.visualstudio.com/content/problem/22058/crash-when-editing-resource-resx-files.html

[2017-06-27 17:34] hishamco commented on #388
Try to move the issue to the [Home](http://github.com/aspnet/home) repo

[2017-06-27 18:52] Ponant commented on #388
done

[2017-06-27 18:52] #388 closed

[2017-06-29 15:34] pranavkm opened #390 "Localization functional tests don't run on desktop"
We missed updating the test runner (https://github.com/aspnet/Localization/blob/dev/test/Microsoft.AspNetCore.Localization.FunctionalTests/TestRunner.cs#L57). Consequently the tests run on desktop and coreclr but deploy the tests for netcoreapp2.0.

An alternative we can consider is to use TestHost instead. We're not really testing the deployment or server behavior here, so an in-memory host shoul

[2017-06-29 16:50] hishamco commented on #390
I think this is a duplicate of issue #360

[2017-06-29 16:53] pranavkm commented on #390
@hishamco not necessarily. It's important that we actually run the tests on desktop. How we achieve it is sort of tangential.

[2017-06-29 16:57] hishamco commented on #390
I see, but how the CI doesn't failed when it runs the functional test?!!

[2017-06-29 17:33] pranavkm commented on #390
@hishamco it's deploying netcoreapp2.0 twice (rather than deploying `netcoreapp2.0` once and `net461` the other time).

[2017-06-30 17:07] rynowak commented on #263
Nothing is broken here so moving this out

[2017-06-30 17:43] hishamco commented on #263
@rynowak the permenant fix that I made in PR #384 may has a breaking-change

[2017-07-03 14:16] Ponant opened #391 "Advice performance issues with shared vs non-shared resources"
I have around 20 resource files for each culture and I am covering 4 cultures. This totals to a bunch of resource files embedded in folders etc, so that it gets a bit uneasy to navigate through.

I came across the docs and read about SharedResources, where we would create a dummy class and dump in "global resources". I tested it and it works, which makes me think that I could now, for each culture

[2017-07-03 23:28] hishamco commented on #391
AFAIK localization cache the resource entries as well as missing entries too, which will improve the performance. You could have a look to `ResourceNamesCache` and `ResourceManagerStringLocalizer` for more details.

[2017-07-03 23:29] hishamco commented on #391
Also you could look to this issue #162

[2017-07-04 04:47] Ponant commented on #391
.Sorry @hishamco , I did not get quite well whether you answered the question, namely if reducing the number of resx files but with a larger number of entries would kill performance, improve it or have no impact?

[2017-07-04 06:16] hishamco commented on #391
I didn't the answer your question 100% but I give you some information that I knew 😄, did you make a benchmark for your current working project?!!

[2017-07-04 06:21] Ponant commented on #391
No, no benchmark, this is why I ask before transferring a bunch of values and refactoring of resx's....

[2017-07-04 06:31] hishamco commented on #391
BTW @ryanbrandenburg did a benchmark for localization long time back and the result was very good, hope he reply to you ASAP

But i'm not sure if he was using a shared resources or not

[2017-07-07 21:15] #350 closed

[2017-07-15 18:59] JonHanna commented on #308
I've submitted a fix for the corefx bug. In the meantime, if someone hits something like this then as long as the implementing class injected into `S` implemented the interface directly rather than as explicit implementation then `@((dynamic)S)["Hello {0}", x]` should work because it would force the lookup to happen on the concrete type rather than the interface, which this bug doesn't affect. Sin

[2017-07-17 00:26] julianpaulozzi commented on #353
Time has passed and I have not returned to this. I believe it was caused by the file's encoding format, I did not observe any more behavior like this when normalizing all files.

If I find something more relevant I return to the topic,
Thanks!

[2017-07-17 00:26] #353 closed

[2017-07-24 13:29] drauch commented on #66
@DamianEdwards : we have a more complicated setup where we want to load the values from the database only for some cultures, others are in resource files. I cannot see how to support this setup with IStringLocalizerFactory / IStringLocalizer, as the IStringLocalizerFactory.Create() method does not receive the culture as input. How to obtain the currently selected culture from within my own IString

[2017-07-24 15:31] hishamco commented on #66
@drauch could please file a new issue to organize the tracking of your question

[2017-07-24 18:26] brgrz opened #397 "I18n, localization roadmap, features"
I was wondering if the current feature set will be expanded in any way given that i18n support is rather basic  (the only thing new being the two interfaces) and most of the features the same as they were in MVC 5 (Data annotations, resx files).

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

Also, how come MS is staying with resx files which are a 20 year old technology a

[2017-07-24 18:33] brgrz commented on #17
@Eilon @hishamco @glen-84 @DamianEdwards There really is no need to reinvent the wheel here, other frameworks offer much more comprehensive i18n story, for instance Angular 2, which bases their i18n efforts on XLIFF and XMB standards. Those cover most of the advanced i18n scenarios. https://angular.io/guide/i18n

[2017-07-24 18:59] hishamco commented on #17
@brgrz to be clear AngularJS provide localization like other frameworks, but don't forget that AngularJS works at client-side furthermore to apply the localization you need to use the AngularJS directives

This may useful for SPA

[2017-07-24 19:16] brgrz commented on #17
@hishamco Yeah, and? How's that different from what we have at server side with Razor and tag helpers?

[2017-07-24 19:33] glen-84 commented on #17
@brgrz I don't think that any wheels are being re-invented here. You could probably implement support for XLIFF and XMB just as easily as I implemented (PoC) support for ICU MessageFormat syntax.

[2017-07-24 19:38] hishamco commented on #17
Frankly I didn't tried AngularJS localization yet, but I think you are limited to JSON or JS files as resource files, because everything done at client-side, on other hand ASP.NET Core build on extensibility taken in mind, so you can use the RESX files to store the resources, or you can create a custom on such as PO, JSON, EF .. etc. Similar things to the `RequestProviderCulture` you can use Cooki

[2017-07-24 21:00] brgrz commented on #17
@hishamco Actually Angular 2 uses XLIFF files for i18n which are XML. But, you are talking about persistence and I was talking about standards on which to base the whole i18n story. Persistence/storage mechanisms are pretty much irrelevant or only relevant when everyone has to invent their own i18n design and support more complex scenario themselves (this is the case now with MVC 5 and, as it seem

[2017-07-24 21:09] brgrz commented on #17
@glen-84 I could but I was hoping MS would push things forward and solve i18n as it should be from the get-go that's why I was pretty disappointed when I read this https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

Actually i18n used to be one of the top three issues on ASP.NET's UserVoice but it's gone now. I guess they cleaned up the issue list when they released Core but di

[2017-07-24 22:40] hishamco commented on #17
I'm agree with you regarding the complexity of the RESX, so that's why I prefer a new localization source beside `ResourceManagerStringLocalizer` 😄

[2017-07-26 12:49] TsengSR commented on #314
This stuff is really a pain in the butt.

I had it working fine, when it was in the main assembly, but once I moved the controllers to their own assembly, localization isn't working.

Project.Name.WebApi << main project
Project.OtherName.Mvc << Controllers of a specific modules, i.e. related to orders

In `Project.OtherName.Mvc` I got a "Resources" folder with `SharedResources.de-DE.resx`.

[code]

[2017-07-26 23:35] Eilon commented on #314
@TsengSR sorry you're running into problems with this. Can you post a new issue, and ideally a sample app that shows the problem, and we will investigate? Once we get to the bottom of this we can make sure the documentation is updated with the correct info.

[2017-07-27 10:56] TsengSR opened #398 "Resource filename conventions not working, when assembly name and default namespace differ"
I spent the better half of yesterday trying to get the locations work, after I moved my controllers to a different assembly and todays morning to create a small reproducible project to demonstrate it.

With the first setup I did, it worked to my surprise so I had to spend a good hour trying to bring it to the constellation I have it in current project.

Finally I pinned it down that neither of the

[2017-07-27 10:57] TsengSR commented on #314
@Eilon: Ok I opened a new issue (#398) with some more details when it happened and the observations I made during creating this reproduction.

[2017-07-28 01:25] hishamco commented on #398
If I'm not wrong this a duplicate for issue #340

[2017-08-08 19:37] Eilon commented on #372
@ryanbrandenburg assigning this to you because I've assigned @hishamco 's PR at https://github.com/aspnet/Localization/pull/385 to you to review & merge.

[2017-08-08 19:38] Eilon commented on #336
@hishamco are you saying that in 2.0.0 only the first log is written, but not the second log?

[2017-08-08 19:38] Eilon commented on #336
BTW I think this might be happening because ASP.NET Core isn't the one doing the fallback - it's .NET Core / .NET Framework doing it, and we don't participate in the fallback logic it uses.

[2017-08-08 19:59] hishamco commented on #336
Yep

It would be nice if we have the behavior that I mentioned on the first thread, which is similar to MVC fallback for views

@Eilon my aim here is to write a very useful log, because the localization already fallback to the parent culture

[2017-08-08 22:40] Eilon commented on #336
Yeah I don't think that ASP.NET Core has any control over that. The .NET fallback implementation will run without ASP.NET Core's knowledge - there's nowhere to inject the logging as far as I know. In particular, there's no way I know of to log things *as they happen*. You can log it before or after, but I don't think that's nearly as useful because in case there's an error, it won't be clear what

[2017-08-09 03:50] hishamco commented on #336
The current implementation is already write a log when the resource is not found. just we need to write another log, because if the resource isn't found and `Fallback` is `true` we are know that we already searched for that resource in the current culture and its parents

[2017-08-09 17:25] #360 closed

[2017-08-09 17:25] #390 closed

[2017-08-13 16:21] TsengSR commented on #340
This issue should really be addressed before 2.0 goes life imho or another year may pass. It's an absolutely common practice in n-layer architecture that assembly name do not equal the default namespace.

[2017-08-14 16:31] Eilon commented on #336
@hishamco - I thought it's .NET itself that does the fallback of cultures, no? The only fallback that I can find that ASP.NET Core does is to determine which culture to select based on the incoming request's culture (e.g. headers, cookies, etc.). When it comes to doing the resource lookup, I can't find anything that does a meaningful fallback.

[2017-08-19 13:18] kdaveid commented on #340
I have a very localized netcoreapp2.0 (web) but now my executing assembly has a name like: `bar.foo.Product.Web.exe` which is not only ugly but makes installation- and configuration-instructions horrible to read.

I'd be ready to add an attribute to my classes with a property pointing to the _right_ namespace for localization. But this would not work for razor views...

[2017-08-21 16:29] cruikshj opened #405 "Support for async create methods in IStringLocalizerFactory and IHtmlLocalizerFactory"
I have not found a good way of implementing custom localizer factories that load resources with async methods, such as from a database or from a file on the file system.  I understand these implementations could use synchronous methods, but that seems counter intuitive in a web application.

Is there some way of doing this that I have missed?

[2017-08-21 16:30] jfiskvik opened #406 "Calling IStringLocalizer<T>.GetAllStrings() throws MissingManifestResourceException after upgrading to dotnet core 2.0"
I have a controller which looks like this;
[code]
I call the list method from an angular app in order to have one (shared) set of translations for both front-end and back-end. Prior to upgrading to dotnet core 2.0 it worked as expected, but now it throws a `MissingManifestResourceException`. The class `SharedResource` is just a dummy representing my resource files named `SharedResource.en-GB.resx`

[2017-08-21 17:26] hishamco commented on #405
AFAIK localization support synchronous version, you can refer to my [sample](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework)

[2017-08-21 17:41] hishamco commented on #406
This remind me with an old bug which @ryanbrandenburg made a temporary fix for it. But it's strange that it show up again

Could you please provide a sample repo that producing the issue?

[2017-08-22 08:32] jfiskvik commented on #406
Sample repo reproducing the issue: https://github.com/jfiskvik/LocalizationSample

[2017-08-22 16:05] zulfahmi93 opened #407 "Injecting IViewLocalizer into Razor Page causing IndexOutOfRangeException."
### Title
When injecting `IViewLocalizer` using `@inject` directive into any Razor Page (not using MVC), `System.IndexOutOfRangeException: Index was outside the bounds of the array.` will be thrown.

### Minimal repro steps
See this [repo](https://github.com/zulfahmi93/RazorPageLocalizationIssue).

### Expected result
The page should load successfully without ant error.

### Actual result
The foll

[2017-08-22 16:16] pranavkm commented on #407
Moved to https://github.com/aspnet/Mvc/issues/6694

[2017-08-22 16:16] #407 closed

[2017-08-23 07:05] Eilon commented on #406
@ryanbrandenburg can you take a look?

[2017-08-23 07:06] Eilon commented on #405
There is no support for async loading of resources at this time.

cc @DamianEdwards

[2017-08-23 11:14] hishamco commented on #405
The good thing about the current implementation is the resources are cached, so you could do similar thing, but you need sort of refreshing the cache if a new resource was added

[2017-08-24 19:42] EugenioSerrano commented on #406
The same issue as @jfiskvik here. Waiting for response...

[2017-08-26 12:06] Tasteful opened #408 "ResourceManagerStringLocalizer._missingManifestCache is empty after calling IStringLocalizer.WithCulture"
In `ResourceManagerStringLocalizerFactory` we have a `_localizerCache` that holds and reuse the different `ResourceManagerStringLocalizer` so if we run below code we always should get the same instance of `IStringLocalizer` as `localizer`.
[code]
If we call the [`IStringLocalizer.WithCulture(...)`](https://github.com/aspnet/Localization/blob/42a87b383daaa998fb524b2c17786c073c277840/src/Microsoft.E

[2017-08-29 17:56] lucianparvu opened #410 "After upgrate to Net Core 2.0 Localization in View (Inject) is not Working"
Hello,
After upgrate to Net Core 2.0 Localization in View is not Working, but In Controller works .
I tried to create a default project in Net Core 2.0 and is not working too .
ConfigureServices
-  services.AddLocalization(options => options.ResourcesPath = "Resources");
- services.AddMvc()
            .AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix)
            .AddDataAnnotationsL

[2017-08-29 20:09] #372 closed

[2017-08-30 20:57] Eilon commented on #408
@kichalla can you take a look?

cc @ryanbrandenburg in case you have some prior knowledge about this.

[2017-08-30 21:48] Eilon commented on #410
@kichalla another investigation.

[2017-09-01 09:00] marcusien commented on #406
Exactly the same problem for me. Works totally fine with 1.1,1.2 and 1.3 versions and it does not work anymore since i just made an upgrade to 2.0.0

[2017-09-01 09:09] Stefanone91 opened #412 "FileExtension localization problem"
Hello everyone,
I'm trying to localize the error message of "FileExtension" attribute but it seems not working.
I've successfully implemented the localization for "Required" attribute as explained in the official ASP.NET core guide.
I've created a simple project to reproduce the issue:
Inside the "registration" page i've added an input elemente for file upload wich is linked to RegisterViewModel,

[2017-09-01 15:02] barynov commented on #406
I have the same issue. I tried to debug it, looks like `AssemblyResourceStringProvider.GetAssembly `cannot load a satellite assembly for `en` culture because `Assembly.Load` fails. The workaround that I applied is to temporary rename Name.en.resx resource to Name.resx, making it neutral, and then using `GetAllStrings(true)`.

[2017-09-01 23:05] kichalla commented on #410
@lucianparvu I was unable to repro the problem at my end, but to be sure, can you try finding out what the culture is on the view?

For example, you can try printing them out in the view:
[code]

[2017-09-06 01:20] Eilon commented on #412
Hmm, it looks like we simply never added support for this attribute! Not sure why.

@dougbu @rynowak @danroth27 - any guesses as to why we never did it? We just forgot?

[2017-09-06 01:20] Eilon commented on #412
BTW by "never added support" I mean in MVC - I'll move the bug.

[2017-09-06 01:21] Eilon commented on #412
This issue was moved to aspnet/Mvc#6771

[2017-09-06 01:21] #412 closed

[2017-09-06 17:07] kichalla commented on #410
Based on your code, looks like you were following this article. I wasn't able to repro the issue, so closing it for now. If you can still repro it, could you share a small repro app
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization

[2017-09-06 17:07] #410 closed

[2017-09-06 17:53] kichalla commented on #408
Yes, this is correct and it does create a single instance as expected.

As far as I can tell, this is expected. Here `WithCulture` acts like a factory for creating localizers which use a different version of culture than the culture of the current thread.

#### Example scenario
An application is designed for en-US (so the culture and currentuiculture on the thread would be en-US), but there is a p

[2017-09-06 19:19] Tasteful commented on #408
@kichalla if you take a look in this https://github.com/aspnet/Localization/issues/156 issue the singleton cache was created in the factory so the `_missingManifestCache` instance will be the same for the same culture during application lifecycle.

If we call the `WithCulture` we are creating a new stringlocalizer for every call, example
[code]
In the above `XyzController`:
* injected the same ins

[2017-09-06 20:00] hishamco commented on #406
@ryanbrandenburg is this the one your PR created for?

[2017-09-06 22:27] kichalla commented on #408
@Tasteful Sure, I understand what the code is doing and yes here each instance of localizer created by `WithCulture` creates one cache instance of the `_missingManifestCache` and it seems unnecessary. The performance of this piece of code is not efficient as it was meant to be (in the `WithCulture` scenario) but this scenario is also rare which brings up the question of whether we need to worry ab

[2017-09-07 00:02] Eilon commented on #405
Closing because there are no plans to implement this. Resources can be pre-loaded, or you can do synchronous calls to get the data on-demand.

[2017-09-07 00:02] #405 closed

[2017-09-07 17:06] ryanbrandenburg commented on #406
Closed by #413.

[2017-09-07 17:06] #406 closed

[2017-09-07 19:58] kichalla commented on #408
Closing this issue now as we do not plan to take any action here.

[2017-09-07 19:58] #408 closed

[2017-09-07 21:42] Eilon commented on #406
@ryanbrandenburg - should this be marked as `bug` + `3 - Done`?

[2017-09-07 21:52] ryanbrandenburg commented on #406
Fixed.

[2017-09-07 21:54] EugenioSerrano commented on #406
Hi Ryan. Do you know when this fix will become part of a update to install in production ?

[2017-09-07 22:01] Eilon commented on #406
@EugenioSerrano this is for our 2.1.0 release, which is still in the early stages. We'll have an official preview of it later this year.

If you're running into a specific issue right now that you want fixed, we can look at suggesting workarounds.

[2017-09-07 22:05] EugenioSerrano commented on #406
Thank You Eilon. I am using the workaround commented by @barynov having a neutral resx file in order to can access all the keys.

[2017-09-10 14:15] Jenan opened #414 "Localization in JSON file"
Hello,

is it possible to create a localization in JSON files, like this:

[code]

With content like this:

[code]

For example in View call - `@Localize("HomeTitle")`

It's single file per application and per language.

Is it some way how configure localization module to do this approache?

Thank you.

[2017-09-10 21:34] hishamco commented on #414
Of course you can, I already did that long time back, I think it's a time to write a useful blog post that explaining how you can implement `JsonConfigurationRequestCultureProvider` as well as `JsonStringLocalizer`

Hopefully I'll refer to the link ASAP

[2017-09-10 21:55] hishamco commented on #414
FYI this would be easier with ASP.NET Core Configuration APIs

[2017-09-11 16:51] Eilon commented on #414
There is no built-in JSON-based provider for localization, but @hishamco wrote an Entity Framework Core one that you can see here: https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework. You could try modifying that to work with JSON files instead.

Closing because there are no plans to implement this.

[2017-09-11 16:51] #414 closed

[2017-09-14 04:00] yufeih opened #415 "FallBackToParentCultures does not respect zh-CN and zh-Hans"
When `FallBackToParentCultures` is set, *zh-CN* will not be fallback to *zh-Hans*.

Locale fallback simply trim the last section after dash, this is incorrect:

https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/RequestLocalizationMiddleware.cs#L206

*zh-Hans* should be a parent locale of *zh-CN*

[2017-09-14 05:43] hishamco commented on #415
Could you please refer to issue #273, seems `zh-{cultures}` are more complicated than I knew 😄

[2017-09-14 06:57] yufeih commented on #273
@ryanbrandenburg

It is actually using a simple string manipulation here: https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/RequestLocalizationMiddleware.cs#L206

I prepared a [PR](https://github.com/aspnet/Localization/pull/416/files) with a test case to reproduce the problem

[2017-09-25 11:40] dozer75 opened #418 "IViewLocalizer and Razor pages throws exception"
I am moving my project to using Razor pages, but I can't get localization to work. It works if I use classic MVC but not with Razor pages.

This exception is thrown:
[code]

[RazorPageLocalization.zip](https://github.com/aspnet/Localization/files/1329264/RazorPageLocalization.zip) is a project that can be used to reproduce the issue

[2017-09-25 12:02] dozer75 commented on #418
Closing this, wrong repository, sorry.

[2017-09-25 12:02] #418 closed

[2017-09-29 17:33] hishamco opened #419 "Organize Microsoft.Extensions.Localization"
As we knew `ResourceManagerStringLocalizer` is the default `StringLocalizer` for localization in ASP.NET Core, but the needs for Pluralization or adding a new localizer such as `POStringLocalizer` required the namespace to be organize to have namespace per `StringLocalizer`, this is common in other ASP.NET Core repos such as Configuration, Security .. ect

IMHO it would be nice if we add resource

[2017-10-02 01:24] Eilon commented on #419
Hi @hishamco , if I understood correctly, is this a breaking change? If so, there usually has to be an *extremely high* value to the change to justify making a breaking change.

I agree there could be better ways to organize the namespaces, but, at this time I don't see a value that is high enough.

Can you share more info on this?

[2017-10-02 11:22] hishamco commented on #419
Yep it's a breaking change, that's why I suggest it would be suitable for 3.0.0, perhaps the main issue that we don't think about this, because we have only one resource provider which is `ResourceManager`, IMHO this will have great value if we planned to support `POStringLocalizer` which is asked a lot by the community, FYI this is already done in the past, but the PR is closed for unknown reason

[2017-10-03 16:11] Eilon commented on #419
Closing because there are no plans to implement this. Moving just a few types to a new namespace is just too small a change to make it worth doing a breaking change. We can add new types to new namespaces if there's enough to justify it.

[2017-10-03 16:11] #419 closed

[2017-10-03 20:04] hishamco commented on #419
As I said before it will have a good value if we support a new `StringLocalizer`

[2017-10-12 08:10] RickStrahl opened #420 "Injection of Localizables not working in @Pages"
I'm trying to get localization to work inside of a test Razor Page, but really nothing is working to inject localizers or use View localization.

Injecting IViewLocalizer I get an IndexOutofRange Exception as soon as:

[code]
is added to the page (even if nothing uses it). Page runs fine without this injected value.

Error is:

![image](https://user-images.githubusercontent.com/1374013/31485578-0b

[2017-10-12 11:03] RickStrahl commented on #420
After some more experimenting with a new, clean project I can confirm that IViewLocalizer definitely isn't working, but I think IStringLocalizer is actually working the way it's supposed to.

It looks like the IStringLocalizer<T> issue I was seeing was related to the an invalid resource path.

If I have a 'placehold class' for StringLocalizer definied like this:

[code]
so I can load  `IStringLoca

[2017-10-12 11:51] hishamco commented on #420
@RickStrahl I already reply to your tweet, there a bug on `IViewLocalizer` on ASP.NET 2.0.0, there's the workaround http://www.hishambinateya.com/localization-issue-in-razorpages

[2017-10-12 11:53] hishamco commented on #420
FYI https://github.com/aspnet/Mvc/issues/6694

[2017-10-12 18:56] DamianEdwards commented on #420
The exception is a known issue that's already fixed (aspnet/Mvc#6694) and I've provided an example that shows how to work around it locally at https://github.com/DamianEdwards/RazorPagesLocalization. That will let you keep using `IViewLocalizer` until we deploy the fix.

As for `StringLocalizer` behavior when the requested string can't be found, it **does** return the string passed as the key/name

[2017-10-16 07:44] hikalkan opened #421 "ResourceManagerWithCultureStringLocalizer bug (or by design?)"
Hi,

https://github.com/aspnet/Localization/blob/dev/src/Microsoft.Extensions.Localization/ResourceManagerWithCultureStringLocalizer.cs#L126

Shouldn't this be:

[code]

[2017-10-16 11:10] hishamco commented on #421
It should be
[code]

In case of logging the missing resources

[2017-10-23 19:17] Rabadash8820 opened #424 "Add vary-by-culture Attribute to Cache Tag Helpers"
I have numerous Views with large sections of markup that do not change unless the user changes their language preferences.  I prefer the CookieRequestCultureProvider to handle language selection, so when I want to cache these Views, I have to use code like below.  This feels quite verbose to me, for what I imagine is a fairly common use case in production apps; namely, caching by request culture.

[2017-10-23 19:20] Rabadash8820 commented on #424
This issue probably belongs in the Mvc repo actually, my mistake.  I created a new issue over there:

aspnet/Mvc#6986

[2017-10-23 19:20] #424 closed

[2017-11-05 01:57] hishamco commented on #414
@Jenan it has been awhile from my latest comment, but I didn't forget to reply on this, I created two repos one for [Localization JSON Request Culture Provider](https://github.com/hishamco/My.AspNetCore.Localization.Json) and another one for [JSON Localization Resources](https://github.com/hishamco/My.Extensions.Localization.Json)

Hope this answer you & many other folks questions 😄

@Eilon perhap

[2017-11-05 07:52] Jenan commented on #414
Thank you. :)

[2017-11-06 16:01] Ponant commented on #391
Hi @ryanbrandenburg ,
I would appreciate your advice on that. Do you expect a loss of performance if I put all entries of all my resx files into a global resource for each culture? That simplifies drastically my resources folder! But I am not sure I will pay heavily in performance as now we query large files. Thanks

[2017-11-06 17:57] ryanbrandenburg commented on #391
@Ponant we don't have numbers on that one way or another. Is there a particular reason you're concerned this scenario will be non-performant? Your files don't sound particularly large, so my instinct is that even if that scenario WERE slower, it wouldn't be particularly apparent to you.

[2017-11-06 19:07] Ponant commented on #391
@ryanbrandenburg , I am concerned that each resx file gets large with circa 500 entries. If you think that is not an issue, then what would be a limitation of using a global resource? If there is no limitation, then I will clearly head for this because the resources folder is much cleaner.

[2017-11-06 19:08] Ponant commented on #391
Also, I am wondering if the resx files are somewhat indexed like a database, or not?

[2017-11-06 22:46] ryanbrandenburg commented on #391
I do not know of any limitations of global resources over per-class resources. I don't know abou "indexed like a database", but I believe there are caches at a couple levels which should make for quicker resource returning.

[2017-11-06 23:09] #391 closed

[2017-11-10 14:40] AdnanCukur commented on #406
I'm looking to retrieve all localizedstrings and return to a calling javascript library, is there any workaround for this ?

[2017-11-10 17:37] hishamco commented on #406
@AdnanCukur could you please file a new issue and describe what you want in more details

[2017-11-10 22:27] AdnanCukur commented on #406
@hishamco I want to know if there exists a workaround to make IStringLocalizer<T>.GetAllStrings() work, that I can use in production right now

[2017-11-11 15:50] hishamco commented on #406
@AdnanCukur I expect it works after the PR #413?!!

[2017-11-15 11:12] asadsahi opened #425 "Custom SQL IStringLocalizerFactory overrides IViewLocalizer in application"
I have custom EF String localizer as demonstrated in [this](https://github.com/aspnet/Entropy/tree/dev/samples/Localization.EntityFramework) EF sample.

`            services.AddSingleton<IStringLocalizerFactory, EFStringLocalizerFactory>();
`

With above custom EF sql localizer, no other localizer works i.e IViewLocalizer . If I take out this registration:

`            services.AddSingleton<IStr

[2017-11-15 11:32] hishamco commented on #425
I will try to have a look to it today ..

[2017-11-15 11:50] asadsahi commented on #425
@hishamco that is exact entropy sample that I have used in my project. But that sample doesn't have any Home.fr.resx like files in it, otherwise we could've tried in that project to see if it is same problem. Each localization project in Entropy repo is using one particular localization implementation. But even with custom String localizer I was expecting it to fall back to default StringLocalizer

[2017-11-15 11:52] hishamco commented on #425
Of course I don't have `.resx` file, because I'm using EF

[2017-11-15 13:15] asadsahi commented on #425
A little bit of more investigation:

Even I am using IViewLocalizer in view:

![image](https://user-images.githubusercontent.com/3470892/32837807-c85d1f6a-ca06-11e7-91a5-1a13a88f9e92.png)

It hits the custom EFStringLocalizer:

![image](https://user-images.githubusercontent.com/3470892/32837863-0dd0a0bc-ca07-11e7-8d09-847bc88655d3.png)

Which is a little confusing for me.

[2017-11-18 11:22] asadsahi commented on #425
@hishamco did you managed to have a look into this issue?

[2017-11-18 13:18] hishamco commented on #425
Sorry I was too busy last few days

The `IViewLocalizer` uses `IHtmlLocalizerFactory` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Localization/ViewLocalizer.cs#L32 which is uses `IStringLocalizerFactory` https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Localization/HtmlLocalizerFactory.cs#L21, so that's why that sample that I had created hits `EFStringLoc

[2017-11-18 13:21] asadsahi commented on #425
Ahh, ok.

So does that mean once we have a custom string localizer (in the from of EFStringLocalizer) in our case, then ViewLocalizer will not pickup resource strings from "Resources" folder?

[2017-11-18 14:37] hishamco commented on #425
As I told you on my second comment, that I am not relaying on .resx, so all the resources will come from EF

[2017-11-18 14:39] asadsahi commented on #425
I think what I was trying to clarify, is it possible to fallback to resx resources if a localised string in EF not found. If this is is not available by design, then perhaps I need some help with how to achieve that.

[2017-11-18 14:55] hishamco commented on #425
AFAIK the fallback on the Request Culture Provider not the underlying localization resources, so that's why the `XStringLocalizerFactory` is registered as singleton

[2017-11-18 15:00] asadsahi commented on #425
Interesting. Any guesses how to make both localised resources working with each other by making EF as primary and viewlocalised as secondary resource provider?

If somehow we can read the ViewLocalised resources in EFSTringLocalisedFactory, we might check that the requested resources isn't available in DB resources, then check in ViewLocalised resources and try returning it?

[2017-11-18 15:08] hishamco commented on #425
If I'm not wrong you can implement `IViewLocalizer` that uses the `ResourceManager` and register it in the DI instead of the default one

But still not convenience to me to use more that one underlaying resources, nothing but if you're happy with this you can have a try 😄

[2017-11-18 15:17] asadsahi commented on #425
@hishamco that sounds like an idea. 👍

Just need to figure out how to make it work now.

You are right, it might not sound normal in some cases, but to me it is a little more flexible approach than binding yourself to only one way to localise app. I am neither proposing this to anyone nor using it in a practical application right now. Just implementing in my playground project as a POC. :)

[2017-11-18 15:20] hishamco commented on #425
All the best .. hope this will solve your issue

[2017-11-18 17:30] asadsahi commented on #425
@hishamco can you please show me a snippet of code which explains:

[2017-11-18 21:20] hishamco commented on #425
@asadsahi your issue moving to another way, anyhow seem to make this happen may you need to change the APIs, coz `HtmlLocalizer` uses `IStringLocalizer` too, which is make the things difficult little bit without changing the underlying APIs

IMHO use the `ResourceManagerStringLocalizer` or introduce new APIs that fits your need, hopefully if I got a time I will try to create a demo of this ..

[2017-11-18 22:09] asadsahi commented on #425
@hishamco absolutely have no idea how I can use "ResourceManagerStringLocalizer" to resolve this.

[2017-11-22 23:52] RickStrahl opened #426 "Dynamically changing Culture in-flight of a Request"
I like the fact that the current locale is no longer tied to a thread in the RequestCulture feature and that you can just get at the current context.

But... - it looks like there is no way to set the request locale in flight without doing a redirect? If you want to truly dynamically change the locale as part of a request or custom mechanism without creating a new provider that has to be applied g

[2017-11-23 14:23] hishamco commented on #426
I think this a design decision to change the request cultures from within the request culture provider(s)

/cc @pranavkm @ryanbrandenburg

[2017-11-26 21:45] hishamco opened #427 "Why we need UseRequestLocalization with no localization option?"
I don't see any use of this overload anywhere. Also the supported cultures in the `app.UseRequestLocalization()` will null (if I'm not wrong)

So is there any use of empty overload that I don't know?!!

/cc @pranavkm @ryanbrandenburg

[2017-11-26 21:49] hishamco commented on #420
I think this need to be closed, while it's fixed in https://github.com/aspnet/Mvc/pull/6838

[2017-11-27 09:54] RickStrahl commented on #420
Thank you. I've been using Damiens fix and that worked for me. Haven't checked in 2.0.1 but I presume it was fixed for that?

[2017-11-27 18:52] Eilon commented on #427
It's used when all the options come from DI. The middleware constructor takes the options from DI: https://github.com/aspnet/Localization/blob/f650de8cdf5214bcbb2e88210baac0f99ce3d053/src/Microsoft.AspNetCore.Localization/RequestLocalizationMiddleware.cs#L33

[2017-11-27 18:52] #427 closed

[2017-11-27 18:58] hishamco commented on #427
@Eilon could you show me where is the `IOptions<RequestLocalizationOptions>` injected in DI?

[2017-11-27 19:09] Eilon commented on #427
@hishamco you would add it in ConfigureServices in your app. There might not be an extension method specifically for this, but you call something like `services.Configure<RequestLocalizationOptions)(o => { o.X = "x"; o.Y = "y"; });

[2017-11-27 19:18] hishamco commented on #427
This is similar to Localization.StarterWeb in entroy repo [here](https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Startup.cs#L67), but again we should pass the option to the localization middleware `app.UseRequestLocalization()` as shown [there](https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Startup.cs#L109)

[2017-11-27 19:19] Eilon commented on #427
@hishamco both ways are valid.

[2017-11-27 19:22] hishamco commented on #427
Yep, but if you look closely both way need to pass the localization options to the `app.UseRequestLocalization()`, so my question is why we need the empty overload?!!

[2017-11-27 19:50] Eilon commented on #426
You can theoretically set the request culture and current culture at any time by doing exactly what the RequestLocalizationMiddleware does:

https://github.com/aspnet/Localization/blob/8b03ee8c81b61a852a586740c4db7b09c17f5e76/src/Microsoft.AspNetCore.Localization/RequestLocalizationMiddleware.cs#L132-L134

Because it's all "just code," you can run whatever you want, whenever you want.

But, keep i

[2017-11-27 19:50] #426 closed

[2017-11-27 20:05] hishamco commented on #427
Seems you didn't get my point 😄, I'm talking about adding a new middleware, I was talking about `RequestLocalizationMiddleware` [here](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Localization/ApplicationBuilderExtensions.cs#L51) where the options is need, again I don't see any value for [this](https://github.com/aspnet/Localization/blob/dev/src/Microsoft.AspNetCore.Loc

[2017-11-27 20:12] Eilon commented on #427
If you call this method:

https://github.com/aspnet/Localization/blob/8ca523466cc053688116f9164aa94c5e1e3210c0/src/Microsoft.AspNetCore.Localization/ApplicationBuilderExtensions.cs#L21

It will work just fine, as long as in `ConfigureServices` you set up the required options.

I don't think that overload has *much* value, but it does work.

[2017-11-27 20:37] hishamco commented on #427
Again we come back and forth to the same point, that we need to setup the required options, as you mentioned before

Even if we called `app.UseRequestLocalization()` without configuring the localization options it will works with the default cultures, this because the `IOptions<RequestLocalizationOptions>` injected from DI as shown [here](https://github.com/aspnet/Localization/blob/8b03ee8c81b61a8

[2017-11-27 21:53] Eilon commented on #427
The overload is harmless, and removing it would be a breaking change. We reserve breaking changes only for cases where there is an important business value, and I don't think there's enough value here.

[2017-11-27 22:06] hishamco commented on #427
I don't wanna introduce a breaking-changes right now, but we can consider it in the upcoming major release.

I will be waiting for the other team members, may be there's something behind this overload

[2017-11-28 19:21] pranavkm commented on #420
@RickStrahl yup. The issue should be fixed in Mvc 2.0.1.

[2017-11-28 19:21] #420 closed

[2017-11-30 13:19] christiankersten commented on #286
**Entity class:**

[code]

I use resource files (.resx) for my localized strings.
I have one file for every language I want.
Like:
Translations.resx ( the standard selected file and your prefered language )
Translations.en-US.resx
Translations.pl-PL.resx

If you put them in a different project in your solution you can retrieve them from every other project.

[2017-12-07 01:28] nd-srogers opened #430 "StringLocalizer doesn't find resources in base class"
I am using the [Identity Server 4 Quickstart UI](https://github.com/IdentityServer/IdentityServer4.Quickstart.UI) for identity in my application and I'm in the processing of adding localization support for error messages and other strings.

The quickstart UI contains several view models, some of which inherit others. For example, the `LoginViewModel` inherits the `LoginInputModel` to allow reuse o

[2017-12-07 12:06] dmitrykolchev opened #431 "StringLocalizer cannot be created when default namespace for assembly doesn't match the assembly name"
Invalid name of localization resources created when default namespace for assembly doesn't match the assembly name.
1. Create new assembly (Sample.SharedComponents)
2. Change default namespace that wouldn't match assembly name (Sample)
3. Add view components (Shared/Components/Toolbar/ToolbarViewComponent.cs, Shared/Components/Toolbar/Default.cshtml  as embedded resource)
4. Add localization resou

[2017-12-11 03:38] 717009629 opened #432 "Should I write all "ErrorMessage" for all "RequiredAttritue"?"
![111](https://user-images.githubusercontent.com/16289643/33814721-332c7e0c-de67-11e7-946e-1f65d22e5214.png)
![112](https://user-images.githubusercontent.com/16289643/33814733-40373fba-de67-11e7-9de7-ec6b48ca0b85.png)

If I have 100 [Required], should I write  100 "ErrorMessage"?

[2017-12-14 18:42] Eilon commented on #421
@ryanbrandenburg can you take a look at @hishamco 's PR at https://github.com/aspnet/Localization/pull/422?

[2017-12-14 22:51] ryanbrandenburg commented on #421
Thanks for the report @hikalkan and the fix @hishamco.

[2017-12-14 22:51] #421 closed

[2017-12-15 13:50] hikalkan commented on #421
Thank you all :)

[2017-12-18 20:36] hishamco commented on #431
I think this is a duplicate for #398 #340

[2017-12-24 15:56] atuzovic opened #433 "GetAllStrings throws "No manifests exist for the current culture""
We have updated all our solution assemblies from 1.1.x to 2.0.1 and out of sudden this message has started to appear.

We have an MVC project that references assembly AppImpact.AspNetCore.

In assembly A we have resources for two cultures as shown on the image:
- en
- bs-Latn-BA

![image](https://user-images.githubusercontent.com/5385262/34327624-87ea7fc2-e8c9-11e7-949e-778b52b25c97.png)

In MVC p

[2017-12-24 17:05] hishamco commented on #433
This is remind me of an old bug #257, but it was solved by a temporary fix. Could you please create a minimal repo to reproduce the issue?

[2017-12-24 19:36] atuzovic commented on #433
Thank you for your quick response. :)

https://github.com/App-Impact-Labs/ISSUE-MissingResourceManifestExample

1. Run Xampl.Services
2. Navigate to /StaticResources/Get

You will get exception immediately.

[2017-12-24 19:44] hishamco commented on #433
Let me check ..

[2017-12-24 20:18] hishamco commented on #433
Removing the `en` from `Buttons.en.resx` fixing the issue for me

Also you can use `app.UseRequestLocalization` instead of setting Bosnia and Herzegovina the culture in the controller

[2017-12-24 20:26] atuzovic commented on #433
RequestLocalization will just set CultureInfo based on inputs (query string, cookie, header).

In production we are using it, but I have removed it from here for simplicity reasons.

Yes, removing en from resources does the thing, but that is "dirty" fix as general recommendation is not to have default RESX file.

Here is one more thing that you should try - now that you have removed "en" prefix f

[2017-12-24 20:32] hishamco commented on #433
I don't think it's a dirty fix 😄, this the default for any resource, while the default culture in .NET is en-US, I will check if this documented in the docs or I will suggest it

Yep I got the Bosnian translation, which is the right values if I'm not wrong

So what's the result that you expect?!!

[2017-12-24 20:48] atuzovic commented on #433
From official documentation (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization):

![image](https://user-images.githubusercontent.com/5385262/34329077-d2432d5c-e8f2-11e7-8227-b26d32bde3ef.png)

Problem is that we have several solutions in the production that have followed this guideline.

What you are now suggesting will force us to do rename of all resource files and to also c

[2017-12-24 21:00] hishamco commented on #433
I read it before a minute ago, nothing but this happen behind this by setting the `NeutralResourcesLanguage` attribute, so if use the following in your `AssemblyInfo.cs`:
[code]
the `Buttons.resx` will be the default resource, so if it's contains the Bosinian resources it will load them.
That's why you see this behavior, i'm not forcing you 😄, and with the `DefaultRequestCulture` you can set your

[2017-12-24 21:09] atuzovic commented on #433
We don't have AssemblyInfo.cs at all, but regardless of that, some libraries here are part of our internal framework that is used across different solutions, and almost each solution has a different default culture.

We cannot set default culture to be bs-Latn-BA on internal framework libraries, as it is not guaranteed it is going to be default on any solutions that depend on it.

Again, why did t

[2017-12-24 21:16] hishamco commented on #433
I knew you don't have `AssemblyInfo.cs` but I would like to explain to you why this happen

AFAIK, the big once are:

- Remove dependency on Microsoft.AspNetCore.Hosting.Abstractions
- Consider surfacing additional diagnostics information as part of LocalizedString when a resource is not found

for more details you can check the [releases](https://github.com/aspnet/Localization/releases)

[2017-12-24 21:37] atuzovic commented on #433
Thank you really for your efforts, but so far it was not helpful.

There has been a change in internal implementation and that change is making a huge problem for us at the moment. I am hoping that someone from the development team will shed some light on this.

Apart from the issue that we are facing, fact that adding .resx and .en.resx at the same time disables reading of existing .bs-Latn-BA.re

[2017-12-24 21:42] hishamco commented on #433
@atuzovic just one more question, can you let me know why you adding both `.resx` and `.en.resx` at the same time?!!

[2017-12-24 21:47] atuzovic commented on #433
Just for fun - to see the behavior. I don't see valid explanation why is it disabling .bs-Latn-BA.resx resource.

But again, that's not the point.

Point is - our solution(s) have stopped working after the upgrade and we have documented what is happening.

I am asking for official clarification/recommendation on upgrade path from 1.x to 2.x.

Can you please let us know that this is all working as

[2017-12-24 21:55] hishamco commented on #433
Seems having both `.resx` and `.en.resx` causes a bug, perhaps this is come from underlying `ResourceManager` APIs, @ryanbrandenburg @pranavkm any idea about this?

BTW @atuzovic there's a localization issue that I knew in 2.0.0, could you please try to upgrade to the latest preview bits and have a try. If it's still the same hope one of the team will respond

[2017-12-24 22:00] atuzovic commented on #433
Update to latest preview bits of what?

Solution is currently using 2.0.1 version of Microsoft.Extension.Localization. I don't see any preview available on NuGet:
https://www.nuget.org/packages/Microsoft.Extensions.Localization/

Do you want me to add specific branch of this repository to solution directly or you're suggesting something else?

[2017-12-24 22:01] hishamco commented on #433
I suggest to use the dev feed (nightly builds), look i will do it in your behalf and waiting until one of the team respond ..

[2017-12-24 22:12] atuzovic commented on #433
Alright, I have updated solution to nightly build (2.1.0-preview1-27907) and it is working the same way it was working with 1.x versions. I have removed Buttons.resx from solution => there is no error and I get proper translations for bs-Latn-BA.

I have made additional commit, so you can pull solution yourself and give it a try.

So 2.0.1 has a bug clearly. Do you have any ETA on release of 2.1.0

[2017-12-24 22:20] hishamco commented on #433
As I told you before there's a bug I remeber in `IViewLocalizer` which I blogged about it [here](http://www.hishambinateya.com/localization-issue-in-razorpages), but I'm not sure If it's the reason behind this behavior or there's something else had been fixed

Nope, but you can checkout https://github.com/aspnet/Home/wiki/Roadmap

[2017-12-25 04:39] atuzovic commented on #433
Q1-Q2 2018 seems a bit undeterministic (probably targeting Build 2018) and we are stuck halfway at migrating from 1.x to 2.x.

What are the changes to get hotfix 2.0.2 for this issue in the meantime?

Again, apart from doing a mass rename, which will also affect csproj files and cause us to rewrite bunch of our code that handles versioning of translations, we don't see an easy fix to survive till

[2017-12-25 04:43] hishamco commented on #433
I think there's a patch release which I don't have it's link, but I will look for it

Yep using nightly builds in production is a good option

[2017-12-25 04:51] hishamco commented on #433
I found these links [2.0.3](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.3.md) and [2.0.4](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.4-download.md) if you are running on premise

[2017-12-25 06:07] atuzovic commented on #433
If you are referring to .NET Core version, I have 2.0.4. on my dev machine already:

![image](https://user-images.githubusercontent.com/5385262/34333971-27552ee0-e942-11e7-9ae7-291c921397e3.png)

I was asking about release of 2.0.2. for Microsoft.Extensions.Localization library.

[2017-12-25 07:07] hishamco commented on #433
Oops, sorry it's my mistake

[2017-12-27 17:27] mkArtakMSFT commented on #433
@ryanbrandenburg, can you please check and see which change fixed the issue in 2.1.0 release (from 2.0) and see whether we can come up with a simpler workaround?

[2017-12-27 18:41] mkArtakMSFT commented on #340
@ryanbrandenburg, let's meet to discuss the solution.

[2017-12-27 18:42] mkArtakMSFT commented on #431
Closing this as a dupe to https://github.com/aspnet/Localization/issues/340

[2017-12-27 18:42] #431 closed

[2017-12-28 22:36] mkArtakMSFT commented on #398
Closing this as a dupe of https://github.com/aspnet/Localization/issues/340. Will use the original issue for tracking.

[2017-12-28 22:37] #398 closed

[2017-12-28 22:56] ryanbrandenburg commented on #340
@mattiaz9 we are discussing possible permanent solutions to your issue, but I wanted to let you know that one possible temporary solution to your problem is to add the correct `LogicalName` metadata to your `EmbeddedResource` items. This is less than ideal as it requires explicit understanding of how we look up resources and how they are normally stored, but we thought you might like to know about

[2017-12-29 04:05] TsengSR commented on #340
@ryanbrandenburg: Can you post an example/code?

[2017-12-29 12:46] MookieFumi commented on #406
The same issue as @jfiskvik and @EugenioSerrano here.

[code]

**Message: No manifests exist for the current culture.**

StackTrace:
[code]

[code]
Waiting for response...

[2017-12-29 13:03] hishamco commented on #406
@MookieFumi this is raised again on #433

[2017-12-29 17:15] ryanbrandenburg commented on #340
I updated one of the resources in @mattiaz9's example with the correct `LogicalName` [here](https://github.com/ryanbrandenburg/LocalizationSample/commit/e9ddc8c8c441c313eb9646ebdc9b2b457b269219).

[2017-12-29 18:27] mkArtakMSFT commented on #432
@ryanbrandenburg, is there a way to simplify this?

[2017-12-29 18:30] mkArtakMSFT commented on #430
Hey @ryanbrandenburg, can you help with this?

[2017-12-29 18:55] ryanbrandenburg commented on #432
I believe this is a dup of https://github.com/aspnet/Localization/issues/286#issuecomment-249046258. Specifically you can find our recommendation for this scenario [here](https://github.com/aspnet/Localization/issues/286#issuecomment-249632215). A more comprehensive solution would have to come from the corefx team.

Do those resources answer your question?

[2017-12-29 22:44] ryanbrandenburg commented on #430
If you want a behavior other than the default you can set the `DataAnnotationsLocalizerProvider` as we've suggested [here](https://github.com/aspnet/Localization/issues/286#issuecomment-249632215) to have any behavior you want based on the type.

[2017-12-30 10:21] MookieFumi commented on #433
The same issue like another mates.

[code]

**Message: No manifests exist for the current culture.**

StackTrace:
[code]

[code]

Forwarded from https://github.com/aspnet/Localization/issues/406
Thank you so much.

[2018-01-02 01:11] aspnet-hello commented on #433
This issue was moved to aspnet/Home#2630

[2018-01-02 01:11] #433 closed

[2018-01-02 01:12] aspnet-hello commented on #432
This issue was moved to aspnet/Home#2631

[2018-01-02 01:12] #432 closed

[2018-01-02 01:39] aspnet-hello commented on #430
This issue was moved to aspnet/Home#2632

[2018-01-02 01:39] #430 closed

[2018-01-02 01:40] aspnet-hello commented on #425
This issue was moved to aspnet/Home#2633

[2018-01-02 01:40] #425 closed

[2018-01-02 01:41] aspnet-hello commented on #415
This issue was moved to aspnet/Home#2634

[2018-01-02 01:41] #415 closed

[2018-01-02 01:42] aspnet-hello commented on #397
This issue was moved to aspnet/Home#2635

[2018-01-02 01:42] #397 closed

[2018-01-02 01:43] aspnet-hello commented on #386
This issue was moved to aspnet/Home#2636

[2018-01-02 01:43] #386 closed

[2018-01-02 01:44] aspnet-hello commented on #382
This issue was moved to aspnet/Home#2637

[2018-01-02 01:44] #382 closed

[2018-01-02 01:45] aspnet-hello commented on #371
This issue was moved to aspnet/Home#2638

[2018-01-02 01:45] #371 closed

[2018-01-02 01:46] aspnet-hello commented on #362
This issue was moved to aspnet/Home#2639

[2018-01-02 01:46] #362 closed

[2018-01-02 01:47] aspnet-hello commented on #352
This issue was moved to aspnet/Home#2640

[2018-01-02 01:47] #352 closed

[2018-01-02 01:48] aspnet-hello commented on #347
This issue was moved to aspnet/Home#2641

[2018-01-02 01:48] #347 closed

[2018-01-02 01:48] aspnet-hello commented on #346
This issue was moved to aspnet/Home#2642

[2018-01-02 01:48] #346 closed

[2018-01-02 01:48] aspnet-hello commented on #345
This issue was moved to aspnet/Home#2643

[2018-01-02 01:48] #345 closed

[2018-01-02 01:50] aspnet-hello commented on #343
This issue was moved to aspnet/Home#2644

[2018-01-02 01:50] #343 closed

[2018-01-02 01:50] aspnet-hello commented on #340
This issue was moved to aspnet/Home#2645

[2018-01-02 01:50] #340 closed

[2018-01-02 01:51] aspnet-hello commented on #336
This issue was moved to aspnet/Home#2646

[2018-01-02 01:51] #336 closed

[2018-01-02 01:51] aspnet-hello commented on #296
This issue was moved to aspnet/Home#2647

[2018-01-02 01:51] #296 closed

[2018-01-02 01:52] aspnet-hello commented on #263
This issue was moved to aspnet/Home#2648

[2018-01-02 01:52] #263 closed

[2018-01-02 01:53] aspnet-hello commented on #237
This issue was moved to aspnet/Home#2649

[2018-01-02 01:53] #237 closed

[2018-01-02 01:54] aspnet-hello commented on #127
This issue was moved to aspnet/Home#2650

[2018-01-02 01:54] #127 closed

[2018-01-02 01:54] aspnet-hello commented on #78
This issue was moved to aspnet/Home#2651

[2018-01-02 01:54] #78 closed

[2018-01-02 01:55] aspnet-hello commented on #40
This issue was moved to aspnet/Home#2652

[2018-01-02 01:55] #40 closed

[2018-01-02 01:56] aspnet-hello commented on #17
This issue was moved to aspnet/Home#2653

[2018-01-02 01:56] #17 closed

[2018-01-02 22:10] Eilon opened #434 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-01-02 22:43] ryanbrandenburg commented on #433
The change that fixed this for 2.1.0 was aspnet/Localization#413. The original problem was that corefx removed the GetResourceSet API from ResourceManager, we worked around that with aspnet/Localization#264 (essentially trying to get the full resource set ourselves by hand) but that solution had the problem we see here which is why we started using the GetResourceSet API again once it was availabl

[2018-01-02 22:51] aspnet-hello commented on #433
@ryanbrandenburg please post this to https://github.com/aspnet/Home/issues/2630.

[2018-01-16 15:51] dudedev commented on #136
Hey, I am using UseRequestLocalization() after authentication middleware. But, still httpContext.User.Identity.IsAuthenticated is false, because request localization is happening before authentication as per logs. I do not understand why.
The middleware order in Configure method is given below.

[code]

Anyone has any idea?

[2018-02-07 12:38] PH-Lars commented on #286
For me the following works fine for now:

`[AttributeUsage(AttributeTargets.Property | AttributeTargets.Field | AttributeTargets.Parameter, AllowMultiple = false)]
    public class AppRequiredAttribute : RequiredAttribute
    {
        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {
            var stringLocalizer = validationContext.GetServ

[2018-02-08 01:52] agentzero1 opened #439 "Request for translation on Filipino"
I want to contribute in translation

[2018-02-08 06:28] Eilon commented on #439
Hi @agentzero1 , this repo is about enabling *applications* built using ASP.NET Core to be localized. There are no plans at this time to localize ASP.NET Core itself. We appreciate it though!

[2018-02-08 06:28] #439 closed

[2018-04-23 21:05] os1r1s110 commented on #286
@PH-Lars I tried your proposed workaround, but it seems to break all client-side validation because the [Required] attribute is not on the properties anymore... so you have to be careful with that. (maybe it's just on my side that it does that, but I'm wondering if it would not be the same for everyone)

[2018-05-03 00:12] ramons03 commented on #286
Why no one suggest web.config option?
`<globalization culture="es-AR" uiCulture="es" />`

[2018-06-22 10:34] Jenan commented on #328
@chanaka1 Can you share working sample, please? I've tried download your sample repo, but this still not working. I think that will be very useful.

[2018-08-23 03:48] alfred-zaki commented on #251
please consider re-adding the option to leave resx files un-compiled, customers for a web app require different message langue for the same error or information message a web app pops.

think about this as an added value to allow customers to sort of customize their web app after delivery.
which dosen't mean a new language.

[2018-08-23 08:08] hishamco commented on #251
@alfred-zaki you can file an issue in [Home](https://github.com/aspnet/home) repo, the issues in this repo were moved there

[2018-11-02 18:51] nilbert commented on #136
I solved configuring the services `  services.Configure<RequestLocalizationOptions>(localizationOptions);`

[2018-11-04 16:02] Sandeep321 commented on #279
Just to add to already listed useful features to be, please let me know if there is any solution to achieve the below.
As of now, I am required to inject the dependency of the resource file (IStringLocalizer<Type>) into my controller. What if I have multiple resource files as below:

1. Messages-Info.en.resx
2. Messages-Info.es.resx
3. Messages-Warn.en.resx
4. Messages-Warn.es.resx

Would you reco

[2018-11-05 12:00] hishamco commented on #279
This issue tracker is already closed, so if there any further questions, please file an issue in the [AspNetCore](https://github.com/aspnet/aspnetcore) repo

[2018-11-19 06:20] fabercs commented on #246
hi @ryanbrandenburg, could you please elaborate this answer? You say `AssemblyInfo` of the class librarie**s**. Which libraries? Where exactly to put the attribute?

[2018-11-19 13:08] hishamco commented on #246
@fabercs you should decorate your assembly by adding `ResourceLocationAttribute` to the `AssemblyInfo`. Have a look to this line for instance https://github.com/aspnet/Localization/blob/master/test/ResourcesClassLibraryWithAttribute/AssemblyInfo.cs#L7

[2018-11-19 13:33] fabercs commented on #246
@hishamco thank you for answer, this is my solution structure;
[code]
Should I create an `AssemblyInfo.cs` file under `MyProject.Resources`  and add the line `[assembly: ResourceLocation("ResourceFolder")]`? Should I wrap all the files in a `ResourceFolder` or keep it as is?

[2018-11-19 14:03] hishamco commented on #246
Yep, add it under `MyProject.Resources`

Yes & No, but the important thing is resource naming, you can check the docs on this one

[2018-11-22 09:05] hishamco commented on #246
@fabercs seems this issue is died, could you please file a new issue in the [AspNetCore](https://www.github.com/aspnet/AspNetCore) repo and copy your latest comment

[2018-11-22 10:21] fabercs commented on #246
@hishamco actually I have already created a new issue, https://github.com/aspnet/Mvc/issues/8739
I have also moved my last comment to there..

[2018-11-22 11:36] hishamco commented on #246
That's great, waiting for your reply there

[2018-11-22 16:20] shinjiDev commented on #286
@airomero I found this resx https://github.com/Microsoft/referencesource/blob/3b1eaf5203992df69de44c783a3eda37d3d4cd10/System.ComponentModel.DataAnnotations/DataAnnotationsResources.resx , It's used by attributes like Required and others, maybe implementing a new resx for spanish language could work.

Best regards

[2018-11-27 18:48] #434 closed